<aside class="aside aside-fixed">
  <div class="aside-header">
    <div>
      <a class="aside-logo nav-link pd-l-10"><img src="../../assets/img/thankucash.svg" height="20px" width="128px"
          alt="." /></a>
    </div>
    <a href="" class="aside-menu-link cursor-pointer">
      <i data-feather="menu"></i>
      <i data-feather="x"></i>
    </a>
  </div>

  <div class="aside-body">
    <div class="aside-loggedin">
      <div class="d-flex align-items-center justify-content-start">
        <a class="avatar"><img src="../../assets/img/Dummy.png" class="rounded-circle" alt=""></a>
        <div class="aside-alert-link">
          <a class="cursor-pointer" data-toggle="tooltip" title="You have 0  unread messages"><i
              data-feather="message-square"></i></a>
          <a class="cursor-pointer" data-toggle="tooltip" title="You have 0 new notifications"><i data-feather="bell"></i></a>
        </div>
      </div>
      <div class="aside-loggedin-user">
        <a  class="d-flex align-items-center justify-content-between mg-b-2" data-toggle="collapse">
          <h6 class="tx-semibold mg-b-0"></h6>
        </a>
        <p class="tx-color-03 tx-12 mg-b-0">Administrator</p>
      </div>
    </div>
    <ul class="nav nav-aside mg-b-50">

      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" 
          [routerLinkActive]="['active']"><i data-feather="home"></i>
          <span>Account home</span></a>
      </li>

      <li class="nav-label mg-t-20">Business Settings</li>

      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" 
          [routerLinkActive]="['active']"><i data-feather="map-pin"></i>
          <span>Stores</span></a>
      </li>
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLinkActive]="['active']"
          ><i
            data-feather="layers"></i><span>Terminals</span> </a>
      </li>
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLinkActive]="['active']"
         ><i
            data-feather="user-check"></i>
          <span>Cashiers</span></a>
      </li>
      <li
      class="nav-item cursor-pointer" [routerLinkActive]="['active']">
      <a class="nav-link" [routerLinkActive]="['active']"
        
        aria-controls="home" aria-selected="true"><i data-feather="users"></i>
        <span>Sub Accounts</span></a>
    </li>

      <li class="nav-label mg-t-20">Loyalty Configurations</li>
      <li *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled == false" class="nav-item cursor-pointer"
        [routerLinkActive]="['active']">
        <a class="nav-link" [routerLinkActive]="['active']"
           aria-controls="home"
          aria-selected="true"><i data-feather="check-square"></i>
          <span>Top-Up & Subscriptions</span></a>
      </li>

      <li *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled == true" class="nav-item cursor-pointer"
        [routerLinkActive]="['active']">
        <a class="nav-link" [routerLinkActive]="['active']"
           aria-controls="home"
          aria-selected="true"><i data-feather="check-square"></i>
          <span>Top-Up</span></a>
      </li>
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLinkActive]="['active']"
          
          aria-controls="home" aria-selected="true"><i data-feather="gift"></i>
          <span>Reward Percentage</span></a>
      </li>

      <li class="nav-label mg-t-20">Cashout & Invoices</li>     

      <li data-permission="cashoutsmanager" class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLinkActive]="['active']"
         
          aria-controls="home" aria-selected="true"><i data-feather="clipboard"></i>
          <span>Cashouts</span></a>
      </li>
      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLinkActive]="['active']"
          aria-controls="home" aria-selected="true"><i data-feather="credit-card"></i>
          <span>Payment Method</span></a>
      </li>

      <li class="nav-label mg-t-20">Setting</li>
      <li class="nav-item" [routerLinkActive]="['active']"><a
        [routerLinkActive]="['active']"
        class="nav-link"><i data-feather="disc"></i>
        <span>App and Keys</span></a></li>     
    </ul>
    <!-- <ul class="nav nav-aside mg-b-50">


      <li class="nav-item mt-3 cursor-pointer"  [routerLinkActive]="['active']"><a
           [routerLinkActive]="['active']" routerLink="{{_HelperService.AppConfig.Pages.System.AccountSetting}}"
          class="nav-link"><i data-feather="settings"></i>
          <span>Account Setting</span></a></li>

      <li class="nav-item mt-3 cursor-pointer" [routerLinkActive]="['active']"><a
           [routerLinkActive]="['active']"
          class="nav-link"><i data-feather="home"></i>
          <span>Dashboard</span></a></li>

      <li class="nav-item mt-3 cursor-pointer" [routerLinkActive]="['active']"><a
           [routerLinkActive]="['active']"
          class="nav-link"><i data-feather="briefcase"></i>
          <span>My Business</span></a></li>
    </ul> -->
  </div>

  <span class="aside-header d-flex justify-content-center bd-t w-100 text-center"
    style="position: fixed; bottom:0%; margin-top: -2.5em ;">
    <div class="mg-r-20 pd-b-10">
      <a class="aside-logo tx-10 tx-spacing-3 p-0 m-0" target="_blank" href="http://connectedanalytics.xyz/"> <span
          class="tx-10 tx-color-03 text-uppercase" style="font-size: 10px !important;"> Powered by </span> <br> <span
          class="tx-18 pd-b-20"> <img src="../../assets/images/connected-analytics.svg" height="25" width="135" alt="">
        </span></a>
    </div>
  </span>

</aside>


<router-outlet></router-outlet>