<ol class="breadcrumb df-breadcrumbs">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li>
            <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="cursor-pointer" (click)="_Router.navigateByUrl('/m/settings/stores')">Account
                Setting</a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" 
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.Dashboard}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
            [routerLinkActive]="['active']"> Terminal List
            </a></li>
  
</ol>


<div class="card mt-2">
  <div class="card-header d-flex pd-y-15  align-items-center justify-content-between">
      <div class="tx-14 tx-bold "> {{TerminalsList_Config.Title}} </div>

  </div>
  <div class="box-header px-3 pd-t-15 pd-b-0  d-flex align-items-center justify-content-between">
      <div class="form-inline ">
          <div class="input-group input-group-sm mr-3">
              <input type="text" class="form-control" [value]="TerminalsList_Config.SearchParameter" maxlength="100"
                  class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                  (keyup)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
              <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button"
                      (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                          data-feather="search"></i> </button>
              </div>
          </div>
      </div>
      <!-- <div class="d-flex ml-auto">
          <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
              (click)="Delete_Filter()">
              <i data-feather="minus-circle"></i> </button>

          <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
              <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
                  [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
                  (valueChanged)="Active_FilterValueChanged( $event )">
              </select2>
          </div>
          <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
              (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

      </div> -->

      <nav class="nav nav-with-icon tx-20">
          <div class="dropdown dropleft">
              <a href="" class="nav-link mr-2" id="TerminalsList_sdropdown" data-toggle="dropdown" (click)="_HelperService.StopClickPropogation()"
                  aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
              <div class="dropdown-menu tx-13">
                  <form class="wd-250 pd-15">
                      <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                          <div class="float-right tx-20" *ngIf="TerminalsList_Config.Sort.SortOrder == 'desc'"
                              (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                              <i class="fas fa-sort-alpha-down-alt"></i>
                          </div>
                          <div class="float-right tx-20" *ngIf="TerminalsList_Config.Sort.SortOrder == 'asc'"
                              (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                              <i class="fas fa-sort-alpha-up-alt"></i>
                          </div>
                      </h6>
                  
    <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of TerminalsList_Config.Sort.SortOptions"
    (click)="TerminalsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
    {{TItem.Name}}
  </a>


                      <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                          (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                          Reset</button>
                      <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                          (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                  </form>
              </div>
          </div>
          <div class="dropdown dropleft">
              <a href="" class="nav-link" id="TerminalsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
              </a>
              <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                      <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                      </h6>
                      <div>
                          <div class="form-group">
                              <label>Date</label>
                              <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                  daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                                  (selected)="TerminalsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                          </div>
                      </div>
                      <div>
                          <div class="form-group">
                              <label>Status</label>
                              <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                  [data]="TerminalsList_Config.StatusOptions"
                                  (valueChanged)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                              </select2>
                          </div>
                      </div>
                      <div>
                          <div class="form-group">
                              <label>Owner</label>
                              <select2 [options]="TerminalsList_Filter_Owners_Option" class="wd-100p"
                                  (valueChanged)="TerminalsList_Filter_Owners_Change($event)">
                              </select2>
                          </div>
                      </div>
                      <button type="button" class="btn btn-light btn-sm mr-2"
                          (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                          Reset</button>
                      <button type="button" class="btn btn-primary btn-sm "
                          (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                  </form>
              </div>
          </div>
          <a class="nav-link ml-2 RefreshColor"
              (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                  data-feather="refresh-cw"></i> </a>
                  <a class="nav-link ml-2 RefreshColor"
          (click)="TerminalsList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
            data-feather="download"></i> </a>
      </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
          (click)="RemoveFilterComponent('Status')">
          {{_HelperService.FilterSnap.StatusName}}
          <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                  class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='desc')"
          (click)="RemoveFilterComponent('Sort')">
          <span>
              {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
          <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                  class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
          {{_HelperService.GetDateTimeS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateTimeS(_HelperService.FilterSnap.EndTime)}}
          <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                  class="fas fa-times"></i> </span>
      </div>
      <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
          *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
          (click)="RemoveFilterComponent('Other',i)">
          {{TItem.data[0].DisplayName}}
          <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                  class="fas fa-times"></i> </span>
      </div>

      <span class="badge badge-pill badge-primary"
          *ngFor="let TItem of TerminalsList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
      <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
          <thead>
              <tr>

                  <th>
                      Terminal Id
                  </th>
                  <th class="text-center">
                      Provider
                  </th>
                  <th class="">
                      Bank
                  </th>

                  <th class="text-center">
                      Type
                  </th>
                  <th class="text-center">
                     Status
                  </th>
                  <th class="text-center">
                      Assign Store
                  </th>

              </tr>
          </thead>
          <tbody>
              <tr class="cursor-pointer"
                  *ngFor="let TItem of TerminalsList_Config.Data  | paginate: { id: 'TerminalsList_Paginator',itemsPerPage: TerminalsList_Config.PageRecordLimit, currentPage: TerminalsList_Config.ActivePage,  totalItems: TerminalsList_Config.TotalRecords }">
                  <!-- <td class="text-center">
                      <img class="br" src="{{TItem.IconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2"
                          [style.border-color]="TItem.StatusC">
                  </td> -->

                  <td>
                      <div class="tx-14 tx-semibold ">{{TItem.DisplayName  || "--"}}</div>
                      <small class="tx-12 text-muted WordWrap">
                          {{TItem.Address | truncateText:40  || "--"}}
                      </small>
                  </td>
                  <td class="text-center">
                      {{TItem.CityName || "--"}}
                  </td>
                  <td class="">
                      <div class="tx-14 tx-verve">{{TItem.ContactNumber  || "--"}}
                      </div>
                      <small class="text-muted tx-12">
                          {{TItem.EmailAddress  || "--"}}
                      </small>

                  </td>
                  <td class="text-center">
                      {{TItem.CategoryName || "--"}}
                  </td>
                  <td class="text-center">
                      {{TItem.RewardPercentage || "--"}}
                  </td>
                  <td class="">
                    <div class="form-group">
                        <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                          (valueChanged)="TUTr_Filter_Stores_Change($event)">
                        </select2>
                      </div>
                  </td>

                
              </tr>
          </tbody>
      </table>
  </div>
  <div class="card-footer pd-20">
      <span class="mr-3">
          {{ 'Common.Showing' | translate }}
          <span class="bold">{{TerminalsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
              {{TerminalsList_Config.ShowingEnd}}
          </span> {{ 'Common.Of' | translate }} {{TerminalsList_Config.TotalRecords}}
      </span>
      <span>
          {{ 'Common.Show' | translate }}
          <select class="wd-40 " [(ngModel)]="TerminalsList_Config.PageRecordLimit"
              (ngModelChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
              <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                  {{TItem}}
              </option>
          </select>
      </span>
      <span class="float-right">
          <pagination-controls id="TerminalsList_Paginator" class="pagination pagination-space"
              (pageChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
              nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
          </pagination-controls>
      </span>
  </div>
</div>


<div class="modal fade" id="SampleSheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Upload Merchant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">


              <div class="container d-flex justify-content-center">

                  <div class="d-flex flex-column align-items-center justify-content-center">
                      <span class="tx-50 tx-success"><i class="far fa-file-excel"></i></span>


                      <!-- <input  class="cursor-pointer btn  dragDrop"   style="padding:35px !important;" type="file"  class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">         -->


                      <input type="file" id="myFile" size="50" (change)="addfile($event)" multiple="false"
                          class="cursor-pointer btn  dragDrop"
                          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                          style="padding:35px !important;" />

                      <button (click)="onUpload()" class=" btn btn-brand-02  wd-200 mt-3"> Upload File </button>

                      <!-- <ng2-file-input id="myFile"  class="text-center mt-1" [multiple]="false" 
                          (onAdded)="onFileChange($event)"
                          extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                          [removable]="false"></ng2-file-input>   -->
                  </div>
              </div>

          </div>

      </div>
  </div>
</div>