<!-- <div class="card-header col-lg-12 col-sm-12 col-md-12 col-xs-12 bg-white pd-y-25">
      <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com' ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'"><img
              src="../../../assets/img/interswitch.png" class="w-xmd">
      </div>
      <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com' &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'wemarewards.thankucash.com' &&  _HelperService.AppConfig.Host != 'localhost:4201'"><img
              src="../../../assets/img/logoinverse.png" class="w-xmd">
      </div>
      <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host == 'localhost:4200' ||  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'"><img
          src="../../../assets/img/wemalogo.png" class="w-xmd">
  </div>
  </div> -->

<div class="card row bd-0 text-center"
    style="border-radius: 4px !important; position:fixed; top: 20% !important; left: 30%;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-center">
                <div class=""><img src="../../../assets/img/logoinverse.png" class="w-xmd">
                </div>

                <h5 class="mg-t-40 tx-24">Perfect! Now just verify your email address</h5>
                <div class=" mg-t-25">
                    <div class=""><img style="height: 255px !important; width: 275px !important"
                            src="../../../assets/images/EmailVerification.png" class="imgclass">
                    </div>
                  <a  target="_blank" id="onb-open-mailbox" target="_blank" (click)="RouterToMail()" class="tx-black mg-t-20 tx-black tx-16 tx-medium cursor-pointer">Open Your Mail Box <i style="height: 18px; width: 18px;" data-feather="chevron-right"></i> </a> 
                </div>

                <div class="text-center">
                    <div class="mg-t-30 tx-16"> <span class=""> Please click on the link in email we sent to account
                        </span> <span class="tx-medium">{{emailid}} </span> </div>

                    <div class="mg-t-15 d-flex justify-content-center">

                        <span class="tx-14 mg-r-5"> Haven't Received it?</span>
                        <a class="text-primary tx-13 text-uppercase cursor-pointer" (click)="ResendMail()">RESEND EMAIL </a>

                    </div>

                </div>


            </div>

        </div>
    </div>

</div>