<div class="card">

  <div class="card-body">

    <div class="tx-16"> Username and Password </div>
    <div class="tx-12 mg-b-15 tx-color-03">(TUC Merchant Mobile App)</div>
    <div class="tx-16 tx-medium"> {{_CashierDetails.UserName || "--"}} </div>
    <div class="tx-16 tx-medium" *ngIf="!ShowPasswordDiv"> ********* </div>
    <div class="tx-16 tx-medium" *ngIf="ShowPasswordDiv"> {{_CashierDetails.Password || "--"}} </div>

    <!-- <div class="controls">
        <input type="text"  name="UserName" minlength="1" maxlength="100"
          class="form-control" [(ngModel)]="_CashierDetails.UserName">
      </div> -->
    <div class="d-flex mg-t-15">
      <button type="button" class="btn btn-outline-primary  mg-r-10" (click)="ShowPassword()" *ngIf="!ShowPasswordDiv">
        Show Password </button>
      <button type="button" class="btn btn-outline-primary  mg-r-10" (click)="ShowPassword()" *ngIf="ShowPasswordDiv">
        Hide Password </button>
      <button type="button" class="btn btn-outline-primary " (click)="ResetPassword()"> Reset Password </button>

    </div>
    <!-- <div *ngIf="ShowPasswordDiv" class="tx-18  tx-normal mg-t-5 tx-bold"> {{_CashierDetails.Password || "--"}} </div> -->
  </div>
</div>

<div id="Form_ResetPassword_Content" class="modal fade" data-backdrop="static" data-keyboard="false"  aria-hidden="true">
  <div class="modal-dialog custom-modal-size modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_ResetPassword" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Reset Password for {{titleName}}</h5>
        </div>
        <div class="modal-body p-lg">
          <div class="ml-3 mt-3">
            <div>
              <input type="radio" name="selection" style="transform: scale(1.5);"
                      [value]="true"
                      [formControl]="Form_ResetPassword.controls['AutomaticallyGenerated']">
            </div>
            <div class="ml-4 mt-n4">
              <div class="ml-2 h5 fw-400 mt-nc">Automatically generate a password</div> 
              <div  class="ml-2 text-secondary mt-n1">You'll be able to view the password in credentials tab</div> 
            </div>
          </div>
          <div class="mt-4 ml-3">
            <div>
              <input type="radio" name="selection" style="transform: scale(1.5);"
                      [value]="false"
                      [formControl]="Form_ResetPassword.controls['AutomaticallyGenerated']">
            </div>
            <div class="ml-4 mt-n4">
              <div class="ml-2 h5 fw-400 mt-nc">Create Password</div> 
              <div *ngIf="!Form_ResetPassword.controls['AutomaticallyGenerated'].value">
                <div  class="ml-2 text-secondary">Password</div> 
                 <div class="row">
                    <div class="col-md-12 pd-r-15 mt-1">
                        <input *ngIf="ShowPasswordPopup" type="password" name="password" maxlength="50" class="form-control w-300 ml-2"
                            [formControl]="Form_ResetPassword.controls['Password']"
                            (input)="pwdValueChange($event.target.value)"
                            [ngClass]="{'is-invalid':!Form_ResetPassword.controls['Password'].valid && Form_ResetPassword.controls['Password'].touched}">

                        <input *ngIf="!ShowPasswordPopup" type="text" name="password" maxlength="50" class="form-control w-300 ml-2"
                            [formControl]="Form_ResetPassword.controls['Password']"
                            (input)="pwdValueChange($event.target.value)"
                            [ngClass]="{'is-invalid':!Form_ResetPassword.controls['Password'].valid && Form_ResetPassword.controls['Password'].touched}">
                    </div>
                    <div class="px-0 input-group-append">
                        <a *ngIf="ShowPasswordPopup" class="btn ml-n17  d-flex align-items-center cursor-pointer Showbutton bd-0">
                            <i class="fa fa-eye-slash fa-1x" aria-hidden="true"
                                (click)="ToggleShowHidePassword()"></i></a>

                        <a *ngIf="!ShowPasswordPopup" class="btn ml-n17  d-flex align-items-center cursor-pointer Showbutton bd-0">
                            <i class="fa fa-eye fa-1x" aria-hidden="true" (click)="ToggleShowHidePassword()"></i></a>
                    </div>
                </div>
                <div>
                  <div class="text-danger tx-12  _600 ml-2 mt-2" for="Password" *ngIf="Form_ResetPassword.controls['Password'].hasError('required') && Form_ResetPassword.controls['Password'].touched
                      && (ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                      Enter password </div>
                  <div class="tx-12  _600 tx-12  _600 ml-2 mt-2"
                      *ngIf="!(ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                      <span [ngClass]="{'text-success':IsminLength , 'text-danger': !IsminLength}">Password must
                          contain at least 8 characters</span><br />
                      <span [ngClass]="{'text-success':ispwdContainsNum , 'text-danger': !ispwdContainsNum}">Password
                          must contain at least one number (0-9)</span><br />
                      <span [ngClass]="{'text-success':ispwdContainsUC , 'text-danger': !ispwdContainsUC}">Password
                          must contain at least one letter (A-Z)</span><br />
                      <span [ngClass]="{'text-success':ispwdContainsLC , 'text-danger': !ispwdContainsLC}">Password
                          must contain at least one letter (a-z)</span><br />
                      <span [ngClass]="{'text-success':isPwdContainsSC , 'text-danger': !isPwdContainsSC}">Password
                          must contain one special charater</span>
                  </div>
              </div>
              <div class="custom-control custom-checkbox mt-3 ml-2">
                <input type="checkbox" class="custom-control-input" id="cbpromo" formControlName="askUser"
                [formControl]="Form_ResetPassword.controls['askUser']" disabled>
                <label class="custom-control-label tx-12 tx-color-03" for="cbpromo"> 
                  Ask user to change their password when they sign in
                </label>
            </div> 
              </div> 
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_ResetPassword_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Form_ResetPassword_Process()"
          [disabled]="!Form_ResetPassword.controls['AutomaticallyGenerated'].value && (!ispwdContainsNum || !ispwdContainsUC || !ispwdContainsLC || !IsminLength || !isPwdContainsSC ||
          Form_ResetPassword.controls['Password'].value == null)">
           Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>