<div class="card row bd-0 d-flex justify-content-center text-center" style=" height: 100vh !important;">
    <div>
        <div 
        class="text-center  text-muted col-md-12  d-flex align-items-center justify-content-center">
        <div class="spinner-border"></div>
    
      </div>
    </div>
       
    
    </div>