<!-- <div class="card">

  <div class="pd-20">
    <h6 class="tx-16"> Top-Up</h6>

    <div class="text-secondary ">
      You can purchase Top-up amount now to give rewards to your customers from it
    </div>
    <div>
      <div class=" mg-t-5"> Available Balance </div>
      <h5 class="tx-20 mg-t-5"> <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
        {{_AccountBalance.Balance  | number: "1.2-2" || "--" }} </h5>
    </div>

    <div class="mg-t-15">
      <button class="btn btn-outline-primary mg-r-10" (click)="OpenPaymentOptions()"> Add Top-Up </button>
      <button class="btn btn-outline-secondary" (click)="OpenTopUpHistory()"> Top-Up History </button>
    </div>

  </div>
</div> -->



<div class=" d-flex justify-content-center align-items-center" style="height: 100% !important;">
  <div style="position: absolute !important;  top: 10% !important;" class="wd-100p m-auto">
    <div class="text-center mg-b-0">


      <div class="tx-50 text-warning"> <i class="fas fa-exclamation-triangle"></i> </div>

      <div class="tx-14"
        *ngIf="this._HelperService.UserAccount.SystemSubscription.DaysLeft == 0 || this._HelperService.UserAccount.SystemSubscription.Amount == 0">
        Seems like your </div>
      <div class="tx-14"
        *ngIf="this._HelperService.UserAccount.SystemSubscription.DaysLeft != 0 && this._HelperService.UserAccount.SystemSubscription.Amount != 0">
        Make early payment, for continued service </div>


      <!-- <div class="tx-22" *ngIf="this._HelperService.UserAccount.SystemSubscription.DaysLeft == 0">Free Trial has Expired
      </div> -->
      <div class="tx-22"
        *ngIf="this._HelperService.UserAccount.SystemSubscription.DaysLeft != 0 && this._HelperService.UserAccount.SystemSubscription.Amount == 0">
        Free Trial is going to
        expire on {{this._HelperService.UserAccount.SystemSubscription.EndDate | date }}</div>

      <div class="tx-22"
        *ngIf="this._HelperService.UserAccount.SystemSubscription.DaysLeft != 0 && this._HelperService.UserAccount.SystemSubscription.Amount != 0">
        Your Current plan is going to expire on
        {{this._HelperService.UserAccount.SystemSubscription.EndDate | date }}</div>


      <div class="d-flex justify-content-around mg-t-25">
        <div class=" d-flex">
          <div>
            Billing Cycle : &nbsp;
          </div>
          <div class="mg-r-15">
            <input class="mg-r-5" type="radio" [(ngModel)]="typefree" [value]="5" (click)="Monthly()" name="type"
              checked>
            <label class="tx-14" for="Monthly">Monthly</label>
          </div>

          <div class="mg-r-15">
            <input class="mg-r-5" type="radio" [(ngModel)]="typefree" [value]="6" (click)="Quarterly()" name="type">
            <label class="tx-14" for="Monthly">Quarterly</label>
          </div>

          <div class="mg-r-15">
            <input class="mg-r-5" type="radio" [(ngModel)]="typefree" [value]="7" (click)="semiannual()" name="type">
            <label class="tx-14" for="Quarterly">Semi- Annual</label>
          </div>

          <div>
            <input class="mg-r-5" type="radio" [(ngModel)]="typefree" [value]="8" (click)="annual()" name="type">
            <label class="tx-14" for="Yearly">Annual</label>
          </div>



        </div>
      </div>



    </div>

    <div class="d-flex justify-content-around pd-x-50">
      <div class="text-center mg-t-15 mg-b-40">
        <span class="pd-y-0 pd-x-0 tx-indigo" style="background: #f3d6ea; border-radius: 2px !important; /* For browsers that do not support gradients */
        background: linear-gradient(90deg,#D6D1FF,#fbff000c);"> <img src="../../assets/img/discount.svg" width="18"
            class="mg-r-5">From 1 Aug,2021, there will be no charge for additional store for new merchants, Hurry up!
          Register Now
        </span>

      </div>
      <!-- <div class="text-center mg-t-15 mg-b-40">
        <span class="pd-y-0 pd-x-0" style="background: #f3d6ea;color: #B11A83; border-radius: 2px !important; /* For browsers that do not support gradients */
       background: linear-gradient(90deg,yellow,#fbff000c);"> <img src="../../assets/img/discount.svg" width="18"
            class="mg-r-5">Get Free <b> 8% </b>OFF on Semi-Annual Billing
        </span>

      </div>
      <div class="text-center mg-t-15 mg-b-40">
        <span class="pd-y-0 pd-x-0" style="background: #f3d6ea;color: #B11A83; border-radius: 2px !important; /* For browsers that do not support gradients */
         background: linear-gradient(90deg,yellow,#fbff000c);"> <img src="../../assets/img/discount.svg" width="18"
            class="mg-r-5">Get Free <b> 10% </b>OFF on Annual Billing
        </span>

      </div> -->

    </div>

    <div class="card wd-500 m-auto" style="border-radius: 4px !important;">


      <table>
        <tr class="bd-b">
          <th class="bd-r pd-25 tx-normal tx-18">
            <!-- <div class="pd-l-15 ">  <del> {{this._HelperService.UserAccount.SystemSubscription.Title || "--"}}   </del> </div> -->
            <div class="pd-l-15"> {{this.FreePlanCheck.Text || "--"}} </div>

            <div class="tx-14 text-secondary mg-t-10 pd-l-15">
              {{this.FreePlanCheck.Desc || "--"}}
            </div>

            <div class="tx-14 tx-medium mg-t-10 pd-l-15">
              Expired on : {{_HelperService.GetDateS(this._HelperService.UserAccount.SystemSubscription.EndDate)}}
            </div>

          </th>
          <th class="pd-25">
            <div class="tx-24 tx-medium"
              *ngIf="_HelperService.UserAccount.SystemSubscription.PlanReferenceId != 2 && _HelperService.UserAccount.SystemSubscription.PlanReferenceId != 3">
              {{this.FreePlanCheck.Amount}}
            </div>
            <div class="tx-24 tx-medium"
              *ngIf="_HelperService.UserAccount.SystemSubscription.PlanReferenceId == 2 ||  _HelperService.UserAccount.SystemSubscription.PlanReferenceId == 3">
              <span class=" text-sm mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{this.FreePlanCheck.Amount | number:
              '.0'}}
            </div>
            <div class="tx-20 tx-normal text-secondary" *ngIf="FreePlanCheck.BasicAmount">
              <span class=" text-sm mg-r-2"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span><del>{{this.FreePlanCheck.BasicAmount
                | number:'.0'}} </del>
            </div>


            <div class="tx-14 tx-normal">
              {{this.FreePlanCheck.TimePeriod || "--"}}
            </div>

          </th>
        </tr>
      </table>
      <div class="card-footer d-flex justify-content-center align-items-center bd-t-0"
        *ngIf="_HelperService.UserAccount.SystemSubscription.PlanReferenceId == 2 || _HelperService.UserAccount.SystemSubscription.PlanReferenceId == 3">
        <!-- <button type="button" data-toggle="modal" data-target="#UpdatePlan"
          *ngIf="this._HelperService.UserAccount.SystemSubscription.IsSubscriptionActive == false && this._HelperService.UserAccount.SystemSubscription.PlanReferenceId != 0"
          class="btn btn-primary full-width" (click)="UpdatePlans()">Subscribe Now</button> -->
        <button
          *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com'"
          class="btn btn-primary full-width" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" amount="{{this.FreePlanCheck.Amount * 100}}"
          [ref]="_UpdateSubscriptionTransactionReference" (close)="SubscriptionpaymentCancel()"
          (callback)="FreeUpdateSubscriptionDone($event)" data-dismiss="modal">Subscribe Now</button>


        <form id="Updatesubscribe" class="full-width"
          *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'">
          <button class="btn btn-primary full-width"
            *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'"
            (click)="IUpdateSubscribe($event,this.FreePlanCheck.Amount)">Subscribe Now</button>
        </form>

      </div>

      <div class="card-footer d-flex justify-content-center align-items-center bd-t-0"
        *ngIf="_HelperService.UserAccount.SystemSubscription.PlanReferenceId != 2 && _HelperService.UserAccount.SystemSubscription.PlanReferenceId != 3">


        <a href="http://thankucash.com/business" target="_blank" class="btn btn-primary full-width">
          Contact Us </a>


      </div>


    </div>
    <div class="text-center mg-y-20">
      <div> Do You Want To Change This Plan ? </div>
      <div> <a class=" m-auto cursor-pointer"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.AllPlans}}" target="_blank"> Change Plan
        </a> </div>
    </div>

  </div>
</div>
<!-- <div id="Form_AddUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Credit Reward Wallet</h5>
      </div>
      <div class="modal-body  p-lg">
        <div class="mb-3 b-b pb-3">
          <h6 class="mg-b-5">Available Balance</h6>
          <h5 *ngIf="TopUpHistoryList_Config.Data[0]"> <span class="text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> {{_AccountBalance.Balance}} </h5>

          <div class="mb-2">
            Enter Amount
          </div>
          <div class="input-group text-warn mb-3">
            <span class="input-group-prepend ">
              <span class="input-group-text text-warn"><span
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> </span>
            </span>
            <input type="text" maxlength="7" class="form-control text-warn" placeholder="Amount to credit*"
              (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_AccountBalanceCreditAmount">

            <div class="text-secondary mg-t-5">This amount will be credited in your wallet, you can further use it to
              give rewards to your customers.</div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ "Common.Close" | translate }}
        </button>
        <button
          *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000 || _AccountBalanceCreditAmount > 1000000)"
          class="btn btn-primary " disabled>Confirm</button>
        <button *ngIf="_AccountBalanceCreditAmount >= 1000 && _AccountBalanceCreditAmount <= 1000000"
          class="btn btn-success" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" [amount]="_AccountBalanceCreditAmount * 100"
          [class]="'btn btn-primary'" [ref]="_TransactionReference" (close)="paymentCancel()"
          (callback)="paymentDone($event)" data-dismiss="modal">Confirm</button>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="TopupHistory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Top Up History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=" ">
          <div class="box-header px-3  pd-b-15  d-flex align-items-center justify-content-between">
            <div class="form-inline ">
              <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="TopUpHistoryList_Config.SearchParameter"
                  maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                  (keyup)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button"
                    (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                      data-feather="search"></i> </button>
                </div>
              </div>
            </div>
            <nav class="nav nav-with-icon tx-20">
              <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="TopUpHistoryList_sdropdown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250 pd-15">


                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                      <div class="float-right tx-20" *ngIf="TopUpHistoryList_Config.Sort.SortOrder == 'desc'"
                        (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                        <i class="fas fa-sort-alpha-down-alt"></i>
                      </div>
                      <div class="float-right tx-20" *ngIf="TopUpHistoryList_Config.Sort.SortOrder == 'asc'"
                        (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                      </div>
                    </h6>

                    <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      *ngFor="let TItem of TopUpHistoryList_Config.Sort.SortOptions"
                      (click)="TopUpHistoryList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                      {{TItem.Name}}
                    </a>

                    <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                      (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                      Reset</button>
                    <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                      (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                  </form>
                </div>
              </div>
              <div class="dropdown dropleft">
                <a href="" class="nav-link" id="TopUpHistoryList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                    </h6>
                    <div>
                      <div class="form-group">
                        <label>Date</label>
                        <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                          daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                          (selected)="TopUpHistoryList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                      </div>
                    </div>
               

                    <button type="button" class="btn btn-light btn-sm mr-2"
                      (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                      Reset</button>
                    <button type="button" class="btn btn-primary btn-sm "
                      (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                  </form>
                </div>
              </div>
              <a class="nav-link ml-2 RefreshColor"
                (click)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                  data-feather="refresh-cw"></i> </a>
            </nav>

          </div>


          <div class="card-body p-0">
            <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
              <thead>
                <tr>
                  <th class="">
                    Date
                  </th>
                  <th>
                    Amount
                  </th>
                  <th class="">
                    Reference Number
                  </th>


                </tr>
              </thead>
              <tbody>
                <tr disabled (click)="TopUpHistoryList_RowSelected(TItem)"
                  *ngFor="let TItem of TopUpHistoryList_Config.Data  | paginate: { id: 'TopUpHistoryList_Paginator',itemsPerPage: TopUpHistoryList_Config.PageRecordLimit, currentPage: TopUpHistoryList_Config.ActivePage,  totalItems: TopUpHistoryList_Config.TotalRecords }">
                  <td>
                    <div class="tx-14">{{TItem.TransactionDate  || "--"}}</div>
                  </td>
                  <td class="">
                    <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                    {{TItem.Amount  || "--"}}
                  </td>
                  <td class="text-muted">
                    {{TItem.PaymentReference  || "--"}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer pd-20">
            <span class="mr-3">
              {{ 'Common.Showing' | translate }}
              <span class="bold">{{TopUpHistoryList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{TopUpHistoryList_Config.ShowingEnd}}
              </span> {{ 'Common.Of' | translate }} {{TopUpHistoryList_Config.TotalRecords}}
            </span>
            <span>
              {{ 'Common.Show' | translate }}
              <select class="wd-40 " [(ngModel)]="TopUpHistoryList_Config.PageRecordLimit"
                (ngModelChange)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                  {{TItem}}
                </option>
              </select>
            </span>
            <span class="float-right">
              <pagination-controls id="TopUpHistoryList_Paginator" class="pagination pagination-space"
                (pageChange)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
              </pagination-controls>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div> -->
<div class="modal fade" id="Plans" tabindex="-1" aria-labelledby="PlansLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PlansLabel">Upgrade Subscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-around  align-items-center text-center ht-400">
        <div>
          <div> <span><i class="fas fa-running tx-50 text-secondary"></i> </span> </div>
          <h5 class="mg-t-20 text-secondary tx-semibold"> {{FreePlan.Name || "--"}}</h5>
          <h5 class="tx-18 tx-dark"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{FreePlan.SellingPrice}}
          </h5>
          <p class="tx-dark mg-t-16 pb-0 mb-0"> Loyalty platform along with one store and one cashier addition
            features </p>
          <span *ngIf="CurrentPlan.Name == 'ThankUCash Free'"><i
              class="fas fa-check-square text-success tx-40 mg-t-30"></i> </span>
          <button *ngIf="CurrentPlan.Name != 'ThankUCash Free'" class="btn btn-primary mg-t-30" data-toggle="modal"
            data-target="#FreePlans" (click)="selectPlan('free')">
            Choose Plan </button>

        </div>
        <div class="mg-x-20">
          <div> <span><i class="fas fa-biking tx-50 text-secondary"></i> </span></div>
          <h5 class="mg-t-20 text-secondary tx-semibold"> {{BasicPlan.Name || "--" }}</h5>
          <h5 class="tx-18 tx-dark"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{BasicPlan.SellingPrice}}/{{BasicPlan.TypeName}}
          </h5>
          <p class="tx-dark mg-t-16 pb-0 mb-0"> Loyalty platform + Business Analysis
            along with 4 store and 20 cashiers
            Addition features</p>
          <button *ngIf="CurrentPlan.Name != 'ThankUCash Basic'" class="btn btn-primary mg-t-30" data-toggle="modal"
            data-target="#BasicPlans" (click)="selectPlan('basic')">
            Choose Plan </button>
          <span *ngIf="CurrentPlan.Name == 'ThankUCash Basic'"><i
              class="fas fa-check-square text-success tx-40 mg-t-30"></i> </span>


        </div>
        <div>
          <div> <span><i class="fas fa-car-side tx-50 text-secondary"></i> </span> </div>
          <h5 class="mg-t-20 text-secondary tx-semibold"> {{PremiumPlan.Name || "--" }} </h5>
          <h5 class="tx-18 tx-dark"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{PremiumPlan.SellingPrice}}/{{PremiumPlan.TypeName}}
          </h5>
          <p class="tx-dark mg-t-16 pb-0 mb-0">Basic Plan + Unlimited Cashiers and 99 stores addition features
          </p>
          <button *ngIf="CurrentPlan.Name != 'ThankUCash Premium'" class="btn btn-primary mg-t-30" data-toggle="modal"
            data-target="#PremiumPlans" (click)="selectPlan('premium')"> Choose Plan </button>
          <span *ngIf="CurrentPlan.Name == 'ThankUCash Premium'"><i
              class="fas fa-check-square text-success tx-40 mg-t-30"></i> </span>

        </div>
      </div>
      <div class="modal-footer pd-25">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Subscribe</button> -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="FreePlans" tabindex="-1" aria-labelledby="FreePlansLabel" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="BasicPlansLabel">{{FreePlan.Name || "--"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePlanDetail()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  justify-content-around  text-center  pd-x-70">
        <div>
          <div> <span><i class="fas fa-running tx-50 text-secondary"></i> </span></div>
          <h5 class="mg-t-20 tx-24"> {{FreePlan.Name || "--"}} </h5>
          <h5 class="tx-22 tx-purple"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{FreePlan.SellingPrice}}
          </h5>
          <p class="text-secondary mg-t-16 pb-0 mb-0">Loyalty platform along with one store and one cashier addition
            features


          </p>

        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> What is Free Plan? </h5>
          <p class="text-secondary"> {{FreePlan.Description || "--"}}</p>
        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> *Terms & Conditions</h5>
          <p class="text-secondary pd-b-0"> 1.Minimum 5% Reward percentage configuration
          </p>

        </div>
      </div>
      <div class="modal-footer pd-25">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closePlanDetail()">Close</button>

        <button class="btn btn-primary" (click)="FreePlanActivate()">Subscribe</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="BasicPlans" tabindex="-1" aria-labelledby="BasicPlansLabel" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="BasicPlansLabel">{{BasicPlan.Name || "--"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePlanDetail()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  justify-content-around  text-center  pd-x-70">
        <div>
          <div> <span><i class="fas fa-biking tx-50 text-secondary"></i> </span></div>
          <h5 class="mg-t-20 tx-24"> {{BasicPlan.Name || "--"}} </h5>
          <h5 class="tx-22 tx-purple"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{BasicPlan.SellingPrice ||
            "--"}}/{{BasicPlan.TypeName}}
          </h5>
          <p class="text-secondary mg-t-16 pb-0 mb-0">Loyalty platform + Business Analysis
            along with 4 store and 20 cashiers
            Addition features </p>

        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> What is Basic Plan? </h5>
          <p class="text-secondary"> {{BasicPlan.Description || "--"}}</p>
        </div>


        <div class="text-left mg-t-30">
          <h5 class="tx-16"> Which features you will get?</h5>
          <div class="d-flex mg-t-10">
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02 mg-r-30 mg-md-r-30 d-flex align-items-center justify-content-center rounded ">
              <div class="text-center"> <i class="fas fa-bullhorn tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> Promotions </div>
              </div>
            </div>
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02 d-flex align-items-center justify-content-center rounded">
              <div class="text-center"> <i class="fas fa-flask tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> POS Products </div>
              </div>

            </div>
          </div>

        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> *Terms & Conditions</h5>
          <p class="text-secondary pd-b-0"> 1. Minimum 3% Reward percentage configuration

          </p>

        </div>
      </div>
      <div class="modal-footer pd-25">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closePlanDetail()">Close</button>

        <button class="btn btn-primary" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" amount="{{BasicPlan.SellingPrice * 100}}"
          [ref]="_SubscriptionTransactionReference" (close)="SubscriptionpaymentCancel()"
          (callback)="SubscriptionDone($event,SubscriptionId, SubscriptionKey)" data-dismiss="modal">Subscribe</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="PremiumPlans" tabindex="-1" aria-labelledby="PremiumPlansLabel" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PremiumPlansLabel">{{PremiumPlan.Name || "--"}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePremiumPlanDetail()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body   text-center">
        <div>
          <div> <span><i class="fas fa-car-side tx-50 text-secondary"></i> </span> </div>
          <h5 class="mg-t-20 tx-24"> {{PremiumPlan.Name || "--"}} </h5>
          <h5 class="tx-22 tx-purple"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{PremiumPlan.SellingPrice ||
            "--"}}/{{PremiumPlan.TypeName}}
          </h5>
          <p class="text-secondary mg-t-16 pb-0 mb-0">Loyalty platform + Business Analysis
            along with 4 store and 20 cashiers
            Addition features</p>

        </div>
        <div class=" mg-t-30">
          <h5 class="tx-16"> What is Premium Plan? </h5>
          <p class="text-secondary"> {{PremiumPlan.Description || "--"}}</p>
        </div>


        <div class="mg-t-20 ">
          <h6 class="tx-20"> Features</h6>

          <div class="d-flex justify-content-around mg-t-30">
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02  d-flex align-items-center justify-content-center rounded ">
              <div class="text-center"> <i class="fas fa-chart-line tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> Analytics </div>
              </div>
            </div>
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02 d-flex align-items-center justify-content-center rounded">
              <div class="text-center"> <i class="fas fa-store tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> Multiple Stores </div>
              </div>

            </div>
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02 d-flex align-items-center justify-content-center rounded">
              <div class="text-center"> <i class="fas fa-users tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> Loyalty </div>
              </div>

            </div>
          </div>
        </div>

        <!-- <div class="mg-t-30">
          <h6 class="tx-20"> Select Add Ons</h6>
          <div class="tx-14 text-secondary">Make your own customised Premium Plan, select add-ons which you want to
            subscribe</div>
          <div>
            <div class="d-flex flex-wrap">
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary  d-flex align-items-center justify-content-center rounded ">
                  <div class="text-center"> <i class="fas fa-gift tx-30"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Gift Point</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary d-flex align-items-center justify-content-center rounded">
                  <div class="text-center"> <i class="fas fa-wallet tx-30"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Gift Card </div>
                  </div>

                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary d-flex align-items-center justify-content-center rounded">
                  <div class="text-center"> <i class="fab fa-maxcdn"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Mad Deals </div>
                  </div>

                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary  d-flex align-items-center justify-content-center rounded ">
                  <div class="text-center"> <i class="fas fa-bullhorn tx-30"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Scratch Cards </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary d-flex align-items-center justify-content-center rounded">
                  <div class="text-center"> <i class="fas fa-shopping-cart tx-30"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Shopping Cart </div>
                  </div>

                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary d-flex align-items-center justify-content-center rounded">
                  <div class="text-center"> <i class="fas fa-percent tx-25"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Campaigns </div>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div> -->

        <div class="text-left  mg-t-30 mg-l-75">
          <h5 class="tx-16"> *Terms & Conditions</h5>
          <p class="text-secondary pd-b-0"> 1. Minimum 1% Reward percentage configuration

          </p>

        </div>

      </div>
      <div class="modal-footer pd-25">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="closePremiumPlanDetail()">Close</button>
        <button class="btn btn-primary" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" amount="{{PremiumPlan.SellingPrice * 100}}"
          [ref]="_SubscriptionTransactionReference" (close)="SubscriptionpaymentCancel()"
          (callback)="SubscriptionDone($event,SubscriptionId, SubscriptionKey)" data-dismiss="modal">Subscribe</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="UpdatePlan" aria-labelledby="FreePlansLabel" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="BasicPlansLabel">{{this._HelperService.UserAccount.SystemSubscription.Title ||
          "--"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  justify-content-around  text-center  pd-x-70">
        <div>
          <div> <span><i class="fas fa-running tx-50 text-secondary"></i> </span></div>
          <h5 class="mg-t-20 tx-24"> {{this._HelperService.UserAccount.SystemSubscription.Title || "--"}} </h5>
          <h5 class="tx-22 tx-purple"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{this._HelperService.UserAccount.SystemSubscription.Amount}}
          </h5>
          <p class="text-secondary mg-t-16 pb-0 mb-0">Loyalty platform along with one store and one cashier addition
            features


          </p>

        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> What is {{this._HelperService.UserAccount.SystemSubscription.Title}} Plan? </h5>
          <p class="text-secondary"> DESC : Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptate
            possimus sed dolores harum necessitatibus sapiente omnis neque cum, recusandae eius autem cumque veritatis
            molestiae a ea ducimus in est.</p>
        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> *Terms & Conditions</h5>
          <p class="text-secondary pd-b-0"> 1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            exercitationem corporis, ut odio magnam quasi, praesentium nisi temporibus voluptate eaque repellendus ipsam
            rerum quisquam aperiam at, neque suscipit dicta labore.
          </p>

        </div>
      </div>
      <div class="modal-footer pd-25">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button class="btn btn-primary" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress"
          amount="{{_HelperService.UserAccount.SystemSubscription.Amount * 100}}"
          [ref]="_UpdateSubscriptionTransactionReference" (close)="SubscriptionpaymentCancel()"
          (callback)="UpdateSubscriptionDone($event)" data-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>