<div class="card bd-b-0 pd-20 mt-3">
    <ul class="nav nav-line" id="myTab5" role="tablist">
      
        <li class="nav-item cursor-pointer"  [routerLinkActive]="['active']">
            <a class="nav-link" id="Terminal-tab5"  [routerLinkActive]="['active']" data-toggle="tab" role="tab" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Customer.DealHistory.PurchaseHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                aria-controls="Terminal" aria-selected="false">Purchased  History</a>
        </li>
        <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
            <a class="nav-link" id="Stores-tab5" data-toggle="tab" role="tab"  [routerLinkActive]="['active']" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Customer.DealHistory.RedeemHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                aria-controls="Stores" aria-selected="false">Redeemed History</a>
        </li>
      
       

    </ul>
</div>
<router-outlet></router-outlet>