<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a 
      routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.AccountSetting}}" [routerLinkActive]="['active']">
      Account Setting</a></li>

  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="text-primary" [routerLinkActive]="['active']">
      Reward Precentage</a></li>
</ol>
<div class="card pd-15">
  <div>
    <div class="tx-16"> Current Reward Percentage </div>
    <div class="tx-12 text-secondary tx-normal"> Your current reward percentage and its distribution
    </div>
    <!-- <div class="pd-t-10 pd-b-15 tx-20">
      <h4 class="pd-b-0 mg-b-0 tx-20" *ngIf="RewardHistoryList_Config.Data[0]">
        {{RewardPerc}}% </h4>
    </div> -->

    <!-- <div class=" row d-flex d-lg-block d-xl-flex align-items-center mg-t-15">
      <div class="col-md-2">
        <h3 class=" tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1" *ngIf="RewardPerc != null">
          {{RewardPerc | number: "1.2-2" }}% </h3>
        <h3 class=" tx-danger tx-rubik  mg-b-8 mg-r-5 lh-1" *ngIf="RewardPerc == null">
          NA </h3>
      </div>

      <div class=" bd-l col-md-2">
        <span class="text-secondary"> <i class="fas fa-user"></i></span>&nbsp; <span class="tx-medium mb-0 pb-0">( {{((70/100)*RewardPerc).toFixed(2)}}%)</span>
      </div>
    </div> -->

    <div class="row mg-t-10" *ngIf="_LoyaltyConfig.Reward.TucCommissionSource == 'Reward Amount'">
      <div class="col-md-3 mg-t-10" style="border-right: 1px solid #C2CCD9;height: 47px">
        <div class="form-group">
          <label class="text-secondary">Customer Reward &nbsp;
            <span class="text-secondary" data-toggle="tooltip" title="Customer gets 70% from main reward percentage">
              <i style="height: 18px; width: 18px;;" data-feather="info"> </i>
            </span>
          </label><br>
          <span class="tx-20 tx-medium">
            {{((_LoyaltyConfig.Reward.UserPercentage/100) *
            _LoyaltyConfig.Reward.RewardPercentage).toFixed(2)}}%            
          </span>
        </div>
      </div>
      <div class="col-md-6 pd-l-50  mg-t-10">
        <div class="form-group">
          <label class="text-secondary">Total Reward Percentage </label><br>
          <span class="tx-20 tx-medium">{{ _LoyaltyConfig.Reward.RewardPercentage || "0"}} %</span>
        </div>
      </div>
    </div>
    <div class="row mg-t-10" *ngIf="_LoyaltyConfig.Reward.TucCommissionSource == 'Invoice Amount'">
      <div class="col-md-3 mg-t-10">
        <div class="form-group">
          <label class="text-secondary">Customer Reward &nbsp;
            <span class="text-secondary" data-toggle="tooltip" title="Customer gets 70% from main reward percentage">
              <i style="height: 18px; width: 18px;;" data-feather="info"> </i>
            </span>
          </label><br>
          <span class="tx-20 tx-medium">
            {{_LoyaltyConfig.Reward.RewardPercentage.toFixed(2)}}%
           
          </span>
        </div>
      </div>
    </div>
    <button class="btn btn-outline-primary mg-b-20  mg-t-20" (click)="Form_AddUser_Show()"> Change </button>

    <div class="pd-t-20 bd-t">

      <div class="tx-16">
        Update History
      </div>
      <div class="tx-12 text-secondary tx-normal">
        Reward percentage update history till now
      </div>
      <div class="mg-t-15">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="text-secondary tx-12">Date</th>
              <th scope="col" class="text-secondary tx-12 text-center">Reward Percentage</th>
              <th scope="col" class="text-secondary tx-12">Updated By</th>
              <th scope="col" class="text-secondary tx-12">Comment</th>


            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let TItem of RewardHistoryList_Config.Data">
              <th scope="row" class="tx-12">{{TItem.StartDate || "--"}}</th>
              <td class="tx-12 text-center">{{TItem.Value || "--"}}</td>
              <th scope="row" class="tx-12">{{TItem.CreatedByDisplayName || "--"}}</th>
              <th scope="row" class="tx-12">{{TItem.Comment || "--" }}</th>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
<div id="Form_AddUser_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered dropdown " style="max-width: 560 !important;">
    <div class="modal-content">
      <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
        <div class="modal-header pd-x-30 ">
          <h5 class="modal-title">Set Reward Percentage</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="row" *ngIf="_LoyaltyConfig.Reward.TucCommissionSource == 'Reward Amount'">
                  <div class="col-md-6 " style="border-right: 1px solid #C2CCD9;">
                    <div class="form-group">
                      <label class="">Customer Reward &nbsp;
                        <!-- <span class="text-secondary" data-toggle="tooltip"
                          title="Customer gets 70% from main reward percentage">
                          <i style="height: 18px; width: 18px;;" data-feather="info"> </i>
                        </span> -->
                      </label><br>
                      <span class="tx-20 tx-medium">
                        {{((_LoyaltyConfig.Reward.UserPercentage/100) *
                        _LoyaltyConfig.Reward.RewardPercentage).toFixed(2)}}%
                        <!-- {{_LoyaltyConfig.Reward.RewardPercentage.toFixed(2)}}% -->
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="">Charge to Account </label><br>
                      <span class="tx-20 tx-medium">{{ _LoyaltyConfig.Reward.RewardPercentage || "0"}}%</span>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="_LoyaltyConfig.Reward.TucCommissionSource == 'Invoice Amount'">
                  <div class="col-md-6 " style="border-right: 1px solid #C2CCD9;">
                    <div class="form-group">
                      <label class="">Customer Reward &nbsp;
                        <span class="text-secondary" data-toggle="tooltip"
                          title="Customer gets 70% from main reward percentage">
                          <i style="height: 18px; width: 18px;;" data-feather="info"> </i>
                        </span>
                      </label><br>
                      <span class="tx-20 tx-medium">
                        <!-- {{((70/100)*RewardPerc).toFixed(2)}}% -->
                        {{_LoyaltyConfig.Reward.RewardPercentage.toFixed(2)}}%
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="">TUC Platform fees </label><br>
                      <span class="tx-20 tx-medium">{{_LoyaltyConfig.Reward.SystemPercentage.toFixed(2) ||
                        "0"}}%</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="tx-13 ">Change Reward Percentage<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="number" name="RewardPercentage" minlength="1" maxlength="100" class="form-control"
                      [formControl]="Form_AddUser.controls['Value']"
                      (keyup)="CustomerEarns($event)" 
                      [ngClass]="{'is-invalid':!Form_AddUser.controls['Value'].valid && Form_AddUser.controls['Value'].touched}">
                  </div>
                  <!-- <label class="text-danger" for="RewardPercentage"
                    *ngIf="Form_AddUser.controls['Value'].hasError('required') && Form_AddUser.controls['Value'].touched">
                    Enter reward percentage
                  </label>
                  <label class="text-danger" for="RewardPercentage"
                    *ngIf="Form_AddUser.controls['Value'].hasError('min') || Form_AddUser.controls['Value'].hasError('max')">
                    reward percentage must be between 0 to 100
                  </label> -->
                  <label class="text-danger d-block" for="RewardPercentage"
                  *ngIf="Form_AddUser.controls['Value'].touched && !isValidRewardpercentage">
                 Enter valid reward percentage must be between 0 to 100
                </label>
                </div>
                <div class="form-group">
                  <label class="tx-13 ">Comment<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <textarea name="Comment" minlength="2" maxlength="256" class="form-control" rows="3"
                      [formControl]="Form_AddUser.controls['Comment']"
                      [ngClass]="{'is-invalid':!Form_AddUser.controls['Comment'].valid && Form_AddUser.controls['Comment'].touched}"></textarea>
                  </div>
                  <label class="text-danger" for="Comment"
                    *ngIf="Form_AddUser.controls['Comment'].hasError('required') && Form_AddUser.controls['Comment'].touched">
                    Enter comment
                  </label>
                </div>
              </div>
            </div>
          </div>

          <hr class=" mg-l-15">
          <div class="ml-3 mr-3">
            <div class="row  p-lg">
              <div class="col-md-12">
                <label class="tx-12"><strong>How it work?</strong> </label><br>
                <!-- <label class="tx-12 text-secondary">Reward percentage includes Reward to customer, Platform fees and
                Activity based reward pool for customers.</label> -->
                <div class="p-3 bg-light">
                  <div class="form-group">
                    <label class="tx-13 ">Every time customer spends
                    </label>
                    <div class="controls">
                      <input type="number" name="refInvoiceAmount" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="_LoyaltyConfigExample.InvoiceAmount" disabled class="form-control bg-white">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="tx-13 ">Customer earns
                    </label>
                    <div class="controls">
                      <input type="number" name="refUserAmount" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="_LoyaltyConfigExample.UserAmount" disabled class="form-control  bg-white">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="tx-13 ">TUC Platform fees applicable to you will be
                    </label>
                    <div class="controls">
                      <input type="number" name="refSystemAmount" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="_LoyaltyConfigExample.SystemAmount" disabled class="form-control  bg-white">
                    </div>
                  </div>
                </div>
                <!-- <div class="row mg-t-35" class="d-flex justify-content-center">
                <div class="col-md-4">
                  <div class="rewardclass mg-l-5 mg-b-10"><img alt="" class="rounded-10 imgclass"
                      src="../../../assets/img/user.svg">
                  </div>
                  <span class=" text-center tx-12 mg-l-15"><strong>70 %</strong> </span><br>
                  <span class="tx-12 text-secondary">To customer</span>
                </div>
                <div class="col-md-4 mg-l-15">
                  <div class="rewardclass mg-l-10 mg-b-10"><img alt="" class="rounded-10 imgclass"
                      src="../../../assets/img/computer.svg"></div>
                  <span class=" text-center tx-12 mg-l-20 mg-t-10"><strong>20 %</strong> </span><br>
                  <span class="tx-12 text-secondary">Platform Fee</span>
                </div>
                <div class="col-md-4 px-0 mg-l-5">
                  <div class="rewardclass mg-l-30 mg-b-10"><img alt="" class="rounded-10 imgclass"
                      src="../../../assets/img/scrach.svg">
                  </div>
                  <span class=" text-center tx-12 mg-l-40 mg-t-10"><strong>10 %</strong> </span><br>
                  <span class="tx-12 text-secondary">
                    <span data-toggle="tooltip"
                      title="We will reward your loyal customers based on their activities by scrach cards, extra rewards and more">
                      <i style="height: 18px; width: 18px;;" data-feather="info"> </i>

                    </span>

                    Activity Rewards pool</span>
                </div>
              </div> <br>
              <div class="row">
                <div class="col-md-12">
                  <label class="tx-12"> For <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    100 as total reward then customer will get <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 70, platform fees will be
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 20 and charges for
                    activity based reward pool will be <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>10</label>
                </div>
              </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddUser.value.OperationType = 'new'"
            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing || !isValidRewardpercentage">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Confirm" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <div id="Form_AddUser_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
        <div class="modal-header pd-x-30">
          <h5 class="modal-title">Reward Percentage</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <span class="tx-14"> My Reward Percentage </span> <br>
                <div class="pd-t-10 pd-b-15 tx-20 ">
                  <h4 class="pb-0 mb-0" *ngIf="RewardHistoryList_Config.Data[0]">
                    {{RewardPerc}}% </h4>
                </div>
                <div class="form-group">

                  <label class="tx-13 ">Change Reward Percentage<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="text" placeholder="Reward Percentage" name="RewardPercentage" minlength="1"
                      maxlength="100" class="form-control" (keypress)="_HelperService.PreventText($event)"
                      [formControl]="Form_AddUser.controls['Value']"
                      [ngClass]="{'is-invalid':!Form_AddUser.controls['Value'].valid && Form_AddUser.controls['Value'].touched}">
                  </div>
                  <label class="text-danger" for="RewardPercentage"
                    *ngIf="Form_AddUser.controls['Value'].hasError('required') && Form_AddUser.controls['Value'].touched">
                    Enter reward percentage
                  </label>
                  <label class="text-danger" for="RewardPercentage"
                    *ngIf="Form_AddUser.controls['Value'].hasError('min') || Form_AddUser.controls['Value'].hasError('max')">
                    Reward percentage must be between 0 to 100
                  </label>

                  <div class="tx-12 text-secondary mg-t-5">
                    This reward percentage amount will be set as rewards (on each purchase) to your customers
                  </div>
                </div>
                <div class="form-group">

                  <label class="tx-13 ">Comment<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                  
                      <textarea name="Comment" minlength="2" maxlength="256" placeholder="You can write reasons to change reward percentage,It will help you to maintain history"
                      class="form-control" rows="3"
                      [formControl]="Form_AddUser.controls['Comment']"[ngClass]="{'is-invalid':!Form_AddUser.controls['Comment'].valid && Form_AddUser.controls['Comment'].touched}"
                     
                      ></textarea>
                  </div>

                  <label class="text-danger" for="Comment"
                  *ngIf="Form_AddUser.controls['Comment'].hasError('required') && Form_AddUser.controls['Comment'].touched">
                  Enter comment 
                </label>
                </div>
             

              </div>
            </div>


          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddUser.value.OperationType = 'new'"
            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Confirm" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->
<!-- 

<div id="Form_AddUser_Content" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered dropdown " style="max-width: 560 !important;">
    <div class="modal-content">
      <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
        <div class="modal-header pd-x-30 ">
          <h5 class="modal-title">Set Reward Percentage</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6" style="border-right: 1px solid #C2CCD9;">
                    <div class="form-group">
                      <label class="">Customer Reward &nbsp;

                        <span class="text-secondary" data-toggle="tooltip"
                          title="Customer gets 70% from main reward percentage">
                          <i style="height: 18px; width: 18px;;" data-feather="info"> </i>
                        </span>

                      </label><br>
                      <span class="tx-20 tx-medium">
                        {{((70/100)*RewardPerc).toFixed(2)}}%
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="">Reward Percentage </label><br>
                      <span class="tx-20 tx-medium">{{RewardPerc || "0"}}%</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="tx-13 ">Change Reward Percentage<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="number" name="RewardPercentage" minlength="1" maxlength="100" class="form-control"
                      [formControl]="Form_AddUser.controls['Value']"
                      [ngClass]="{'is-invalid':!Form_AddUser.controls['Value'].valid && Form_AddUser.controls['Value'].touched}">
                  </div>
                  <label class="text-danger" for="RewardPercentage"
                    *ngIf="Form_AddUser.controls['Value'].hasError('required') && Form_AddUser.controls['Value'].touched">
                    Enter reward percentage
                  </label>
                  <label class="text-danger" for="RewardPercentage"
                    *ngIf="Form_AddUser.controls['Value'].hasError('min') || Form_AddUser.controls['Value'].hasError('max')">
                    reward percentage must be between 0 to 100
                  </label>
                </div>
                <div class="form-group">

                  <label class="tx-13 ">Comment<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <textarea name="Comment" minlength="2" maxlength="256" class="form-control" rows="3"
                      [formControl]="Form_AddUser.controls['Comment']"
                      [ngClass]="{'is-invalid':!Form_AddUser.controls['Comment'].valid && Form_AddUser.controls['Comment'].touched}"></textarea>
                  </div>
                  <label class="text-danger" for="Comment"
                    *ngIf="Form_AddUser.controls['Comment'].hasError('required') && Form_AddUser.controls['Comment'].touched">
                    Enter comment
                  </label>
                </div>
              </div>
            </div>
          </div>
          <hr class=" mg-l-15">
          <div class="row  p-lg">
            <div class="col-md-12 mg-l-15">
              <label class="tx-12"><strong>How Reward Percentage distributed?</strong> </label><br>
              <label class="tx-12 text-secondary">Reward percentage includes Reward to customer, Platform fees and
                Activity based reward pool for customers.</label>
              <div class="row mg-t-35" class="d-flex justify-content-center">
                <div class="col-md-4">
                  <div class="rewardclass mg-l-5 mg-b-10"><img alt="" class="rounded-10 imgclass"
                      src="../../../assets/img/user.svg">
                  </div>
                  <span class=" text-center tx-12 mg-l-15"><strong>70 %</strong> </span><br>
                  <span class="tx-12 text-secondary">To customer</span>
                </div>
                <div class="col-md-4 mg-l-15">
                  <div class="rewardclass mg-l-10 mg-b-10"><img alt="" class="rounded-10 imgclass"
                      src="../../../assets/img/computer.svg"></div>
                  <span class=" text-center tx-12 mg-l-20 mg-t-10"><strong>20 %</strong> </span><br>
                  <span class="tx-12 text-secondary">Platform Fee</span>
                </div>
                <div class="col-md-4 px-0 mg-l-5">
                  <div class="rewardclass mg-l-30 mg-b-10"><img alt="" class="rounded-10 imgclass"
                      src="../../../assets/img/scrach.svg">
                  </div>
                  <span class=" text-center tx-12 mg-l-40 mg-t-10"><strong>10 %</strong> </span><br>
                  <span class="tx-12 text-secondary">
                    <span data-toggle="tooltip"
                      title="We will reward your loyal customers based on their activities by scrach cards, extra rewards and more">
                      <i style="height: 18px; width: 18px;;" data-feather="info"> </i>
                    </span>
                    Activity Rewards pool</span>
                </div>
              </div> <br>
              <div class="row">
                <div class="col-md-12">
                  <label class="tx-12"> For <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    100 as total reward then customer will get <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 70, platform fees will be
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 20 and charges for
                    activity based reward pool will be <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>10</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddUser.value.OperationType = 'new'"
            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Confirm" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>  -->