<!-- <div class="card">

  <div class="pd-20">
    <h6 class="tx-16"> Top-Up</h6>

    <div class="text-secondary ">
      You can purchase Top-up amount now to give rewards to your customers from it
    </div>
    <div>
      <div class=" mg-t-5"> Available Balance </div>
      <h5 class="tx-20 mg-t-5"> <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
        {{_AccountBalance.Balance  | number: "1.2-2" || "--" }} </h5>
    </div>

    <div class="mg-t-15">
      <button class="btn btn-outline-primary mg-r-10" (click)="OpenPaymentOptions()"> Add Top-Up </button>
      <button class="btn btn-outline-secondary" (click)="OpenTopUpHistory()"> Top-Up History </button>
    </div>

  </div>
</div> -->


<div class=" card-header  bg-white  row d-flex align-items-center">

  <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4 ">
    <div class="pd-l-80"
      *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com' ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'">
      <img src="../../../assets/img/interswitch.png" class="w-xmd">
    </div>
    <div class="pd-l-80"
      *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com' &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'wemarewards.thankucash.com' &&  _HelperService.AppConfig.Host != 'localhost:4200'">
      <img src="../../../assets/img/logoinverse.png" class="w-xmd">
    </div>
    <div class="pd-l-80"
      *ngIf="_HelperService.AppConfig.Host == 'localhost:4200' ||  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'">
      <img src="../../../assets/img/wemalogo.png" class="w-xmd">
    </div>
  </div>
  <!-- <div class="col-lg-8 p-0">
    <ul class="nav nav-tabs process-model more-icon-preocess mb-0" role="tablist">
      <li role="presentation" class="active custom"><a aria-controls="discover" role="tab" data-toggle="tab"><i
            class="fa fa-check" aria-hidden="true"></i>
          <p>Business Details</p>
        </a></li>
      <li role="presentation" class="active custom"><a aria-controls="strategy" role="tab" data-toggle="tab"><i
            class="fa fa-check" aria-hidden="true"></i>
          <p>Business Location</p>
        </a></li>

      <li role="presentation"><a aria-controls="reporting" role="tab" data-toggle="tab"><i class="fa fa-check"
            aria-hidden="true"></i>
          <p>Select Plan</p>
        </a></li>
    </ul>
  </div> -->
</div>




<div class=" d-flex justify-content-center align-items-center" style="height: 100% !important;">



  <!-- <div class="card wd-500  "
    *ngIf="this._HelperService.UserAccount.SystemSubscription.IsSubscriptionActive == false && this._HelperService.UserAccount.SystemSubscription.PlanReferenceId == 0">
    <div class="card-header tx-semibold tx-16">
      Upgrade Plan
    </div>
    <div class="pd-20">
      <h6 class="tx-16 pb-0 mb-0"> Subscription Pricing & Plans</h6>
      <div class="text-secondary mg-t-4h">
        You are billed monthly for all active plans(Excluding Free Trials)
      </div>

      <h5 class="tx-22 mg-t-10 mb-0">
        {{CurrentPlan.Name || "--"}} <span class="badge badge-success"> Active</span>
        <p class="text-secondary tx-12 mg-t-6 mb-0" style="max-width: 50vw !important;">
          {{CurrentPlan.Description || "--"}}
        </p>
      </h5>

      <div class="tx-12 text-secondary mg-t-15">
        Subscription Valid Till - <span class="tx-dark"> {{CurrentPlan.EndDate | date:'dd MM yyyy' || "--"}}</span>
      </div>

      <div class="mg-t-15">
        <button type="button"
          *ngIf="this._HelperService.UserAccount.SystemSubscription.IsSubscriptionActive == false && this._HelperService.UserAccount.SystemSubscription.PlanReferenceId == 0"
          class="btn btn-outline-primary mg-r-15" data-toggle="modal" data-target="#Plans" (click)="ViewPlans()">View
          All
          Plans </button>

       <button type="button" data-toggle="modal" data-target="#UpdatePlan" *ngIf="this._HelperService.UserAccount.SystemSubscription.IsSubscriptionActive == false && this._HelperService.UserAccount.SystemSubscription.PlanReferenceId != 0"
      class="btn btn-outline-primary"  (click)="UpdatePlans()" >Update Plan</button> 

      </div>

    </div>
  </div> -->
  <div>
    <div>

      <!-- <div class="d-flex justify-content-around mg-t-40">
        <img
          *ngIf="(_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' && _HelperService.AppConfig.Host != 'sterling.thankucash.com' && _HelperService.AppConfig.Host != 'wemarewards.thankucash.com' && _HelperService.AppConfig.Host != 'localhost:4200')"
          src="../../assets/img/thankucash.svg" class="wd-200">
        <img
          *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'"
          src="../../assets/img/interswitch.png" class="wd-200">
        <img
          *ngIf="_HelperService.AppConfig.Host == 'localhost:4200'  ||  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'"
          src="../../assets/img/wemalogo.png" class="wd-200">

      </div> -->
      <div class="mg-t-30 text-center">
        <h5 class="tx-20 ">Please select Subscription Plan for your Business
        </h5>

        <div class="tx-16 tx-medium">  Get 7-Day Trial For Free </div>
      </div>
      <div class="d-flex justify-content-around mg-t-25">
        <div class=" d-flex">
          <div>
            Billing Cycle : &nbsp;
          </div>
          <div class="mg-r-15">
            <input class="mg-r-5" type="radio" [(ngModel)]="type" [value]="1" name="type" checked>
            <label class="tx-14" for="Monthly">Monthly</label>
          </div>

          <div class="mg-r-15">
            <input class="mg-r-5" type="radio" [(ngModel)]="type" [value]="4" name="type" checked>
            <label class="tx-14" for="Monthly">Quarterly</label>
          </div>

          <div class="mg-r-15">
            <input class="mg-r-5" type="radio" [(ngModel)]="type" [value]="2" name="type">
            <label class="tx-14" for="Quarterly">Semi- Annual</label>
          </div>

          <div>
            <input class="mg-r-5" type="radio" [(ngModel)]="type" [value]="3" name="type">
            <label class="tx-14" for="Yearly">Annual</label>
          </div>



        </div>
      </div>


      <div class="d-flex justify-content-around pd-x-60 ">
        <div class="text-center mg-t-25 mg-b-25">
          <span class="pd-y-0 pd-x-0 tx-indigo" style="background: #f3d6ea; border-radius: 2px !important; /* For browsers that do not support gradients */
          background: linear-gradient(90deg,#D6D1FF,#fbff000c);"> <img src="../../assets/img/discount.svg" width="18"
              class="mg-r-5">From 1 Aug,2021, there will be no charge for additional store for new merchants, Hurry up!
            Register Now
          </span>

        </div>
        <!-- <div class="text-center mg-t-25 mg-b-25">
          <span class="pd-y-0 pd-x-0" style="background: #f3d6ea;color: #B11A83; border-radius: 2px !important; /* For browsers that do not support gradients */
         background: linear-gradient(90deg,yellow,#fbff000c);"> <img src="../../assets/img/discount.svg" width="18"
              class="mg-r-5">Get Free <b> 8% </b>OFF on Semi-Annual Billing
          </span>

        </div>
        <div class="text-center mg-t-25 mg-b-25">
          <span class="pd-y-0 pd-x-0" style="background: #f3d6ea;color: #B11A83; border-radius: 2px !important; /* For browsers that do not support gradients */
           background: linear-gradient(90deg,yellow,#fbff000c);"> <img src="../../assets/img/discount.svg" width="18"
              class="mg-r-5">Get Free <b> 10% </b>OFF on Annual Billing
          </span>

        </div> -->

      </div>




    </div>

    <div class="">
      <div *ngIf="type == 1" class="active">
        <div class="card bd-0  shadow-none d-flex justify-content-center" style="border-radius: 4px !important;">
          <table class="table table-hover table-bordered text-center">
            <thead>
              <tr class="active">
                <th style="background:#fff"></th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Basic
                  </div>


                  <div class="tx-indigo tx-20"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 19,000 </div>
                  <div class="tx-16"> Monthly </div>

                  <button class="btn btn-outline-primary mg-t-20" (click)="Subscription('2','basictrial')"> Start Free
                    Trial
                  </button>


                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Premium
                  </div>


                  <div class="tx-indigo tx-20"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 95,000</div>
                  <div class="tx-16"> Monthly </div>
                  <button class="btn btn-outline-primary  mg-t-20" (click)="Subscription('3','premiumtrial')">
                    Start Free Trial </button>
                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Enterprise
                  </div>

                  <div class="tx-indigo tx-20"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> Negotiable </div>
                  <div class="tx-16"> Monthly </div>
                  <a href="http://thankucash.com/business" target="_blank" class="btn btn-outline-primary  mg-t-20">
                    Contact Us </a>
                </th>

              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td></td>
                <td>$399 Monthly</td>
                <td>$699 Monthly</td>
                <td>$799 Monthly</td>
                <td>$1299 Monthly</td>
              </tr> -->

              <tr style="background: #e5e9f2;">
                <td class="p-4">
                  <!-- <div class="tx-12 text-secondary text-left mg-l-10">(Additional)</div> -->


                  <div class="tx-16">
                    <span> Charges / Extra Store </span>
                  </div>
                  <!-- <div class="tx-18  text-left mg-l-10"> <i
                      class="fas fa-user-friends mg-r-10 text-secondary"></i>Customers </div> -->
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="text-secondary tx-16 tx-normal">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    10,000
                  </p>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="text-secondary tx-16 tx-normal">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    50,000
                  </p>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="text-secondary tx-16 tx-normal">Negotiable</p>
                </td>

              </tr>
              <tr style="background: #f5f6fa;">
                <td colspan="5" class="active p-3"><b>Features Access</b></td>
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Reward Type</td>
                <td class="p-3">Open Reward</td>
                <td class="p-3">Close Reward</td>
                <td class="p-3">Open/Close</td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Loyalty and Sales Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Data & Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Store Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Cash and Cash<br />
                  <span> Transaction Analytics </span>
                </td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <!-- <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Classification</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                
              </tr>

              <tr>
                <td class="text-left mg-l-10 tx-medium"> Email to customers</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
              
              </tr> -->
              <tr>
                <td></td>
                <td class="p-3">
                  <button class="btn btn-outline-primary" (click)="Subscription('2','basictrial')"> Start Free
                    Trial
                  </button>



                </td>
                <td class="p-3"> <button class="btn btn-outline-primary" (click)="Subscription('3','premiumtrial')">
                    Start Free Trial </button>



                </td>
                <td class="p-3"> <a href="http://thankucash.com/business" target="_blank"
                    class="btn btn-outline-primary">
                    Contact Us </a>



                </td>
                <!-- <td class="p-3"> <button class="btn btn-outline-primary"
                    (click)="Subscription('5','closedrewardapitrial')">
                    Start Free Trial </button>



                </td> -->
              </tr>


            </tbody>
          </table>

        </div>
      </div>

      <div *ngIf="type == 4" class="">
        <div class="card bd-0  shadow-none d-flex justify-content-center" style="border-radius: 4px !important;">
          <table class="table table-hover table-bordered text-center">
            <thead>
              <tr class="active">
                <th style="background:#fff"></th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Basic
                  </div>
                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>54,150 </div>

                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>57,000 </del> </div>
                  <div class="tx-16"> Quarterly </div>
                  <button class="btn btn-outline-primary  mg-t-20" (click)="Subscription('2','basictrial')"> Start
                    Free
                    Trial
                  </button>

                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Premium
                  </div>


                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 270,750 </div>

                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>285,000</del> </div>
                  <div class="tx-16"> Quarterly </div>
                  <button class="btn btn-outline-primary  mg-t-20" (click)="Subscription('3','premiumtrial')">
                    Start Free Trial </button>
                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Enterprise
                  </div>

                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>Negotiable </div>

                  <div style="visibility: hidden !important;" class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>57,000 </del> </div>
                  <div class="tx-16"> Quarterly </div>
                  <a href="http://thankucash.com/business" target="_blank" class="btn btn-outline-primary  mg-t-20">
                    Contact Us </a>

                </th>
                <!-- <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> API REWARDS <span
                      class="cursor-pointer Subs pb-1">
                      <img class="mg-l-5" data-toggle="tooltip" data-placement="bottom"
                        title="Customer rewards are exclusive to only your business "
                        src="../../assets/img/information-circle-outline.svg" height="16" width="16" alt=""></span>
                  </div>
                  <div class="tx-16"> (Online Closed Rewards)</div>

                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 270,750 </div>

                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>285,000</del> </div>
                  <div class="tx-16"> Quarterly </div>
                  <button class="btn btn-outline-primary  mg-t-20" (click)="Subscription('5','closedrewardapitrial')">
                    Start Free Trial </button>
                </th> -->
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td></td>
                <td>$399 Quarterly</td>
                <td>$699 Quarterly</td>
                <td>$799 Quarterly</td>
                <td>$1299 Quarterly</td>
              </tr> -->

              <tr style="background: #e5e9f2;">
                <td class="p-4">
                  <!-- <div class="tx-12 text-secondary text-left mg-l-10">(Additional)</div> -->


                  <div class="tx-16">
                    <span> Charges / Extra Store </span>
                  </div>
                  <!-- <div class="tx-18  text-left mg-l-10"> <i
                      class="fas fa-user-friends mg-r-10 text-secondary"></i>Customers </div> -->
                </td>
                <td class="p-4 tx-18 tx-medium">

                  <p class="tx-black tx-16 tx-normal  mb-0">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    28,500
                  </p>
                  <del>
                    <p class="text-secondary tx-16 tx-normal">
                      <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      30,000
                    </p>
                  </del>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="tx-black tx-16 tx-normal mb-0">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    142,500
                  </p>
                  <del>
                    <p class="text-secondary tx-16 tx-normal ">
                      <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      150,000
                    </p>
                  </del>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="text-secondary tx-16 tx-normal"> Negotiable </p>
                </td>

              </tr>
              <tr style="background: #f5f6fa;">
                <td colspan="5" class="active p-3"><b>Features Access</b></td>
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Reward Type</td>
                <td class="p-3">Open Reward</td>
                <td class="p-3">Close Reward</td>
                <td class="p-3">Open/Close</td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Loyalty and Sales Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Data & Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Store Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Cash and Cash<br />
                  <span> Transaction Analytics </span>
                </td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <!-- <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Classification</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
              </tr>

              <tr>
                <td class="text-left mg-l-10 tx-medium"> Email to customers</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
              </tr> -->
              <tr>
                <td></td>
                <td class="p-3">
                  <button class="btn btn-outline-primary" (click)="Subscription('2','basictrial')"> Start Free
                    Trial
                  </button>



                </td>
                <td class="p-3"> <button class="btn btn-outline-primary" (click)="Subscription('3','premiumtrial')">
                    Start Free Trial </button>



                </td>
                <td class="p-3"> <a href="http://thankucash.com/business" target="_blank"
                    class="btn btn-outline-primary">
                    Contact Us </a>



                </td>
                <!-- <td class="p-3"> <button class="btn btn-outline-primary"
                    (click)="Subscription('5','closedrewardapitrial')">
                    Start Free Trial </button>



                </td> -->
              </tr>


            </tbody>
          </table>

        </div>
      </div>

      <div *ngIf="type == 2" class="">
        <div class="card bd-0  shadow-none d-flex justify-content-center" style="border-radius: 4px !important;">
          <table class="table table-hover table-bordered text-center">
            <thead>
              <tr class="active">
                <th style="background:#fff"></th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Basic

                  </div>

                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 104,880 </div>
                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>114,000</del> </div>
                  <div class="tx-16"> Semi Annual </div>

                  <button class="btn btn-outline-primary  mg-t-20" (click)="Subscription('2','basictrial')"> Start
                    Free
                    Trial
                  </button>


                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Premium

                  </div>

                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>524,400</div>
                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>570,000</del> </div>
                  <div class="tx-16"> Semi Annual</div>

                  <button class="btn btn-outline-primary  mg-t-20" (click)="Subscription('3','premiumtrial')">
                    Start Free Trial </button>
                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Enterprise

                  </div>

                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> Negotiable</div>
                  <div style="visibility: hidden !important;" class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>114,000</del> </div>
                  <div class="tx-16"> Semi Annual</div>
                  <a href="http://thankucash.com/business" target="_blank" class="btn btn-outline-primary  mg-t-20">
                    Contact Us </a>
                </th>
                <!-- <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> API REWARDS
                    <span class="cursor-pointer Subs pb-1">
                      <img class="mg-l-5" data-toggle="tooltip" data-placement="bottom"
                        title="Customer rewards are exclusive to only your business "
                        src="../../assets/img/information-circle-outline.svg" height="16" width="16" alt=""></span>
                  </div>
                  <div class="tx-16"> (Online Closed Rewards)</div>

                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>524,400</div>
                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>570,000</del> </div>
                  <div class="tx-16"> Semi Annual</div>
                  <button class="btn btn-outline-primary  mg-t-20" (click)="Subscription('5','closedrewardapitrial')">
                    Start Free Trial </button>
                </th> -->
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td></td>
                <td>$399 Semi Annual</td>
                <td>$699 Semi Annual</td>
                <td>$799 Semi Annual</td>
                <td>$1299 Semi Annual</td>
              </tr> -->

              <tr style="background: #e5e9f2;">
                <td class="p-4">


                  <div class="tx-16">
                    <span>  Charges / Extra Stores</span>
                  </div>

                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="tx-black tx-16 tx-normal mb-0">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    55,200
                  </p>
                  <del>
                    <p class="text-secondary tx-16 tx-normal ">
                      <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      60,000
                    </p>
                  </del>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="tx-black tx-16 tx-normal mb-0">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    276,000
                  </p>
                  <del>
                    <p class="text-secondary tx-16 tx-normal ">
                      <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      300,000
                    </p>
                  </del>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="text-secondary tx-16 tx-normal"> Negotiable </p>
                </td>
                <!-- <td class="p-4 tx-18 tx-medium">100 Customers <p class="text-secondary tx-16 tx-normal">(Extra 100
                    Customers/ <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 300,000)</p>
                </td> -->
              </tr>
              <tr style="background: #f5f6fa;">
                <td colspan="5" class="active p-3"><b>Features Access</b></td>
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Reward Type</td>
                <td class="p-3">Open Reward</td>
                <td class="p-3">Close Reward</td>
                <td class="p-3">Open/Close</td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Loyalty and Sales Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Data & Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Store Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Cash and Cash<br />
                  <span> Transaction Analytics </span>
                </td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <!-- <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Classification</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
              </tr>

              <tr>
                <td class="text-left mg-l-10 tx-medium"> Email to customers</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
              </tr> -->
              <tr>
                <td></td>
                <td class="p-3">
                  <button class="btn btn-outline-primary" (click)="Subscription('2','basictrial')"> Start Free
                    Trial
                  </button>



                </td>
                <td class="p-3"> <button class="btn btn-outline-primary" (click)="Subscription('3','premiumtrial')">
                    Start Free Trial </button>



                </td>
                <td class="p-3"> <a href="http://thankucash.com/business" target="_blank"
                    class="btn btn-outline-primary">
                    Contact Us </a>



                </td>
                <!-- <td class="p-3"> <button class="btn btn-outline-primary"
                    (click)="Subscription('5','closedrewardapitrial')">
                    Start Free Trial </button>



                </td> -->
              </tr>


            </tbody>
          </table>

        </div>

      </div>

      <div *ngIf="type == 3" class="">
        <div class="card bd-0  shadow-none d-flex justify-content-center" style="border-radius: 4px !important;">
          <table class="table table-hover table-bordered text-center">
            <thead>
              <tr class="active">
                <th style="background:#fff"></th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Basic
                  </div>


                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 205,200</div>
                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>228,000</del> </div>
                  <div class="tx-16"> Annual</div>

                  <button class="btn btn-outline-primary  mg-t-20" (click)="Subscription('2','basictrial')"> Start
                    Free
                    Trial
                  </button>


                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Premium

                  </div>
                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 1,026,000</div>
                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>1,140,000</del> </div>
                  <div class="tx-16"> Annual </div>

                  <button class="btn btn-outline-primary  mg-t-20" (click)="Subscription('3','premiumtrial')">
                    Start Free Trial </button>
                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Enterprise

                  </div>

                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> Negotiable</div>
                  <div style="visibility: hidden !important;" class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>228,000</del> </div>
                  <div class="tx-16"> Annual</div>
                  <a href="http://thankucash.com/business" target="_blank" class="btn btn-outline-primary  mg-t-20">
                    Contact Us </a>
                </th>
                <!-- <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> API REWARDS
                    <span class="cursor-pointer Subs pb-1">
                      <img class="mg-l-5" data-toggle="tooltip" data-placement="bottom"
                        title="Customer rewards are exclusive to only your business "
                        src="../../assets/img/information-circle-outline.svg" height="16" width="16" alt=""></span>
                  </div>
                  <div class="tx-16"> (Online Closed Rewards)</div>

                  <div class="tx-indigo tx-20"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 1,140,000</div>
                  <div class="tx-16"> Annual</div>

                  <button class="btn btn-outline-primary  mg-t-20" (click)="Subscription('5','closedrewardapitrial')">
                    Start Free Trial </button>
                </th> -->
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
              <td></td>
              <td>$399 Annual</td>
              <td>$699 Annual</td>
              <td>$799 Annual</td>
              <td>$1299 Annual</td>
            </tr> -->

              <tr style="background: #e5e9f2;">
                <td class="p-4">

                  <div class="tx-16">
                    <span>  Charges / Extra Stores </span>
                  </div>
                  <!-- <div class="tx-18  text-left mg-l-10"> <i
                      class="fas fa-user-friends mg-r-10 text-secondary"></i>Customers </div> -->
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="tx-black tx-16 tx-normal mb-0"><span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    108,000</p>
                  <del>
                    <p class="text-secondary tx-16 tx-normal">
                      <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      120,000
                    </p>
                  </del>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="tx-black tx-16 tx-normal mb-0"><span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    540,000</p>
                  <del>
                    <p class="text-secondary tx-16 tx-normal ">
                      <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      600,000
                    </p>
                  </del>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="text-secondary tx-16 tx-normal">Negotiable</p>
                </td>
                <!-- <td class="p-4 tx-18 tx-medium">100 Customers <p class="text-secondary tx-16 tx-normal">(Extra 100
                    Customers/<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 600,000)</p>
                </td> -->
              </tr>
              <tr style="background: #f5f6fa;">
                <td colspan="5" class="active p-3"><b>Features Access</b></td>
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Reward Type</td>
                <td class="p-3">Open Reward</td>
                <td class="p-3">Close Reward</td>
                <td class="p-3">Open/Close</td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Loyalty and Sales Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Data & Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Store Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Cash and Cash<br />
                  <span> Transaction Analytics </span>
                </td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <!-- <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Classification</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
              </tr>

              <tr>
                <td class="text-left mg-l-10 tx-medium"> Email to customers</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
              </tr> -->
              <tr>
                <td></td>
                <td class="p-3">
                  <button class="btn btn-outline-primary" (click)="Subscription('2','basictrial')"> Start Free
                    Trial
                  </button>



                </td>
                <td class="p-3"> <button class="btn btn-outline-primary" (click)="Subscription('3','premiumtrial')">
                    Start Free Trial </button>



                </td>
                <td class="p-3"> <a href="http://thankucash.com/business" target="_blank"
                    class="btn btn-outline-primary">
                    Contact Us </a>



                </td>
                <!-- <td class="p-3"> <button class="btn btn-outline-primary"
                    (click)="Subscription('5','closedrewardapitrial')">
                    Start Free Trial </button>



                </td> -->
              </tr>


            </tbody>
          </table>

        </div>
      </div>

    </div>




  </div>
</div>