<div class=" h-v d-flex flex justify-content-center align-items-center white " style="  display: block; 
position: fixed;
overflow: hidden;
 top: 10% !important;
 left: 15% !important;">
    <div class="" style="width:100%;">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="mg-t-50"
                    *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com' ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'">
                    <img src="../../../assets/img/interswitch.png" class="w-xmd">
                </div>
                <div class="mg-t-50"
                    *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'sterling.thankucash.com' &&  _HelperService.AppConfig.Host != 'wemarewards.thankucash.com' &&  _HelperService.AppConfig.Host != 'localhost:4200'">
                    <img src="../../../assets/img/logoinverse.png" class="w-xmd">
                </div>
                <div class="mg-t-50"
                    *ngIf="_HelperService.AppConfig.Host == 'localhost:4200' ||  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'">
                    <img src="../../../assets/img/wemalogo.png" class="w-xmd">
                </div>

                <div class="mg-t-50 mg-b-30">
                    <h4 class="_400">Register for your Account</h4>
                    <div class="tx-16"> No Credit card required </div>
                    <div class="mg-t-5"> <span class="text-secondary"> Already have an account? </span> <span
                            class="text-uppercase _600 text-primary">
                            <a class="tx-indido" routerLink="{{_HelperService.AppConfig.Pages.System.Login}}">
                                LOGIN
                            </a>
                        </span></div>
                </div>
                <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                    <div class="form-group"
                        [ngClass]="{'has-error':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                        <label class="block w-100">Enter email address <span class="text-danger"> * </span></label>

                        <input type="text" required maxlength="256" placeholder="Enter email address"
                            class="form-control" name="EmailAddress" autocomplete="off"
                            [formControl]="Form_AddUser.controls['EmailAddress']"
                            [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                        <div>
                            <label class="text-danger text-xs _600" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">{{
                                'System.AddMerchant.EmailAddress_ER_Required' | translate }}</label>

                            <label class="text-danger text-xs _600" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">{{
                                'System.AddMerchant.EmailAddress_ER_Invalid' | translate }}</label>
                        </div>
                    </div>
                    <div class="form-group"
                        [ngClass]="{'has-error':!Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}">
                        <label class="block w-100">Create your password <span class="text-danger"> * </span></label>
                        <div class="row">
                            <div class="col-md-12 pd-r-15">
                                <input *ngIf="!ShowPassword" type="text" placeholder="Enter your password"
                                    maxlength="20" name="Password" autocomplete="off" class="form-control"
                                    [formControl]="Form_AddUser.controls['Password']"
                                    [ngClass]="{ 'is-invalid': !Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}" />

                                <input style="-webkit-text-security: disc;" *ngIf="ShowPassword" type="text"
                                    name="Password" maxlength="20" placeholder="Enter your password" autocomplete="off"
                                    class="form-control" [formControl]="Form_AddUser.controls['Password']"
                                    [ngClass]="{ 'is-invalid': !Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}" />
                            </div>

                            <div class="px-0 input-group-append">
                                <a *ngIf="ShowPassword" (click)="ToogleShowHidePassword()"
                                    class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0"> <i
                                        class="fa fa-eye-slash fa-1x" aria-hidden="true"></i></a>

                                <a *ngIf="!ShowPassword" (click)="ToogleShowHidePassword()"
                                    class="btn  d-flex align-items-center cursor-pointer Showbutton bd-0"> <i
                                        class="fa fa-eye fa-1x" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div>
                            <label class="text-danger text-xs _600" for="Password"
                                *ngIf=" Form_AddUser.controls['Password'].hasError('required') &&  Form_AddUser.controls['Password'].touched">{{
                                "System.Users.Password_ER_Required" | translate }}</label>
                            <label class="text-danger text-xs _600" for="Password"
                                *ngIf="  Form_AddUser.controls['Password'].hasError('pattern') ||   Form_AddUser.controls['Password'].hasError('minlength') ||  Form_AddUser.controls['Password'].hasError('maxlength') ">
                                <div>Password Must be 8 characters or, and above </div>
                                <div>Must contain number and special character</div>
                                <div> Must contain uppercase and lowercase letter </div>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <re-captcha (resolved)="resolved($event)" siteKey="6LeW6rQZAAAAAL5MvjorAMRfyO7iS1p98kyJ4Md8">
                        </re-captcha>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-indigo full-width"
                            [disabled]="!Form_AddUser.valid || Form_AddUser_Processing">
                            <span *ngIf="!Form_AddUser_Processing">
                                Register
                            </span>
                            <span *ngIf="Form_AddUser_Processing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                {{ "Common.PleaseWait" | translate }}...
                            </span>

                        </button>
                        <div class="mt-2 text-xs text-muted">
                            By clicking Register, you agree to our <a class="tx-indido" target="_blank"
                                href="https://thankucash.com/terms"> Terms of service </a> and that You have read our <a
                                class="tx-indido" target="_blank" href="https://thankucash.com/terms"> Privacy
                                Policy</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 hidden-xs pt-5 pl-5 d-flex align-items-center">
                <img src="../../../../assets/images/RegisterLogin.png" class="img-fluid">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>
    </div>
</div>