<aside class="aside aside-fixed">
  <div class="aside-header">
    <div class="dropdown custom-dropdown" *ngIf="_HelperService.DisplayToggleDashboard">

      <div data-toggle="dropdown" id="bentodashboard" (click)="displayDropDown()">
        <svg width="24" height="24" viewBox="0 0 24 24" role="presentation" class="bento-icon">
          <path fill="currentColor" fill-rule="evenodd"
            d="M4 5.01C4 4.451 4.443 4 5.01 4h1.98C7.549 4 8 4.443 8 5.01v1.98C8 7.549 7.557 8 6.99 8H5.01C4.451 8 4 7.557 4 6.99V5.01zm0 6c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98C8 13.549 7.557 14 6.99 14H5.01C4.451 14 4 13.557 4 12.99v-1.98zm6-6c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98C14 7.549 13.557 8 12.99 8h-1.98C10.451 8 10 7.557 10 6.99V5.01zm0 6c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98c0 .558-.443 1.01-1.01 1.01h-1.98c-.558 0-1.01-.443-1.01-1.01v-1.98zm6-6c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98C20 7.549 19.557 8 18.99 8h-1.98C16.451 8 16 7.557 16 6.99V5.01zm0 6c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98c0 .558-.443 1.01-1.01 1.01h-1.98c-.558 0-1.01-.443-1.01-1.01v-1.98zm-12 6c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98C8 19.549 7.557 20 6.99 20H5.01C4.451 20 4 19.557 4 18.99v-1.98zm6 0c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98c0 .558-.443 1.01-1.01 1.01h-1.98c-.558 0-1.01-.443-1.01-1.01v-1.98zm6 0c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98c0 .558-.443 1.01-1.01 1.01h-1.98c-.558 0-1.01-.443-1.01-1.01v-1.98z">
          </path>
        </svg>
      </div>
      <div class="dropdown-menu dropdown-menu-left pd-15 custom-dropdown-menu bg-dark">
<!-- 
        <li class="dropdown-item custom-hover">
          <div class="row cursor-pointer" (click)="MoveToAccountSetting()">
            <div class="col-2 pd-0">
              <div class="card card-icon-menu">
                <img class="m-auto" src="assets/img/user1.png" alt="">
              </div>
            </div>
            <div class="col-10 pd-l-20 pd-r-0 m-auto">
              <div class="tx-white tx-12 tx-medium">Account Settings</div>
              <div class="tx-white tx-10">Manage your account here</div>
            </div>
          </div>
        </li> -->

        <li class="dropdown-item custom-hover">
          <div class="row cursor-pointer" (click)="MoveToMerchantPanel('loyalty')">
            <div class="col-2 pd-0">
              <div class="card card-icon-menu">
                <img class="m-auto" src="assets/img/loyalty1.png" alt="">
              </div>
            </div>
            <div class="col-10 pd-l-20 pd-r-0 m-auto">
              <div class="tx-white tx-12 tx-medium">Loyalty Dashboard
                <img class="mt-n1 ml-1" src="assets/img/arrow.png">
              </div>
              <div class="tx-white tx-10">Click here to access Dashboard</div>
            </div>
          </div>
        </li>

        <li class="dropdown-item custom-hover">
          <div class="row cursor-pointer" (click)="MoveToMerchantPanel('deals')">
            <div class="col-2 pd-0">
              <div class="card card-icon-menu">
                <svg class="m-auto" width="20" height="20" viewBox="0 0 49 43" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3.61241 0.415436L18.5553 1.72277C19.5814 1.81254 20.9663 2.53349 21.6277 3.32163L38.5335 23.4692C38.8522 23.8508 39.0067 24.343 38.9634 24.8382C38.9201 25.3334 38.6824 25.7912 38.3023 26.1116L20.8631 40.7449C20.4816 41.0635 19.9894 41.2181 19.4942 41.1748C18.999 41.1314 18.5411 40.8938 18.2207 40.5137L1.31485 20.3661C0.651255 19.5753 0.184022 18.0889 0.273793 17.0628L1.58113 2.11988C1.62575 1.62501 1.86446 1.16793 2.24509 0.848547C2.62572 0.529161 3.11731 0.373445 3.61241 0.415436ZM11.6444 16.1754C12.1352 16.2182 12.6295 16.1639 13.0993 16.0156C13.5691 15.8673 14.005 15.628 14.3823 15.3112C14.7596 14.9944 15.0708 14.6064 15.2981 14.1694C15.5254 13.7323 15.6644 13.2548 15.7072 12.7641C15.75 12.2733 15.6956 11.7789 15.5474 11.3091C15.3991 10.8394 15.1597 10.4034 14.8429 10.0261C14.5261 9.64888 14.1382 9.3377 13.7011 9.11038C13.2641 8.88306 12.7866 8.74405 12.2958 8.70127C11.3047 8.61489 10.3198 8.92578 9.55789 9.56554C8.79597 10.2053 8.3194 11.1215 8.23301 12.1127C8.14663 13.1038 8.45752 14.0887 9.09728 14.8506C9.73703 15.6125 10.6533 16.0891 11.6444 16.1754Z"
                    fill="#0168FA" />
                  <path
                    d="M44.7213 25.3432L25.4042 2.32197L28.5173 2.59433C29.5434 2.6841 30.9283 3.40505 31.5896 4.19319L48.4955 24.3408C48.8141 24.7223 48.9687 25.2145 48.9253 25.7097C48.882 26.2049 48.6443 26.6628 48.2643 26.9832L30.8251 41.6165C30.4435 41.9351 29.9513 42.0896 29.4561 42.0463C28.9609 42.003 28.5031 41.7653 28.1827 41.3853L27.1145 40.1123L44.719 25.3405L44.7213 25.3432Z"
                    fill="#0168FA" />
                </svg>
              </div>
            </div>
            <div class="col-10 pd-l-20 pd-r-0 m-auto">
              <div class="tx-white tx-12 tx-medium">Deals Dashboard <img class="mt-n1 ml-1" src="assets/img/arrow.png">
              </div>
              <div class="tx-white tx-10">Click here to access Dashboard</div>
            </div>
          </div>
        </li>


        <p class="pd-0 tx-12 tx-medium mt-4 tx-white">Try other products</p>
        <div class="row">
          <div class="col-4 pd-0 dropdown-item cursor-pointer custom-hover" (click)="NavigateCampaigns()">
            <div class="card m-auto card-icon-menu">
              <i class="m-auto fas fa-bullhorn text-primary"></i>
            </div>
            <div class="tx-12 tx-medium text-center tx-white mt-1">Promotions</div>
          </div>

          <div class="col-4 pd-0 dropdown-item cursor-pointer custom-hover">
            <div class="card m-auto card-icon-menu">
              <img class="m-auto" src="assets/img/bnpl.png" alt="">
            </div>
            <div class="tx-12 tx-medium text-center tx-white mt-1">BNPL</div>
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown custom-dropdown" *ngIf="!_HelperService.DisplayToggleDashboard">

      <div data-toggle="dropdown" id="bentodashboard" (click)="displayDropDown()">
        <svg width="24" height="24" viewBox="0 0 24 24" role="presentation" class="bento-icon">
          <path fill="currentColor" fill-rule="evenodd"
            d="M4 5.01C4 4.451 4.443 4 5.01 4h1.98C7.549 4 8 4.443 8 5.01v1.98C8 7.549 7.557 8 6.99 8H5.01C4.451 8 4 7.557 4 6.99V5.01zm0 6c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98C8 13.549 7.557 14 6.99 14H5.01C4.451 14 4 13.557 4 12.99v-1.98zm6-6c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98C14 7.549 13.557 8 12.99 8h-1.98C10.451 8 10 7.557 10 6.99V5.01zm0 6c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98c0 .558-.443 1.01-1.01 1.01h-1.98c-.558 0-1.01-.443-1.01-1.01v-1.98zm6-6c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98C20 7.549 19.557 8 18.99 8h-1.98C16.451 8 16 7.557 16 6.99V5.01zm0 6c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98c0 .558-.443 1.01-1.01 1.01h-1.98c-.558 0-1.01-.443-1.01-1.01v-1.98zm-12 6c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98C8 19.549 7.557 20 6.99 20H5.01C4.451 20 4 19.557 4 18.99v-1.98zm6 0c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98c0 .558-.443 1.01-1.01 1.01h-1.98c-.558 0-1.01-.443-1.01-1.01v-1.98zm6 0c0-.558.443-1.01 1.01-1.01h1.98c.558 0 1.01.443 1.01 1.01v1.98c0 .558-.443 1.01-1.01 1.01h-1.98c-.558 0-1.01-.443-1.01-1.01v-1.98z">
          </path>
        </svg>
      </div>
      <div class="dropdown-menu dropdown-menu-left pd-15 custom-dropdown-menu bg-dark">

        <!-- <li class="dropdown-item custom-hover">
          <div class="row cursor-pointer" (click)="MoveToAccountSetting()">
            <div class="col-2 pd-0">
              <div class="card card-icon-menu">
                <img class="m-auto" src="assets/img/user1.png" alt="">
              </div>
            </div>
            <div class="col-10 pd-l-20 pd-r-0 m-auto">
              <div class="tx-white tx-12 tx-medium">Account Settings</div>
              <div class="tx-white tx-10">Manage your account here</div>
            </div>
          </div>
        </li> -->

        <li class="dropdown-item custom-hover" *ngIf="_HelperService.isDisplayLoyaltyConfig">
          <div class="row cursor-pointer" (click)="MoveToMerchantPanel('loyalty')">
            <div class="col-2 pd-0">
              <div class="card card-icon-menu">
                <img class="m-auto" src="assets/img/loyalty1.png" alt="">
              </div>
            </div>
            <div class="col-10 pd-l-20 pd-r-0 m-auto">
              <div class="tx-white tx-12 tx-medium">Loyalty Dashboard
                <img class="mt-n1 ml-1" src="assets/img/arrow.png">
              </div>
              <div class="tx-white tx-10">Click here to access Dashboard</div>
            </div>
          </div>
        </li>

        <li class="dropdown-item custom-hover" *ngIf="!_HelperService.isDisplayLoyaltyConfig">
          <div class="row cursor-pointer" (click)="MoveToMerchantPanel('deals')">
            <div class="col-2 pd-0">
              <div class="card card-icon-menu">
                <svg class="m-auto" width="20" height="20" viewBox="0 0 49 43" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3.61241 0.415436L18.5553 1.72277C19.5814 1.81254 20.9663 2.53349 21.6277 3.32163L38.5335 23.4692C38.8522 23.8508 39.0067 24.343 38.9634 24.8382C38.9201 25.3334 38.6824 25.7912 38.3023 26.1116L20.8631 40.7449C20.4816 41.0635 19.9894 41.2181 19.4942 41.1748C18.999 41.1314 18.5411 40.8938 18.2207 40.5137L1.31485 20.3661C0.651255 19.5753 0.184022 18.0889 0.273793 17.0628L1.58113 2.11988C1.62575 1.62501 1.86446 1.16793 2.24509 0.848547C2.62572 0.529161 3.11731 0.373445 3.61241 0.415436ZM11.6444 16.1754C12.1352 16.2182 12.6295 16.1639 13.0993 16.0156C13.5691 15.8673 14.005 15.628 14.3823 15.3112C14.7596 14.9944 15.0708 14.6064 15.2981 14.1694C15.5254 13.7323 15.6644 13.2548 15.7072 12.7641C15.75 12.2733 15.6956 11.7789 15.5474 11.3091C15.3991 10.8394 15.1597 10.4034 14.8429 10.0261C14.5261 9.64888 14.1382 9.3377 13.7011 9.11038C13.2641 8.88306 12.7866 8.74405 12.2958 8.70127C11.3047 8.61489 10.3198 8.92578 9.55789 9.56554C8.79597 10.2053 8.3194 11.1215 8.23301 12.1127C8.14663 13.1038 8.45752 14.0887 9.09728 14.8506C9.73703 15.6125 10.6533 16.0891 11.6444 16.1754Z"
                    fill="#0168FA" />
                  <path
                    d="M44.7213 25.3432L25.4042 2.32197L28.5173 2.59433C29.5434 2.6841 30.9283 3.40505 31.5896 4.19319L48.4955 24.3408C48.8141 24.7223 48.9687 25.2145 48.9253 25.7097C48.882 26.2049 48.6443 26.6628 48.2643 26.9832L30.8251 41.6165C30.4435 41.9351 29.9513 42.0896 29.4561 42.0463C28.9609 42.003 28.5031 41.7653 28.1827 41.3853L27.1145 40.1123L44.719 25.3405L44.7213 25.3432Z"
                    fill="#0168FA" />
                </svg>
              </div>
            </div>
            <div class="col-10 pd-l-20 pd-r-0 m-auto">
              <div class="tx-white tx-12 tx-medium">Deals Dashboard <img class="mt-n1 ml-1" src="assets/img/arrow.png">
              </div>
              <div class="tx-white tx-10">Click here to access Dashboard</div>
            </div>
          </div>
        </li>

        <p class="pd-0 tx-12 tx-medium mt-4 tx-white">Try other products</p>
        <div class="row">
          <div class="col-4 pd-0 dropdown-item cursor-pointer custom-hover" (click)="NavigateCampaigns()">
            <div class="card m-auto card-icon-menu">
              <i class="m-auto fas fa-bullhorn text-primary"></i>
            </div>
            <div class="tx-12 tx-medium text-center tx-white mt-1">Promotions</div>
          </div>

          <div class="col-4 pd-0 dropdown-item cursor-pointer custom-hover"
            *ngIf="_HelperService.isDisplayLoyaltyConfig && _HelperService.UserAccount.AccountTypeCode != 'merchantsubaccount'"
            (click)="displayDealsModal()">
            <div class="card m-auto card-icon-menu">
              <svg class="m-auto" width="20" height="20" viewBox="0 0 49 43" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.61241 0.415436L18.5553 1.72277C19.5814 1.81254 20.9663 2.53349 21.6277 3.32163L38.5335 23.4692C38.8522 23.8508 39.0067 24.343 38.9634 24.8382C38.9201 25.3334 38.6824 25.7912 38.3023 26.1116L20.8631 40.7449C20.4816 41.0635 19.9894 41.2181 19.4942 41.1748C18.999 41.1314 18.5411 40.8938 18.2207 40.5137L1.31485 20.3661C0.651255 19.5753 0.184022 18.0889 0.273793 17.0628L1.58113 2.11988C1.62575 1.62501 1.86446 1.16793 2.24509 0.848547C2.62572 0.529161 3.11731 0.373445 3.61241 0.415436ZM11.6444 16.1754C12.1352 16.2182 12.6295 16.1639 13.0993 16.0156C13.5691 15.8673 14.005 15.628 14.3823 15.3112C14.7596 14.9944 15.0708 14.6064 15.2981 14.1694C15.5254 13.7323 15.6644 13.2548 15.7072 12.7641C15.75 12.2733 15.6956 11.7789 15.5474 11.3091C15.3991 10.8394 15.1597 10.4034 14.8429 10.0261C14.5261 9.64888 14.1382 9.3377 13.7011 9.11038C13.2641 8.88306 12.7866 8.74405 12.2958 8.70127C11.3047 8.61489 10.3198 8.92578 9.55789 9.56554C8.79597 10.2053 8.3194 11.1215 8.23301 12.1127C8.14663 13.1038 8.45752 14.0887 9.09728 14.8506C9.73703 15.6125 10.6533 16.0891 11.6444 16.1754Z"
                  fill="#0168FA" />
                <path
                  d="M44.7213 25.3432L25.4042 2.32197L28.5173 2.59433C29.5434 2.6841 30.9283 3.40505 31.5896 4.19319L48.4955 24.3408C48.8141 24.7223 48.9687 25.2145 48.9253 25.7097C48.882 26.2049 48.6443 26.6628 48.2643 26.9832L30.8251 41.6165C30.4435 41.9351 29.9513 42.0896 29.4561 42.0463C28.9609 42.003 28.5031 41.7653 28.1827 41.3853L27.1145 40.1123L44.719 25.3405L44.7213 25.3432Z"
                  fill="#0168FA" />
              </svg>
            </div>
            <div class="tx-12 tx-medium text-center tx-white mt-1">Deals</div>
          </div>

          <div class="col-4 pd-0 dropdown-item cursor-pointer custom-hover"
            *ngIf="!_HelperService.isDisplayLoyaltyConfig && _HelperService.UserAccount.AccountTypeCode != 'merchantsubaccount'" 
            (click)="displayLoyaltyModal()">
            <div class="card m-auto card-icon-menu">
              <img class="m-auto" src="assets/img/loyalty1.png" alt="">
            </div>
            <div class="tx-12 tx-medium text-center tx-white mt-1">Loyalty</div>
          </div>

          <div class="col-4 pd-0 dropdown-item cursor-pointer custom-hover">
            <div class="card m-auto card-icon-menu">
              <img class="m-auto" src="assets/img/bnpl.png" alt="">
            </div>
            <div class="tx-12 tx-medium text-center tx-white mt-1">BNPL</div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="(_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  && 
       _HelperService.AppConfig.Host != 'interswitch.thankucash.com' && _HelperService.AppConfig.Host != 'sterling.thankucash.com' &&
        _HelperService.AppConfig.Host != 'wemarewards.thankucash.com' && _HelperService.AppConfig.Host != 'localhost:4201' &&
        _HelperService.AppConfig.Host != 'accessbankaccount.thankucash.com')">

      <a *ngIf=" _HelperService.CheckMode == 'light'" class="aside-logo nav-link pd-l-10"><img src="../../assets/img/thankucash.svg"
          height="20px" width="128px" alt="." /></a>

      <a *ngIf="_HelperService.CheckMode =='dark'" class="aside-logo nav-link pd-l-10"><img
          src="../../assets/img/thankucash_white.svg" height="20px" width="128px" alt="." /></a>
    </div>
    <a *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'"
     class="aside-logo nav-link pd-l-10"><img
        src="../../../assets/img/interswitch.png" height="50px" width="128px" alt="." /></a>

    <a *ngIf="  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'"  class="aside-logo nav-link pd-l-10"><img
        src="../../../assets/img/wemalogo.png" width="156px" alt="." /></a>

    <a *ngIf="_HelperService.AppConfig.Host == 'localhost:4200'  ||  _HelperService.AppConfig.Host == 'rewards.alat.ng'"
      class="aside-logo nav-link p-0  "><img
        src="../../../assets/img/alatlogo.png" height="36px" width="128px" alt="." /></a>

    <a *ngIf="_HelperService.AppConfig.Host == 'sterling.thankucash.com'"  class="aside-logo nav-link pd-l-10"><img
        src="../../../assets/img/sterlingbanklogo.png" height="30px" width="110px" alt="." /></a>
      
    <a *ngIf="_HelperService.AppConfig.Host == 'accessbankaccount.thankucash.com'"  class="aside-logo nav-link pd-l-10"><img
      src="assets/images/onboarding/Access_Bank_Nigeria.png" height="30px" width="128px" alt="." /></a>
    <a href="" class="aside-menu-link cursor-pointer">
      <i data-feather="menu"></i>
      <i data-feather="x"></i>
    </a>
  </div>

  <div class="aside-body">
    <div class="aside-loggedin">
      <div class="d-flex align-items-center justify-content-start">
        <a class="avatar"><img src="{{ _HelperService.UserAccount.IconUrl }}" class="rounded-circle" alt=""></a>
        <div class="aside-alert-link">
          <!-- <a class="" data-toggle="tooltip" title="You have 0  unread messages"><i
              data-feather="message-square"></i></a>
          <a class="" data-toggle="tooltip" title="You have 0 new notifications"><i data-feather="bell"></i></a> -->
          <a class="cursor-pointer" (click)="ProcessLogout()" data-toggle="tooltip" title="Sign out"><i
              data-feather="log-out"></i></a>
        </div>
      </div>
      <div class="aside-loggedin-user">
        <a href="#loggedinMenu" class="d-flex align-items-center justify-content-between mg-b-2" data-toggle="collapse">
          <h6 class="tx-semibold mg-b-0">{{ _HelperService.UserAccount.DisplayName }}

          </h6>
          <i data-feather="chevron-down" *ngIf="!_HelperService.isAccountSettingActive"></i>
        </a>
        <p class="tx-color-03 tx-12 mg-b-0">Administrator</p>
      </div>
      <div class="collapse" id="loggedinMenu" *ngIf="!_HelperService.isAccountSettingActive">
        <ul class="nav nav-aside mg-b-0">

          <!-- <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{
    _HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Profile
    }}" [routerLinkActive]="['active']" class="nav-link">


              <i data-feather="user-check"></i>
              <span class="">{{"System.Menu.Account" | translate}}</span></a>
          </li> -->
          <li class="nav-item cursor-pointer" [routerLinkActive]="['active']" (click)="MoveToAccountSetting()">
            <a (click)="_HelperService.CloseAllModal()" [routerLinkActive]="['active']" class="nav-link"><i
                data-feather="settings"></i> <span>Account Settings</span></a>
          </li>
          <!-- <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.Subadmins
          }}" [routerLinkActive]="['active']" class="nav-link"><i data-feather="user"></i>
              <span>SubAccounts</span></a></li> -->

          <li class="nav-item cursor-pointer"><a (click)="ProcessLogout()" class="nav-link"><i
                data-feather="log-out"></i> <span>Sign
                Out</span></a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="nav nav-aside mg-b-50" *ngIf="!_HelperService.isAccountSettingActive">
      <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{
    _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant
    }}" [routerLinkActive]="['active']" class="nav-link" (click)="_HelperService.CloseAllModal()"><i
            data-feather="home"></i>
          <span>{{"System.Menu.Dashboard" | translate}}</span></a></li>

      <li class="nav-label mg-t-20" *ngIf="_HelperService.AppConfig.salesanalytics">My Business</li>

      <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-item with-sub" [routerLinkActive]="['active']">
        <a class="nav-link cursor-pointer submenuLabel"><i data-feather="pie-chart"></i> <span>Reports</span></a>
        <ul>


          <li [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.MyBuisness.SalesSummary}}"
              [routerLinkActive]="['active']"> <span>Sales Summary</span></a></li>

          <li [routerLinkActive]="['active']"><a
              routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.MyBuisness.SalesTrends}}"
              [routerLinkActive]="['active']">
              <span>Sales Trends</span></a></li>
        </ul>
      </li>
      <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.TransactionHistory.PurchaseHistory}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="smartphone"></i>
          <span>Transactions</span></a></li>

      <!-- <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-item" [routerLinkActive]="['active']"><a
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.PendingTransaction}}"
            [routerLinkActive]="['active']" class="nav-link"><i data-feather="smartphone"></i>
            <span>Suspicious Transactions</span></a></li> -->

      <li *ngIf="_HelperService.AppConfig.salesanalytics " class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Bank}}" [routerLinkActive]="['active']"
          class="nav-link"><i data-feather="file-text"></i>
          <span>Bank Reconciliation</span></a></li>

      <!-- <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.AccountSettings.Cashiers}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="user"></i>
          <span>Cashier Analysis</span></a></li> -->
      <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.CashierDetails.CashierAnalytics}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="user"></i>
          <span>Cashier Analytics</span></a></li>

      <li class="nav-label mg-t-20">Loyalty</li>

      <li class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Overview}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="codesandbox"></i>
          <span>Overview</span></a></li>

      <li class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Visits}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="eye"></i>
          <span>Visits</span></a></li>

      <li class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Customers}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="users"></i>
          <span>Customers Summary</span></a></li>

      <!-- <li class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Campaign}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="grid"></i>
          <span>Loyalty Campaign</span></a></li> -->

      <li class="nav-item with-sub" [routerLinkActive]="['active']">
        <a class="nav-link cursor-pointer submenuLabel"><i data-feather="gift"></i> <span>Rewards & Redeem</span></a>
        <ul>
          <li class="" [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.RedeemHistory}}"
              [routerLinkActive]="['active']">
              <span>Redeem History</span></a></li>

          <li class="" [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.RewardHistory}}"
              [routerLinkActive]="['active']">
              <span>Reward History</span></a></li>
          <li class="" [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.PendingRewardHistory}}"
              [routerLinkActive]="['active']">
              <span>Pending Reward History</span></a></li>
          <li *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled" class="" [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.RewardClaim}}"
              [routerLinkActive]="['active']">
              <span>Reward Claim History</span></a></li>
        </ul>
      </li>
      <!-- <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-label mg-t-20">Gift Points</li>
      <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.GiftPoints.Dashboard}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="pie-chart"></i>
          <span>Reports</span></a></li>

          <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-item" [routerLinkActive]="['active']"><a
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.GiftPoints.Reward}}"
            [routerLinkActive]="['active']" class="nav-link"><i data-feather="smartphone"></i>
            <span>Transaction & History</span></a></li>
-->
      <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-label mg-t-20">Gift Cards</li>
      <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.GiftCard.Dashboard}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="pie-chart"></i>
          <span>Reports</span></a></li>

      <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.GiftCard.Reward}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="smartphone"></i>
          <span>Transaction & History</span></a></li>
      <li class="nav-label mg-t-20">Campaigns</li>

      <li class="nav-item cursor-pointer" [routerLinkActive]="['active']"><a (click)="NavigateCampaigns()"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="message-square"></i>
          <span style="color: #1B2E4BE6 !important;">SMS Campaigns</span></a></li>

      <li class="nav-label mg-t-20">ThankUCash Deals</li>

      <!-- <li class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.Deals}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="package"></i>
          <span>Deals</span></a></li> -->

      <!-- <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.FlashDeals}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="package"></i>
          <span>Flash Deals</span></a></li> -->
      <li class="nav-item with-sub " [routerLinkActive]="['active']">
        <a class="nav-link cursor-pointer submenuLabel "><i data-feather="tag"></i> <span>Deals</span></a>
        <ul>
          <li [routerLinkActive]="['active']">
            <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.Deals}}"
              [routerLinkActive]="['active']">
              <span>All Deals</span></a>
          </li>

          <li [routerLinkActive]="['active']">
            <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.SoldHistory}}"
              [routerLinkActive]="['active']">
              <span>Sold History</span></a>
          </li>
          <li [routerLinkActive]="['active']">
            <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.RedeemHistory}}"
              [routerLinkActive]="['active']">
              <span>Redeem History</span></a>
          </li>

        </ul>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Deals.DealsOverview}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="pie-chart"></i>
          <span>Overview</span></a></li>

      <!-- <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-label mg-t-20">TUC Mall</li>
      <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Product.Products}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="package"></i>
          <span>Products</span></a></li>

      <li *ngIf="_HelperService.AppConfig.salesanalytics" class="nav-item with-sub" [routerLinkActive]="['active']">
        <a href="" class="nav-link"><i data-feather="truck"></i> <span>Orders</span></a>
        <ul>


          <li [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Product.OngoingOrder}}"
              [routerLinkActive]="['active']">
              <span>Ongoing Orders</span></a></li>
          <li [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Product.Order}}"
              [routerLinkActive]="['active']">
              <span>Order History</span></a></li>


        </ul>
      </li> -->
      <!-- <li class="nav-label mg-t-20">Merchant Customers</li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.Partner.AllCustomers}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="users"></i> <span>Customers</span></a>
      </li> -->
      <!-- <li class="nav-label mg-t-20">Banks</li>

      <li   class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.AddBanks}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="users"></i> <span>Banks</span></a>
      </li> -->

      <!-- <li  data-permission="cashoutsmanager" class="nav-label mg-t-20">CashOuts</li>

      <li data-permission="cashoutsmanager" class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.CashOuts}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="users"></i> <span>CashOuts</span></a>
      </li> -->
      <li class="nav-label mg-t-20">Utilities</li>
      <li class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Downloads}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="download"></i>
          <span>Downloads</span></a></li>
      <li class="nav-item" [routerLinkActive]="['active']"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.FAQCategories}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="help-circle"></i>
          <span>FAQ Categories</span></a></li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.Partner.BulkCustomerUpload}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="download"></i> <span>Bulk Upload
            Customer</span></a>
      </li>


      <!-- <li class="nav-item with-sub" [routerLinkActive]="['active']">
        <a href="" class="nav-link  "><i data-feather="credit-card"></i> <span>Buy Now, Pay later</span></a>
        <ul>
          <li class="" [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.bnpl.BnplOverview}}"
              [routerLinkActive]="['active']">
              <span>Overview</span></a></li>
          <li class="" [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.bnpl.PendingLoans}}"
              [routerLinkActive]="['active']">
              <span>Pending Loans</span></a></li>
          <li class="" [routerLinkActive]="['active']"><a
              routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.bnpl.RedeemedLoans}}"
              [routerLinkActive]="['active']">
              <span>Redeemed Loans</span></a></li>
          <li class="" [routerLinkActive]="['active']">
            <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.bnpl.Settlements}}"
              [routerLinkActive]="['active']">
              <span>Settlements</span></a>
          </li>
        </ul>
      </li> -->
    </ul>

    <ul class="nav nav-aside mg-b-50" *ngIf="_HelperService.isAccountSettingActive">


      <li class="nav-item pnvalid" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
        data-permission="profile">
        <a class="nav-link" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.AccountSetting}}"
          [routerLinkActive]="['active']"><i data-feather="home"></i>
          <span>Profile</span></a>
      </li>

      <li class="nav-label mg-t-20 pnvalid" data-permission="businesssettings">Business Settings</li>

      <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="bsstores">
        <a class="nav-link" routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Settings}}"
          [routerLinkActive]="['active']"><i data-feather="map-pin"></i>
          <span>Stores</span></a>
      </li>
      <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="bspos"
      [ngClass]="{'custom-disable': !_HelperService.IsSubscriptionActive}">
        <a class="nav-link" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.Terminals}}"><i
            data-feather="layers"></i><span>POS</span> </a>
      </li>
      <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="bscashiers"
      [ngClass]="{'custom-disable': !_HelperService.IsSubscriptionActive}">
        <a class="nav-link" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.AccountSettings.Cashiers}}"><i
            data-feather="user-check"></i>
          <span>Cashiers</span></a>
      </li>
      <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="subaccounts"
      [ngClass]="{'custom-disable': !_HelperService.IsSubscriptionActive}">
        <a class="nav-link" [routerLinkActive]="['active']"          
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.SubAccounts}}"
          aria-controls="home" aria-selected="true"><i data-feather="users"></i>
          <span>Sub Accounts</span></a>
      </li>

      <li class="nav-label mg-t-20 pnvalid" data-permission="loyaltyconfiguration">Loyalty Configurations</li>
      <li *ngIf="!_HelperService.IsOpenCloseLoyalty" class="nav-item cursor-pointer pnvalid"
        [routerLinkActive]="['active']" data-permission="lssubscription"
        [ngClass]="{'custom-disable': !_HelperService.IsSubscriptionActive}">
        <a class="nav-link" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.TopUp}}" aria-controls="home"
          aria-selected="true"><i data-feather="check-square"></i>
          <span>Subscriptions</span></a>
      </li>

      <!-- <li *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled == true" class="nav-item cursor-pointer pnvalid"
        [routerLinkActive]="['active']" data-permission="lssubscription">
        <a class="nav-link" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.TopUp}}" aria-controls="home"
          aria-selected="true"><i data-feather="check-square"></i>
          <span>Top-Up</span></a>
      </li> -->
      <li class="nav-item cursor-pointer pnvalid" [routerLinkActive]="['active']" data-permission="rewardpercentage"
      [ngClass]="{'custom-disable': !_HelperService.IsSubscriptionActive}">
        <a class="nav-link" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.AccSettingRewardPercent}}"
          aria-controls="home" aria-selected="true"><i data-feather="gift"></i>
          <span>Reward Percentage</span></a>
      </li>

      <!-- <li class="nav-label mg-t-20">My Wallet & Invoices</li> -->

      <!-- <li data-permission="cashoutsmanager" class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.Cashouts}}"
          aria-controls="home" aria-selected="true"><i data-feather="clipboard"></i>
          <span>Cashouts</span></a>
      </li> -->
      <!-- <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLinkActive]="['active']"
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.PaymentMethod}}"
          aria-controls="home" aria-selected="true"><i data-feather="credit-card"></i>
          <span>Payment Method</span></a>
      </li> -->

      <li class="nav-label mg-t-20 pnvalid" data-permission="appskeys">Setting</li>
      <li class="nav-item pnvalid" [routerLinkActive]="['active']" data-permission="appskeys"
      [ngClass]="{'custom-disable': !_HelperService.IsSubscriptionActive}"><a
          routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Accounts.AppsKeys}}"
          [routerLinkActive]="['active']" class="nav-link"><i data-feather="disc"></i>
          <span>App and Keys</span></a></li>


      <label class="tx-12 nav-label pt-5 pb-3">Active Panels</label>
      <!-- <div class="cursor-pointer" (click)="NavigateToLoyalty()">
        <div class="card card-icon-menu">
          <i class="m-auto" data-feather="users"></i>
        </div>
        <div class="tx-12">Loyalty</div>
      </div> -->
      <div class="row" [hidden]="!_HelperService.DisplayToggleDashboard">
        <div class="col-4 pd-0  cursor-pointer" (click)="NavigateToLoyalty()">
          <div class="card m-auto card-icon-menu setTheme">
            <i class="m-auto" data-feather="users"></i>
          </div>
          <div class="tx-12 ml-3 nav-link">Loyalty</div>
        </div>
        <div class="col-4 pd-0 cursor-pointer" (click)="NavigateToDeals()">
          <div class="card m-auto card-icon-menu setTheme">
            <svg class="m-auto" width="20" height="20" viewBox="0 0 49 43" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.61241 0.415436L18.5553 1.72277C19.5814 1.81254 20.9663 2.53349 21.6277 3.32163L38.5335 23.4692C38.8522 23.8508 39.0067 24.343 38.9634 24.8382C38.9201 25.3334 38.6824 25.7912 38.3023 26.1116L20.8631 40.7449C20.4816 41.0635 19.9894 41.2181 19.4942 41.1748C18.999 41.1314 18.5411 40.8938 18.2207 40.5137L1.31485 20.3661C0.651255 19.5753 0.184022 18.0889 0.273793 17.0628L1.58113 2.11988C1.62575 1.62501 1.86446 1.16793 2.24509 0.848547C2.62572 0.529161 3.11731 0.373445 3.61241 0.415436ZM11.6444 16.1754C12.1352 16.2182 12.6295 16.1639 13.0993 16.0156C13.5691 15.8673 14.005 15.628 14.3823 15.3112C14.7596 14.9944 15.0708 14.6064 15.2981 14.1694C15.5254 13.7323 15.6644 13.2548 15.7072 12.7641C15.75 12.2733 15.6956 11.7789 15.5474 11.3091C15.3991 10.8394 15.1597 10.4034 14.8429 10.0261C14.5261 9.64888 14.1382 9.3377 13.7011 9.11038C13.2641 8.88306 12.7866 8.74405 12.2958 8.70127C11.3047 8.61489 10.3198 8.92578 9.55789 9.56554C8.79597 10.2053 8.3194 11.1215 8.23301 12.1127C8.14663 13.1038 8.45752 14.0887 9.09728 14.8506C9.73703 15.6125 10.6533 16.0891 11.6444 16.1754Z"
                fill="#1b2e4ba6" />
              <path
                d="M44.7213 25.3432L25.4042 2.32197L28.5173 2.59433C29.5434 2.6841 30.9283 3.40505 31.5896 4.19319L48.4955 24.3408C48.8141 24.7223 48.9687 25.2145 48.9253 25.7097C48.882 26.2049 48.6443 26.6628 48.2643 26.9832L30.8251 41.6165C30.4435 41.9351 29.9513 42.0896 29.4561 42.0463C28.9609 42.003 28.5031 41.7653 28.1827 41.3853L27.1145 40.1123L44.719 25.3405L44.7213 25.3432Z"
                fill="#1b2e4ba6" />
            </svg>
          </div>
          <div class="tx-12 ml-20 nav-link">Deals</div>
        </div>
        <div class="col-4 pd-0  cursor-pointer" (click)="NavigateCampaigns()">
          <div class="card m-auto card-icon-menu setTheme">
            <i class="m-auto fas fa-bullhorn icon-grey"></i>
          </div>
          <div class="tx-12 ml-2 nav-link">Promotions</div>
        </div>
      </div>

      <div class="row" [hidden]="_HelperService.DisplayToggleDashboard">
        <div class="col-4 pd-0  cursor-pointer" *ngIf="_HelperService.isDisplayLoyaltyConfig"
          (click)="NavigateToLoyalty()">
          <div class="card m-auto card-icon-menu setTheme">
            <i class="m-auto" data-feather="users"></i>
          </div>
          <div class="tx-12 ml-3 nav-link">Loyalty</div>
        </div>
        <div class="col-4 pd-0 cursor-pointer" *ngIf="!_HelperService.isDisplayLoyaltyConfig"
          (click)="NavigateToDeals()">
          <div class="card m-auto card-icon-menu setTheme">
            <svg class="m-auto" width="20" height="20" viewBox="0 0 49 43" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.61241 0.415436L18.5553 1.72277C19.5814 1.81254 20.9663 2.53349 21.6277 3.32163L38.5335 23.4692C38.8522 23.8508 39.0067 24.343 38.9634 24.8382C38.9201 25.3334 38.6824 25.7912 38.3023 26.1116L20.8631 40.7449C20.4816 41.0635 19.9894 41.2181 19.4942 41.1748C18.999 41.1314 18.5411 40.8938 18.2207 40.5137L1.31485 20.3661C0.651255 19.5753 0.184022 18.0889 0.273793 17.0628L1.58113 2.11988C1.62575 1.62501 1.86446 1.16793 2.24509 0.848547C2.62572 0.529161 3.11731 0.373445 3.61241 0.415436ZM11.6444 16.1754C12.1352 16.2182 12.6295 16.1639 13.0993 16.0156C13.5691 15.8673 14.005 15.628 14.3823 15.3112C14.7596 14.9944 15.0708 14.6064 15.2981 14.1694C15.5254 13.7323 15.6644 13.2548 15.7072 12.7641C15.75 12.2733 15.6956 11.7789 15.5474 11.3091C15.3991 10.8394 15.1597 10.4034 14.8429 10.0261C14.5261 9.64888 14.1382 9.3377 13.7011 9.11038C13.2641 8.88306 12.7866 8.74405 12.2958 8.70127C11.3047 8.61489 10.3198 8.92578 9.55789 9.56554C8.79597 10.2053 8.3194 11.1215 8.23301 12.1127C8.14663 13.1038 8.45752 14.0887 9.09728 14.8506C9.73703 15.6125 10.6533 16.0891 11.6444 16.1754Z"
                fill="#1b2e4ba6" />
              <path
                d="M44.7213 25.3432L25.4042 2.32197L28.5173 2.59433C29.5434 2.6841 30.9283 3.40505 31.5896 4.19319L48.4955 24.3408C48.8141 24.7223 48.9687 25.2145 48.9253 25.7097C48.882 26.2049 48.6443 26.6628 48.2643 26.9832L30.8251 41.6165C30.4435 41.9351 29.9513 42.0896 29.4561 42.0463C28.9609 42.003 28.5031 41.7653 28.1827 41.3853L27.1145 40.1123L44.719 25.3405L44.7213 25.3432Z"
                fill="#1b2e4ba6" />
            </svg>
          </div>
          <div class="tx-12 ml-20 nav-link">Deals</div>
        </div>
        <div class="col-4 pd-0  cursor-pointer" (click)="NavigateCampaigns()">
          <div class="card m-auto card-icon-menu setTheme">
            <i class="m-auto fas fa-bullhorn icon-grey"></i>
          </div>
          <div class="tx-12 ml-2 nav-link">Promotions</div>
        </div>
      </div>


      <hr />
      <!-- <label class="tx-12 tx-color-03">Explore our products</label>
      <div class="row">
        <div class="col-4 pd-0 cursor-pointer" (click)="NavigateToDeals()">
          <div class="card m-auto card-icon-menu">
            <svg class="m-auto" width="20" height="20" viewBox="0 0 49 43" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.61241 0.415436L18.5553 1.72277C19.5814 1.81254 20.9663 2.53349 21.6277 3.32163L38.5335 23.4692C38.8522 23.8508 39.0067 24.343 38.9634 24.8382C38.9201 25.3334 38.6824 25.7912 38.3023 26.1116L20.8631 40.7449C20.4816 41.0635 19.9894 41.2181 19.4942 41.1748C18.999 41.1314 18.5411 40.8938 18.2207 40.5137L1.31485 20.3661C0.651255 19.5753 0.184022 18.0889 0.273793 17.0628L1.58113 2.11988C1.62575 1.62501 1.86446 1.16793 2.24509 0.848547C2.62572 0.529161 3.11731 0.373445 3.61241 0.415436ZM11.6444 16.1754C12.1352 16.2182 12.6295 16.1639 13.0993 16.0156C13.5691 15.8673 14.005 15.628 14.3823 15.3112C14.7596 14.9944 15.0708 14.6064 15.2981 14.1694C15.5254 13.7323 15.6644 13.2548 15.7072 12.7641C15.75 12.2733 15.6956 11.7789 15.5474 11.3091C15.3991 10.8394 15.1597 10.4034 14.8429 10.0261C14.5261 9.64888 14.1382 9.3377 13.7011 9.11038C13.2641 8.88306 12.7866 8.74405 12.2958 8.70127C11.3047 8.61489 10.3198 8.92578 9.55789 9.56554C8.79597 10.2053 8.3194 11.1215 8.23301 12.1127C8.14663 13.1038 8.45752 14.0887 9.09728 14.8506C9.73703 15.6125 10.6533 16.0891 11.6444 16.1754Z"
                fill="#1b2e4ba6" />
              <path
                d="M44.7213 25.3432L25.4042 2.32197L28.5173 2.59433C29.5434 2.6841 30.9283 3.40505 31.5896 4.19319L48.4955 24.3408C48.8141 24.7223 48.9687 25.2145 48.9253 25.7097C48.882 26.2049 48.6443 26.6628 48.2643 26.9832L30.8251 41.6165C30.4435 41.9351 29.9513 42.0896 29.4561 42.0463C28.9609 42.003 28.5031 41.7653 28.1827 41.3853L27.1145 40.1123L44.719 25.3405L44.7213 25.3432Z"
                fill="#1b2e4ba6" />
            </svg>
          </div>
          <div class="tx-12 text-center">Deals</div>
        </div>
        <div class="col-4 pd-0  cursor-pointer" (click)="NavigateCampaigns()">
          <div class="card m-auto card-icon-menu">
            <i class="m-auto fas fa-bullhorn icon-grey"></i>
          </div>
          <div class="tx-12 text-center">Promotions</div>
        </div>
      </div> -->

    </ul>
  </div>

  <span class="aside-header d-flex justify-content-center bd-t w-100 text-center"
    style="position: fixed; bottom:0%; margin-top: -2.5em ;">
    <div class="mg-r-20 pd-b-10">


      <a class="aside-logo tx-10 tx-spacing-3 p-0 m-0" target="_blank" href="http://connectedanalytics.xyz/"> <span
          class="tx-10 tx-color-03 text-uppercase" style="font-size: 10px !important;"> Powered by </span> <br> <span
          class="tx-18 pd-b-20"> <img src="../../assets/images/connected-analytics.svg" height="25" width="135" alt="">
        </span></a>


    </div>
  </span>

</aside>

<div class="content ht-100v pd-0">
  <div class="content-header d-flex justify-content-between">
    <div>

      <a class="cursor-pointer" (click)="_HelperService.NavigateBack()">
        <i data-feather="arrow-left-circle"></i>
      </a>
      <span class="text-uppercase ml-3">
        {{ _HelperService.AppConfig.ActivePageName }}</span>
    </div>
    <!-- 
    <div class="dropdown custom-dropdown mg-r-50" style="float:right !important"
      *ngIf="_HelperService.isAccountSettingActive">
      <i data-feather="grid" class="dropdown-toggle" data-toggle="dropdown"></i>
      <div class="dropdown-menu dropdown-menu-right pd-15 custom-dropdown-menu">
        <li class="dropdown-item">
          <div class="row cursor-pointer" (click)="MoveToAccountSetting()">
            <div class="col-2 pd-0">
              <div class="card card-icon-menu">
                <i class="m-auto" data-feather="user"></i>
              </div>
            </div>
            <div class="col-10 pd-l-20 pd-r-0 m-auto">
              <div class="tx-color-02 tx-12 tx-semibold">Account Settingss</div>
              <div class="tx-color-03 tx-10 tx-medium">Manage your account here</div>
            </div>
          </div>
        </li>
        <li class="dropdown-item">
          <div class="row cursor-pointer" (click)="NavigateLoyalty()">
            <div class="col-2 pd-0">
              <div class="card card-icon-menu">
                <i class="m-auto" data-feather="command"></i>
              </div>
            </div>
            <div class="col-10 pd-l-20 pd-r-0 m-auto">
              <div class="tx-color-02 tx-12 tx-semibold">Loyalty Dashboard</div>
              <div class="tx-color-03 tx-10 tx-medium">Click here to access Dashboard</div>
            </div>
          </div>
        </li>
        <p class="pd-0 tx-12 tx-semibold mt-4 tx-color-menu">Try other products</p>
        <div class="row">
          <div class="col-4 pd-0 dropdown-item cursor-pointer" (click)="NavigateLoyalty()">
            <div class="card m-auto card-icon-menu">
              <i class="m-auto" data-feather="tag"></i>
            </div>
            <div class="tx-12 tx-semibold text-center tx-color-menu">Deals</div>
          </div>
          <div class="col-4 pd-0 dropdown-item cursor-pointer" (click)="NavigateCampaigns()">
            <div class="card m-auto card-icon-menu">
              <i class="m-auto fas fa-bullhorn"></i>
            </div>
            <div class="tx-12 tx-semibold text-center tx-color-menu">Promotions</div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="text-danger"
      *ngIf="(this._HelperService.UserAccount.SystemSubscription.DaysLeft < 7 ||  this._HelperService.UserAccount.SystemSubscription.DaysLeft == 7) && this._HelperService.UserAccount.SystemSubscription.DaysLeft != 0">
      <span class="bg-danger text-white pd-10"> Trial expires in
        {{this._HelperService.UserAccount.SystemSubscription.DaysLeft || "--"}} days </span> <a
        class="mg-l-15 text-primary cursor-pointer" (click)="Upgrade()"> <u>Upgrade Plan<i data-feather="chevron-right">
          </i> </u> </a>


    </div> -->

    <!-- <div class="text-danger"
    *ngIf="this._HelperService.UserAccount.SystemSubscription.DaysLeft == 0 ">
    <span class="bg-danger text-white pd-10"> Your 7 days trial expiring today </span> <a
      class="mg-l-15 text-primary cursor-pointer" (click)="Upgrade()"> <u>Upgrade Your Plan<i data-feather="chevron-right">
        </i> </u> </a>


  </div> -->

    <!-- <div class="Cinput-group" style="float:right !important"
      *ngIf="((this._HelperService.UserAccount.SystemSubscription.DaysLeft < 7 ||  this._HelperService.UserAccount.SystemSubscription.DaysLeft == 7) && this._HelperService.UserAccount.SystemSubscription.DaysLeft != 0 && this._HelperService.UserAccount.SystemSubscription.Amount==0) && !_HelperService.IsOpenCloseLoyalty">
      <span class="  text-danger pd-y-10 pd-x-15 bd tx-medium"
        style="border-bottom-left-radius: 5px!important; border-top-left-radius: 5px!important; border-right: 0px !important; background-color: #FCEBED !important; ">
        Your 7 days trial will expire in next
        {{this._HelperService.UserAccount.SystemSubscription.DaysLeft || "--"}} - days </span>
      <div class="input-group-prepend">
        <a style=" background-color: white !important; border-bottom-right-radius: 5px !important; border-top-right-radius: 5px !important; border-bottom-left-radius: 0px!important; border-top-left-radius: 0px!important;"
          (click)="Upgrade()" class="input-group-text text-primary cursor-pointer">Upgrade Plan</a>
      </div>
    </div>

    <div class="Cinput-group" style="float:right !important"
      *ngIf="(this._HelperService.UserAccount.SystemSubscription.DaysLeft == 0 && this._HelperService.UserAccount.SystemSubscription.Amount==0) && !_HelperService.IsOpenCloseLoyalty && _HelperService.UserAccount.SystemSubscription.IsSubscriptionActive">
      <span class="  text-danger pd-y-10 pd-x-15 bd tx-medium"
        style="border-bottom-left-radius: 5px!important; border-top-left-radius: 5px!important; border-right: 0px !important; background-color: #FCEBED !important; ">
        Your 7 days trial expiring today </span>
      <div class="input-group-prepend">
        <a style=" background-color: white !important; border-bottom-right-radius: 5px !important; border-top-right-radius: 5px !important; border-bottom-left-radius: 0px!important; border-top-left-radius: 0px!important;"
          (click)="Upgrade()" class="input-group-text text-primary cursor-pointer">Upgrade Plan</a>
      </div>
    </div> -->

    <!-- shreya added -->
    <div class="Cinput-group" style="float:right !important"
      *ngIf="this._HelperService.UserAccount.SystemSubscription.DaysLeft <= 7 && this._HelperService.UserAccount.SystemSubscription.DaysLeft > 0 && this._HelperService.UserAccount.SystemSubscription.DaysLeft != 0 && this._HelperService.UserAccount.SystemSubscription.Amount!=0">
      <span class="  text-danger pd-y-10 pd-x-15 bd tx-medium"
        style="border-bottom-left-radius: 5px!important; border-top-left-radius: 5px!important; border-right: 0px !important; background-color: #FCEBED !important; ">
        Your Subscription will expire in next
        {{this._HelperService.UserAccount.SystemSubscription.DaysLeft || "--"}} - days </span>
      <div class="input-group-prepend" *ngIf="!_HelperService.IsOpenCloseLoyalty && _HelperService.UserAccount.AccountTypeCode != 'merchantsubaccount'">
        <a style=" background-color: white !important; border-bottom-right-radius: 5px !important; border-top-right-radius: 5px !important; border-bottom-left-radius: 0px!important; border-top-left-radius: 0px!important;"
          (click)="Upgrade()" class="input-group-text text-primary cursor-pointer">Upgrade Plan</a>
      </div>
    </div>

    <div class="Cinput-group" style="float:right !important"
      *ngIf="this._HelperService.UserAccount.SystemSubscription.DaysLeft == 0 && this._HelperService.UserAccount.SystemSubscription.Amount!=0">
      <span class="  text-danger pd-y-10 pd-x-15 bd tx-medium"
        style="border-bottom-left-radius: 5px!important; border-top-left-radius: 5px!important; border-right: 0px !important; background-color: #FCEBED !important; ">
        Your Subscription expiring today </span>
      <div class="input-group-prepend" *ngIf="!_HelperService.IsOpenCloseLoyalty && _HelperService.UserAccount.AccountTypeCode != 'merchantsubaccount'">
        <a style=" background-color: white !important; border-bottom-right-radius: 5px !important; border-top-right-radius: 5px !important; border-bottom-left-radius: 0px!important; border-top-left-radius: 0px!important;"
          (click)="Upgrade()" class="input-group-text text-primary cursor-pointer">Upgrade Plan</a>
      </div>
    </div>

    <div class="Cinput-group" style="float:right !important"
      *ngIf="this._HelperService.UserAccount.SystemSubscription.DaysLeft < 0 && this._HelperService.UserAccount.SystemSubscription.Amount!=0 && !_HelperService.UserAccount.SystemSubscription.IsSubscriptionActive">
      <span class="  text-danger pd-y-10 pd-x-15 bd tx-medium"
        style="border-bottom-left-radius: 5px!important; border-top-left-radius: 5px!important; border-right: 0px !important; background-color: #FCEBED !important; ">
        Your Subscription has expired </span>
      <div class="input-group-prepend" *ngIf="!_HelperService.IsOpenCloseLoyalty && _HelperService.UserAccount.AccountTypeCode != 'merchantsubaccount'">
        <a style=" background-color: white !important; border-bottom-right-radius: 5px !important; border-top-right-radius: 5px !important; border-bottom-left-radius: 0px!important; border-top-left-radius: 0px!important;"
          (click)="Upgrade()" class="input-group-text text-primary cursor-pointer">Upgrade Plan</a>
      </div>
    </div>

    <!-- end shreya added -->


  </div>
  <!-- <div class="alert d-flex justify-content-between text-white align-items-center pd-y-5" style="background-color: #00000081 !important; border-radius: 0;" role="alert">
    <div>
     Your Subscription Plan will expire on 19 June, 2021, to get continuous service please make payment
    </div>
    <div>
      <button class="btn" style="border-color: white !important; color: white;">   Pay Now </button>
    </div>
   </div> -->
  <div [className]="_HelperService.FullContainer ? '' : 'content-body skin'">

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="df-settings">
  <a id="dfSettingsShow" href="" class="df-settings-link"><i data-feather="settings"></i></a>
  <div class="df-settings-body">
    <div class="pd-y-20">
      <h3 class="tx-bold tx-spacing--2 tx-brand-02 mg-b-0"><img src="../../assets/img/thankucash.svg" alt=""></h3>
      <span class="tx-sans tx-9 tx-uppercase tx-semibold tx-spacing-1 tx-color-03"> Skin Customizer</span>
      <div class="tx-sans tx-9 tx-uppercase tx-semibold tx-spacing-1 tx-color-03"> 0.0.3.6 </div>
    </div>

    <div class="pd-y-20 bd-t">
      <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Skin Mode</label>
      <div class="row row-xs">
        <div class="col-4">
          <a href="" class="df-mode df-mode-default " data-title="classic"></a>
          <span class="df-skin-name">Classic</span>
        </div>
        <div class="col-4">
          <a href="" class="df-mode df-mode-light active" data-title="light">
            <span class="bg-ui-01"></span>
            <span class="bg-ui-02"></span>
          </a>
          <span class="df-skin-name">Light</span>
        </div>
        <div class="col-4">
          <a href="" class="df-mode df-mode-cold" data-title="cool">
            <span class="bg-primary op-1"></span>
            <span class="bg-primary op-2"></span>
          </a>
          <span class="df-skin-name">Cool</span>
        </div>
        <div class="col-4 mg-t-15">
          <a href="" class="df-mode df-mode-dark" data-title="dark">
            <span class="bg-gray-700"></span>
            <span class="bg-gray-900"></span>
          </a>
          <span class="df-skin-name tx-nowrap">Dark</span>
        </div>
      </div><!-- row -->
    </div>

    <div class="pd-y-20 bd-t">
      <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Navigation Skin</label>
      <div class="row row-xs">
        <div class="col-4">
          <a href="" class="df-skin df-skin-default active" data-title="default"></a>
          <span class="df-skin-name">Default</span>
        </div>
        <div class="col-4">
          <a href="" class="df-skin df-skin-deepblue" data-title="deepblue">
            <span></span>
            <span></span>
          </a>
          <span class="df-skin-name">Deep Blue</span>
        </div>
        <div class="col-4">
          <a href="" class="df-skin df-skin-charcoal" data-title="charcoal">
            <span></span>
            <span></span>
          </a>
          <span class="df-skin-name">Charcoal</span>
        </div>
        <div class="col-4 mg-t-15">
          <a href="" class="df-skin df-skin-gradient1" data-title="gradient1">
            <span></span>
            <span></span>
          </a>
          <span class="df-skin-name">Gradient 1</span>
        </div>
      </div><!-- row -->
    </div>

    <div class="pd-y-20 bd-t">
      <label class="tx-sans tx-10 tx-uppercase tx-bold tx-spacing-1 tx-color-02 mg-b-15">Font Family Base</label>
      <div class="row row-xs">
        <div class="col-7">
          <a href="" id="setFontBase" class="btn btn-xs btn-outline-secondary ">IBM Plex Sans</a>
        </div><!-- col -->
        <div class="col-5">
          <a href="" id="setFontRoboto" class="btn btn-xs btn-outline-secondary active">Roboto</a>
        </div><!-- col -->
      </div><!-- row -->
    </div>
  </div><!-- df-settings-body -->
</div><!-- df-settings -->

<div class="modal fade loyaltyModal" data-backdrop="static" data-keyboard="false" id="modal" role="dialog"
  aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-size" role="document">
    <div class="modal-content">
      <div class="modal-header bd-b-0">
        <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-5  d-flex justify-content-center">
          <div class="circle-border">
            <svg class="m-3" width="80" height="80" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M25.9999 23.834C28.8731 23.834 31.6286 24.9754 33.6602 27.007C35.6919 29.0386 36.8332 31.7941 36.8332 34.6673V47.6673H15.1666V34.6673C15.1666 31.7941 16.308 29.0386 18.3396 27.007C20.3712 24.9754 23.1267 23.834 25.9999 23.834ZM11.4573 30.347C11.1124 31.51 10.9088 32.7103 10.8506 33.922L10.8333 34.6673V47.6673H4.33325V37.9173C4.33283 36.0487 5.02231 34.2458 6.26946 32.8543C7.51661 31.4628 9.2336 30.5807 11.0911 30.3773L11.4594 30.347H11.4573ZM40.5426 30.347C42.4707 30.4645 44.2814 31.3132 45.6052 32.72C46.929 34.1268 47.6663 35.9856 47.6666 37.9173V47.6673H41.1666V34.6673C41.1666 33.1658 40.9499 31.7163 40.5426 30.347ZM11.9166 17.334C13.3532 17.334 14.7309 17.9047 15.7467 18.9205C16.7626 19.9363 17.3333 21.3141 17.3333 22.7507C17.3333 24.1872 16.7626 25.565 15.7467 26.5808C14.7309 27.5966 13.3532 28.1673 11.9166 28.1673C10.48 28.1673 9.10225 27.5966 8.08642 26.5808C7.0706 25.565 6.49992 24.1872 6.49992 22.7507C6.49992 21.3141 7.0706 19.9363 8.08642 18.9205C9.10225 17.9047 10.48 17.334 11.9166 17.334ZM40.0832 17.334C41.5198 17.334 42.8976 17.9047 43.9134 18.9205C44.9292 19.9363 45.4999 21.3141 45.4999 22.7507C45.4999 24.1872 44.9292 25.565 43.9134 26.5808C42.8976 27.5966 41.5198 28.1673 40.0832 28.1673C38.6467 28.1673 37.2689 27.5966 36.2531 26.5808C35.2373 25.565 34.6666 24.1872 34.6666 22.7507C34.6666 21.3141 35.2373 19.9363 36.2531 18.9205C37.2689 17.9047 38.6467 17.334 40.0832 17.334ZM25.9999 4.33398C28.2985 4.33398 30.5029 5.24708 32.1282 6.87239C33.7535 8.49771 34.6666 10.7021 34.6666 13.0007C34.6666 15.2992 33.7535 17.5036 32.1282 19.1289C30.5029 20.7542 28.2985 21.6673 25.9999 21.6673C23.7014 21.6673 21.497 20.7542 19.8717 19.1289C18.2463 17.5036 17.3333 15.2992 17.3333 13.0007C17.3333 10.7021 18.2463 8.49771 19.8717 6.87239C21.497 5.24708 23.7014 4.33398 25.9999 4.33398Z"
                fill="#5A6780" />
            </svg>
          </div>
        </div>
        <h3 class="d-flex justify-content-center">Become a ThankUCash Loyalty Merchant</h3>
        <div class="mt-2 fw-400 mx-5" style="color: #566378;">
          <div class="d-flex justify-content-center line-22">Give your customers a reason to stay loyal and become
            your
            brand</div>
          <div class="d-flex justify-content-center line-22">ambassandors while growing your business using our reward
            system.Show </div>
          <div class="d-flex justify-content-center line-22"> appreciation, draw customers closer, and increase
            patronage.</div>
        </div>
        <div class="d-flex justify-content-center line-22 mt-4 mb-5" style="color: #566378;">Need more information?
          Read
          our article on <a class="text-primary cursor-pointer" href="https://thankucash.com/business.html"
            target="_blank">&nbsp;<u>ThankUCash Merchants</u></a> </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">
          <span class="fw-500 tx-12 line-14">Cancel </span>
        </button>
        <button class="btn btn-primary" (click)="AddLoyaltyAccountType()">
          <span class="fw-500 tx-12 line-14">Continue </span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade dealsModal" data-backdrop="static" data-keyboard="false" id="modal" role="dialog"
  aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-size" role="document">
    <div class="modal-content">
      <div class="modal-header bd-b-0">
        <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-5 d-flex justify-content-center">
          <div class="circle-border">
            <svg class="m-4" width="70" height="70" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.61241 0.415436L18.5553 1.72277C19.5814 1.81254 20.9663 2.53349 21.6277 3.32163L38.5335 23.4692C38.8522 23.8508 39.0067 24.343 38.9634 24.8382C38.9201 25.3334 38.6824 25.7912 38.3023 26.1116L20.8631 40.7449C20.4816 41.0635 19.9894 41.2181 19.4942 41.1748C18.999 41.1314 18.5411 40.8938 18.2207 40.5137L1.31485 20.3661C0.651255 19.5753 0.184022 18.0889 0.273793 17.0628L1.58113 2.11988C1.62575 1.62501 1.86446 1.16793 2.24509 0.848547C2.62572 0.529161 3.11731 0.373445 3.61241 0.415436ZM11.6444 16.1754C12.1352 16.2182 12.6295 16.1639 13.0993 16.0156C13.5691 15.8673 14.005 15.628 14.3823 15.3112C14.7596 14.9944 15.0708 14.6064 15.2981 14.1694C15.5254 13.7323 15.6644 13.2548 15.7072 12.7641C15.75 12.2733 15.6956 11.7789 15.5474 11.3091C15.3991 10.8394 15.1597 10.4034 14.8429 10.0261C14.5261 9.64888 14.1382 9.3377 13.7011 9.11038C13.2641 8.88306 12.7866 8.74405 12.2958 8.70127C11.3047 8.61489 10.3198 8.92578 9.55789 9.56554C8.79597 10.2053 8.3194 11.1215 8.23301 12.1127C8.14663 13.1038 8.45752 14.0887 9.09728 14.8506C9.73703 15.6125 10.6533 16.0891 11.6444 16.1754Z"
                fill="#5A6780" />
              <path
                d="M44.7213 25.3432L25.4042 2.32197L28.5173 2.59433C29.5434 2.6841 30.9283 3.40505 31.5896 4.19319L48.4955 24.3408C48.8141 24.7223 48.9687 25.2145 48.9253 25.7097C48.882 26.2049 48.6443 26.6628 48.2643 26.9832L30.8251 41.6165C30.4435 41.9351 29.9513 42.0896 29.4561 42.0463C28.9609 42.003 28.5031 41.7653 28.1827 41.3853L27.1145 40.1123L44.719 25.3405L44.7213 25.3432Z"
                fill="#5A6780" />
            </svg>
          </div>
        </div>
        <h3 class="d-flex justify-content-center">Become a ThankUCash Deals Merchant</h3>
        <div class="mt-2 fw-400 mx-4" style="color: #566378;">
          <div class="d-flex justify-content-center line-22">Display your unique services or products to a wide
            variety
            of new customers and</div>
          <div class="d-flex justify-content-center line-22">build loyalty to your brand. Upload deals, get marketing
            and make sales across </div>
          <div class="d-flex justify-content-center line-22">ThankUCash platforms.</div>
        </div>
        <div class="d-flex justify-content-center line-22 mt-4 mb-5" style="color: #566378;">Need more information?
          Read
          our article on <a class="text-primary cursor-pointer" href="https://thankucash.com/business.html"
            target="_blank">&nbsp;<u>ThankUCash Merchants</u></a></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">
          <span class="fw-500 tx-12 line-14">Cancel </span>
        </button>
        <button class="btn btn-primary" (click)="AddDealsAccountType()">
          <span class="fw-500 tx-12 line-14">Continue </span>
        </button>
      </div>
    </div>
  </div>
</div>