
<div class=" h-v d-flex flex  auth-container" id="auth-container">
    <div class="m-4 cursor-pointer back-arrow" (click)="goBack()">
        <img src="../../../../assets/images/onboarding/Arrow 1.png" width="30">
    </div>
    <div class="auth-item">
        <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
            <div class="auth-item-title">
                <img src="../../../../assets/images/onboarding/tucformerchant.png" width="120">
            </div>
            <div class="text-center text-center mt-3 mb-5">
                <img src="../../../../assets/images/onboarding/mail.png" width="200">
            </div>
            <div class="text-center tx-14 mb-2">
                Verify Your Phone Number
            </div>
            <div class="text-center tx-12 mb-5 text-muted">
                Please verify your phone number with the verification code sent to {{activeRegistration.mobileNumber}}
            </div>
            <div class="form-group text-center">
                <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:4}">
                </ng-otp-input>
                <div>
                    <div class="text-danger tx-12  _600" for="otp"
                        *ngIf="Form_AddUser.controls['otp'].hasError('otp') && Form_AddUser.controls['otp'].touched">
                        Enter otp received on your mobile number</div>

                    <div class="text-danger tx-12 _600" for="otp"
                        *ngIf="Form_AddUser.controls['otp'].hasError('minlength') || Form_AddUser.controls['otp'].hasError('maxlength')">
                        Enter 4 digit code</div>
                </div>
            </div>
            <div class="mt-2 mb-2 text-center  tx-12  text-muted">
                Didn’t receive a message? <a class="text-primary cursor-pointer" (click)="ResendCode()">Click Here to
                    Resend Code</a>
            </div>
            <button type="submit" class="btn btn-custom btn-block mt-4"
                [hidden]="Form_AddUser.invalid">Continue</button>
        </form>
        <button class="btn btn-outline-light btn-custom-light cursor-pointer btn-block mt-4"
            [hidden]="Form_AddUser.valid" (click) = "chnageMobile()">Use Another Phone Number</button>

    </div>
    <div class="auth-container-footer">
        <div id="conent" class="auth-container-footer-item">
            <p class="in-left" style="letter-spacing: 1px;"><span style="color:#ffc141">Grow</span> your <span
                    style="color:#ffc141">business</span> with <br />ease and confidence<br /> from anywhere</p>
        </div>
    </div>
</div>