.cardstyle{
    width: 325px;
    padding: 3%;
     margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    background: #ff00000d;
    border-radius: 3px !important;
    box-shadow: 0px 0px 5px -4px black;
}

.imgclass{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    height:70px;
    width: 70px;
}