<!-- <div class="card-header col-lg-12 col-sm-12 col-md-12 col-xs-12 bg-white pd-y-25">
      <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com' ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'"><img
              src="../../../assets/img/interswitch.png" class="w-xmd">
      </div>
      <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com' &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'wemarewards.thankucash.com' &&  _HelperService.AppConfig.Host != 'localhost:4201'"><img
              src="../../../assets/img/logoinverse.png" class="w-xmd">
      </div>
      <div class="pd-l-80" *ngIf="_HelperService.AppConfig.Host == 'localhost:4200' ||  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'"><img
          src="../../../assets/img/wemalogo.png" class="w-xmd">
  </div>
  </div> -->

<div class="card row bd-0 d-flex justify-content-center text-center" style=" height: 100vh !important;">
<div>
    <div 
    class="text-center  text-muted col-md-12  d-flex align-items-center justify-content-center">
    <div class="spinner-border"></div>

  </div>
  <div class="tx-14 mg-t-30"> Just a moment! We are verifying your email address.. </div>
</div>
   

</div>