.auth-container {
  height: 100vh;
  width: 100%;
  background-image: url('../images/onboarding/backgroundImg1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-custom:disabled{
  background-color: #30419f;
  color:white;
  opacity: 0.8!important
}
.btn-custom{
  background-color: #30419f;
  color:white;
}

.btn-custom-light{
  color: #7987a1 !important;
}
.auth-container-footer {
  background: linear-gradient(97.58deg, rgba(103, 106, 121, 0.3) 0%, rgba(103, 106, 121, 0.2) 100%);
  width: 100%;
  padding-left: 4%;
  padding-right: 14%;
  position: absolute;
  bottom: 25%;
  padding-top: 2%;
  padding-bottom: 2%;
  right: 10%
}

.auth-container-footer-item {
  width: 44%;
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  margin-left:10%
}

.auth-item {
  width: 480px;
  background: #fff;
  z-index: 1;
  /* border-radius: 15px; */
  position: fixed;
  /* min-height: calc(100% - 15%); */
  right: 0;
  min-height: 76%;
  margin : 3% 10% 5% 0
}




::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}


/* Large desktops and laptops */
@media (min-width: 1300px) {
  .auth-container-footer {
    display: block;
  }

  .auth-item {
    width: 500px;
    background: #fff;
    z-index: 1;
    border-radius: 5px;
    position: fixed;
    /* min-height: calc(100% - 15%); */
    right: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1299px) {
  .auth-item {
    width: 440px;
    background: #fff;
    z-index: 1;
    border-radius: 5px;
    position: fixed;
    /* min-height: calc(100% - 15%); */
    right: 0;
    left: auto;
  }

  .auth-container-footer-item {
    width: 50%;
    font-size: 35px;
    color: #fff;
    font-weight: 700;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 1024px) and (max-width: 1199px) {
  .auth-item {
    width: 440px;
    background: #fff;
    z-index: 1;
    border-radius: 5px;
    position: fixed;
    /* min-height: calc(100% - 15%); */
    right: 0;
    left: auto;
  }

  .auth-container-footer-item {
    width: 50%;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1023px) {
  .auth-item {
    width: 480px;
    background: #fff;
    z-index: 1;
    border-radius: 5px;
    position: fixed;
    /* min-height: calc(100% - 15%); */

    right: auto;
    left: 50%;
    /* top: 3%; */
  }

  .auth-container-footer-item {
    width: 44%;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 920px) and (max-width: 991px) {
  .auth-container-footer-item {
    width: 44%;
    font-size: 27px;
    color: #fff;
    font-weight: 700;
  }

  .auth-item {
    /* width: calc(100% - 10%); */
    background: #fff;
    z-index: 1;
    border-radius: 5px;
    position: fixed;
    /* min-height: calc(100% - 10%); */
    right: auto;
    left: 45%;
    /* top: 5%; */
  }
}

@media (min-width: 768px) and (max-width: 919px) {
  .auth-container-footer {
    display: none;
  }

  .auth-item {
    /* width: calc(100% - 10%); */
    background: #fff;
    z-index: 1;
    border-radius: 5px;
    position: fixed;
    right: auto;
    left: 25%;
    /* top: 10%; */
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .auth-container-footer {
    display: none;
  }

  .auth-item {
    /* width: calc(100% - 10%); */
    background: #fff;
    z-index: 1;
    border-radius: 5px;
    position: fixed;
    right: auto;
    left: 20%;
    top: 2%;
  }
}

@media (max-width: 650px) {
  .auth-container-footer {
    display: none;
  }

  .auth-item {
    /* width: calc(100% - 10%); */
    background: #fff;
    z-index: 1;
    border-radius: 5px;
    position: fixed;
    right: auto;
    left: 10%;
    top: 2%;
  }
}

@media (max-width: 568px) {
  .auth-container-footer, .back-arrow {
    display: none;
  }

  .auth-item {
    width: calc(100% - 10%);
    background: #fff;
    z-index: 1;
    border-radius: 5px;
    position: fixed;
    right: auto;
    /* top: 2%; */
    left: 5%;
  }
}

@media (min-height: 821px) {
    .auth-item {
      width: 480px;
      background: #fff;
      z-index: 1;
      border-radius: 5px;
      position: fixed;
      /* min-height: calc(100% - 15%); */
      right: 0;
      height: 90%;
      overflow: scroll;
      margin : 2.5% 10% 5% 0
  }
}


@media (min-height: 900px) {
  .auth-item {
    width: 480px;
    background: #fff;
    z-index: 1;
    border-radius: 5px;
    position: fixed;
    /* min-height: calc(100% - 15%); */
    right: 0;
    height: 85%;
    overflow: scroll;
    margin : 4% 10% 5% 0
}
}

@media (min-height: 1136px) {
  .auth-item {
    width: 480px;
    background: #fff;
    z-index: 1;
    border-radius: 5px;
    position: fixed;
    /* min-height: calc(100% - 15%); */
    right: 0;
    height: 60%;
    margin : 8% 10% 5% 0
}
}

@media (max-height: 820px) {
  .auth-item {   
    height: 90%;
    overflow-y: scroll;  
  }
}
.auth-item {
  padding: 3rem;
}

.auth-item-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

.auth-item-subtitle {
  font-size: 12px;
  color: #6c757d;
}

.auth-item-subtitle a {
  font-size: 12px;
  font-weight: 500;
  color: #303F9F;
}

.dropdown-item-auth {
  cursor: pointer;
}

.dropdown-item-auth img {
  width: 32px;
}

.dropdown-item-auth span {
  padding-left: 12px;
}

.dropdown-item-auth-selected {
  width: 20px;

}

.mt-70{
  margin-top: 70px;
}