.skin {
  background-color: #141c2b !important ; 
}

body {
  background-color: #141c2b !important ; }

.df-logo {
  color: #fff !important ; }
  .df-logo:hover, .df-logo:focus {
    color: #fff !important ; }

.navbar-header {
  background-color: #1c273c !important ;
  border-bottom-width: 0 !important ; }
  .navbar-header .burger-menu:hover, .navbar-header .burger-menu:focus {
    color: #fff !important ; }
  .navbar-header .navbar-right .search-link {
    color: #97a3b9 !important ; }
    .navbar-header .navbar-right .search-link:hover, .navbar-header .navbar-right .search-link:focus {
      color: #fff !important ; }
  .navbar-header .navbar-right .dropdown-message .dropdown-menu,
  .navbar-header .navbar-right .dropdown-notification .dropdown-menu {
    margin-top: 16.5px !important ; }
    @media (min-width: 992px) {
      .navbar-header .navbar-right .dropdown-message .dropdown-menu,
      .navbar-header .navbar-right .dropdown-notification .dropdown-menu {
        margin-top: 19px !important ; } }

.navbar-menu-wrapper {
  background-color: #24324d !important ; }
  @media (min-width: 992px) {
    .navbar-menu-wrapper {
      background-color: transparent !important ; } }

.navbar-menu-header {
  background-color: #1c273c !important ;
  border-bottom-width: 0 !important ; }
  .navbar-menu-header a:last-child:hover, .navbar-menu-header a:last-child:focus {
    color: #fff !important ; }

.navbar-menu .nav-link {
  color: #cdd4e0 !important ; }

.navbar-menu .nav-label {
  color: #596882 !important ; }

.navbar-menu-sub {
  border-width: 0 !important ; }
  @media (min-width: 992px) {
    .navbar-menu-sub {
      background-color: #24324d !important ; } }
  .navbar-menu-sub::before {
    opacity: 0 !important ; }
  .navbar-menu-sub::after {
    border-bottom-color: #24324d !important ; }
  .navbar-menu-sub .nav-sub-link {
    color: #cdd4e0 !important ; }

.dropdown-message .dropdown-link,
.dropdown-notification .dropdown-link {
  color: #97a3b9 !important ; }
  .dropdown-message .dropdown-link.new-indicator,
  .dropdown-notification .dropdown-link.new-indicator {
    color: #cdd4e0 !important ; }

.dropdown-message .dropdown-menu,
.dropdown-notification .dropdown-menu {
  border-width: 0 !important ;
  background-color: #24324d !important ; }
  .dropdown-message .dropdown-menu::before,
  .dropdown-notification .dropdown-menu::before {
    opacity: 0 !important ; }
  .dropdown-message .dropdown-menu::after,
  .dropdown-notification .dropdown-menu::after {
    border-bottom-color: #24324d !important ; }

.dropdown-message .dropdown-header,
.dropdown-notification .dropdown-header {
  color: #fff !important ; }

.dropdown-message .dropdown-item,
.dropdown-notification .dropdown-item {
  color: #97a3b9 !important ; }
  .dropdown-message .dropdown-item:hover, .dropdown-message .dropdown-item:focus,
  .dropdown-notification .dropdown-item:hover,
  .dropdown-notification .dropdown-item:focus {
    background-color: #24324d !important ; }
    .dropdown-message .dropdown-item:hover .avatar::after, .dropdown-message .dropdown-item:focus .avatar::after,
    .dropdown-notification .dropdown-item:hover .avatar::after,
    .dropdown-notification .dropdown-item:focus .avatar::after {
      box-shadow: 0 0 0 2px #24324d !important ; }

.dropdown-message .media-body,
.dropdown-notification .media-body {
  color: #97a3b9 !important ; }
  .dropdown-message .media-body strong,
  .dropdown-notification .media-body strong {
    color: #fff !important ; }

.dropdown-message .avatar::after,
.dropdown-notification .avatar::after {
  box-shadow: 0 0 0 2px #1c273c !important ; }

.dropdown-message .dropdown-footer a:hover, .dropdown-message .dropdown-footer a:focus,
.dropdown-notification .dropdown-footer a:hover,
.dropdown-notification .dropdown-footer a:focus {
  color: #0168fa !important ; }

.dropdown-profile .dropdown-link:hover .avatar img, .dropdown-profile .dropdown-link:focus .avatar img {
  background-color: #3b4863 !important ; }

.dropdown-profile .dropdown-menu {
  border-width: 0 !important ;
  background-color: #24324d !important ;
  margin-top: 13px !important ; }
  @media (min-width: 992px) {
    .dropdown-profile .dropdown-menu {
      margin-top: 14px !important ; } }
  .dropdown-profile .dropdown-menu::before {
    opacity: 0 !important ; }
  .dropdown-profile .dropdown-menu::after {
    border-bottom-color: #24324d !important ; }
  .dropdown-profile .dropdown-menu h6 {
    color: #fff !important ; }

.dropdown-profile .dropdown-item {
  color: #97a3b9 !important ; }

.navbar-search-header {
  background-color: #1c273c !important ;
  border-bottom-width: 0 !important ; }
  .navbar-search-header .form-control {
    color: #fff !important ; }
  .navbar-search-header .btn {
    color: #97a3b9 !important ; }
    .navbar-search-header .btn:hover, .navbar-search-header .btn:focus {
      color: #fff !important ; }

.navbar-search-body {
  background-color: #192235 !important ; }
  .navbar-search-body a {
    color: #97a3b9 !important ;
    border-color: #596882 !important ; }
    .navbar-search-body a:hover, .navbar-search-body a:focus {
      background-color: #0168fa !important ;
      color: #fff !important ;
      border-color: transparent !important ; }

.aside-header {
  background-color: #1c273c ;
  border-right-color: rgba(255, 255, 255, 0.06) }

.aside-logo {
  color: #fff !important ; }
  .aside-logo:hover, .aside-logo:focus {
    color: #fff  }

.aside-menu-link:hover, .aside-menu-link:focus {
  color: #fff  }

.aside-body {
  background-color: #1c273c ;
  border-right-width: 0 }

.aside-alert-link a {
  color: rgba(255, 255, 255, 0.5) !important ; }
  .aside-alert-link a:hover, .aside-alert-link a:focus {
    color: #fff !important ; }
  .aside-alert-link a.new::before {
    box-shadow: 0 0 0 2px #1c273c !important ; }

.aside-loggedin-user a:hover, .aside-loggedin-user a:focus {
  color: #fff !important ; }

.nav-aside .nav-label {
  color: #3b4863 !important ;
  font-weight: 600 !important ; }

.nav-aside .nav-item ul a {
  color: #596882 !important ; }
  .nav-aside .nav-item ul a:hover, .nav-aside .nav-item ul a:focus {
    color: #fff !important ; }

.nav-aside .nav-item.active .nav-link:hover svg, .nav-aside .nav-item.active .nav-link:focus svg {
  color: #0168fa !important ; }

.nav-aside .with-sub.show:not(.active) .nav-link {
  color: #fff !important ; }
  .nav-aside .with-sub.show:not(.active) .nav-link::before {
    border-color: #cdd4e0 !important ; }
  .nav-aside .with-sub.show:not(.active) .nav-link svg {
    color: #fff !important ;
    fill: none !important ; }

.nav-aside .nav-link {
  color: #97a3b9 !important ; }
  .nav-aside .nav-link svg {
    color: #97a3b9 !important ;
    stroke-width: 1.8px !important ;
    fill: rgba(255, 255, 255, 0.06) !important ; }
  .nav-aside .nav-link:hover, .nav-aside .nav-link:focus {
    color: #fff !important ; }
    .nav-aside .nav-link:hover svg, .nav-aside .nav-link:focus svg {
      color: #fff !important ; }

.aside-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important ; }

.content {
  color: #97a3b9 !important ; }

.content-header {
  background-color: #1c273c !important ; }
  .content-header .nav-link {
    color: rgba(255, 255, 255, 0.5) !important ; }
    .content-header .nav-link:hover, .content-header .nav-link:focus {
      color: #fff !important ; }

.footer {
  background-color: #1c273c !important ;
  border-top-width: 0 !important ; }
  .footer a {
    color: #97a3b9 !important ; }
    .footer a:hover, .footer a:focus {
      color: #fff !important ; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #fff !important ; }

.breadcrumb-style1 .breadcrumb-item a,
.breadcrumb-style2 .breadcrumb-item a,
.breadcrumb-style3 .breadcrumb-item a {
  color: #7987a1 !important ; }

.breadcrumb-style1 .breadcrumb-item + .breadcrumb-item::before {
  color: #596882 !important ;
  font-weight: 400 !important ; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  /* border: 1px solid rgba(72, 94, 144, 0.16); */
  border-radius: 0.25rem; 
  background-color: #1c273c !important ;
  color: #97a3b9 !important ;
 }

.list-label {
  background-color: #192235 !important ;
  border-color: #24324d !important ; }

.list-item {
  border-color: #24324d !important ; }

.list-group-item {
  background-color: inherit !important ;
  border-color: rgba(255, 255, 255, 0.025) !important ; }

.dropdown-divider {
  border-color: rgba(255, 255, 255, 0.06) !important ; }

.link-01 {
  color: rgba(255, 255, 255, 0.85) !important ; }
  .link-01:hover, .link-01:focus {
    color: #fff !important ; }

.link-02 {
  color: #cdd4e0 !important ; }
  .link-02:hover, .link-02:focus {
    color: #fff !important ; }

.link-03:hover, .link-03:focus {
  color: #fff !important ; }

.progress {
  background-color: #596882 !important ; }

.tx-color-01 {
  color: #fff !important ; }

.tx-color-02 {
  color: #cdd4e0 !important ; }

.tx-color-04 {
  color: rgba(89, 104, 130, 0.7) !important ; }
  .tx-dark{
    color: #fff !important;
  }

.table {
  color: inherit !important ; }

.divider-text::before, .divider-text::after {
  background-color: #24324d !important ; }

.form-control {
  background-color: transparent !important ;
  border-color: #3b4863 !important ; }
  .form-control::placeholder {
    color: #596882 !important ; }
  .form-control:focus {
    background-color: transparent !important ; }

.nav-classic .nav-link {
  color: #97a3b9 !important ; }

.img-group .img {
  background-color: #1c273c !important ; }

.search-form button {
  border-color: #3b4863 !important ; }

.modal-content {
  background-color: #1c273c !important ; }
  .tx-teal {
    color: #00cccc !important; }
    
      .tx-primary {
        color: #0168fa!important;}
        .tx-MasterCard{
          color: #FFC20A !important;
        }
        .tx-verve{
          color: #F10875  !important;
        }
        .tx-alertpos{
          color: #FF0000 !important;
        }
        .faint-red{
          color: #F10875 !important;
        }
        .tx-success {
          color: #10b759 !important; }
/* .bd,
.bd-t,


.bd-info {
  border-color: #00b8d4 !important ; }

.bd-primary {
  border-color: #0168fa !important ; }

.bd-success {
  border-color: #10b759 !important ; }

.bd-warning {
  border-color: #ffc107 !important ; }

.bd-pink {
  border-color: #f10075 !important ; }

.bd-teal {
  border-color: #00cccc !important ; }

.bd-purple {
  border-color: #6f42c1 !important ; } */

.table-dashboard thead th,
.table-dashboard tbody th,
.table-dashboard tbody td {
  border-color: rgba(255, 255, 255, 0.06) !important ; }

.card-dashboard-table .table thead tr:first-child th {
  background-color: rgba(255, 255, 255, 0.05) !important ; }

.table-dashboard-two tr + tr td {
  border-top-color: rgba(255, 255, 255, 0.06) !important ; }

.chart-sixteen .flot-x-axis .flot-tick-label {
  color: rgba(255, 255, 255, 0.2) !important ;
  font-weight: 400 !important ; }

.activity-body {
  color: rgba(255, 255, 255, 0.5) !important ; }
  .activity-body strong {
    color: #fff !important ; }

.calendar-sidebar {
  background-color: #141c2b !important ; }

.ui-datepicker {
  background-color: transparent !important ; }
  .ui-datepicker .ui-datepicker-title {
    color: #fff !important ; }
  .ui-datepicker .ui-datepicker-calendar td {
    background-color: transparent !important ;
    border-width: 0 !important ; }
    .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-other-month .ui-state-default {
      color: #3b4863 !important ; }

.calendar-inline .ui-datepicker .ui-datepicker-calendar td a {
  color: #7987a1 !important ; }
  .calendar-inline .ui-datepicker .ui-datepicker-calendar td a:hover, .calendar-inline .ui-datepicker .ui-datepicker-calendar td a:focus {
    background-color: #24324d !important ;
    color: #fff !important ; }

.calendar-nav a {
  color: #97a3b9 !important ; }
  .calendar-nav a:hover, .calendar-nav a:focus {
    background-color: #24324d !important ;
    color: #fff !important ; }

.calendar-content {
  background-color: transparent !important ; }

.calendar-content-body .fc-toolbar button {
  border-width: 0 !important ;
  background-color: #3b4863 !important ;
  color: #97a3b9 !important ; }
  .calendar-content-body .fc-toolbar button:hover, .calendar-content-body .fc-toolbar button:focus {
    background-color: #596882 !important ;
    color: #fff !important ; }
  .calendar-content-body .fc-toolbar button.fc-state-active {
    background-color: #596882 !important ;
    color: #fff !important ; }
  .calendar-content-body .fc-toolbar button.fc-today-button {
    background-color: #3b4863 !important ;
    color: #97a3b9 !important ; }
    .calendar-content-body .fc-toolbar button.fc-today-button:hover, .calendar-content-body .fc-toolbar button.fc-today-button:focus {
      background-color: #596882 !important ;
      color: #fff !important ; }
    .calendar-content-body .fc-toolbar button.fc-today-button.fc-state-disabled {
      background-color: #1c273c !important ;
      color: #596882 !important ; }

.calendar-content-body .fc-agendaWeek-view .fc-head-container th {
  border-color: #1f2c43 !important ; }

.calendar-content-body .fc-divider {
  background-color: #192235 !important ;
  border-color: #1f2c43 !important ; }

.calendar-content-body .fc-head-container .fc-day-header {
  color: #97a3b9 !important ; }

.calendar-content-body .fc-other-month {
  background-color: #111724 !important ; }

.calendar-content-body td.fc-today {
  background-color: #192235 !important ; }

.calendar-content-body .fc-listMonth-view .fc-list-heading-main,
.calendar-content-body .fc-listWeek-view .fc-list-heading-main {
  color: #97a3b9 !important ; }
  .calendar-content-body .fc-listMonth-view .fc-list-heading-main:hover, .calendar-content-body .fc-listMonth-view .fc-list-heading-main:focus,
  .calendar-content-body .fc-listWeek-view .fc-list-heading-main:hover,
  .calendar-content-body .fc-listWeek-view .fc-list-heading-main:focus {
    color: #97a3b9 !important ; }
  .calendar-content-body .fc-listMonth-view .fc-list-heading-main span:last-child,
  .calendar-content-body .fc-listWeek-view .fc-list-heading-main span:last-child {
    color: #fff !important ; }

.calendar-content-body .fc-listMonth-view .fc-list-item,
.calendar-content-body .fc-listWeek-view .fc-list-item {
  background-color: #1c273c !important ; }

.calendar-content-body .fc-listMonth-view .fc-list-item-title a,
.calendar-content-body .fc-listWeek-view .fc-list-item-title a {
  color: #fff !important ; }

.calendar-modal-create .modal-body {
  color: #97a3b9 !important ; }
  .calendar-modal-create .modal-body h5 {
    color: #fff !important ; }

.calendar-modal-create .form-control {
  color: #97a3b9 !important ;
  border-color: #596882 !important ; }
  .calendar-modal-create .form-control:focus {
    box-shadow: none !important ;
    border-color: #7987a1 !important ; }

.calendar-modal-create select {
  background-color: transparent !important ;
  border-color: #596882 !important ; }

.calendar-modal-create .custom-control-label::before {
  border-color: #596882 !important ;
  background-color: transparent !important ;
  margin-top: 1px !important ; }

.calendar-modal-create .custom-control-label::after {
  margin-top: 1px !important ; }

.calendar-modal-event .modal-body {
  background-color: #1c273c !important ; }

.calendar-modal-event .event-start-date,
.calendar-modal-event .event-end-date {
  color: #cdd4e0 !important ; }

.close {
  color: #97a3b9 !important ; }
  .close:hover, .close:focus {
    color: #cdd4e0 !important ; }

.chat-navleft {
  background-color: #172032 !important ; }
  .chat-navleft .nav-link:not(.active) {
    color: #97a3b9 !important ; }
    .chat-navleft .nav-link:not(.active):hover, .chat-navleft .nav-link:not(.active):focus {
      color: #fff !important ; }

.chat-sidebar {
  background-color: #141c2b !important ; }

.chat-sidebar-header {
  background-color: #172032 !important ; }
  .chat-sidebar-header .dropdown-link > span {
    color: #3b4863 !important ; }
  .chat-sidebar-header .dropdown-link:hover > span, .chat-sidebar-header .dropdown-link:focus > span {
    color: #cdd4e0 !important ; }
  .chat-sidebar-header .dropdown-menu {
    background-color: #192235 !important ; }
    .chat-sidebar-header .dropdown-menu::before {
      border-bottom-color: rgba(255, 255, 255, 0.08) !important ; }
    .chat-sidebar-header .dropdown-menu::after {
      border-bottom-color: #192235 !important ; }
  .chat-sidebar-header .dropdown-item {
    color: #97a3b9 !important ; }
    .chat-sidebar-header .dropdown-item:hover, .chat-sidebar-header .dropdown-item:focus {
      color: #fff !important ;
      background-color: #1f2c43 !important ; }

.nav-chat .nav-link {
  color: #97a3b9 !important ; }
  .nav-chat .nav-link:hover, .nav-chat .nav-link:focus {
    background-color: #1c273c !important ;
    color: #fff !important ; }
  .nav-chat .nav-link.active {
    background-color: #1f2c43 !important ;
    color: #0168fa !important ; }

.chat-msg-list .media:hover, .chat-msg-list .media:focus {
  background-color: #1c273c !important ; }
  .chat-msg-list .media:hover .avatar::after, .chat-msg-list .media:focus .avatar::after {
    box-shadow: 0 0 0 2px #1c273c !important ; }

.chat-msg-list .media.active {
  background-color: #1c273c !important ; }
  .chat-msg-list .media.active .avatar::after {
    box-shadow: 0 0 0 2px #1c273c !important ; }

.chat-msg-list .avatar::after {
  box-shadow: 0 0 0 2px #1c273c !important ; }

.chat-sidebar-footer {
  background-color: #172032 !important ; }
  .chat-sidebar-footer .avatar::after {
    box-shadow: 0 0 0 2px #1c273c !important ; }
  .chat-sidebar-footer a {
    color: #97a3b9 !important ; }
    .chat-sidebar-footer a:hover, .chat-sidebar-footer a:focus {
      color: #fff !important ; }

.chat-content {
  background-color: #141c2b !important ; }

.chat-content-header {
  background-color: #172032 !important ; }
  .chat-content-header .avatar::after {
    box-shadow: 0 0 0 2px #1c273c !important ; }
  .chat-content-header nav a {
    color: #97a3b9 !important ; }
    .chat-content-header nav a:hover, .chat-content-header nav a:focus {
      color: #fff !important ; }
    .chat-content-header nav a.active {
      color: #0168fa !important ; }
  .chat-content-header .search-form .form-control,
  .chat-content-header .search-form .btn {
    border-color: rgba(255, 255, 255, 0.08) !important ; }
  .chat-content-header .search-form .form-control:focus,
  .chat-content-header .search-form .form-control:focus + .btn {
    border-color: #3b4863 !important ; }
  .chat-content-header .search-form .btn:hover, .chat-content-header .search-form .btn:focus {
    color: #fff !important ; }

.chat-content-body {
  color: #97a3b9 !important ; }
  .chat-content-body .avatar::after {
    box-shadow: 0 0 0 2px #1c273c !important ; }

.chat-group .media-body h6 small {
  color: #596882 !important ; }

.chat-group-divider::before, .chat-group-divider::after {
  background-color: rgba(255, 255, 255, 0.06) !important ; }

.chat-content-footer {
  background-color: #172032 !important ; }
  .chat-content-footer .chat-plus {
    color: #97a3b9 !important ; }
    .chat-content-footer .chat-plus:hover, .chat-content-footer .chat-plus:focus {
      color: #fff !important ; }
  .chat-content-footer .form-control {
    color: #cdd4e0 !important ; }
    .chat-content-footer .form-control::placeholder {
      color: #3b4863 !important ; }
  .chat-content-footer nav a {
    color: #97a3b9 !important ; }
    .chat-content-footer nav a:hover, .chat-content-footer nav a:focus {
      color: #fff !important ; }

.chat-sidebar-right {
  background-color: #172032 !important ; }
  .chat-sidebar-right .avatar::after {
    box-shadow: 0 0 0 2px #1c273c !important ; }

.chat-member-list .media:hover, .chat-member-list .media:focus {
  background-color: #24324d !important ; }

.app-chat .modal-body h6 {
  color: #cdd4e0 !important ; }

.app-chat .modal-body .form-control {
  background-color: transparent !important ;
  color: #cdd4e0 !important ;
  border-color: #596882 !important ; }

.app-chat .modal-body .btn-outline-light {
  border-color: #596882 !important ; }

.contact-navleft {
  background-color: #172032 !important ; }
  .contact-navleft .nav-link {
    color: rgba(255, 255, 255, 0.5) !important ; }
    .contact-navleft .nav-link:hover, .contact-navleft .nav-link:focus {
      color: #fff !important ; }

.contact-sidebar {
  background-color: #141c2b !important ; }

.contact-sidebar-header {
  background-color: #172032 !important ; }

.contact-list .media .avatar::after {
  box-shadow: 0 0 0 2px #141c2b !important ; }

.contact-list .media:hover, .contact-list .media:focus {
  background-color: #1c273c !important ;
  color: #fff !important ; }
  .contact-list .media:hover .avatar::after, .contact-list .media:focus .avatar::after {
    box-shadow: 0 0 0 2px #1c273c !important ; }

.contact-list .media.active {
  background-color: #1f2c43 !important ; }
  .contact-list .media.active .avatar::after {
    box-shadow: 0 0 0 2px #1f2c43 !important ; }

.contact-list-divider::before, .contact-list-divider::after {
  background-color: #212e46 !important ; }

.contact-content {
  background-color: #141c2b !important ; }

.contact-content-header {
  background-color: #172032 !important ; }

.contact-content-body {
  color: rgba(255, 255, 255, 0.8) !important ; }
  .contact-content-body .nav-social .nav-link {
    color: #cdd4e0 !important ; }
    .contact-content-body .nav-social .nav-link:hover, .contact-content-body .nav-social .nav-link:focus {
      color: #0168fa !important ; }

.contact-content-sidebar {
  background-color: #172032 !important ;
  color: #cdd4e0 !important ; }

.contact-content-nav .nav-link {
  color: #fff !important ; }
  .contact-content-nav .nav-link:hover, .contact-content-nav .nav-link:focus {
    color: #0168fa !important ; }

.filemgr-sidebar {
  background-color: #141c2b !important ; }

.filemgr-sidebar-header {
  background-color: #172032 !important ; }
  .filemgr-sidebar-header .dropdown-menu {
    border-width: 0 !important ;
    background-color: #293958 !important ; }
  .filemgr-sidebar-header .dropdown-item {
    color: #cdd4e0 !important ; }
    .filemgr-sidebar-header .dropdown-item:hover, .filemgr-sidebar-header .dropdown-item:focus {
      background-color: #212e46 !important ;
      color: #fff !important ; }

.filemgr-sidebar-body {
  color: #97a3b9 !important ; }
  .filemgr-sidebar-body .nav-sidebar .nav-link {
    color: #97a3b9 !important ; }
    .filemgr-sidebar-body .nav-sidebar .nav-link:hover, .filemgr-sidebar-body .nav-sidebar .nav-link:focus {
      background-color: #1c273c !important ;
      color: #fff !important ; }
    .filemgr-sidebar-body .nav-sidebar .nav-link.active {
      background-color: #1f2c43 !important ; }

.filemgr-content-body {
  background-color: #141c2b !important ; }

.dropdown-file .dropdown-link:hover, .dropdown-file .dropdown-link:focus {
  color: #cdd4e0 !important ; }

.dropdown-file .dropdown-menu {
  border-width: 0 !important ;
  background-color: #293958 !important ; }

.dropdown-file .dropdown-item {
  color: #cdd4e0 !important ; }
  .dropdown-file .dropdown-item:hover, .dropdown-file .dropdown-item:focus {
    background-color: #212e46 !important ;
    color: #fff !important ; }

.card-file-thumb {
  background-color: #192235 !important ; }

.media-folder {
  border-width: 0 !important ;
  background-color: #1c273c !important ; }

.app-mail .backdrop {
  visibility: hidden !important ; }

.mail-sidebar {
  background-color: #141c2b !important ; }

.mail-sidebar-body .nav-sidebar .nav-link {
  color: #97a3b9 !important ; }
  .mail-sidebar-body .nav-sidebar .nav-link:hover, .mail-sidebar-body .nav-sidebar .nav-link:focus {
    background-color: #1c273c !important ;
    color: #fff !important ; }
  .mail-sidebar-body .nav-sidebar .nav-link.active {
    background-color: #1f2c43 !important ; }

.mail-group {
  background-color: #141c2b !important ; }

.mail-group-header {
  background-color: #172032 !important ; }

.mail-group-label {
  background-color: #111724 !important ; }

.mail-group-body .media {
  background-color: transparent !important ; }
  .mail-group-body .media:hover, .mail-group-body .media:focus {
    background-color: #192235 !important ; }
  .mail-group-body .media + .media {
    border-top-color: #1c273c !important ; }
  .mail-group-body .media.unread {
    background-color: #1c273c !important ; }
    .mail-group-body .media.unread:hover, .mail-group-body .media.unread:focus {
      background-color: #1c273c !important ; }
  .mail-group-body .media.selected {
    background-color: #24324d !important ; }
    .mail-group-body .media.selected:hover, .mail-group-body .media.selected:focus {
      background-color: #24324d !important ; }

.mail-content {
  background-color: #141c2b !important ; }

.mail-content-header {
  background-color: #172032 !important ; }

.mail-content-body {
  background-color: transparent !important ;
  color: #97a3b9 !important ; }
  .mail-content-body .ql-editor {
    color: #97a3b9 !important ; }
  .mail-content-body .ql-snow.ql-toolbar button .ql-stroke {
    stroke: #596882 !important ; }
  .mail-content-body .ql-snow.ql-toolbar button:hover, .mail-content-body .ql-snow.ql-toolbar button:focus {
    background-color: #1c273c !important ; }
    .mail-content-body .ql-snow.ql-toolbar button:hover .ql-stroke, .mail-content-body .ql-snow.ql-toolbar button:focus .ql-stroke {
      stroke: #fff !important ; }

.mail-compose-body {
  border-width: 0 !important ;
  background-color: #172032 !important ;
  box-shadow: none !important ;
  color: #97a3b9 !important ; }
  .mail-compose-body .form-control {
    background-color: transparent !important ; }
    .mail-compose-body .form-control::placeholder {
      color: #596882 !important ; }
  .mail-compose-body .ql-editor {
    color: #97a3b9 !important ; }
  .mail-compose-body .ql-snow.ql-toolbar button .ql-stroke {
    stroke: #596882 !important ; }
  .mail-compose-body .ql-snow.ql-toolbar button:hover, .mail-compose-body .ql-snow.ql-toolbar button:focus {
    background-color: #1c273c !important ; }
    .mail-compose-body .ql-snow.ql-toolbar button:hover .ql-stroke, .mail-compose-body .ql-snow.ql-toolbar button:focus .ql-stroke {
      stroke: #fff !important ; }

.page-profile .avatar::after {
  box-shadow: 0 0 0 1.5px #141c2b !important ; }

.list-inline-skills .list-inline-item a {
  background-color: #1c273c !important ;
  border-color: #212e46 !important ;
  color: #97a3b9 !important ; }

.profile-info-list a {
  color: #97a3b9 !important ; }

.df-settings .bd-t {
  border-color: rgba(72, 94, 144, 0.16) !important ; }

.df-settings-link {
  border-width: 0 !important ;
  box-shadow: none !important ; }

.df-settings-body {
  border-left-width: 0 !important ; }

  .pagination a{
    color: #fff !important ;
  }
  .pagination a:hover{
    color: black !important;
  }

  .dropdown-menu{
    background-color: #1c273c !important ;
  }
  .dropdown-menu .form-group label{
    color: #fff !important ;
  }
  .dropdown-item:hover{
color: black !important;
  }

  .dropdown .cursor-pointer .tx-grey{
    color: #fff !important;
  }
  .form-daterangepicker{
    color: #fff !important ;

  }

  .form-control {
    background-color: #141c2b !important;
    color: #596882 !important;
    border-color: #3b4863 !important;
}

.table-hover tbody tr:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.075); }

  .aside-loggedin-user .DarkModeColor{
    color: #8392a5 !important ;
  }



  .btn-outline-light {
    color: #3b4863!important;
    border-color: #3b4863 !important;
} 
 .btn-outline-danger {
  color: red!important;
  border-color: #3b4863 !important;
} 
 .btn-outline-success {
  color:green!important;
  border-color: #3b4863 !important;
}

.btn-outline-danger:hover {
  color: #fff!important;
}  .btn-outline-success:hover {
  color:#fff!important;
}


.manageButton button:hover{
color: #fff !important;
border-color: #fff !important;
}
.off-canvas{
  background-color: #1c273c !important;
}

.agm{
  border: 1px solid #3b4863 !important;

}
.AddRegion{
color: #fff !important;
}


    .SystemActive{
     background-color: #fff !important;
      color: black !important;

    }

    .breadcrumb-item a{

        color:  #7987a1 !important;

    }

    .list-group-flush .tx-dark:hover{
color: #1b2e4b !important;
    }