#select-acc-type {
    padding: 24px 35px;
    margin: 50px auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#select-acc-type p {
    font-size: 16px;
    font-weight: 400;
    color: #1B2E4B;
    line-height: 24px;
    margin-bottom: 2rem;
}

#select-acc-type h5 {
    font-size: 20px;
    font-weight: 600;
    color: #303F9F;
    line-height: 32px;
}

#select-acc-type .acct-type-card {
    border: 1px solid #7987A1;
    border-radius: 2px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303F9F;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px -2px 14px -6px #0F1D3F1F;
}

#select-acc-type .acct-type-card label {
    font-size: 1em;
    font-weight: 400;
    color: inherit;
    line-height: 32px;
    margin-top: 6px;
}

#select-acc-type .acct-type-card:hover svg path,
#select-acc-type .acct-type-card.active svg path {
    fill: #fff;
}

#select-acc-type .acct-type-card:hover, 
#select-acc-type .acct-type-card.active {
    background: #303F9F;
    color: #fff;
    box-shadow: 0px 10px 32px -4px #0F1D3F1A;

}

#select-acc-type .congo {
    display: flex;
    flex-direction: column;
    padding: 15px;
    /* color: #303F9F; */
}

#select-acc-type .congo p {
    /* color: #303F9F !important; */
    font-size: 14px;
}

.congo ul {
    padding: 0 1.2rem;
    color: inherit;
}

.congo li {
    line-height: 2;
    color: inherit;
}

.congo h6 {
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
}

.congo button.btn-block:hover,
.congo button.btn-block:active,
.congo button.btn-block:focus-within,
.congo button.btn-block:focus,
.congo button.btn-block,
.deals button.btn-block:hover,
.deals button.btn-block:active,
.deals button.btn-block:focus-within,
.deals button.btn-block:focus,
.deals button.btn-block {
    background-color: #303F9F;
    color: #fff;
}

.checkBox {
    border: 2px solid #303F9F;
    position: absolute;
    left: 80%;
    right: 0%;
    top: 8%;
    bottom: 76%;
    height: 16px;
    width: 16px;
}

input[type=checkbox] {
    accent-color: #FFFFFF;
}

.pl-28 {
    padding-left: 28px;
}

.tx-black {
    color: black !important;
}

#select-acc-type .deals {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #000;
}

#select-acc-type .deals p {
    font-size: 16px;
    font-weight: 400;
    color: #1B2E4B;
    line-height: 24px;
    margin-bottom: 1rem !important;
}

@media screen and (max-width:500px) {

    #select-acc-type .acct-type-card {
        font-size: 14px;
    }
}