<section id="select-acc-type">
    <h5>Select Account Type</h5>

    <p>Hi <b class="text-capitalize">{{activeRegistration?.businessName}}</b>, Please select your account type to setup your ThankUCash Merchant Account.</p>
    <div class="row gx-5 mb-3">
        <div class="col-6">
            <div class="acct-type-card Customer-loyalty-sec d-flex flex-column" [ngClass]="{'active': loyalty == true}">
                <!-- <img src="../../../../assets/img/user_tag-blue.png" width="51" alt="user_tag-blue"> -->
                <input type="checkbox" class="checkBox" id="Loyalty" [(ngModel)]="loyalty" (ngModelChange)="selectSolution($event,'tuLoyalty')" />
                <svg for="Loyalty" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.9993 18.9175C23.762 18.9175 26.4115 20.0149 28.365 21.9685C30.3185 23.922 31.416 26.5715 31.416 29.3341V41.8342H10.5827V29.3341C10.5827 26.5715 11.6801 23.922 13.6337 21.9685C15.5872 20.0149 18.2367 18.9175 20.9993 18.9175ZM7.01602 25.18C6.68447 26.2983 6.48862 27.4524 6.43268 28.6175L6.41602 29.3341V41.8342H0.166016V32.4591C0.165606 30.6624 0.828575 28.9288 2.02775 27.5908C3.22693 26.2529 4.87789 25.4047 6.66393 25.2092L7.0181 25.18H7.01602ZM34.9827 25.18C36.8367 25.293 38.5777 26.1091 39.8506 27.4617C41.1235 28.8144 41.8324 30.6017 41.8327 32.4591V41.8342H35.5827V29.3341C35.5827 27.8904 35.3743 26.4966 34.9827 25.18ZM7.45768 12.6675C8.83902 12.6675 10.1638 13.2162 11.1405 14.193C12.1173 15.1697 12.666 16.4945 12.666 17.8758C12.666 19.2572 12.1173 20.5819 11.1405 21.5587C10.1638 22.5354 8.83902 23.0841 7.45768 23.0841C6.07635 23.0841 4.75159 22.5354 3.77483 21.5587C2.79808 20.5819 2.24935 19.2572 2.24935 17.8758C2.24935 16.4945 2.79808 15.1697 3.77483 14.193C4.75159 13.2162 6.07635 12.6675 7.45768 12.6675ZM34.541 12.6675C35.9224 12.6675 37.2471 13.2162 38.2239 14.193C39.2006 15.1697 39.7493 16.4945 39.7493 17.8758C39.7493 19.2572 39.2006 20.5819 38.2239 21.5587C37.2471 22.5354 35.9224 23.0841 34.541 23.0841C33.1597 23.0841 31.8349 22.5354 30.8582 21.5587C29.8814 20.5819 29.3327 19.2572 29.3327 17.8758C29.3327 16.4945 29.8814 15.1697 30.8582 14.193C31.8349 13.2162 33.1597 12.6675 34.541 12.6675ZM20.9993 0.16748C23.2095 0.16748 25.3291 1.04545 26.8919 2.60826C28.4547 4.17106 29.3327 6.29068 29.3327 8.50081C29.3327 10.711 28.4547 12.8306 26.8919 14.3934C25.3291 15.9562 23.2095 16.8341 20.9993 16.8341C18.7892 16.8341 16.6696 15.9562 15.1068 14.3934C13.544 12.8306 12.666 10.711 12.666 8.50081C12.666 6.29068 13.544 4.17106 15.1068 2.60826C16.6696 1.04545 18.7892 0.16748 20.9993 0.16748Z" fill="#1B2E4B"/>
                    </svg>
                <label class="card-labels fw-500 tx-12 line-14 text-center cursor-pointer" for="Loyalty">Customer Loyalty</label>
            </div>
        </div>
        <div class="col-6">
            <div class="acct-type-card Sell-your-prod-sec d-flex flex-column" [ngClass]="{'active': deals == true}">
                <!-- <img src="../../../../assets/img/tag_blue.png" width="41" alt="tag_blue"> -->
                <input type="checkbox" class="checkBox" id="Deals"  [(ngModel)]="deals" (ngModelChange)="selectSolution($event,'tuDeals')" />
                <svg for="Deals" width="44" height="45" viewBox="0 0 44 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.9923 50.6461C20.8496 51.8832 18.1043 51.1507 16.8705 49.0137L0.624478 20.8748C0.0887273 19.9469 -0.0625859 18.6996 0.231496 17.6745L4.34353 3.38278C5.01591 1.04198 7.4483 -0.356006 9.80425 0.23003L24.2373 3.81478C25.2785 4.07289 26.276 4.82626 26.8123 5.75524L43.0583 33.8941C44.2958 36.0376 43.5547 38.7744 41.4124 40.0113L22.9923 50.6461ZM14.2882 8.14279C13.437 6.66855 11.555 6.16419 10.0807 7.01539C8.60738 7.86599 8.10207 9.74857 8.95327 11.2229C9.80447 12.6972 11.6875 13.2009 13.1608 12.3503C14.635 11.4991 15.1394 9.61711 14.2882 8.14279ZM23.2384 31.1639C22.0211 30.8437 20.8508 31.0011 19.7558 31.6333C18.6627 32.2644 17.9388 33.2002 17.6039 34.4156C17.2702 35.6353 17.4175 36.8029 18.0454 37.8905C18.6728 38.9771 19.6097 39.6874 20.8313 40.0055C22.0514 40.3236 23.2239 40.1645 24.3169 39.5335C25.412 38.9012 26.1332 37.9661 26.4646 36.7518C26.799 35.5357 26.6452 34.3733 26.0183 33.2874C25.3905 32.2001 24.46 31.4844 23.2384 31.1639ZM20.5712 36.4323C20.3364 36.0256 20.2821 35.605 20.4058 35.1506C20.5325 34.6941 20.7866 34.3616 21.1949 34.1258C21.6018 33.8909 22.0206 33.8349 22.4782 33.9541C22.933 34.0745 23.2714 34.3311 23.5062 34.7377C23.7402 35.143 23.7914 35.5613 23.6683 36.0153C23.5427 36.4712 23.2847 36.8056 22.8777 37.0406C22.4646 37.2791 22.0449 37.3364 21.5932 37.2134C21.1411 37.0928 20.8055 36.8382 20.5712 36.4323ZM18.8896 20.929C18.5565 22.1475 18.7032 23.3108 19.329 24.3947C19.9583 25.4847 20.8956 26.1988 22.1171 26.5193C23.3326 26.8378 24.5054 26.6794 25.6015 26.0466C26.6972 25.414 27.4184 24.4788 27.752 23.266C28.0846 22.0483 27.9336 20.8797 27.3045 19.7901C26.6787 18.7061 25.7455 17.9969 24.5245 17.6757C23.3057 17.3554 22.1358 17.5135 21.0401 18.1461C19.9441 18.7789 19.2199 19.7144 18.8896 20.929ZM24.7873 21.2434C25.0238 21.653 25.0799 22.0735 24.9531 22.5274C24.8276 22.9819 24.5689 23.3189 24.1623 23.5537C23.7546 23.789 23.329 23.8471 22.8746 23.7274C22.4168 23.611 22.0817 23.3516 21.8452 22.942C21.6124 22.5388 21.5571 22.1219 21.685 21.6669C21.8079 21.2125 22.0716 20.874 22.4793 20.6386C22.8859 20.4038 23.3065 20.3473 23.7634 20.4669C24.2201 20.5844 24.5545 20.8401 24.7873 21.2434ZM12.3443 28.2235C12.2303 28.4237 12.233 28.6635 12.3474 28.8617L12.9742 29.9473C13.091 30.1496 13.3104 30.2718 13.5463 30.2656L32.4509 29.7573C32.6798 29.7505 32.8861 29.626 32.9982 29.4287C33.1132 29.2301 33.1126 28.9878 32.9997 28.7922L32.372 27.7049C32.255 27.5023 32.0355 27.38 31.8006 27.388L12.8932 27.8934C12.6666 27.9016 12.4587 28.0279 12.3443 28.2235Z" fill="#1B2E4B"/>
                    </svg>                    
                <label class="card-labels fw-500 tx-12 line-14 text-center cursor-pointer" for="Deals"> Sell Your Products</label>
            </div>
        </div>
    </div>
    <div class="row congo" *ngIf="loyalty">
        <h6>Congratulations!</h6>
        <p class="mb-1">Now you can see;</p>
        <ul>
            <li>New and repeat customers</li>
            <li>Customer visits</li>
            <li>Sales done by customers</li>
        </ul>
        <button type="button" class="btn btn-block my-3" [disabled]="!(loyalty || deals)" (click)="referenceLogin()">Continue</button>
    </div>
    <div class="row deals" *ngIf="deals">
        <p class="tx-14">Sell your products and services faster by offering deals to over 600K users on our platform.</p>
        <p class="mb-1 tx-14">Please select a loyalty model</p>
        <div class="mt-2">
            <div><input type="radio" id="tuDealsRadio1" (change)="dealsChange($event)" class="radio "
                    name="tuDealsRadio" /> <b class="detailPoints tx-14 ml-3">Products</b>
            </div>
            <p class="pl-28 mt-1 tx-14">Sell physical products to your customers on the
                ThankUCash Deals platform</p>
        </div>
        <div class="mt-3">
            <div><input type="radio" id="tuDealsRadio2" (change)="dealsChange($event)" name="tuDealsRadio"
                    class="radio " /> <b class="detailPoints tx-14 ml-3 ">Services</b></div>
            <p class="pl-28 mt-1 tx-14">Provide services to your customers on the
                ThankUCash Deals platform</p>
        </div>
        <div class="mt-3">
            <div><input type="radio" id="tuDealsRadio3" (change)="dealsChange($event)" name="tuDealsRadio"
                    class="radio " /> <b class="detailPoints tx-14 ml-3 ">Both</b>
            </div>
            <p class="pl-28 mt-1 tx-14">Provide both products and services to your
                customers on the ThankUCash Deals platform</p>
        </div>
        <button type="button" class="btn btn-block my-4" [disabled]="!(loyalty || deals)"
            (click)="referenceLogin()">Continue</button>
    </div>
</section>