<ol class="breadcrumb df-breadcrumbs ">
    <!-- <li class="breadcrumb-item text-primary" [routerLinkActive]="['active']"><a class="text-primary"
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']">
            Dashboard</a></li> -->
    <li class="breadcrumb-item cursor-pointer" [routerLinkActive]="['active']"><a
        (click)="_Router.navigateByUrl('/m/settings/apps')">
            App And Keys</a></li>

    <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="text-primary" [routerLinkActive]="['active']">
            App And Keys Details</a></li>
</ol>


<div class="row">
    <div class="col-md-4 pd-r-0">
        <div class="card  ht-100p">

            <div class="card-body">

                <div class="d-flex ">
                    <div class="">
                        <!-- <img class="bd bd-secondary ht-90 wd-90" (error)="_HelperService.defaultImage($event)"
                            src="{{this._HelperService._CoreCommon.ImageUrl}}" alt=""> -->
                    </div>


                </div>

                <div class="mg-t-15">
                    <h5 class="tx-18"> {{this._HelperService._CoreCommon.Name || "--"}} <span
                            class="{{this._HelperService._CoreCommon.StatusB}} mg-l-10">
                            {{this._HelperService._CoreCommon.StatusName || "--"}} </span> </h5>

                    <div class="tx-secondary tx-12"> {{this._HelperService._CoreCommon.AccountDisplayName || "--"}}
                    </div>
                </div>


                <div class="mg-t-15">
                    <button class="btn btn-primary tx-12 mg-r-10" (click)="Showkey()"> Show Keys </button>
                    <button class="btn btn-outline-secondary tx-12 mg-r-10" (click)="Form_EditAppKey_Show()"> Edit
                    </button>
                    <!-- <a class="tx-danger cursor-pointer" (click)="Delete_Confirm()"> <i style="color: #dc3545;"
                            data-feather="trash-2"></i> </a> -->
                </div>




                <div class="mg-t-25">
                    <div class="tx-uppercase tx-12 tx-bold"> Ip Address </div>
                    <div class="tx-secondary tx-14"> {{this._HelperService._CoreCommon.IpAddress || "--"}} </div>

                </div>

                <div class="mg-t-25">
                    <div class="tx-uppercase tx-12 tx-bold">Last Request on </div>
                    <div class="tx-secondary tx-14 mg-t-10">
                        <span class="text-secondary mg-r-5"> <i style="height: 18px; width: 18px;"
                                data-feather="calendar"></i></span>{{this._HelperService._CoreCommon.LastRequestDateTime
                        || "--"}}
                    </div>

                </div>

                <div class="mg-t-25">
                    <div class="tx-uppercase tx-bold tx-12">Created on </div>
                    <div class="tx-secondary tx-14 mg-t-10"> <span class="text-secondary mg-r-5"> <i
                                style="height: 18px; width: 18px;"
                                data-feather="calendar"></i></span>{{this._HelperService._CoreCommon.CreateDateS ||
                        "--"}}
                    </div>

                    <div class="tx-secondary tx-14 mg-t-10">
                        <span class="text-secondary mg-r-5"> <i style="height: 18px; width: 18px;"
                                data-feather="user"></i></span>{{this._HelperService._CoreCommon.CreatedByDisplayName ||
                        "--"}}
                    </div>

                </div>

                <div class="mg-t-25">
                    <div class="tx-uppercase tx-bold tx-12">Updated On </div>
                    <div class="tx-secondary tx-14 mg-t-10"> <span class="text-secondary mg-r-5"> <i
                                style="height: 18px; width: 18px;"
                                data-feather="calendar"></i></span>{{this._HelperService._CoreCommon.ModifyDateS ||
                        "--"}}
                    </div>
                    <div class="tx-secondary tx-14 mg-t-10">
                        <span class="text-secondary mg-r-5"> <i style="height: 18px; width: 18px;"
                                data-feather="user"></i></span>{{this._HelperService._CoreCommon.ModifyByDisplayName ||
                        "--"}}
                    </div>

                </div>





            </div>
            <!-- <div class="card-footer">
            
            </div> -->

        </div><!-- profile-sidebar -->
    </div>

    <div class="col-md-8">
        <div class="card">
            <ul class="nav nav-line  mg-x-15 pd-t-10" id="myTab" role="tablist">

                <li class="nav-item cursor-pointer">
                    <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                        routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelConsole.Administration.AppRequesthistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}/{{this._HelperService.AppConfig.ActiveAccountId}}/{{ this._HelperService.AppConfig.ActiveAccountKey}}"
                        role="tab" aria-controls="home" aria-selected="true">API Request History</a>
                </li>


                <!-- <button class="btn btn-primary rounded-pill tx-12 py-1 float-right ml-auto"
                    (click)="SendNotification()" *ngIf="_HelperService.showSendNotificationBtn"
                    style="height: 30px;"> Send Notification </button> -->
            </ul>

            <router-outlet></router-outlet>
        </div><!-- media-body -->

    </div>


</div>


<!-- <div class="row no-gutters">
    <div class="col-md-12 d-flex justify-content-between align-items-center pb-1 bd-b">
        <div class="">
            <div class="tx-20 tx-bold">Apps and Keys</div>
            <div class="tx-12 text-secondary">Manage user and system apps and keys for server requests</div>
        </div>

        <div>
            <button class="float-right btn btn-primary btn-xs" (click)="Form_AddApp_Show()"> Add New </button>
        </div>
    </div>
    <div class="col-md-4 pd-t-15">
        <div class="card ht-100p">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="form-inline ">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" [value]="ListApps_Config.SearchParameter"
                            maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                            (keyup)="ListApps_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                        <div class="input-group-append">
                            <button class="btn btn-outline-light" type="button"
                                (click)="ListApps_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                                    data-feather="search"></i> </button>
                        </div>
                    </div>
                </div>
                <div class=" tx-white">
                    <a class="nav-link ml-2  tx-12 bg-indigo pd-5 rounded-5 cursor-pointer"
                        (click)="ListApps_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                            style="height: 16px !important; width: 16px !important;" data-feather="refresh-cw"></i> </a>
                </div>
            </div>
            <div class="card-body appdivheight">
                <div (click)="ListApps_RowSelected(TItem)" class="cursor-pointer" *ngFor="let TItem of ListApps_Config.Data
        | paginate: { id: 'ListApps_Pagination',itemsPerPage: ListApps_Config.PageRecordLimit, currentPage: ListApps_Config.ActivePage,
        totalItems: ListApps_Config.TotalRecords }">
                    <div class="p-2 b-b">
                        <div class="_500 pb-1"> <i class="{{TItem.StatusI || ''}} f-s-8"></i>
                            {{TItem.Name || '--'}}
                            <span class="float-right  text-muted f-s-8" title="Requests">
                                {{TItem.Count || '0'}} <i class="fa fa-exchange-alt f-s-8"></i>
                            </span>
                        </div>
                        <div class="text-muted f-s-11">
                            {{TItem.HelperName ||'--'}} - L Req {{TItem.ModifyDate ||'--'}}
                            <span class="float-right badge bg-indigo tx-white">v {{TItem.SubItemsCount ||'--'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <pagination-controls id="ListApps_Pagination"
                    (pageChange)="ListApps_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                    maxSize="3" nextLabel=">" previousLabel="<"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="col-md-8 pd-t-15">
        <div class="card ht-100p">
            <div class="d-flex align-items-center text-center m-auto"
                *ngIf='_HelperService.AppConfig.ActiveReferenceKey==null'>
                <div style="height:200px" class="text-center m-auto  text-muted">
                    <div class="tx-32"> <i class="fas fa-sad-tear"></i> </div>
                    <div class="tx-22 d-flex align-items-center"> Select Application To View Details </div>
                </div>
            </div>
            <div class="card shadow-none bg-ui-02 mg-5 mb-0" *ngIf='_HelperService.AppConfig.ActiveReferenceKey!=null'>
                <div class="card-header pb-0 bd-b-0" id="headingOne">
                    <div class="row">
                        <div
                            class="col-sm-12 bd-b bd-2 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                            <div class="media  Hm-textCenterMd" [hidden]="!isLoaded">
                                <div class="media-body">
                                    <h6
                                        class="tx-20 tx-lg-24 tx-spacing--1 tx-medium text-capitalize  mg-b-2 d-flex align-items-center">
                                        {{ _HelperService._CoreCommon.Name || "--"}}
                                        
                                    </h6>
                                </div>
                            </div>
                            <div class="placeholder-paragraph wd-100p wd-sm-55p wd-md-45p pd-b-10" [hidden]="isLoaded">
                                <div class="line"></div>
                            </div>
                        </div>
                        <div class="col-lg-7   bd-b bd-2 Hm-media768 " id="StoresHide">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="row flex-nowrap">

                                        <div class="col-sm-6 col-md-6 col-lg-6">

                                        </div>

                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                        </div>


                                    </div>
                                </div>
                                <div
                                    class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                                    <div class="row">
                                        <div class="col">
                                            <button type="button" class="btn btn-danger mr-2"
                                                (click)="Delete_Confirm()">
                                                <span>
                                                    {{ 'Common.Delete' | translate }}
                                                </span>

                                            </button>
                                            <button (click)="Form_EditAppKey_Show()" class="btn btn-white mg-b-20
                                            rounded-5 float-right"> Update </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body pt-0 pb-0">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="row row pd-y-15">
                                    <div class="col-sm-12 col-md-4 col-lg-4 bd-r">
                                        <ul class="list-unstyled profile-info-list">
                                            <li class="tx-color-03"><i data-feather="phone"></i> <span
                                                    class="tx-color-03">
                                                    <span class="tx-color-03 mr-2"> Logging </span>
                                                    <span class="tx-dark"
                                                        *ngIf="_HelperService._CoreCommon.Sequence == 1">{{
                                                        'System.Helpers.Enabled' | translate }}</span>
                                                    <span class="text-danger"
                                                        *ngIf="_HelperService._CoreCommon.Sequence != 1">{{
                                                        'System.Helpers.Disabled' | translate }}</span></span></li>
                                            <li class="tx-color-03"><i data-feather="mail"></i> <a class="tx-color-03">
                                                    <span class="tx-color-03 mr-2"> Requests </span> <span
                                                        class="tx-dark">
                                                        {{_HelperService._CoreCommon.HelperName||
                                                            "--"}} -
                                                        {{ListAppUsage_Config.TotalRecords
                                                            || "--"}} </span></a></li>

                                        </ul>

                                    </div>

                                    <div class="col-sm-12 col-md-4 col-lg-8 Hm-media768">

                                        <ul class="list-unstyled profile-info-list">

                                            <li class="tx-color-03"><i data-feather="user"></i> <a> <span
                                                        class="text-secondary mr-2"> User </span>
                                                    <span class="tx-dark">
                                                        {{_HelperService._CoreCommon.UserAccountDisplayName || "--"}}
                                                    </span>
                                                </a>
                                            </li>


                                            <li class="tx-color-03">




                                                <a class="tx-color-03">
                                                    <span class="text-secondary mr-2"> App Key </span>
                                                    <span
                                                        class="text-primary">{{_HelperService._CoreCommon.Value || "--"}}</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row row-xs pd-r-10" *ngIf='_HelperService.AppConfig.ActiveReferenceKey!=null'>
                <div class="col-sm-12 col-lg-12 mg-5">

                    <div class="card bd-0 p-0 mg-b-10">
                        <div class="row">
                            <div class="col">
                                <div class="card ">
                                    <ul class="nav nav-line  mg-x-15 pd-t-10" id="myTab" role="tablist">

                                        <li class="nav-item pt-1 "><a class="nav-link active" href="#" data-toggle="tab"
                                                data-target="#tab-1" (click)="tabSwitched('usage')">App Usage</a></li>
                                        <li class="nav-item pt-1 "><a class="nav-link" href="#" data-toggle="tab"
                                                data-target="#tab-2" (click)="tabSwitched('version')">App Version</a>
                                        </li>
                                        
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show  bd-0  active" role="tabpanel" id="tab-1">
                                            <div class="card bd-0">
                                                <div class="card-header">
                                                    <div class=" no-gutters">
                                                        <div class="d-sm-flex justify-content-between">
                                                            <span class="tx-semibold mg-t-10">App Usage<span
                                                                    class="text-muted tx-normal">
                                                                    ({{ ListAppUsage_Config.TotalRecords}})</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div
                                                    class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
                                                    <div class="form-inline ">
                                                        <div class="input-group input-group-sm mr-3">
                                                            <input type="text" class="form-control"
                                                                [value]=" ListAppUsage_Config.SearchParameter"
                                                                maxlength="100" class="form-control"
                                                                placeholder="{{ 'Common.Search' | translate }}"
                                                                (keyup)=" ListAppVersions_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-light" type="button"
                                                                    (click)=" ListAppUsage_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                                                                        class="fa fa-search"></i> </button>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="d-flex ml-auto">
                                                        <button type="button"
                                                            class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                                                            [disabled]='(_HelperService.FilterSnap.id == -1)'
                                                            (click)="Delete_Filter()">
                                                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                                        </button>

                                                        <div class="form-group my-auto shadow-none ml-auto "
                                                            *ngIf="_HelperService._RefreshUI">
                                                            <select2 name="itemId0"
                                                                [options]="_DataHelperService.S2_NewSavedFilters_Option"
                                                                class="wd-30 select2"
                                                                [data]="_HelperService.Active_FilterOptions"
                                                                [value]="_HelperService.Active_FilterOptions[0]"
                                                                (valueChanged)="Active_FilterValueChanged( $event )">
                                                            </select2>
                                                        </div>
                                                        <button type="button"
                                                            class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                                                            [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
                                                      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
                                                            (click)="Save_NewFilter()">
                                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                        </button>

                                                    </div>

                                                    <nav class="nav nav-with-icon tx-15">
                                                        <div class="dropdown dropleft">
                                                            <a href="" class="nav-link mr-2" id="ListAppUsage_sdropdown"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                (click)="_HelperService.StopClickPropogation()"
                                                                aria-expanded="false"> <i class="fa fa-align-left"
                                                                    aria-hidden="true"></i>
                                                            </a>
                                                            <div class="dropdown-menu tx-13">
                                                                <form class="wd-250 pd-15">

                                                                    <h6
                                                                        class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                                                                        Sort
                                                                        <div class="float-right tx-20"
                                                                            *ngIf="ListAppUsage_Config.Sort.SortOrder == 'desc'"
                                                                            (click)="ListAppUsage_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                                                            <i class="fas fa-sort-alpha-down-alt"></i>
                                                                        </div>
                                                                        <div class="float-right tx-20"
                                                                            *ngIf="ListAppUsage_Config.Sort.SortOrder == 'asc'"
                                                                            (click)="ListAppUsage_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                                                            <i class="fas fa-sort-alpha-up-alt"></i>
                                                                        </div>
                                                                    </h6>
                                                                    <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                                                                        *ngFor="let TItem of  ListAppUsage_Config.Sort.SortOptions"
                                                                        (click)=" ListAppUsage_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                                                                        {{TItem.Name}}
                                                                    </a>
                                                                    <button type="button"
                                                                        class="btn btn-light btn-sm mr-2 mg-t-20"
                                                                        (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                                                        Reset</button>
                                                                    <button type="button"
                                                                        class="btn btn-primary btn-sm  mg-t-20"
                                                                        (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="dropdown dropleft">
                                                            <a href="" class="nav-link" id="ListAppUsage_fdropdown"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                (click)="_HelperService.StopClickPropogation()"
                                                                aria-expanded="false">
                                                                <i class="fa fa-filter" aria-hidden="true"></i>
                                                            </a>
                                                            <div class="dropdown-menu tx-13">
                                                                <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                                                                    <h6
                                                                        class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                                                                        Filters
                                                                    </h6>
                                                                    <div>
                                                                        <div class="form-group">
                                                                            <label>Date</label>
                                                                            <input type="text"
                                                                                class="form-control  form-daterangepicker"
                                                                                name="daterangeInput" daterangepicker
                                                                                [options]="_HelperService.AppConfig.DateRangeOptions"
                                                                                (selected)=" ListAppUsage_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="form-group">
                                                                            <label>Status</label>
                                                                            <select2
                                                                                [options]="_DataHelperService.S2_Status_Option"
                                                                                class="wd-100p"
                                                                                [data]=" ListAppUsage_Config.StatusOptions"
                                                                                (valueChanged)=" ListAppUsage_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                                                            </select2>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                       
                                                                    </div>
                                                                    <button type="button"
                                                                        class="btn btn-light btn-sm mr-2"
                                                                        (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                                                        Reset</button>
                                                                    <button type="button"
                                                                        class="btn btn-primary btn-sm "
                                                                        (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <a class="nav-link ml-2 RefreshColor"
                                                            (click)=" ListAppUsage_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                                        </a>
                                                    </nav>
                                                </div>
                                                <div class="pt-0 pd-l-15 pd-b-15">
                                                    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                                                        [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
                                                        {{_HelperService.FilterSnap.StatusName}}
                                                        <span (click)="RemoveFilterComponent('Status')"
                                                            class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                                                class="fas fa-times"></i> </span>
                                                    </div>
                                                    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                                                        [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='ResponseTime' && _HelperService.FilterSnap.Sort.SortOrder=='desc')">
                                                        <span>
                                                            {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
                                                        <span (click)="RemoveFilterComponent('Sort')"
                                                            class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                                                class="fas fa-times"></i> </span>
                                                    </div>
                                                  
                                                    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                                                        [hidden]="!_HelperService.FilterSnap.StartTime">
                                                        {{_HelperService.GetDateTimeS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateTimeS(_HelperService.FilterSnap.EndTime)}}
                                                        <span (click)="RemoveFilterComponent('Time')"
                                                            class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                                                class="fas fa-times"></i> </span>
                                                    </div>
                                                    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                                                        *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
                                                        {{TItem.data[0].DisplayName}}
                                                        <span (click)="RemoveFilterComponent('Other',i)"
                                                            class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                                                class="fas fa-times"></i> </span>
                                                    </div>

                                                    <span class="badge badge-pill badge-primary"
                                                        *ngFor="let TItem of  ListAppUsage_Config.Filters">{{TItem.Title}}</span>

                                                </div>

                                                <div class="card-body p-0 table-responsive">
                                                    <table
                                                        class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
                                                        <thead>
                                                            <tr>
                                                            
                                                                <th class="text-center">
                                                                </th>
                                                                <th class="">
                                                                    #
                                                                </th>
                                                                <th class="">
                                                                    Version
                                                                </th>
                                                                <th class="">
                                                                    User
                                                                </th>
                                                                <th class="">
                                                                    Req on
                                                                </th>
                                                                <th class="">
                                                                    Respond
                                                                </th>

                                                                <th class="">
                                                                    Time
                                                                </th>


                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="cursor-pointer"
                                                                (click)=" ListAppUsage_RowSelected(TItem)"
                                                                *ngFor="let TItem of  ListAppUsage_Config.Data  | paginate: { id: ' ListAppUsage_Paginator',itemsPerPage:  ListAppUsage_Config.PageRecordLimit, currentPage:  ListAppUsage_Config.ActivePage,  totalItems:  ListAppUsage_Config.TotalRecords }">
                                                                <td class="text-center">
                                                                    <span
                                                                        class="d-block wd-15 ht-15 rounded-circle ml-auto"
                                                                        [style.background-color]="TItem.StatusC"></span>

                                                                </td>
                                                                <td>
                                                                    <div class="tx-14 tx-semibold ">
                                                                        {{TItem.ReferenceId  || "--"}}</div>

                                                                </td>
                                                                <td class="">
                                                                    <div class="tx-14">{{TItem.AppVersionName  || "--"}}
                                                                    </div>

                                                                </td>
                                                                <td class="">
                                                                    {{TItem.UserAccountDisplayName || "--"}}
                                                                </td>
                                                                <td class="">
                                                                    {{TItem.RequestTime || "--" }}
                                                                </td>
                                                                <td class="">
                                                                    {{TItem.ResponseTime || "--"}}
                                                                </td>


                                                                <td class="">
                                                                    <span
                                                                        class=" full-width">{{TItem.ProcessingTime || "--"}}</span>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="card-footer pd-20">
                                                    <span class="mr-3">
                                                        {{ 'Common.Showing' | translate }}
                                                        <span class="bold">{{ ListAppUsage_Config.ShowingStart}}
                                                            {{ 'Common.To' | translate }}
                                                            {{ ListAppUsage_Config.ShowingEnd}}
                                                        </span> {{ 'Common.Of' | translate }}
                                                        {{ ListAppUsage_Config.TotalRecords}}
                                                    </span>
                                                    <span>
                                                        {{ 'Common.Show' | translate }}
                                                        <select class="wd-50 "
                                                            [(ngModel)]=" ListAppUsage_Config.PageRecordLimit"
                                                            (ngModelChange)=" ListAppUsage_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                                                            <option [ngValue]="TItem"
                                                                *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                                                                {{TItem}}
                                                            </option>
                                                        </select>
                                                    </span>
                                                    <span class="float-right">
                                                        <pagination-controls id=" ListAppUsage_Paginator"
                                                            class="pagination pagination-space"
                                                            (pageChange)=" ListAppUsage_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                                                            nextLabel="{{ 'Common.Next' | translate }}"
                                                            previousLabel="{{ 'Common.Previous' | translate }}">
                                                        </pagination-controls>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" role="tabpanel" role="tabpanel" id="tab-2">
                                            <div class="card bd-0">
                                                <div class="card-header">
                                                    <div class=" no-gutters">
                                                        <div
                                                            class="d-sm-flex justify-content-between align-items-center">
                                                            <span class="tx-semibold mg-t-10">App Versions<span
                                                                    class="text-muted tx-normal">
                                                                    ({{ ListAppVersions_Config.TotalRecords}})</span>


                                                            </span>


                                                        </div>
                                                    </div>
                                                </div>

                                                <div
                                                    class="box-header px-3 pd-t-15 pd-b-10  d-flex align-items-center justify-content-between">
                                                    <div class="form-inline ">
                                                        <div class="input-group input-group-sm mr-3">
                                                            <input type="text" class="form-control"
                                                                [value]=" ListAppVersions_Config.SearchParameter"
                                                                maxlength="100" class="form-control"
                                                                placeholder="{{ 'Common.Search' | translate }}"
                                                                (keyup)=" ListAppVersions_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-light" type="button"
                                                                    (click)=" ListAppVersions_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                                                                        class="fa fa-search"></i> </button>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="d-flex ml-auto">
                                                        <button type="button"
                                                            class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
                                                            [disabled]='(_HelperService.FilterSnap.id == -1)'
                                                            (click)="Delete_FilterV()">
                                                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                                        </button>

                                                        <div class="form-group my-auto shadow-none ml-auto "
                                                            *ngIf="_HelperService._RefreshUI">
                                                            <select2 name="itemId0"
                                                                [options]="_DataHelperService.S2_NewSavedFilters_Option"
                                                                class="wd-30 select2"
                                                                [data]="_HelperService.Active_FilterOptions"
                                                                [value]="_HelperService.Active_FilterOptions[0]"
                                                                (valueChanged)="Active_FilterValueChangedV( $event )">
                                                            </select2>
                                                        </div>

                                                        <button type="button"
                                                            class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
                                                            [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
                                                      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
                                                            (click)="Save_NewFilterV()">
                                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                        </button>

                                                    </div>

                                                    <nav class="nav nav-with-icon tx-15">
                                                        <div class="dropdown dropleft">
                                                            <a href="" class="nav-link mr-2" id="ListAppUsage_sdropdown"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                (click)="_HelperService.StopClickPropogation()"
                                                                aria-expanded="false"> <i class="fa fa-align-left"
                                                                    aria-hidden="true"></i>
                                                            </a>
                                                            <div class="dropdown-menu tx-13">
                                                                <form class="wd-250 pd-15">

                                                                    <h6
                                                                        class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                                                                        Sort
                                                                        <div class="float-right tx-20"
                                                                            *ngIf="ListAppUsage_Config.Sort.SortOrder == 'desc'"
                                                                            (click)="ListAppUsage_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                                                            <i class="fas fa-sort-alpha-down-alt"></i>
                                                                        </div>
                                                                        <div class="float-right tx-20"
                                                                            *ngIf="ListAppUsage_Config.Sort.SortOrder == 'asc'"
                                                                            (click)="ListAppUsage_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                                                            <i class="fas fa-sort-alpha-up-alt"></i>
                                                                        </div>
                                                                    </h6>
                                                                    <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                                                                        *ngFor="let TItem of  ListAppUsage_Config.Sort.SortOptions"
                                                                        (click)=" ListAppUsage_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                                                                        {{TItem.Name}}
                                                                    </a>
                                                                    <button type="button"
                                                                        class="btn btn-light btn-sm mr-2 mg-t-20"
                                                                        (click)="ResetFiltersV( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                                                        Reset</button>
                                                                    <button type="button"
                                                                        class="btn btn-primary btn-sm  mg-t-20"
                                                                        (click)="ApplyFiltersV( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="dropdown dropleft">
                                                            <a href="" class="nav-link" id="ListAppUsage_fdropdown"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                (click)="_HelperService.StopClickPropogation()"
                                                                aria-expanded="false">
                                                                <i class="fa fa-filter" aria-hidden="true"></i>
                                                            </a>
                                                            <div class="dropdown-menu tx-13">
                                                                <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                                                                    <h6
                                                                        class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">
                                                                        Filters
                                                                    </h6>
                                                                    <div>
                                                                        <div class="form-group">
                                                                            <label>Date</label>
                                                                            <input type="text"
                                                                                class="form-control  form-daterangepicker"
                                                                                name="daterangeInput" daterangepicker
                                                                                [options]="_HelperService.AppConfig.DateRangeOptions"
                                                                                (selected)=" ListAppUsage_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="form-group">
                                                                            <label>Status</label>
                                                                            <select2
                                                                                [options]="_DataHelperService.S2_Status_Option"
                                                                                class="wd-100p"
                                                                                [data]=" ListAppUsage_Config.StatusOptions"
                                                                                (valueChanged)=" ListAppUsage_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                                                            </select2>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                    
                                                                    </div>
                                                                    <button type="button"
                                                                        class="btn btn-light btn-sm mr-2"
                                                                        (click)="ResetFiltersV( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                                                                        Reset</button>
                                                                    <button type="button"
                                                                        class="btn btn-primary btn-sm "
                                                                        (click)="ApplyFiltersV( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <a class="nav-link ml-2 RefreshColor"
                                                            (click)=" ListAppUsage_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)">
                                                            <i class="fa fa-refresh" aria-hidden="true"></i>
                                                        </a>
                                                    </nav>
                                                </div>
                                                <div class="pt-0 pd-l-15 pd-b-15">
                                                    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                                                        [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
                                                        {{_HelperService.FilterSnap.StatusName}}
                                                        <span (click)="RemoveFilterComponentV('Status')"
                                                            class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                                                class="fas fa-times"></i> </span>
                                                    </div>
                                                    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                                                        [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='ResponseTime' && _HelperService.FilterSnap.Sort.SortOrder=='desc')">
                                                        <span>
                                                            {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
                                                        <span (click)="RemoveFilterComponentV('Sort')"
                                                            class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                                                class="fas fa-times"></i> </span>
                                                    </div>
                                                 
                                                    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                                                        [hidden]="!_HelperService.FilterSnap.StartTime">
                                                        {{_HelperService.GetDateTimeS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateTimeS(_HelperService.FilterSnap.EndTime)}}
                                                        <span (click)="RemoveFilterComponentV('Time')"
                                                            class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                                                class="fas fa-times"></i> </span>
                                                    </div>
                                                    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
                                                        *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
                                                        {{TItem.data[0].DisplayName}}
                                                        <span (click)="RemoveFilterComponentV('Other',i)"
                                                            class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
                                                                class="fas fa-times"></i> </span>
                                                    </div>

                                                    <span class="badge badge-pill badge-primary"
                                                        *ngFor="let TItem of  ListAppVersions_Config.Filters">{{TItem.Title}}</span>

                                                </div>

                                                <div class="card-body p-0 table-responsive">
                                                    <table
                                                        class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
                                                        <thead>
                                                            <tr>
                                                               
                                                                <th class="text-center">
                                                                </th>
                                                                <th class="">
                                                                    Name
                                                                </th>
                                                                <th class="">
                                                                    Requests
                                                                </th>
                                                                <th class="">
                                                                    Added on
                                                                </th>
                                                                <th class="">
                                                                    Added by
                                                                </th>
                                                                <th class="">
                                                                    Updated on
                                                                </th>



                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="cursor-pointer"
                                                                (click)=" ListAppVersions_RowSelected(TItem)"
                                                                *ngFor="let TItem of  ListAppVersions_Config.Data  | paginate: { id: ' ListAppVersions_Paginator',itemsPerPage:  ListAppVersions_Config.PageRecordLimit, currentPage:  ListAppVersions_Config.ActivePage,  totalItems:  ListAppVersions_Config.TotalRecords }">
                                                                <td class="text-center">
                                                                    <span
                                                                        class="d-block wd-15 ht-15 rounded-circle ml-auto"
                                                                        [style.background-color]="TItem.StatusC"></span>

                                                                </td>
                                                                <td>
                                                                    <div class="tx-14 tx-semibold ">
                                                                        {{TItem.Name  || "--"}}</div>

                                                                </td>

                                                                <td class="">
                                                                    {{TItem.Count || "--"}}
                                                                </td>
                                                                <td class="">
                                                                    {{TItem.CreateDate || "--" }}
                                                                </td>
                                                                <td class="">
                                                                    {{TItem.CreatedByDisplayName || "--"}}
                                                                </td>


                                                                <td class="">
                                                                    <span
                                                                        class=" full-width">{{TItem.ModifyDate || "--"}}</span>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="card-footer pd-20">
                                                    <span class="mr-3">
                                                        {{ 'Common.Showing' | translate }}
                                                        <span class="bold">{{ ListAppVersions_Config.ShowingStart}}
                                                            {{ 'Common.To' | translate }}
                                                            {{ ListAppVersions_Config.ShowingEnd}}
                                                        </span> {{ 'Common.Of' | translate }}
                                                        {{ ListAppVersions_Config.TotalRecords}}
                                                    </span>
                                                    <span>
                                                        {{ 'Common.Show' | translate }}
                                                        <select class="wd-50 "
                                                            [(ngModel)]=" ListAppVersions_Config.PageRecordLimit"
                                                            (ngModelChange)=" ListAppVersions_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                                                            <option [ngValue]="TItem"
                                                                *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                                                                {{TItem}}
                                                            </option>
                                                        </select>
                                                    </span>
                                                    <span class="float-right">
                                                        <pagination-controls id=" ListAppVersions_Paginator"
                                                            class="pagination pagination-space"
                                                            (pageChange)=" ListAppVersions_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                                                            nextLabel="{{ 'Common.Next' | translate }}"
                                                            previousLabel="{{ 'Common.Previous' | translate }}">
                                                        </pagination-controls>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->
<div class="modal fade" id="Form_AddApp_Content" role="dialog" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'System.Helpers.TitleAdd' | translate }}</h5>
            </div>
            <form [formGroup]="Form_AddApp" (ngSubmit)="Form_AddApp_Process(Form_AddApp.value)" role="form">
                <div class="modal-body b-b">
                    <div class="form-group">
                        <label>{{'System.Helpers.Name' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" name="Name" maxlength="256" class="form-control"
                            [formControl]="Form_AddApp.controls['Name']"
                            [ngClass]="{'is-invalid':!Form_AddApp.controls['Name'].valid && Form_AddApp.controls['Name'].touched}">
                        <label class="text-danger" for="Name"
                            *ngIf="Form_AddApp.controls['Name'].hasError('required') && Form_AddApp.controls['Name'].touched">{{
                            'System.Helpers.Name_ER_Required' | translate }}</label>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-6">
                            <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                <label>{{ 'Common.Os' | translate }}<span class="text-danger">*</span>
                                </label>
                                <select2 name="HelperCode" class="full-width" [options]="GetAppAddOs_Option"
                                    [value]="Form_AddApp.controls['HelperCode']"
                                    (valueChanged)="GetAppAddOs_ListChange($event)"></select2>
                            </div>
                        </div> -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ 'Common.UserAccount' | translate }}
                                </label>
                                <select2 name="AddUserAccount" class="full-width"
                                    [options]="GetAddAppUserAccounts_Option"
                                    (valueChanged)="GetAddAppUserAccounts_ListChange($event)"></select2>
                                <label class="text-danger" for="AddUserAccount"
                                    *ngIf="Form_AddApp.controls['AccountKey'].hasError('required') && Form_AddApp.controls['AccountKey'].touched">{{
                                    'System.Helpers.UserAccountKey_ER_Required' | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label>{{'System.Helpers.Description' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" name="Description" maxlength="256" class="form-control"
                            [formControl]="Form_AddApp.controls['Description']"
                            [ngClass]="{'is-invalid':!Form_AddApp.controls['Description'].valid && Form_AddApp.controls['Description'].touched}">
                        <label class="text-danger" for="Description"
                            *ngIf="Form_AddApp.controls['Description'].hasError('required') && Form_AddApp.controls['Description'].touched">{{
                            'System.Helpers.Description_ER_Required' | translate }}</label>
                    </div> -->
                    <div class="row">


                        <div class="col-md-12">

                            <div class="form-group">
                                <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="radio" name="statusoptions"
                                            [value]="'default.active'"
                                            [formControl]="Form_AddApp.controls['StatusCode']">
                                        <i class="dark-white"></i>
                                        {{ 'Common.Active' | translate }}</label>
                                </div>
                                <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                                            name="statusoptions" [value]="'default.inactive'"
                                            [formControl]="Form_AddApp.controls['StatusCode']">
                                        <i class="dark-white"></i>
                                        {{ 'Common.Inactive' | translate }}</label></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for=""> Status</label>
                            <div class="form-group mr-3">
                                <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="checkbox" name="logrequest" [value]="1"
                                            [checked]="SelectValue" (change)="CheckValue()">
                                        <i class="dark-white"></i>
                                        {{ 'System.Helpers.LogRequest' | translate }}</label>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="light p-3 text-right b-b">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_AddApp_Close()">{{
                        'Common.Close'
                        | translate }}</button>
                    <button type="submit" class="btn btn-primary mr-2" (click)="Form_AddApp.value.OperationType='close'"
                        [disabled]="!Form_AddApp.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.Save' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                            }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Form_Edit_Content" role="dialog" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'System.Helpers.TitleEdit' | translate }}</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="Form_EditApp" (ngSubmit)="Form_EditApp_Process1(Form_EditApp.value)" role="form">
                    <div class="p-3 b-b">
                        <div class="form-group">
                            <label>{{'System.Helpers.Name' | translate }}
                                <span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" name="Name" maxlength="256" class="form-control"
                                    [(ngModel)]="_HelperService._CoreCommon.Name"
                                    [formControl]="Form_EditApp.controls['Name']"
                                    [ngClass]="{'is-invalid':!Form_EditApp.controls['Name'].valid && Form_EditApp.controls['Name'].touched}">
                            </div>
                            <label class="text-danger" for="Name"
                                *ngIf="Form_EditApp.controls['Name'].hasError('required') && Form_EditApp.controls['Name'].touched">{{
                                'System.Helpers.Name_ER_Required' | translate }}</label>
                        </div>
                        <!-- <div class="form-group">
                            <label>{{ 'Common.Os' | translate }}<span class="text-danger">*</span>
                            </label>
                            <select2 *ngIf="!_HelperService.IsFormProcessing" name="HelperCode" class="full-width"
                                [options]="GetAppUpdateOs_Option" [value]="Form_EditApp.controls['HelperCode']"
                                (valueChanged)="GetAppAddOs_ListChange($event)"></select2>
                            <label class="text-danger" for="HelperCode"
                                *ngIf="Form_EditApp.controls['HelperCode'].hasError('required') && Form_EditApp.controls['HelperCode'].touched">{{
                                'System.Helpers.HelperCode_ER_Required' | translate }}</label>
                        </div> -->
                        <div class="form-group">
                            <label>{{ 'Common.UserAccount' | translate }}
                            </label>
                            <select2 name="AddUserAccount" class="full-width" *ngIf="Accountdisplay"
                                [options]="GetUpdateAppUserAccounts_Option"
                                (valueChanged)="GetUpdateAppUserAccounts_ListChange($event)"></select2>

                        </div>
                        <!-- <div class="form-group">
                            <label>{{'System.Helpers.Description' | translate }}
                                <span class="text-danger">*</span>
                            </label>
                            <div class="controls">
                                <input type="text" name="Description" maxlength="256" class="form-control"
                                    [(ngModel)]="_HelperService._CoreCommon.Description"
                                    [formControl]="Form_EditApp.controls['Description']"
                                    [ngClass]="{'is-invalid':!Form_EditApp.controls['Description'].valid && Form_EditApp.controls['Description'].touched}">
                            </div>
                            <label class="text-danger" for="Description"
                                *ngIf="Form_EditApp.controls['Description'].hasError('required') && Form_EditApp.controls['Description'].touched">{{
                                'System.Helpers.Description_ER_Required' | translate }}</label>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="checkbox float-left mr-3"><label class="ui-check">
                                            <input type="checkbox" value="0" name="logrequest" [checked]="SelectValue"
                                                (change)="CheckValue()"
                                                [formControl]="Form_EditApp.controls['LogRequest']"><i
                                                class="dark-white"></i> {{ 'System.Helpers.LogRequest' |
                                            translate}}</label>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-12 mg-t-15">
                                <div class="form-group">
                                    <div class="radio float-left mr-3 ">
                                        <label class="ui-check"><input type="radio" name="statusoptions"
                                                [(ngModel)]="_HelperService._CoreCommon.StatusCode"
                                                [value]="'default.active'"
                                                [formControl]="Form_EditApp.controls['StatusCode']">
                                            <i class="dark-white"></i>
                                            {{ 'Common.Active' | translate }}</label>
                                    </div>
                                    <div class="radio  "><label class="ui-check"><input type="radio"
                                                [(ngModel)]="_HelperService._CoreCommon.StatusCode" name="statusoptions"
                                                [value]="'default.inactive'"
                                                [formControl]="Form_EditApp.controls['StatusCode']">
                                            <i class="dark-white"></i>
                                            {{ 'Common.Inactive' | translate }}</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="float-right">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="!Form_EditApp.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.Update' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{
                            'Common.PleaseWait' |
                            translate
                            }}...
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Form_Add_Content" role="dialog" tabindex="-1" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'System.Helpers.TitleAdd' | translate }}</h5>
            </div>
            <form [formGroup]="Form_Add" (ngSubmit)="Form_Add_Process(Form_Add.value)" role="form">
                <div class="modal-body b-b">
                    <div class="form-group">
                        <label>{{'System.Helpers.Name' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" name="Name" maxlength="256" class="form-control"
                            [formControl]="Form_Add.controls['Name']"
                            [ngClass]="{'is-invalid':!Form_Add.controls['Name'].valid && Form_Add.controls['Name'].touched}">
                        <label class="text-danger" for="Name"
                            *ngIf="Form_Add.controls['Name'].hasError('required') && Form_Add.controls['Name'].touched">{{
                            'System.Helpers.Name_ER_Required' | translate }}</label>
                    </div>

                    <label for=""> Status</label>
                    <div class="form-group">
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="statusoptions" [value]="'default.active'"
                                    [formControl]="Form_Add.controls['StatusCode']">
                                <i class="dark-white"></i>
                                {{ 'Common.Active' | translate }}</label>
                        </div>
                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
                                    [value]="'default.inactive'" [formControl]="Form_Add.controls['StatusCode']">
                                <i class="dark-white"></i>
                                {{ 'Common.Inactive' | translate }}</label></div>
                    </div>

                </div>

                <div class="light p-3 text-right b-b">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_Add_Close()">{{
                        'Common.Close'
                        | translate }}</button>
                    <button type="submit" class="btn btn-primary" (click)="Form_Add.value.OperationType='close'"
                        [disabled]="!Form_Add.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.Save' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                            }}...
                        </span>
                    </button>


                    <!-- <button type="button" class="btn btn-outline   b-warning  text-warning mr-2" (click)="Form_Add_Clear()">{{
                                    'Common.Clear' |
                                    translate }}</button> -->

                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="Form_EditAppKey_Content" role="dialog" data-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'System.Helpers.TitleEdit' | translate }}</h5>
            </div>
            <form [formGroup]="Form_EditAppKey" (ngSubmit)="Form_EditAppKey_Process(Form_EditAppKey.value)" role="form">
                <div class="modal-body b-b">
                    <div class="form-group">
                        <label>{{'System.Helpers.Name' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" name="Name" maxlength="256" class="form-control"
                            [formControl]="Form_EditAppKey.controls['Name']"
                            [(ngModel)]="_HelperService._CoreCommon.Name"
                            [ngClass]="{'is-invalid':!Form_EditAppKey.controls['Name'].valid && Form_EditAppKey.controls['Name'].touched}">
                        <label class="text-danger" for="Name"
                            *ngIf="Form_EditAppKey.controls['Name'].hasError('required') && Form_EditAppKey.controls['Name'].touched">{{
                            'System.Helpers.Name_ER_Required' | translate }}</label>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-6">
                            <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                <label>{{ 'Common.Os' | translate }}<span class="text-danger">*</span>
                                </label>
                                <select2 name="HelperCode" class="full-width" [options]="GetAppAddOs_Option"
                                    [value]="Form_EditAppKey.controls['HelperCode']"
                                    (valueChanged)="GetAppAddOs_ListChange($event)"></select2>
                            </div>
                        </div> -->
                        <!-- <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ 'Common.UserAccount' | translate }}
                                </label>
                                <select2 name="AddUserAccount" class="full-width"
                                    [options]="GetAddAppUserAccounts_Option"
                                   
                                    (valueChanged)="GetAddAppUserAccounts_ListChange($event)"></select2>
                                <label class="text-danger" for="AddUserAccount"
                                    *ngIf="Form_EditAppKey.controls['AccountKey'].hasError('required') && Form_EditAppKey.controls['AccountKey'].touched">{{
                                    'System.Helpers.UserAccountKey_ER_Required' | translate }}</label>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="form-group">
                        <label>{{'System.Helpers.Description' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" name="Description" maxlength="256" class="form-control"
                            [formControl]="Form_EditAppKey.controls['Description']"
                            [ngClass]="{'is-invalid':!Form_EditAppKey.controls['Description'].valid && Form_EditAppKey.controls['Description'].touched}">
                        <label class="text-danger" for="Description"
                            *ngIf="Form_EditAppKey.controls['Description'].hasError('required') && Form_EditAppKey.controls['Description'].touched">{{
                            'System.Helpers.Description_ER_Required' | translate }}</label>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">

                            <label for=""> Status </label>

                            <div class="form-group">
                                <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="radio" name="statusoptions"
                                            [value]="'default.active'"
                                            [(ngModel)]="_HelperService._CoreCommon.StatusCode"
                                            [formControl]="Form_EditAppKey.controls['StatusCode']">
                                        <i class="dark-white"></i>
                                        {{ 'Common.Active' | translate }}</label>
                                </div>
                                <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                                            name="statusoptions" [value]="'default.inactive'"
                                            [(ngModel)]="_HelperService._CoreCommon.StatusCode"
                                            [formControl]="Form_EditAppKey.controls['StatusCode']">
                                        <i class="dark-white"></i>
                                        {{ 'Common.Inactive' | translate }}</label></div>
                            </div>
                        </div>
                        <!-- <div class="col-md-12">

                            <div class="form-group mr-3">
                                <div class="radio float-left mr-3">
                                    <label class="ui-check"><input type="checkbox" name="logrequest" [value]="1"
                                            [checked]="SelectValue" [(ngModel)]="_HelperService._CoreCommon.LogRequest"
                                            (change)="CheckValue()">
                                        <i class="dark-white"></i>
                                        {{ 'System.Helpers.LogRequest' | translate }}</label>
                                </div>
                            </div>

                        </div> -->


                    </div>

                </div>

                <div class="light p-3 text-right b-b">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_EditAppKey_Close()">{{
                        'Common.Close'
                        | translate }}</button>
                    <button type="submit" class="btn btn-primary mr-2"
                        (click)="Form_EditAppKey.value.OperationType='close'"
                        [disabled]="!Form_EditAppKey.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.Save' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                            }}...
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">App Key</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="tx-14 text-secondary"> App Key </div>
                    <div class="bd text-secondary pd-5">
                        {{_HelperService._CoreCommon.ActiveAppKey || "--"}}
                    </div>

                    <div class="tx-14 text-secondary pd-t-25"> App Version Key </div>
                    <div class="bd  text-secondary pd-5">
                        {{_HelperService._CoreCommon.ActiveAppVersionKey || "--"}}

                    </div>
                    <!-- 
                    <div class="tx-14 text-secondary pd-t-25"> App Version Name  </div>
                    <div class="bd  text-secondary pd-5">
                        {{_HelperService._CoreCommon.AppVersionName || "--"}}

                    </div> -->
                    <div class="text-center">
                        <div type="submit" class="btn btn-primary mg-t-30" (click)="ResetKey()"> Generate New API
                            Version Key </div>

                        <div class="text-secondary tx-12  tx-uppercase tx-medium mg-t-30"> Last Updated </div>
                        <div class="text-secondary tx-14  tx-uppercase mg-t-6">
                            {{this._HelperService._CoreCommon.ModifyByDisplayName || "--"}} </div>
                        <div class="text-secondary tx-12  tx-uppercase mg-t-6">
                            {{this._HelperService._CoreCommon.ModifyDateS || "--"}} </div>


                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>