.tooltip-inner{
  background-color: white !important;
  color: black !important;
  border: 1px solid rgba(0, 0, 0, 0.415);
  opacity: 1 !important;
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 0 5px 5px;
  border-bottom-color: rgba(0, 0, 0, 0.415);
}