<!-- <div class="card">

  <div class="pd-20">
    <h6 class="tx-16"> Top-Up</h6>

    <div class="text-secondary ">
      You can purchase Top-up amount now to give rewards to your customers from it
    </div>
    <div>
      <div class=" mg-t-5"> Available Balance </div>
      <h5 class="tx-20 mg-t-5"> <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
        {{_AccountBalance.Balance  | number: "1.2-2" || "--" }} </h5>
    </div>

    <div class="mg-t-15">
      <button class="btn btn-outline-primary mg-r-10" (click)="OpenPaymentOptions()"> Add Top-Up </button>
      <button class="btn btn-outline-secondary" (click)="OpenTopUpHistory()"> Top-Up History </button>
    </div>

  </div>
</div> -->



<div class=" d-flex justify-content-center align-items-center" style="height: 100% !important;">

  <!-- <div class="card wd-500  "
    *ngIf="this._HelperService.UserAccount.SystemSubscription.IsSubscriptionActive == false && this._HelperService.UserAccount.SystemSubscription.PlanReferenceId == 0">
    <div class="card-header tx-semibold tx-16">
      Upgrade Plan
    </div>
    <div class="pd-20">
      <h6 class="tx-16 pb-0 mb-0"> Subscription Pricing & Plans</h6>
      <div class="text-secondary mg-t-4h">
        You are billed monthly for all active plans(Excluding Free Trials)
      </div>

      <h5 class="tx-22 mg-t-10 mb-0">
        {{CurrentPlan.Name || "--"}} <span class="badge badge-success"> Active</span>
        <p class="text-secondary tx-12 mg-t-6 mb-0" style="max-width: 50vw !important;">
          {{CurrentPlan.Description || "--"}}
        </p>
      </h5>

      <div class="tx-12 text-secondary mg-t-15">
        Subscription Valid Till - <span class="tx-dark"> {{CurrentPlan.EndDate | date:'dd MM yyyy' || "--"}}</span>
      </div>

      <div class="mg-t-15">
        <button type="button"
          *ngIf="this._HelperService.UserAccount.SystemSubscription.IsSubscriptionActive == false && this._HelperService.UserAccount.SystemSubscription.PlanReferenceId == 0"
          class="btn btn-outline-primary mg-r-15" data-toggle="modal" data-target="#Plans" (click)="ViewPlans()">View
          All
          Plans </button>

       <button type="button" data-toggle="modal" data-target="#UpdatePlan" *ngIf="this._HelperService.UserAccount.SystemSubscription.IsSubscriptionActive == false && this._HelperService.UserAccount.SystemSubscription.PlanReferenceId != 0"
      class="btn btn-outline-primary"  (click)="UpdatePlans()" >Update Plan</button> 

      </div>

    </div>
  </div> -->
  <div>
    <div>

      <div class="d-flex justify-content-around mg-t-40">
        <img
          *ngIf="(_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' && _HelperService.AppConfig.Host != 'sterling.thankucash.com' && _HelperService.AppConfig.Host != 'wemarewards.thankucash.com' && _HelperService.AppConfig.Host != 'localhost:4200')"
          src="../../assets/img/thankucash.svg" class="wd-200">
        <img
          *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'"
          src="../../assets/img/interswitch.png" class="wd-200">
        <img
          *ngIf="_HelperService.AppConfig.Host == 'localhost:4200'  ||  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'"
          src="../../assets/img/wemalogo.png" class="wd-200">
      </div>
      <div class="mg-t-30 text-center">
        <h5 class="tx-20 ">Please select Subscription Plan for your Business
        </h5>
        <div class="tx-16 tx-medium">  Get 7-Day Trial For Free </div>

      </div>
      <div class="d-flex justify-content-around mg-t-25">
        <div class=" d-flex">
          <div>
            Billing Cycle : &nbsp;
          </div>
          <div class="mg-r-15">
            <input class="mg-r-5" type="radio" [(ngModel)]="type" [value]="1" name="type" checked>
            <label class="tx-14" for="Monthly">Monthly</label>
          </div>
          <div class="mg-r-15">
            <input class="mg-r-5" type="radio" [(ngModel)]="type" [value]="4" name="type" checked>
            <label class="tx-14" for="Monthly">Quarterly</label>
          </div>
          <div class="mg-r-15">
            <input class="mg-r-5" type="radio" [(ngModel)]="type" [value]="2" name="type">
            <label class="tx-14" for="Quarterly">Semi- Annual</label>
          </div>

          <div>
            <input class="mg-r-5" type="radio" [(ngModel)]="type" [value]="3" name="type">
            <label class="tx-14" for="Yearly">Annual</label>
          </div>



        </div>
      </div>

      <div class="d-flex justify-content-around pd-x-60 ">
        <div class="text-center mg-t-25 mg-b-25">
          <span class="pd-y-0 pd-x-0 tx-indigo" style="background: #f3d6ea; border-radius: 2px !important; /* For browsers that do not support gradients */
          background: linear-gradient(90deg,#D6D1FF,#fbff000c);"> <img src="../../assets/img/discount.svg" width="18"
              class="mg-r-5">From 1 Aug,2021, there will be no charge for additional store for new merchants, Hurry up!
            Register Now
          </span>

        </div>
        <!-- <div class="text-center mg-t-25 mg-b-25">
          <span class="pd-y-0 pd-x-0" style="background: #f3d6ea;color: #B11A83; border-radius: 2px !important; /* For browsers that do not support gradients */
         background: linear-gradient(90deg,yellow,#fbff000c);"> <img src="../../assets/img/discount.svg" width="18"
              class="mg-r-5">Get Free <b> 8% </b>OFF on Semi-Annual Billing
          </span>

        </div>
        <div class="text-center mg-t-25 mg-b-25">
          <span class="pd-y-0 pd-x-0" style="background: #f3d6ea;color: #B11A83; border-radius: 2px !important; /* For browsers that do not support gradients */
           background: linear-gradient(90deg,yellow,#fbff000c);"> <img src="../../assets/img/discount.svg" width="18"
              class="mg-r-5">Get Free <b> 10% </b>OFF on Annual Billing
          </span>

        </div> -->

      </div>

      <!-- <div class="text-center mg-t-25 mg-b-25">
        <span class="pd-y-0 pd-x-0" style="background: #f3d6ea;color: #B11A83; border-radius: 2px !important;  /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, yellow , rgba(233, 233, 147, 0.753));"><img
            src="../../assets/img/discount.svg" width="18" class="mg-r-5">Get Extra <b>Get Extra Free 1 Month </b> on
          Annual Plan </span>

      </div>

      <div class="text-center mg-t-25 mg-b-25">
        <span class="pd-y-0 pd-x-0" style="background: #f3d6ea;color: #B11A83; border-radius: 2px !important; /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, yellow , rgba(233, 233, 147, 0.753));"> <img
            src="../../assets/img/discount.svg" width="18" class="mg-r-5">Get Extra <b>Get Extra Free 15 Days </b>on
          Semi- Annual Plan </span>

      </div> -->




    </div>

    <div class="mg-t-15">
      <div *ngIf="type == 1" class="active">
        <div class="card bd-0  shadow-none d-flex justify-content-center" style="border-radius: 4px !important;">
          <table class="table table-hover table-bordered text-center">
            <thead>
              <tr class="active">
                <th style="background:#fff"></th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Basic
                  </div>


                  <div class="tx-indigo tx-20"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 19,000 </div>
                  <div class="tx-16"> Monthly </div>


                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Premium 
                  </div>


                  <div class="tx-indigo tx-20"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 95,000</div>
                  <div class="tx-16"> Monthly </div>
                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Enterprise 
                  </div>

                  <div class="tx-indigo tx-20"> Negotiable </div>
                  <div class="tx-16"> Monthly </div>
                </th>

              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td></td>
                <td>$399 Monthly</td>
                <td>$699 Monthly</td>
                <td>$799 Monthly</td>
                <td>$1299 Monthly</td>
              </tr> -->
              <tr style="background: #e5e9f2;">
                <td class="p-4">
                  <!-- <div class="tx-12 text-secondary text-left mg-l-10">(Additional)</div> -->


                  <div class="tx-16">
                    <span> Charges / Extra Store </span>
                  </div>
                  <!-- <div class="tx-18  text-left mg-l-10"> <i
                      class="fas fa-user-friends mg-r-10 text-secondary"></i>Customers </div> -->
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="text-secondary tx-16 tx-normal">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    10,000
                  </p>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="text-secondary tx-16 tx-normal">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    50,000
                  </p>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="text-secondary tx-16 tx-normal">Negotiable</p>
                </td>

              </tr>

              <tr style="background: #f5f6fa;">
                <td colspan="5" class="active p-3"><b>Features Access</b></td>
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Reward Type</td>
                <td class="p-3">Open Reward</td>
                <td class="p-3">Close Reward</td>
                <td class="p-3">Open/Close</td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Loyalty and Sales Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Data & Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Store Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Cash and Cash<br />
                  <span> Transaction Analytics </span>
                </td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <!-- <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Classification</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
              </tr>

              <tr>
                <td class="text-left mg-l-10 tx-medium"> Email to customers</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
              </tr> -->
              <tr>
                <td></td>
                <td class="p-3">
                  <button
                    *ngIf="CurrentPlan.SubscriptionKey != 'basic' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{19000 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()" (callback)="SubscriptionDone($event,'6','basic')"
                    data-dismiss="modal" style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>
                  <form id="subscribe-basic">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com') && CurrentPlan.SubscriptionKey != 'basic'"
                      (click)="startTopsubscribe_basic($event,'6','basic','19000','subscribe-basic')">Subscribe Now</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'basic'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span>
                </td>
                <td class="p-3"><button
                    *ngIf="CurrentPlan.SubscriptionKey != 'premium' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{95000 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()" (callback)="SubscriptionDone($event,'7','premium')"
                    data-dismiss="modal" style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>

                  <form id="subscribe-basic1">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com') && CurrentPlan.SubscriptionKey != 'premium'"
                      (click)="startTopsubscribe_basic($event,'7','premium','95000','subscribe-basic1')">Subscribe Now</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'premium'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span>
                </td>
                <td class="p-3">
                  <a href="http://thankucash.com/business" target="_blank"
                  class="btn btn-outline-primary mg-y-10">
                  Contact Us </a>
                  <!-- <button
                    *ngIf="CurrentPlan.SubscriptionKey != 'openrewardapi' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'testmerchant.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{19000 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()" (callback)="SubscriptionDone($event,'8','openrewardapi')"
                    data-dismiss="modal" style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>

                  <form id="subscribe-basic2">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com' ||  _HelperService.AppConfig.Host == 'testmerchant.thankucash.com') && CurrentPlan.SubscriptionKey != 'openrewardapi'"
                      (click)="startTopsubscribe_basic($event,'8','openrewardapi','19000','subscribe-basic2')">Subscribe Now</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'openrewardapi'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span> -->
                </td>
                <!-- <td class="p-3"><button
                    *ngIf="CurrentPlan.SubscriptionKey != 'closedrewardapi' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'testmerchant.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{95000 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()" (callback)="SubscriptionDone($event,'9','closedrewardapi')"
                    data-dismiss="modal" style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>

                  <form id="subscribe-basic3">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com' ||  _HelperService.AppConfig.Host == 'testmerchant.thankucash.com') && CurrentPlan.SubscriptionKey != 'closedrewardapi'"
                      (click)="startTopsubscribe_basic($event,'9','closedrewardapi','95000','subscribe-basic3')">Subscribe</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'closedrewardapi'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span>
                </td> -->
              </tr>


            </tbody>
          </table>

        </div>
      </div>

      <div *ngIf="type == 4" class="">
        <div class="card bd-0  shadow-none d-flex justify-content-center" style="border-radius: 4px !important;">
          <table class="table table-hover table-bordered text-center">
            <thead>
              <tr class="active">
                <th style="background:#fff"></th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Basic
                  </div>


                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>54,150 </div>

                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>57,000 </del> </div>
                  <div class="tx-14"> Quarterly </div>


                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Premium 
                  </div>


                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 270,750 </div>

                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>285,000</del> </div>
                  <div class="tx-14"> Quarterly </div>
                </th>
                <th class="p-4">
                  <div  class="tx-18 d-flex justify-content-center align-items-center"> Enterprise 
                  </div>

                

                  <div class="tx-indigo tx-20 mg-t-10">  Negotiable </div>
                  <div style="visibility: hidden !important;" class="tx-18 d-flex justify-content-center align-items-center"> Negotiable 
                  </div>

               
                  <div class="tx-14"> Quarterly </div>
                </th>
                <!-- <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> API REWARDS <span
                      class="cursor-pointer Subs pb-1">
                      <img class="mg-l-5" data-toggle="tooltip" data-placement="bottom"
                        title="Customer rewards are exclusive to only your business "
                        src="../../assets/img/information-circle-outline.svg" height="16" width="16" alt=""></span>
                  </div>
                  <div class="tx-16"> (Online Closed Rewards)</div>

                  <div class="tx-indigo tx-20 mg-t-10"> <span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 270,750 </div>

                <div class="tx-16 text-secondary tx-normal"> <span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>285,000</del> </div>
                  <div class="tx-16"> Quarterly </div>
                </th> -->
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td></td>
                <td>$399 Quarterly</td>
                <td>$699 Quarterly</td>
                <td>$799 Quarterly</td>
                <td>$1299 Quarterly</td>
              </tr> -->


              <tr style="background: #e5e9f2;">
                <td class="p-4">
                  <!-- <div class="tx-12 text-secondary text-left mg-l-10">(Additional)</div> -->


                  <div class="tx-16">
                    <span> Charges / Extra Store </span>
                  </div>
                  <!-- <div class="tx-18  text-left mg-l-10"> <i
                      class="fas fa-user-friends mg-r-10 text-secondary"></i>Customers </div> -->
                </td>
                <td class="p-4 tx-18 tx-medium">

                  <p class="tx-black tx-16 tx-normal  mb-0">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    28,500
                  </p>
                  <del>
                    <p class="text-secondary tx-16 tx-normal">
                      <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      30,000
                    </p>
                  </del>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="tx-black tx-16 tx-normal mb-0">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    142,500
                  </p>
                  <del>
                    <p class="text-secondary tx-16 tx-normal ">
                      <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      150,000
                    </p>
                  </del>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="text-secondary tx-16 tx-normal"> Negotiable </p>
                </td>

              </tr>
              <tr style="background: #f5f6fa;">
                <td colspan="5" class="active p-3"><b>Features Access</b></td>
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Reward Type</td>
                <td class="p-3">Open Reward</td>
                <td class="p-3">Close Reward</td>
                <td class="p-3">Open/Close</td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Loyalty and Sales Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Data & Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Store Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Cash and Cash<br />
                  <span> Transaction Analytics </span>
                </td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <!-- <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Classification</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
              </tr> -->

              <!-- <tr>
                <td class="text-left mg-l-10 tx-medium"> Email to customers</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
              </tr> -->
              <tr>
                <td></td>
                <td class="p-3">
                  <button
                    *ngIf="CurrentPlan.SubscriptionKey != 'basicquarterly' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{54150 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()"
                    (callback)="SubscriptionDone($event,'10','basicquarterly')" data-dismiss="modal"
                    style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>
                  <form id="subscribe-basic">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com' ) && CurrentPlan.SubscriptionKey != 'basicquarterly'"
                      (click)="startTopsubscribe_basic($event,'10','basicquarterly','54150','subscribe-basic')">Subscribe Now</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'basicquarterly'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span>
                </td>
                <td class="p-3"><button
                    *ngIf="CurrentPlan.SubscriptionKey != 'premiumquarterly' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{270750 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()"
                    (callback)="SubscriptionDone($event,'11','premiumquarterly')" data-dismiss="modal"
                    style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>

                  <form id="subscribe-basic1">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com') && CurrentPlan.SubscriptionKey != 'premiumquarterly'"
                      (click)="startTopsubscribe_basic($event,'11','premiumquarterly','270750','subscribe-basic1')">Subscribe Now</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'premiumquarterly'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span>
                </td>
                <td class="p-3">
                  <a href="http://thankucash.com/business" target="_blank"
                  class="btn btn-outline-primary mg-y-10">
                  Contact Us </a>
                  <!-- <button
                    *ngIf="CurrentPlan.SubscriptionKey != 'openrewardapiquarterly' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'testmerchant.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{57000 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()"
                    (callback)="SubscriptionDone($event,'12','openrewardapiquarterly')" data-dismiss="modal"
                    style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>

                  <form id="subscribe-basic2">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com' ||  _HelperService.AppConfig.Host == 'testmerchant.thankucash.com') && CurrentPlan.SubscriptionKey != 'openrewardapiquarterly'"
                      (click)="startTopsubscribe_basic($event,'12','openrewardapiquarterly','57000','subscribe-basic2')">Subscribe</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'openrewardapiquarterly'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span> -->
                </td>
                <!-- <td class="p-3"><button
                    *ngIf="CurrentPlan.SubscriptionKey != 'closedrewardapiquarterly' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'testmerchant.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{285000 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()" (callback)="SubscriptionDone($event,'13','closedrewardapiquarterly')"
                    data-dismiss="modal" style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>

                  <form id="subscribe-basic3">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com' ||  _HelperService.AppConfig.Host == 'testmerchant.thankucash.com') && CurrentPlan.SubscriptionKey != 'closedrewardapiquarterly'"
                      (click)="startTopsubscribe_basic($event,'13','closedrewardapiquarterly','285000','subscribe-basic3')">Subscribe</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'closedrewardapiquarterly'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span>
                </td> -->
              </tr>


            </tbody>
          </table>

        </div>
      </div>

      <div *ngIf="type == 2" class="">
        <div class="card bd-0  shadow-none d-flex justify-content-center" style="border-radius: 4px !important;">
          <table class="table table-hover table-bordered text-center">
            <thead>
              <tr class="active">
                <th style="background:#fff"></th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Basic
                  
                  </div>

                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 104,880 </div>
                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>114,000</del> </div>
                  <div class="tx-14"> Semi Annual</div>


                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Premium
                   
                  </div>
                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>524,400</div>
                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>570,000</del> </div>
                  <div class="tx-14"> Semi Annual </div>
                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Enterprise
                  
                  </div>

                  <div class="tx-indigo tx-20 mg-t-10"> Negotiable </div>
                  <div style="visibility: hidden !important;" class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>114,000</del> </div>
                  <div class="tx-14"> Semi Annual</div>
                </th>
                <!-- <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> API REWARDS
                    <span class="cursor-pointer Subs pb-1">
                      <img class="mg-l-5" data-toggle="tooltip" data-placement="bottom"
                        title="Customer rewards are exclusive to only your business "
                        src="../../assets/img/information-circle-outline.svg" height="16" width="16" alt=""></span>
                  </div>
                  <div class="tx-16"> (Online Closed Rewards)</div>

                  <div class="tx-indigo tx-20 mg-t-10"> <span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>524,400</div>
                <div class="tx-16 text-secondary tx-normal"> <span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>570,000</del> </div>
                  <div class="tx-16"> Semi Annual</div>
                </th> -->
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td></td>
                <td>$399 Semi Annual</td>
                <td>$699 Semi Annual</td>
                <td>$799 Semi Annual</td>
                <td>$1299 Semi Annual</td>
              </tr> -->

              <tr style="background: #e5e9f2;">
                <td class="p-4">


                  <div class="tx-16">
                    <span> Charges / Extra Stores</span>
                  </div>

                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="tx-black tx-16 tx-normal mb-0">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    55,200
                  </p>
                  <del>
                    <p class="text-secondary tx-16 tx-normal ">
                      <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      60,000
                    </p>
                  </del>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="tx-black tx-16 tx-normal mb-0">
                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    276,000
                  </p>
                  <del>
                    <p class="text-secondary tx-16 tx-normal ">
                      <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      300,000
                    </p>
                  </del>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="text-secondary tx-16 tx-normal"> Negotiable </p>
                </td>
                <!-- <td class="p-4 tx-18 tx-medium">100 Customers <p class="text-secondary tx-16 tx-normal">(Extra 100
                    Customers/ <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 300,000)</p>
                </td> -->
              </tr>
              <tr style="background: #f5f6fa;">
                <td colspan="5" class="active p-3"><b>Features Access</b></td>
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Reward Type</td>
                <td class="p-3">Open Reward</td>
                <td class="p-3">Close Reward</td>
                <td class="p-3">Open/Close</td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Loyalty and Sales Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Data & Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Store Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Cash and Cash<br />
                  <span> Transaction Analytics </span>
                </td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <!-- <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Classification</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
              </tr> -->

              <!-- <tr>
                <td class="text-left mg-l-10 tx-medium"> Email to customers</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
              </tr> -->
              <tr>
                <td></td>
                <td class="p-3"><button
                    *ngIf="CurrentPlan.SubscriptionKey != 'basicsemiannual' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{104880 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()"
                    (callback)="SubscriptionDone($event,'14','basicsemiannual')" data-dismiss="modal"
                    style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>

                  <form id="subscribe-basic4">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com') && CurrentPlan.SubscriptionKey != 'basicsemiannual'"
                      (click)="startTopsubscribe_basic($event,'14','basicsemiannual','104880','subscribe-basic4')">Subscribe Now</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'basicsemiannual'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span>
                </td>
                <td class="p-3"><button
                    *ngIf="CurrentPlan.SubscriptionKey != 'premiumsemiannual' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{524400 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()"
                    (callback)="SubscriptionDone($event,'15','premiumsemiannual')" data-dismiss="modal"
                    style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>


                  <form id="subscribe-basic5">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com') && CurrentPlan.SubscriptionKey != 'premiumsemiannual'"
                      (click)="startTopsubscribe_basic($event,'15','premiumsemiannual','524400','subscribe-basic5')">Subscribe Now</button>
                  </form>


                  <span *ngIf="CurrentPlan.SubscriptionKey == 'premiumsemiannual'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span>
                </td>
                <td class="p-3">
                  <a href="http://thankucash.com/business" target="_blank"
                  class="btn btn-outline-primary mg-y-10">
                  Contact Us </a>

                  <!-- <button
                    *ngIf="CurrentPlan.SubscriptionKey != 'enterpriseemiannual' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'testmerchant.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{114000 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()"
                    (callback)="SubscriptionDone($event,'16','enterpriseemiannual')" data-dismiss="modal"
                    style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>

                  <form id="subscribe-basic6">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com' ||  _HelperService.AppConfig.Host == 'testmerchant.thankucash.com') && CurrentPlan.SubscriptionKey != 'enterpriseemiannual'"
                      (click)="startTopsubscribe_basic($event,'16','enterpriseemiannual','114000','subscribe-basic6')">Subscribe</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'enterpriseemiannual'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span> -->
                </td>
                <!-- <td class="p-3"><button
                    *ngIf="CurrentPlan.SubscriptionKey != 'closedrewardapisemiannual' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'testmerchant.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{570000 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()"
                    (callback)="SubscriptionDone($event,'17','closedrewardapisemiannual')" data-dismiss="modal"
                    style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>

                  <form id="subscribe-basic7">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com' ||  _HelperService.AppConfig.Host == 'testmerchant.thankucash.com') && CurrentPlan.SubscriptionKey != 'closedrewardapisemiannual'"
                      (click)="startTopsubscribe_basic($event,'17','closedrewardapisemiannual','570000','subscribe-basic7')">Subscribe</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'closedrewardapisemiannual'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span>
                </td> -->
              </tr>


            </tbody>
          </table>

        </div>

      </div>

      <div *ngIf="type == 3" class="">
        <div class="card bd-0  shadow-none d-flex justify-content-center" style="border-radius: 4px !important;">
          <table class="table table-hover table-bordered text-center">
            <thead>
              <tr class="active">
                <th style="background:#fff"></th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Basic
                   

                  </div>
                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 205,200</div>
                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>228,000</del> </div>
                  <div class="tx-14"> Annual </div>


                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Premium
                  
                  </div>

                  <div class="tx-indigo tx-20 mg-t-10"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 1,026,000</div>
                  <div class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>1,140,000</del> </div>
                  <div class="tx-14"> Annual </div>
                </th>
                <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> Enterprise
                 
                  </div>

                  <div class="tx-indigo tx-20 mg-t-10">Negotiable</div>
                  <div  style="visibility: hidden !important;" class="tx-16 text-secondary tx-normal"> <span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>228,000</del> </div>
                  <div class="tx-14"> Annual </div>
                </th>
                <!-- <th class="p-4">
                  <div class="tx-18 d-flex justify-content-center align-items-center"> API REWARDS
                    <span class="cursor-pointer Subs pb-1">
                      <img class="mg-l-5" data-toggle="tooltip" data-placement="bottom"
                        title="Customer rewards are exclusive to only your business "
                        src="../../assets/img/information-circle-outline.svg" height="16" width="16" alt=""></span>
                  </div>
                  <div class="tx-16"> (Online Closed Rewards)</div>

                  <div class="tx-indigo tx-20 mg-t-10"> <span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 1,026,000</div>
                <div class="tx-16 text-secondary tx-normal"> <span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> <del>1,140,000</del> </div>
                  <div class="tx-16"> Annual </div>
                </th> -->
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
              <td></td>
              <td>$399 Annual</td>
              <td>$699 Annual</td>
              <td>$799 Annual</td>
              <td>$1299 Annual</td>
            </tr> -->

              <tr style="background: #e5e9f2;">
                <td class="p-4">

                  <div class="tx-16">
                    <span>  Charges / Extra Stores </span>
                  </div>
                  <!-- <div class="tx-18  text-left mg-l-10"> <i
                    class="fas fa-user-friends mg-r-10 text-secondary"></i>Customers </div> -->
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="tx-black tx-16 tx-normal mb-0"><span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    108,000</p>
                  <del>
                    <p class="text-secondary tx-16 tx-normal">
                      <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      120,000
                    </p>
                  </del>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="tx-black tx-16 tx-normal mb-0"><span
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                    540,000</p>
                  <del>
                    <p class="text-secondary tx-16 tx-normal ">
                      <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                      600,000
                    </p>
                  </del>
                </td>
                <td class="p-4 tx-18 tx-medium">
                  <p class="text-secondary tx-16 tx-normal">Negotiable</p>
                </td>
                <!-- <td class="p-4 tx-18 tx-medium">100 Customers <p class="text-secondary tx-16 tx-normal">(Extra 100
                  Customers/<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 600,000)</p>
              </td> -->
              </tr>
              <tr style="background: #f5f6fa;">
                <td colspan="5" class="active p-3"><b>Features Access</b></td>
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Reward Type</td>
                <td class="p-3">Open Reward</td>
                <td class="p-3">Close Reward</td>
                <td class="p-3">Open/Close</td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Loyalty and Sales Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Data & Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Store Analytics</td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Cash and Cash<br />
                  <span> Transaction Analytics </span>
                </td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td>
                <!-- <td class="p-3"><i style="color:limegreen" class="fa fa-check-square fa-lg"></i></td> -->
              </tr>
              <!-- <tr>
                <td class="p-3 text-left mg-l-10 tx-medium">Customer Classification</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
                <td class="p-3">Coming soon..</td>
              </tr>

              <tr>
                <td class="text-left mg-l-10 tx-medium"> Email to customers</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
                <td>Coming soon..</td>
              </tr> -->
              <tr>
                <td></td>
                <td class="p-3"><button
                    *ngIf="CurrentPlan.SubscriptionKey != 'basicannual' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{205200 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()" (callback)="SubscriptionDone($event,'18','basicannual')"
                    data-dismiss="modal" style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>

                  <form id="subscribe-basic8">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com') && CurrentPlan.SubscriptionKey != 'basicannual'"
                      (click)="startTopsubscribe_basic($event,'18','basicannual','205200','subscribe-basic8')">Subscribe Now</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'basicannual'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span>
                </td>
                <td class="p-3"><button
                    *ngIf="CurrentPlan.SubscriptionKey != 'premiumannual' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{1026000 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()"
                    (callback)="SubscriptionDone($event,'19','premiumannual')" data-dismiss="modal"
                    style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>

                  <form id="subscribe-basic9">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com') && CurrentPlan.SubscriptionKey != 'premiumannual'"
                      (click)="startTopsubscribe_basic($event,'19','premiumannual','1026000','subscribe-basic9')">Subscribe Now </button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'premiumannual'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span>

                </td>
                <td class="p-3">
                  <a href="http://thankucash.com/business" target="_blank"
                  class="btn btn-outline-primary mg-y-10">
                  Contact Us </a>
                  <!-- <button
                    *ngIf="CurrentPlan.SubscriptionKey != 'openrewardapiannual' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'testmerchant.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{228000 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()"
                    (callback)="SubscriptionDone($event,'20','openrewardapiannual')" data-dismiss="modal"
                    style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>

                  <form id="subscribe-basic10">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com' ||  _HelperService.AppConfig.Host == 'testmerchant.thankucash.com') && CurrentPlan.SubscriptionKey != 'openrewardapiannual'"
                      (click)="startTopsubscribe_basic($event,'20','openrewardapiannual','228000','subscribe-basic10')">Subscribe</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'openrewardapiannual'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span> -->
                </td>
                <!-- <td class="p-3"><button
                    *ngIf="CurrentPlan.SubscriptionKey != 'closedrewardapiannual' && _HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'testmerchant.thankucash.com'"
                    class="btn btn-outline-primary mg-r-10" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation"
                    [key]="_HelperService.AppConfig.PayStackKey" [email]="_HelperService.User.EmailAddress"
                    amount="{{1140000 * 100}}" [ref]="_SubscriptionTransactionReference"
                    (close)="SubscriptionpaymentCancel()"
                    (callback)="SubscriptionDone($event,'21','closedrewardapiannual')" data-dismiss="modal"
                    style="margin-top:10px;margin-bottom:10px;">Subscribe Now</button>

                  <form id="subscribe-basic11">
                    <button class="btn btn-outline-primary mg-r-10"
                      *ngIf="(_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com'  ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com' ||  _HelperService.AppConfig.Host == 'testmerchant.thankucash.com') && CurrentPlan.SubscriptionKey != 'closedrewardapiannual'"
                      (click)="startTopsubscribe_basic($event,'21','closedrewardapiannual','1140000','subscribe-basic11')">Subscribe</button>
                  </form>

                  <span *ngIf="CurrentPlan.SubscriptionKey == 'closedrewardapiannual'"><i
                      class="fas fa-check-square text-success tx-40 mg-t-10"></i> </span>
                </td> -->
              </tr>


            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- <div id="Form_AddUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Credit Reward Wallet</h5>
      </div>
      <div class="modal-body  p-lg">
        <div class="mb-3 b-b pb-3">
          <h6 class="mg-b-5">Available Balance</h6>
          <h5 *ngIf="TopUpHistoryList_Config.Data[0]"> <span class="text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> {{_AccountBalance.Balance}} </h5>

          <div class="mb-2">
            Enter Amount
          </div>
          <div class="input-group text-warn mb-3">
            <span class="input-group-prepend ">
              <span class="input-group-text text-warn"><span
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> </span>
            </span>
            <input type="text" maxlength="7" class="form-control text-warn" placeholder="Amount to credit*"
              (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_AccountBalanceCreditAmount">

            <div class="text-secondary mg-t-5">This amount will be credited in your wallet, you can further use it to
              give rewards to your customers.</div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{ "Common.Close" | translate }}
        </button>
        <button
          *ngIf="(_AccountBalanceCreditAmount == undefined || _AccountBalanceCreditAmount == 0) || (_AccountBalanceCreditAmount < 1000 || _AccountBalanceCreditAmount > 1000000)"
          class="btn btn-primary " disabled>Confirm</button>
        <button *ngIf="_AccountBalanceCreditAmount >= 1000 && _AccountBalanceCreditAmount <= 1000000"
          class="btn btn-success" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" [amount]="_AccountBalanceCreditAmount * 100"
          [class]="'btn btn-primary'" [ref]="_TransactionReference" (close)="paymentCancel()"
          (callback)="paymentDone($event)" data-dismiss="modal">Confirm</button>
      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="TopupHistory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Top Up History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=" ">
          <div class="box-header px-3  pd-b-15  d-flex align-items-center justify-content-between">
            <div class="form-inline ">
              <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="TopUpHistoryList_Config.SearchParameter"
                  maxlength="100" class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                  (keyup)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                  <button class="btn btn-outline-light" type="button"
                    (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                      data-feather="search"></i> </button>
                </div>
              </div>
            </div>
            <nav class="nav nav-with-icon tx-20">
              <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="TopUpHistoryList_sdropdown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250 pd-15">


                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                      <div class="float-right tx-20" *ngIf="TopUpHistoryList_Config.Sort.SortOrder == 'desc'"
                        (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                        <i class="fas fa-sort-alpha-down-alt"></i>
                      </div>
                      <div class="float-right tx-20" *ngIf="TopUpHistoryList_Config.Sort.SortOrder == 'asc'"
                        (click)="TopUpHistoryList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                        <i class="fas fa-sort-alpha-up-alt"></i>
                      </div>
                    </h6>

                    <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      *ngFor="let TItem of TopUpHistoryList_Config.Sort.SortOptions"
                      (click)="TopUpHistoryList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                      {{TItem.Name}}
                    </a>

                    <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                      (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                      Reset</button>
                    <button type="button" class="btn btn-primary btn-sm  mg-t-20"
                      (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
                  </form>
                </div>
              </div>
              <div class="dropdown dropleft">
                <a href="" class="nav-link" id="TopUpHistoryList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                  (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                    </h6>
                    <div>
                      <div class="form-group">
                        <label>Date</label>
                        <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                          daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                          (selected)="TopUpHistoryList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                      </div>
                    </div>
               

                    <button type="button" class="btn btn-light btn-sm mr-2"
                      (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                      Reset</button>
                    <button type="button" class="btn btn-primary btn-sm "
                      (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
                  </form>
                </div>
              </div>
              <a class="nav-link ml-2 RefreshColor"
                (click)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                  data-feather="refresh-cw"></i> </a>
            </nav>

          </div>


          <div class="card-body p-0">
            <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
              <thead>
                <tr>
                  <th class="">
                    Date
                  </th>
                  <th>
                    Amount
                  </th>
                  <th class="">
                    Reference Number
                  </th>


                </tr>
              </thead>
              <tbody>
                <tr disabled (click)="TopUpHistoryList_RowSelected(TItem)"
                  *ngFor="let TItem of TopUpHistoryList_Config.Data  | paginate: { id: 'TopUpHistoryList_Paginator',itemsPerPage: TopUpHistoryList_Config.PageRecordLimit, currentPage: TopUpHistoryList_Config.ActivePage,  totalItems: TopUpHistoryList_Config.TotalRecords }">
                  <td>
                    <div class="tx-14">{{TItem.TransactionDate  || "--"}}</div>
                  </td>
                  <td class="">
                    <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                    {{TItem.Amount  || "--"}}
                  </td>
                  <td class="text-muted">
                    {{TItem.PaymentReference  || "--"}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer pd-20">
            <span class="mr-3">
              {{ 'Common.Showing' | translate }}
              <span class="bold">{{TopUpHistoryList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{TopUpHistoryList_Config.ShowingEnd}}
              </span> {{ 'Common.Of' | translate }} {{TopUpHistoryList_Config.TotalRecords}}
            </span>
            <span>
              {{ 'Common.Show' | translate }}
              <select class="wd-40 " [(ngModel)]="TopUpHistoryList_Config.PageRecordLimit"
                (ngModelChange)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                  {{TItem}}
                </option>
              </select>
            </span>
            <span class="float-right">
              <pagination-controls id="TopUpHistoryList_Paginator" class="pagination pagination-space"
                (pageChange)="TopUpHistoryList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
              </pagination-controls>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div> -->
<div class="modal fade" id="Plans" tabindex="-1" aria-labelledby="PlansLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PlansLabel">Upgrade Subscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-around  align-items-center text-center ht-400">
        <div>
          <div> <span><i class="fas fa-running tx-50 text-secondary"></i> </span> </div>
          <h5 class="mg-t-20 text-secondary tx-semibold"> {{FreePlan.Name || "--"}}</h5>
          <h5 class="tx-18 tx-dark"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{FreePlan.SellingPrice}}
          </h5>
          <p class="tx-dark mg-t-16 pb-0 mb-0"> Loyalty platform along with one store and one cashier addition
            features </p>
          <span *ngIf="CurrentPlan.Name == 'ThankUCash Free'"><i
              class="fas fa-check-square text-success tx-40 mg-t-30"></i> </span>
          <button *ngIf="CurrentPlan.Name != 'ThankUCash Free'" class="btn btn-primary mg-t-30" data-toggle="modal"
            data-target="#FreePlans" (click)="selectPlan('free')">
            Choose Plan </button>

        </div>
        <div class="mg-x-20">
          <div> <span><i class="fas fa-biking tx-50 text-secondary"></i> </span></div>
          <h5 class="mg-t-20 text-secondary tx-semibold"> {{BasicPlan.Name || "--" }}</h5>
          <h5 class="tx-18 tx-dark"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{BasicPlan.SellingPrice}}/{{BasicPlan.TypeName}}
          </h5>
          <p class="tx-dark mg-t-16 pb-0 mb-0"> Loyalty platform + Business Analysis
            along with 4 store and 20 cashiers
            Addition features</p>
          <button *ngIf="CurrentPlan.Name != 'ThankUCash Basic'" class="btn btn-primary mg-t-30" data-toggle="modal"
            data-target="#BasicPlans" (click)="selectPlan('basic')">
            Choose Plan </button>
          <span *ngIf="CurrentPlan.Name == 'ThankUCash Basic'"><i
              class="fas fa-check-square text-success tx-40 mg-t-30"></i> </span>


        </div>
        <div>
          <div> <span><i class="fas fa-car-side tx-50 text-secondary"></i> </span> </div>
          <h5 class="mg-t-20 text-secondary tx-semibold"> {{PremiumPlan.Name || "--" }} </h5>
          <h5 class="tx-18 tx-dark"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{PremiumPlan.SellingPrice}}/{{PremiumPlan.TypeName}}
          </h5>
          <p class="tx-dark mg-t-16 pb-0 mb-0">Basic Plan + Unlimited Cashiers and 99 stores addition features
          </p>
          <button *ngIf="CurrentPlan.Name != 'ThankUCash Premium'" class="btn btn-primary mg-t-30" data-toggle="modal"
            data-target="#PremiumPlans" (click)="selectPlan('premium')"> Choose Plan </button>
          <span *ngIf="CurrentPlan.Name == 'ThankUCash Premium'"><i
              class="fas fa-check-square text-success tx-40 mg-t-30"></i> </span>

        </div>
      </div>
      <div class="modal-footer pd-25">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Subscribe</button> -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="FreePlans" tabindex="-1" aria-labelledby="FreePlansLabel" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="BasicPlansLabel">{{FreePlan.Name || "--"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePlanDetail()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  justify-content-around  text-center  pd-x-70">
        <div>
          <div> <span><i class="fas fa-running tx-50 text-secondary"></i> </span></div>
          <h5 class="mg-t-20 tx-24"> {{FreePlan.Name || "--"}} </h5>
          <h5 class="tx-22 tx-purple"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{FreePlan.SellingPrice}}
          </h5>
          <p class="text-secondary mg-t-16 pb-0 mb-0">Loyalty platform along with one store and one cashier addition
            features


          </p>

        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> What is Free Plan? </h5>
          <p class="text-secondary"> {{FreePlan.Description || "--"}}</p>
        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> *Terms & Conditions</h5>
          <p class="text-secondary pd-b-0"> 1.Minimum 5% Reward percentage configuration
          </p>

        </div>
      </div>
      <div class="modal-footer pd-25">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closePlanDetail()">Close</button>

        <button class="btn btn-primary" (click)="FreePlanActivate()">Subscribe</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="BasicPlans" tabindex="-1" aria-labelledby="BasicPlansLabel" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="BasicPlansLabel">{{BasicPlan.Name || "--"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePlanDetail()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  justify-content-around  text-center  pd-x-70">
        <div>
          <div> <span><i class="fas fa-biking tx-50 text-secondary"></i> </span></div>
          <h5 class="mg-t-20 tx-24"> {{BasicPlan.Name || "--"}} </h5>
          <h5 class="tx-22 tx-purple"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{BasicPlan.SellingPrice ||
            "--"}}/{{BasicPlan.TypeName}}
          </h5>
          <p class="text-secondary mg-t-16 pb-0 mb-0">Loyalty platform + Business Analysis
            along with 4 store and 20 cashiers
            Addition features </p>

        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> What is Basic Plan? </h5>
          <p class="text-secondary"> {{BasicPlan.Description || "--"}}</p>
        </div>


        <div class="text-left mg-t-30">
          <h5 class="tx-16"> Which features you will get?</h5>
          <div class="d-flex mg-t-10">
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02 mg-r-30 mg-md-r-30 d-flex align-items-center justify-content-center rounded ">
              <div class="text-center"> <i class="fas fa-bullhorn tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> Promotions </div>
              </div>
            </div>
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02 d-flex align-items-center justify-content-center rounded">
              <div class="text-center"> <i class="fas fa-flask tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> POS Products </div>
              </div>

            </div>
          </div>

        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> *Terms & Conditions</h5>
          <p class="text-secondary pd-b-0"> 1. Minimum 3% Reward percentage configuration

          </p>

        </div>
      </div>
      <div class="modal-footer pd-25">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closePlanDetail()">Close</button>

        <button class="btn btn-primary" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" amount="{{BasicPlan.SellingPrice * 100}}"
          [ref]="_SubscriptionTransactionReference" (close)="SubscriptionpaymentCancel()"
          (callback)="SubscriptionDone($event,SubscriptionId, SubscriptionKey)" data-dismiss="modal">Subscribe</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="PremiumPlans" tabindex="-1" aria-labelledby="PremiumPlansLabel" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PremiumPlansLabel">{{PremiumPlan.Name || "--"}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePremiumPlanDetail()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body   text-center">
        <div>
          <div> <span><i class="fas fa-car-side tx-50 text-secondary"></i> </span> </div>
          <h5 class="mg-t-20 tx-24"> {{PremiumPlan.Name || "--"}} </h5>
          <h5 class="tx-22 tx-purple"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{PremiumPlan.SellingPrice ||
            "--"}}/{{PremiumPlan.TypeName}}
          </h5>
          <p class="text-secondary mg-t-16 pb-0 mb-0">Loyalty platform + Business Analysis
            along with 4 store and 20 cashiers
            Addition features</p>

        </div>
        <div class=" mg-t-30">
          <h5 class="tx-16"> What is Premium Plan? </h5>
          <p class="text-secondary"> {{PremiumPlan.Description || "--"}}</p>
        </div>


        <div class="mg-t-20 ">
          <h6 class="tx-20"> Features</h6>

          <div class="d-flex justify-content-around mg-t-30">
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02  d-flex align-items-center justify-content-center rounded ">
              <div class="text-center"> <i class="fas fa-chart-line tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> Analytics </div>
              </div>
            </div>
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02 d-flex align-items-center justify-content-center rounded">
              <div class="text-center"> <i class="fas fa-store tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> Multiple Stores </div>
              </div>

            </div>
            <div
              class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 tx-brand-02 d-flex align-items-center justify-content-center rounded">
              <div class="text-center"> <i class="fas fa-users tx-30"></i>

                <div class="tx-brand-02 tx-12 mg-t-5"> Loyalty </div>
              </div>

            </div>
          </div>
        </div>

        <!-- <div class="mg-t-30">
          <h6 class="tx-20"> Select Add Ons</h6>
          <div class="tx-14 text-secondary">Make your own customised Premium Plan, select add-ons which you want to
            subscribe</div>
          <div>
            <div class="d-flex flex-wrap">
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary  d-flex align-items-center justify-content-center rounded ">
                  <div class="text-center"> <i class="fas fa-gift tx-30"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Gift Point</div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary d-flex align-items-center justify-content-center rounded">
                  <div class="text-center"> <i class="fas fa-wallet tx-30"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Gift Card </div>
                  </div>

                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary d-flex align-items-center justify-content-center rounded">
                  <div class="text-center"> <i class="fab fa-maxcdn"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Mad Deals </div>
                  </div>

                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary  d-flex align-items-center justify-content-center rounded ">
                  <div class="text-center"> <i class="fas fa-bullhorn tx-30"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Scratch Cards </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary d-flex align-items-center justify-content-center rounded">
                  <div class="text-center"> <i class="fas fa-shopping-cart tx-30"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Shopping Cart </div>
                  </div>

                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center mg-t-30">
                <div
                  class="wd-100 wd-md-100 ht-100 ht-md-100 bg-ui-02 text-secondary d-flex align-items-center justify-content-center rounded">
                  <div class="text-center"> <i class="fas fa-percent tx-25"></i>

                    <div class="text-secondary tx-12 mg-t-5"> Campaigns </div>
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div> -->

        <div class="text-left  mg-t-30 mg-l-75">
          <h5 class="tx-16"> *Terms & Conditions</h5>
          <p class="text-secondary pd-b-0"> 1. Minimum 1% Reward percentage configuration

          </p>

        </div>

      </div>
      <div class="modal-footer pd-25">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="closePremiumPlanDetail()">Close</button>
        <button class="btn btn-primary" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress" amount="{{PremiumPlan.SellingPrice * 100}}"
          [ref]="_SubscriptionTransactionReference" (close)="SubscriptionpaymentCancel()"
          (callback)="SubscriptionDone($event,SubscriptionId, SubscriptionKey)" data-dismiss="modal">Subscribe</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="UpdatePlan" aria-labelledby="FreePlansLabel" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="BasicPlansLabel">{{this._HelperService.UserAccount.SystemSubscription.Title ||
          "--"}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  justify-content-around  text-center  pd-x-70">
        <div>
          <div> <span><i class="fas fa-running tx-50 text-secondary"></i> </span></div>
          <h5 class="mg-t-20 tx-24"> {{this._HelperService.UserAccount.SystemSubscription.Title || "--"}} </h5>
          <h5 class="tx-22 tx-purple"> <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{this._HelperService.UserAccount.SystemSubscription.Amount}}
          </h5>
          <p class="text-secondary mg-t-16 pb-0 mb-0">Loyalty platform along with one store and one cashier addition
            features


          </p>

        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> What is {{this._HelperService.UserAccount.SystemSubscription.Title}} Plan? </h5>
          <p class="text-secondary"> DESC : Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptate
            possimus sed dolores harum necessitatibus sapiente omnis neque cum, recusandae eius autem cumque veritatis
            molestiae a ea ducimus in est.</p>
        </div>

        <div class="text-left mg-t-30">
          <h5 class="tx-16"> *Terms & Conditions</h5>
          <p class="text-secondary pd-b-0"> 1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            exercitationem corporis, ut odio magnam quasi, praesentium nisi temporibus voluptate eaque repellendus ipsam
            rerum quisquam aperiam at, neque suscipit dicta labore.
          </p>

        </div>
      </div>
      <div class="modal-footer pd-25">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button class="btn btn-primary" angular4-paystack [currency]="_HelperService.AppConfig.CurrencyNotation" [key]="_HelperService.AppConfig.PayStackKey"
          [email]="_HelperService.User.EmailAddress"
          amount="{{_HelperService.UserAccount.SystemSubscription.Amount * 100}}"
          [ref]="_UpdateSubscriptionTransactionReference" (close)="SubscriptionpaymentCancel()"
          (callback)="UpdateSubscriptionDone($event)" data-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>