<div class=" h-v d-flex flex  auth-container" id="auth-container">
    <div class="m-4 cursor-pointer back-arrow" (click)="goBack()">
        <img src="../../../../assets/images/onboarding/Arrow 1.png" width="30">
    </div>
    <div class="auth-item">
        <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
            <div class="auth-item-title" *ngIf="_HelperService.AppConfig.Host == 'accessbankaccount.thankucash.com'">
                Welcome to <img class="mt-n1" src="assets/images/onboarding/Access_Bank_Nigeria.png" width="120"> for
                Merchants
            </div>
            <div class="auth-item-title" *ngIf="_HelperService.AppConfig.Host != 'accessbankaccount.thankucash.com'">
                Welcome to <img class="mt-n1" src="../../../../assets/images/onboarding/tucblue.png" width="120"> for
                Merchants
            </div>
            <div class="auth-item-subtitle mb-3">
                Already have an account? <a routerLink="{{_HelperService.AppConfig.Pages.System.Login}}">Sign In</a>
            </div>

            <div class="form-group">
                <label class="d-block">Select Country</label>
                <select2 name="S2Country" class="full-width" [data]="_S2Country_Data" [value]="countryValue"
                (valueChanged)="GetCountry_Selected($event)" [options]="_S2Country_Option"></select2>
            </div>

            <div class="form-group">
                <label class="d-block">Business Name</label>
                <input type="text" class="form-control" maxlength="128"
                    [formControl]="Form_AddUser.controls['BusinessName']"
                    [ngClass]="{'is-invalid':!Form_AddUser.controls['BusinessName'].valid && Form_AddUser.controls['BusinessName'].touched}">
                <div>
                    <div class="text-danger tx-12  _600" for="BusinessName"
                        *ngIf="Form_AddUser.controls['BusinessName'].hasError('required') && Form_AddUser.controls['BusinessName'].touched">
                        Enter
                        business name</div>

                    <div class="text-danger tx-12 _600" for="BusinessName"
                        *ngIf="Form_AddUser.controls['BusinessName'].hasError('minlength') || Form_AddUser.controls['BusinessName'].hasError('maxlength')">
                        Business name
                        must be between 4 - 256 characters</div>
                    <!-- <div class="text-danger tx-12  _600" for="BusinessName"
                        *ngIf="Form_AddUser.controls['BusinessName'].hasError('pattern')">Only alpha numeric characters
                        are
                        allowed</div> -->
                </div>
            </div>
            <div class="form-group">
                <label class="d-block">Contact Person’s Full Name</label>
                <input type="text" class="form-control" maxlength="128" placeholder="Firstname Lastname"
                    [formControl]="Form_AddUser.controls['FullName']"
                    [ngClass]="{'is-invalid':!Form_AddUser.controls['FullName'].valid && Form_AddUser.controls['FullName'].touched}">
                <div>
                    <div class="text-danger tx-12  _600" for="FullName"
                        *ngIf="Form_AddUser.controls['FullName'].hasError('required') && Form_AddUser.controls['FullName'].touched">
                        Enter
                        full name</div>

                    <!-- <div class="text-danger tx-12 _600" for="FullName"
                        *ngIf="Form_AddUser.controls['FullName'].hasError('minlength') || Form_AddUser.controls['FullName'].hasError('maxlength')">
                        Name
                        must be between 4 - 256 characters</div> -->
                    <div class="text-danger tx-12  _600" for="FullName"
                        *ngIf="Form_AddUser.controls['FullName'].hasError('pattern')">Only alpha numeric characters are
                        allowed</div>
                    <div
                        *ngIf="!Form_AddUser.controls['FullName'].hasError('required') && Form_AddUser.controls['FullName'].hasError('fullname')">
                        <div class="text-danger tx-12  _600" for="FullName"
                            *ngIf="fullname.errors?.fullname?.requiredLastname">Enter last name</div>
                        <div class="text-danger tx-12  _600" for="FullName"
                            *ngIf="fullname.errors?.fullname?.minLengthFirstname">First Name must be more than 3
                            charaters</div>
                        <div class="text-danger tx-12  _600" for="FullName"
                            *ngIf="fullname.errors?.fullname?.minLengthLastname">Last Name must be more than 3 charaters
                        </div>
                        <div class="text-danger tx-12  _600" for="FullName" *ngIf="fullname.errors?.fullname?.twoworld">
                            Only two words are allowed</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="d-block">Phone Number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-light" type="button"> <img class="dropdown-item-auth-selected"
                                [src]="SelectedCountry.IconUrl"></button>
                        <!-- <div class="dropdown-menu tx-13">
                            <a class="dropdown-item dropdown-item-auth " (click)="CountryClick(item)"
                                *ngFor="let item of Countries">
                                <img [src]="item.IconUrl">
                                <span>{{item.Name}}</span>
                            </a>
                        </div> -->
                    </div>
                    <input type="text" class="form-control" aria-label="We will send a verification code to this number"
                        (keypress)="this._HelperService.PreventText($event)"
                        onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
                        [formControl]="Form_AddUser.controls['MobileNumber']"
                        [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                </div>
                <div>
                    <div class="text-danger tx-12  _600" for="MobileNumber"
                        *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">
                        Enter mobile number </div>
                    <div class="text-danger tx-12 _600" for="MobileNumber" *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')
                        ||Form_AddUser.controls['MobileNumber'].hasError('pattern')">
                        Mobile number
                        must be of 8-14 digits</div>
                </div>
            </div>
            <div class="form-group">
                <label class="d-block">Business Email Address</label>
                <input type="text" class="form-control"
                    aria-label="We will send a verification code to this email address"
                    placeholder="We will send a verification code to this email address"
                    [formControl]="Form_AddUser.controls['EmailAddress']"
                    [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                <div>
                    <div class="text-danger tx-12  _600" for="EmailAddress"
                        *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">
                        Enter email address </div>

                    <div class="text-danger tx-12 _600" for="EmailAddress" *ngIf="Form_AddUser.controls['EmailAddress'].hasError('minlength') || Form_AddUser.controls['EmailAddress'].hasError('maxlength')
                        || Form_AddUser.controls['EmailAddress'].hasError('pattern')">
                        Invalid email address</div>
                </div>
            </div>
            <div class="form-group">
                <label class="d-block">Create Password</label>
                <!-- <input type="password" class="form-control" [formControl]="Form_AddUser.controls['Password']"
                    [ngClass]="{'is-invalid':!Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}"> -->

                <div class="row">
                    <div class="col-md-12 pd-r-15">
                        <input *ngIf="ShowPassword" type="password" name="password" maxlength="50" class="form-control"
                            [formControl]="Form_AddUser.controls['Password']"
                            (input)="pwdValueChange($event.target.value)"
                            [ngClass]="{'is-invalid':!Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}">

                        <input *ngIf="!ShowPassword" type="text" name="password" maxlength="50" class="form-control"
                            [formControl]="Form_AddUser.controls['Password']"
                            (input)="pwdValueChange($event.target.value)"
                            [ngClass]="{'is-invalid':!Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}">
                    </div>
                    <div class="px-0 input-group-append">
                        <a *ngIf="ShowPassword" class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0">
                            <i class="fa fa-eye-slash fa-1x" aria-hidden="true"
                                (click)="ToogleShowHidePassword()"></i></a>

                        <a *ngIf="!ShowPassword" class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0">
                            <i class="fa fa-eye fa-1x" aria-hidden="true" (click)="ToogleShowHidePassword()"></i></a>
                    </div>
                </div>
                <div>
                    <div class="text-danger tx-12  _600" for="Password" *ngIf="Form_AddUser.controls['Password'].hasError('required') && Form_AddUser.controls['Password'].touched
                        && (ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                        Enter password </div>
                    <div class="tx-12  _600"
                        *ngIf="!(ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                        <span [ngClass]="{'text-success':IsminLength , 'text-danger': !IsminLength}">Password must
                            contain at least 8 characters</span><br />
                        <span [ngClass]="{'text-success':ispwdContainsNum , 'text-danger': !ispwdContainsNum}">Password
                            must contain at least one number (0-9)</span><br />
                        <span [ngClass]="{'text-success':ispwdContainsUC , 'text-danger': !ispwdContainsUC}">Password
                            must contain at least one letter (A-Z)</span><br />
                        <span [ngClass]="{'text-success':ispwdContainsLC , 'text-danger': !ispwdContainsLC}">Password
                            must contain at least one letter (a-z)</span><br />
                        <span [ngClass]="{'text-success':isPwdContainsSC , 'text-danger': !isPwdContainsSC}">Password
                            must contain one special character</span>
                    </div>
                </div>
            </div>
            <!-- <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" id="cbterms" formControlName="Policy"
                    [formControl]="Form_AddUser.controls['Policy']">
                <label class="custom-control-label tx-12 tx-color-03" for="cbterms"> I agree to the <span
                        class="text-primary"><a target="_blank" href="https://thankucash.com/terms">
                            Terms of Service </a></span> and <span class="text-primary"><a target="_blank"
                            href="https://thankucash.com/privacy">
                            Privacy Policy</a></span> of ThankUCash
                </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="cbpromo" formControlName="newsletters"
                [formControl]="Form_AddUser.controls['newsletters']">
                <label class="custom-control-label tx-12 tx-color-03" for="cbpromo"> I would like to receive newsletters
                    and
                    notifications from ThankUCash </label>
            </div> -->
            <div class="mb-3">
                <re-captcha [formControl]="Form_AddUser.controls['captcha']" size="normal" (resolved)="resolved($event)"
                    siteKey="6Le19c0iAAAAANOUxsDrj3NNc6g0rjg0VsCGUo0P">
                </re-captcha>
            </div>
            <div class="mb-2">
                <label class="tx-12 tx-color-03">By clicking on create account, you agree to the <span
                        class="text-primary"><a target="_blank" href="https://thankucash.com/terms">
                            Terms of Service </a></span> and <span class="text-primary"><a target="_blank"
                            href="https://thankucash.com/privacy">
                            Privacy Policy</a></span> of ThankUCash</label>
            </div>
            <button type="submit" class="btn btn-custom btn-block mt-4"
                [disabled]="Form_AddUser.invalid || !(ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">Create
                Account</button>
        </form>
    </div>
    <div class="auth-container-footer">
        <div id="conent" class="auth-container-footer-item">
            <p class="in-left" style="letter-spacing: 1px;"><span style="color:#ffc141">Grow</span> your <span
                    style="color:#ffc141">business</span> with <br />ease and confidence<br /> from anywhere</p>
        </div>
    </div>
</div>

<!-- <div class=" h-v d-flex flex ">
    <div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="mg-t-50"
                    *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com' ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'">
                    <img src="../../../assets/img/interswitch.png" class="w-xmd">
                </div>
                <div class="mg-t-50"
                    *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com'  &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'sterling.thankucash.com' &&  _HelperService.AppConfig.Host != 'wemarewards.thankucash.com' &&  _HelperService.AppConfig.Host != 'localhost:4200'">
                    <img src="../../../assets/img/logoinverse.png" class="w-xmd">
                </div>
                <div class="mg-t-50"
                    *ngIf="_HelperService.AppConfig.Host == 'localhost:4200' ||  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'">
                    <img src="../../../assets/img/wemalogo.png" class="w-xmd">
                </div>

                <div class="mg-t-50 mg-b-30">
                    <h4 class="_400">Register for your Account</h4>
                    <div class="tx-16"> No Credit card required </div>
                    <div class="mg-t-5"> <span class="text-secondary"> Already have an account? </span> <span
                            class="text-uppercase _600 text-primary">
                            <a class="tx-indido" routerLink="{{_HelperService.AppConfig.Pages.System.Login}}">
                                LOGIN
                            </a>
                        </span></div>
                </div>
                <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                    <div class="form-group"
                        [ngClass]="{'has-error':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                        <label class="block w-100">Enter email address <span class="text-danger"> * </span></label>

                        <input type="text" required maxlength="256" placeholder="Enter email address"
                            class="form-control" name="EmailAddress" autocomplete="off"
                            [formControl]="Form_AddUser.controls['EmailAddress']"
                            [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                        <div>
                            <label class="text-danger text-xs _600" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">{{
                                'System.AddMerchant.EmailAddress_ER_Required' | translate }}</label>

                            <label class="text-danger text-xs _600" for="EmailAddress"
                                *ngIf="Form_AddUser.controls['EmailAddress'].hasError('email') && Form_AddUser.controls['EmailAddress'].touched">{{
                                'System.AddMerchant.EmailAddress_ER_Invalid' | translate }}</label>
                        </div>
                    </div>
                    <div class="form-group"
                        [ngClass]="{'has-error':!Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}">
                        <label class="block w-100">Create your password <span class="text-danger"> * </span></label>
                        <div class="row">
                            <div class="col-md-12 pd-r-15">
                                <input *ngIf="!ShowPassword" type="text" placeholder="Enter your password"
                                    maxlength="20" name="Password" autocomplete="off" class="form-control"
                                    [formControl]="Form_AddUser.controls['Password']"
                                    [ngClass]="{ 'is-invalid': !Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}" />

                                <input style="-webkit-text-security: disc;" *ngIf="ShowPassword" type="text"
                                    name="Password" maxlength="20" placeholder="Enter your password" autocomplete="off"
                                    class="form-control" [formControl]="Form_AddUser.controls['Password']"
                                    [ngClass]="{ 'is-invalid': !Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}" />
                            </div>

                            <div class="px-0 input-group-append">
                                <a *ngIf="ShowPassword" (click)="ToogleShowHidePassword()"
                                    class="btn   d-flex align-items-center cursor-pointer Showbutton bd-0"> <i
                                        class="fa fa-eye-slash fa-1x" aria-hidden="true"></i></a>

                                <a *ngIf="!ShowPassword" (click)="ToogleShowHidePassword()"
                                    class="btn  d-flex align-items-center cursor-pointer Showbutton bd-0"> <i
                                        class="fa fa-eye fa-1x" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div>
                            <label class="text-danger text-xs _600" for="Password"
                                *ngIf=" Form_AddUser.controls['Password'].hasError('required') &&  Form_AddUser.controls['Password'].touched">{{
                                "System.Users.Password_ER_Required" | translate }}</label>
                            <label class="text-danger text-xs _600" for="Password"
                                *ngIf="  Form_AddUser.controls['Password'].hasError('pattern') ||   Form_AddUser.controls['Password'].hasError('minlength') ||  Form_AddUser.controls['Password'].hasError('maxlength') ">
                                <div>Password Must be 8 characters or, and above </div>
                                <div>Must contain number and special character</div>
                                <div> Must contain uppercase and lowercase letter </div>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <re-captcha (resolved)="resolved($event)" siteKey="6LeW6rQZAAAAAL5MvjorAMRfyO7iS1p98kyJ4Md8">
                        </re-captcha>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-indigo full-width"
                            [disabled]="!Form_AddUser.valid || Form_AddUser_Processing">
                            <span *ngIf="!Form_AddUser_Processing">
                                Register
                            </span>
                            <span *ngIf="Form_AddUser_Processing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                {{ "Common.PleaseWait" | translate }}...
                            </span>

                        </button>
                        <div class="mt-2 text-xs text-muted">
                            By clicking Register, you agree to our <a class="tx-indido" target="_blank"
                                href="https://thankucash.com/terms"> Terms of service </a> and that You have read our <a
                                class="tx-indido" target="_blank" href="https://thankucash.com/terms"> Privacy
                                Policy</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->