    <ngx-loading-bar color="#00cccc" height="3px" diameter="25px"></ngx-loading-bar>
    <div class="d-none">
        <img *ngFor="let item of backgroundImage" [src]="item.img">
        
    </div>
<!-- <ng-progress [color]="'#00cccc'" thick='true'></ng-progress> -->
<router-outlet></router-outlet>
