<!-- acquirer--stores--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li>
    <li class="breadcrumb-item"><a class="cursor-pointer"  routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Loyality.Customers}}">Customer
            </a></li>

    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">Customer Details
        </a></li>
</ol>

<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header pb-0 bd-b-0" id="headingOne">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl  " [hidden]="!isLoaded"><img
                                [style.border-color]="_CustomerDetails.StatusC"
                                (error)="_HelperService.defaultImage($event)" src="{{_CustomerDetails.IconUrl }}"
                                class="rounded-circle bd bd-2" alt=""> </div>
                                <div class="placeholder-media wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                                    <div class="line"></div>
                                    </div>
                    </div>
                </div>
                <div class="col-sm-12 bd-b bd-2 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media  Hm-textCenterMd" [hidden]="!isLoaded">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-spacing--1 tx-medium text-capitalize  mg-b-2">
                                {{ _CustomerDetails.DisplayName || "--"}}

                                <span class="{{_CustomerDetails.StatusB}} mg-l-5">
                                    {{_CustomerDetails.StatusName || "--"}} </span>
                            </h6>
                            <div class="d-md-flex d-lg-flex Hm-AlignCenter align-items-baseline">
                                <h2 class="tx-14 tx-lg-14 tx-dark tx-normal  lh-2 mg-b-0 d-flex">
                                    <!-- <span class=" mg-r-5"> <i style="height: 18px; width: 18px;;"
                                            data-feather="map-pin"></i> </span> -->
                                    <span>{{_CustomerDetails.StoreDisplayName || "--"}}</span>
                                </h2>
                            </div>
                        </div><!-- media-body -->
                    </div><!-- media -->
                    <div class="placeholder-paragraph wd-100p wd-sm-55p wd-md-45p pd-b-10" [hidden]="isLoaded">
                        <div class="line"></div>
                    </div>
                </div>
                <div class="col-lg-6   bd-b bd-2 Hm-media768 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <!-- 
                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class="tx-normal tx-24  tx-rubik  mg-b-5 mg-r-5 lh-1">
                                                {{_CustomerDetails.CustomerId || "--"}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0 "> Customer ID</p>
                                    </div> -->
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <!-- <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class="tx-normal tx-24 tx-rubik  mg-b-5 mg-r-5 lh-1 ">
                                                {{_CustomerDetails.EmployeeId || "--"}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0"> Employee ID</p>

                                    </div> -->

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <!-- <div class="manageButton mg-t-0 pd-t-0 ">
                                    <button type="button" (click)="ShowOffCanvas()"
                                        class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Action
                                    </button>
                                </div> -->

                                <!-- <div class="collapseButton">
                                    <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                        (click)="changeSlide() ; HideStoreDetail()" class="btn  btn-link"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                                [class.clicked]="slideOpen"></i>
                                        </div>
                                    </button>
                                </div> -->

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-0 pb-0">
                <div class="row">

                    <div class="col-lg-1 d-flex justify-content-center">
                        <!-- <span *ngIf="_CustomerDetails.GenderName == 'Female'" class="text-primary"> <i
                                class="fas fa-venus tx-20 mg-r-2"></i>{{_CustomerDetails.GenderName || "--"}}</span>
                        <span *ngIf="_CustomerDetails.GenderName == 'Male'" class="text-primary"> <i
                                class="fas fa-mars tx-20 mg-r-2"></i>{{_CustomerDetails.GenderName || "--"}}</span> -->

                    </div>
                    <div class="col-lg-11">
                        <div class="row row pd-y-15">
                            <div class="col-sm-12 col-md-4 col-lg-4 bd-r">
                                <ul class="list-unstyled profile-info-list">
                                    <li class="tx-color-03"><i data-feather="phone"></i> <span class="tx-color-03">
                                            <span class="text-primary">
                                                {{_CustomerDetails.MobileNumber || "--"}} </span></span></li>
                                    <li class="tx-color-03"><i data-feather="mail"></i> <a class="tx-color-03"> <span
                                                class="text-primary">
                                                {{_CustomerDetails.EmailAddress || "--"}} </span></a></li>

                                </ul>

                            </div>

                            <div class="col-sm-12 col-md-4 col-lg-4 Hm-media768 bd-r">

                                <ul class="list-unstyled profile-info-list">

                                    <li class="tx-color-03"><i data-feather="calendar"></i> <a> <span
                                                class="text-secondary mr-2"> Birth date </span>
                                            <span class="tx-verve"> {{_CustomerDetails.DateOfBirth || "--"}} </span>
                                        </a>
                                    </li>
                                    <li class="tx-color-03"> <span *ngIf="_CustomerDetails.GenderName == 'Female'"
                                            class=""> <i class="fas fa-venus tx-20 mg-r-20"></i></span>
                                        <span
                                            *ngIf="_CustomerDetails.GenderName == 'Male' || _CustomerDetails.GenderName == undefined"
                                            class=""> <i class="fas fa-mars tx-20 mg-r-20"></i></span>
                                        <a class="tx-color-03">
                                            <span class="text-secondary mg-r-15"> Gender </span> <span class="tx-primary">
                                                {{_CustomerDetails.GenderName || "--"}}
                                            </span> </a></li>

                                </ul>

                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 Hm-media768">

                                <ul class="list-unstyled profile-info-list">
                                    <li class="tx-color-03"> <span class="text-secondary"><span class="mr-2">First Visit
                                            </span>
                                            <span class="tx-verve">
                                                {{_CustomerDetails.FirstTransactionDate || "--"}}</span></span></li>
                                    <li class="tx-color-03"> <a class="text-secondary"> <span class="mr-2"> Last Visit
                                            </span>
                                            <span class="tx-verve">
                                                {{_CustomerDetails.LastTransactionDate || "--"}}</span></a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row Hm-media768 d-block d-sm-none">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row flex-nowrap">

                            <div class="col-sm-6 col-md-6 col-lg-6">

                                <div class=" text-center stores">
                                    <div class="text-center">
                                        <h3 class="tx-bold tx-40 tx-rubik  tx-verve mg-b-5 mg-r-5 lh-1">
                                            {{_CustomerDetails.RewardPercentage}}</h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0 "> Rewards</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class=" text-center Terminals">
                                    <div class="text-center">
                                        <h3 class="tx-bold tx-40 tx-rubik  tx-teal mg-b-5 mg-r-5 lh-1 ">
                                            {{_CustomerDetails.Terminals}}</h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0"> Pos Terminal</p>

                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                        <div class="row">
                            <div class="manageButton mg-t-0 pd-t-0  d-none d-block d-xl-none" >
                                <button type="button" (click)="ShowOffCanvas()"
                                    class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                    Account</button>
                            </div>

                            <div class="collapseButton">
                                <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                    (click)="changeSlide() ; ShowStoreDetail()" class="btn  btn-link"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                            [class.clicked]="slideOpen"></i>
                                    </div>
                                </button>
                            </div> 

                        </div>

                    </div>
                </div> -->


            </div>
        </div>
    </div>
</div>

<div class="card pd-x-20 pd-b-20 pd-t-10 mt-3 RouteCard" style="border-bottom: 0px !important;">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab1" role="tablist">
        <div class="d-flex flex-wrap">
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Customer.Dashboard}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Activity</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab2" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Customer.SalesHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Transaction</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab2" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Customer.RewardHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Reward History</a>
            </li>
            <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab2" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Customer.RedeemHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Redeem History</a>
            </li>
            <li *ngIf="_HelperService.AppConfig.ActiveOwnerIsTucPlusEnabled" class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab2" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Customer.RewardClaimHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Reward Claim History</a>
            </li>
            <li  class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab2" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Customer.DealHistory.PurchaseHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Deal History</a>
            </li>


        </div>

        <div class="row  d-flex no-gutters pd-r-10">
            <div class=" col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class=" order-1">
                    <input type="text" style="height: 30px;" autocomplete="off" class="form-control tx-13 form-daterangepicker"
                        name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
                        (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>

            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" style="height: 30px;" data-toggle="buttons"
                *ngIf="_HelperService.ShowDateRange">
                <label class="btn btn-xs pb-0 mb-0 tx-13 btn-white   d-flex align-items-center cursor-pointer"
                    (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label class="btn btn-xs  pb-0 mb-0 tx-13 btn-white d-flex align-items-center cursor-pointer "
                    (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label class="btn pb-0 mb-0 btn-xs tx-13 btn-white  active d-flex align-items-center cursor-pointer"
                    (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div>
        </div>
    </ul>
</div>

<router-outlet></router-outlet>