<div class="dark h-v d-flex flex align-items-center">
    <div class="mx-auto w-xl w-auto-xs animate fadeIn text-center">
        <div class="mb-3"><img src="../../../assets/img/logo.png" class="w-md ">
            <div class="mt-3 font-bold"> Login To Panel</div>
        </div>
        <form [formGroup]="_Form_Login" (ngSubmit)="_Form_Login_Process(_Form_Login.value)" role="form">
            <div class="md-form-group" [ngClass]="{'has-error':!_Form_Login.controls['username'].valid && _Form_Login.controls['username'].touched}">
                <input type="text" name="username" maxlength="256" class="md-input text-center" [formControl]="_Form_Login.controls['username']">
                <label class="block w-100">{{ 'Login.UserName' | translate }}</label>
                <div>
                    <label class="block w-100 text-danger" for="username" *ngIf="_Form_Login.controls['username'].hasError('required') && _Form_Login.controls['username'].touched">{{
                        'Login.UserName_ER_Required' | translate }}</label>
                </div>
            </div>
            <div class="md-form-group" [ngClass]="{'has-error':!_Form_Login.controls['password'].valid && _Form_Login.controls['password'].touched}">
                <input type="password" name="password" maxlength="50" class="md-input text-center" [formControl]="_Form_Login.controls['password']">
                <label class="block w-100">{{ 'Login.Password' | translate }}</label>
                <div>
                    <label class="text-danger" for="password" *ngIf="_Form_Login.controls['password'].hasError('required') && _Form_Login.controls['password'].touched">{{
                        'Login.Password_ER_Required' | translate }}</label>
                </div>
            </div>
            <button type="submit" class="btn btn-rounded warn" [disabled]="!_Form_Login.valid || _Form_Login_Processing">
                <span *ngIf="!_Form_Login_Processing">
                    {{ 'Login.LoginBtn' | translate }}
                </span>
                <span *ngIf="_Form_Login_Processing">
                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate }}...
                </span>
            </button>
        </form>
    </div>

</div>