<div class=" h-v d-flex flex  auth-container" id="auth-container">
  <div class="m-4 cursor-pointer back-arrow" (click)="goBack()">
    <img src="../../../../assets/images/onboarding/Arrow 1.png" width="30">
  </div>
  <div class="auth-item">
    <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
      <div class="auth-item-title">
        <img src="../../../../assets/images/onboarding/tucformerchant.png" width="120">
      </div>
      <div class="text-center text-center mt-3 mb-5">
        <img src="../../../../assets/images/onboarding/mail.png" width="200">
      </div>

      <div class="form-group mt-70">
        <label class="d-block">Email Address</label>
        <input type="text" class="form-control" aria-label="We will send a verification code to this email address"
          placeholder="We will send a verification code to this email address"
          [formControl]="Form_AddUser.controls['EmailAddress']"
          [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
        <div>
          <div class="text-danger tx-12  _600" for="EmailAddress"
            *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">
            Enter email address </div>

          <div class="text-danger tx-12 _600" for="EmailAddress" *ngIf="Form_AddUser.controls['EmailAddress'].hasError('minlength') || Form_AddUser.controls['EmailAddress'].hasError('maxlength')
                    || Form_AddUser.controls['EmailAddress'].hasError('pattern')">
            Invalid email address</div>
        </div>
      </div>
      <button type="submit" class="btn btn-custom cursor-pointer btn-block mt-4"
        [disabled]="Form_AddUser.invalid">Save</button>
    </form>
  </div>
  <div class="auth-container-footer">
    <div id="conent" class="auth-container-footer-item">
      <p class="in-left" style="letter-spacing: 1px;"><span style="color:#ffc141">Grow</span> your <span
          style="color:#ffc141">business</span> with <br />ease and confidence<br /> from anywhere</p>
    </div>
  </div>
</div>