/* home custom css for font size and font family start */
#exampleModalLongTitle {
    color: #303F9F;
}

.modal-label-one {
    color: #3B4863;
}

.label-two-color {
    color: #221113;
}

.clabel {
    color: #303F9F;
}

.cbody {
    background: #FFFFFF;
    border-radius: 0.7rem;
    box-shadow: 0px 10px 32px -4px rgba(15, 29, 63, 0.1), 0px -2px 14px -6px rgba(15, 29, 63, 0.12);
    border-collapse: collapse;
}

.primary {
    color: #303F9F;
}

.selectedCard {
    background-color: #303F9F;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
    ;
}

.cardHover :hover {
    background-color: #1D265F;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
    ;
}

.cardHover :hover .clabel {
    color: #FFFFFF;
}

.cardHover:hover #myImg {
    content: url("../../../assets/img/fileWhite.png");
    background-repeat: no-repeat;
}

.selectedCard #myImg {
    content: url("../../../assets/img/fileWhite.png");
    background-repeat: no-repeat;
}

.selectedCard #my-img {
    content: url("../../../assets/img/userWhite.png");
    background-repeat: no-repeat;
}

.selectedCard .clabel {
    color: #FFFFFF;
}

.cardHover:hover #my-img {
    content: url("../../../assets/img/userWhite.png");
    background-repeat: no-repeat;
}

.cardHover :hover .primary {
    color: #FFFFFF;
}

.ccard {
    border: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.ccard .cbody .clabel {
    cursor: pointer;
}

.verificationModal {
    border-radius: 10px;

}

.modal-dialog {
    height: 90vh !important;
    display: flex;
}

.modal-content {
    margin: auto !important;
    height: fit-content !important;
}

.Info {
    padding-left: 300px;
    padding-top: 70px;
}

.dashboardBtn{
    color: #FFFFFF;
    border-radius: 4px;
    width: 126px;
}

.dashboardBtn :hover .dashboardBtn span :hover{
    background-color: #1D265F;
}
.darkBlueBtn{
    background-color: #303F9F;
    color: #FFFFFF;
}