<div class="Info">
  <ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" [routerLinkActive]="['active']">
        Account Setting</a></li>
  </ol>
  <div id="accordion">
    <div class="card shadow-none">
      <div class="card-header bd-b-0 pb-0">
        <div class="row mx-0">
          <p class="tx-16 tx-semibold">Business information</p>
          <div class="manageButton mg-t-0 pd-t-0 ml-auto">

          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-sm-2 col-md-1 col-lg-1 ">
            <div class="media m-auto align-sm-items-center">
              <div class="avatar avatar-xl avatar-online" [hidden]="!isLoaded"><img
                  [style.border-color]="_MerchantDetails.StatusC" (error)="_HelperService.defaultImage($event)"
                  src="{{_MerchantDetails.IconUrl}}" class="rounded-10 bd bd-2" alt=""> </div>
              <div class="placeholder-media wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                <div class="line"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-3 col-lg-3">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Business Name</label>
            <div class="tx-14">{{_MerchantDetails.DisplayName || "--"}}</div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Owner Name</label>
            <div class="tx-14">{{_MerchantDetails.OwnerName || "--"}}</div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Merchant ID</label>
            <div class="tx-14">{{_MerchantDetails.AccountCode || "--"}}</div>
          </div>
        </div>
      </div>
      <div class="card-body bd-b-0">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Mobile Number</label>
            <div class="tx-14">{{_MerchantDetails.ContactNumber || "--"}}</div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Email Address</label>
            <div class="tx-14">{{_MerchantDetails.EmailAddress || "--"}}</div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Website Link</label>
            <div class="tx-14">{{_MerchantDetails.WebsiteUrl || "--"}}</div>
          </div>
        </div>
        <hr />
        <p class="tx-16 tx-semibold">Contact Person Info</p>
        <div class="row pb-4">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">First Name</label>
            <div class="tx-14">{{MerchantContactPerson.FirstName || "--"}}</div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Last name</label>
            <div class="tx-14">{{MerchantContactPerson.LastName || "--"}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Mobile Number</label>
            <div class="tx-14">{{MerchantContactPerson.MobileNumber || "--"}}</div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Email Address</label>
            <div class="tx-14">{{_MerchantDetails.EmailAddress || "--"}}</div>
          </div>
        </div>
        <hr />
        <p class="tx-16 tx-semibold">Other Info</p>
        <div class="row pb-4">
          <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Business Categories</label>
                <div class="pb-5">
                  <div class="d-inline justify-content-between"
                    *ngFor="let catagories of _MerchantDetails['Categories']">
                    <button type="button" disabled
                      class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left">{{catagories.Name}}</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Referral code</label>
                <div class="tx-14 pb-4">{{_MerchantDetails.ReferralCode || "--"}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="tx-color-03 tx-12 tx-semibold text-uppercase ">About Business</label>
                <div class="tx-14">{{_MerchantDetails.Description || "--"}}</div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Address</label>
                <div class="tx-14">{{MerchantAddress.Address || "--"}}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 mn-ht-200">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Location Map</label>
            <agm-map class=" ht-100p" [zoom]="12" [latitude]="MerchantAddress.Latitude"
              [longitude]="MerchantAddress.Longitude" [styles]="_HelperService.darkStyle" [streetViewControl]="false">
              <agm-marker [latitude]="MerchantAddress.Latitude" [longitude]="MerchantAddress.Longitude">
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade verificationModal" data-backdrop="static" data-keyboard="false" id="modal"  role="dialog"
  aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog custom-modal-size" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-700 tx-14 line-16 text-uppercase" id="exampleModalLongTitle">Congratulations</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="NavigateHome()">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <div class="modal-part-one">
          <div class="modal-labels">
            <!-- <p class="modal-label-one fw-700 tx-14 line-16">
              Your verification was successful!
            </p> -->
            <p class="modal-label-two Fw-400 tx-14 line-16">
              Hi
              <span class="label-two-color fw-700 tx-14 line-16">
                {{_MerchantDetails.DisplayName}},
              </span>
              your verification was successful. Please complete your account set up with these steps.
            </p>
          </div>

        </div>

        <div class="modal-part-two mb-5">
          <div class="container mb-4 mt-4">
            <div class="row text-center g-1">
              <div class="col-md-6 p-1">
                <div class="card cardHover ccard " *ngIf="!_HelperService.isDocComplete" (click)="businessDetails()">
                  <div class="card-body cbody selectedCard" id="uploadDetails">
                    <h5 class="card-title mt-2 mb-3">
                      <img src="../../../../assets/img/file.png" id="myImg" height="60" />
                    </h5>
                    <label class="card-labels clabel f-500 tx-12 line-14 text-center">1.Upload Business Details</label>                
                  </div>
                </div>
                <div class="card cardHover ccard " *ngIf="_HelperService.isDocComplete">
                  <div class="card-body cbody" id="uploadDetails">
                    <h5 class="card-title mt-2 mb-3">
                      <img src="../../../../assets/img/file.png" id="myImg" height="60" />
                    </h5>
                    <i data-feather="check" style="color: #10B759;" height="20px"></i>
                    <label class="card-labels clabel f-400 tx-10 line-14 text-center">Business
                      Details Uploaded</label>
                  </div>
                </div>
              </div>
              <div class="col-md-6 p-1">
                <div class="card cardHover ccard" *ngIf="!_HelperService.isAccTypeComplete" (click)="accountType()">
                  <div class="card-body cbody ml-1 mr-1" [ngClass]="{selectedCard: _HelperService.isDocComplete}" id="accountType">
                    <h5 class="card-title mt-2 mb-3">
                      <img src="../../../../assets/img/user.png" id="my-img" height="60" />
                    </h5>
                    <label class="card-labels clabel mr-2 ml-2 mb-2 f-500 tx-12 line-14 text-center">2.Select Account
                      Type</label>
                  </div>
                </div>
                <div class="card cardHover ccard" *ngIf="_HelperService.isAccTypeComplete">
                  <div class="card-body cbody ml-1 mr-1" id="accountType">
                    <h5 class="card-title mt-2 mb-4">
                      <img src="../../../../assets/img/user.png" id="my-img" height="60"/>
                    </h5>
                    <label class="card-labels fw-500 tx-12 line-14 text-center mb-2"><i data-feather="check"
                        style="color: #10B759;" height="16px"></i>Account Type
                      Selected</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" *ngIf="_HelperService.isAccTypeComplete && _HelperService.isDocComplete">
        <button class="btn dashboardBtn darkBlueBtn" (click)="goToDashboard()">
          <span class="fw-400 tx-12 line-14" >Go to Dashboard </span>
        </button>
      </div>
    </div>
  </div>
</div>
<!--home{main} modal of  bussiness details and account type end-->