<!-- acquirer--merchants--list -->

<div class="card ">
  <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <div class=" media">
          <div type="button"
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded"
            (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.all)">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body bd-pink">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              ALL</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Total| number: "1.0-0"}}</h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.active)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Active</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Active| number: "1.0-0"}}</h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.idle)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-MasterCard tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Idle</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Idle| number: "1.0-0"}}</h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.dead)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Dead</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Dead| number: "1.0-0"}}</h4>

          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.unused)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-secondary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Unused</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Unused| number: "1.0-0"}}</h4>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box-header px-3 pd-t-15 pd-b-0  d-flex align-items-center justify-content-between">





    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TerminalsList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TerminalsList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" [disabled]='(_HelperService.FilterSnap.id == -1)'
        (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
      [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
        (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="TerminalsList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="TerminalsList_Config.Sort.SortOrder == 'desc'"
                (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="TerminalsList_Config.Sort.SortOrder == 'asc'"
                (click)="TerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of TerminalsList_Config.Sort.SortOptions"
              (click)="TerminalsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="TerminalsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Last Activity</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="TerminalsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <!-- <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="TerminalsList_Config.StatusOptions"
                  (valueChanged)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2> -->
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="TerminalsList_Config.StatusOptions"
                  (valueChanged)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>
            <div>
              <div class="form-group mr-2 mb-2">
                <label>Bank</label>

                <select2 [options]="TerminalsList_Filter_Bank_Option" class="wd-100p"
                  (valueChanged)="TerminalsList_Filter_Banks_Change($event)">
                </select2>
              </div>

              <div class="form-group mr-2 mb-2">
                <label>Store</label>

                <select2 [options]="TerminalsList_Filter_Store_Option" class="wd-100p"
                  (valueChanged)="TerminalsList_Filter_Stores_Change($event)">
                </select2>
              </div>
              <div class="form-group mr-2 mb-2">
                <label>Provider</label>

                <select2 [options]="TerminalsList_Filter_Provider_Option" class="wd-100p"
                  (valueChanged)="TerminalsList_Filter_Providers_Change($event)">
                </select2>
              </div>
            </div>
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne"
        (click)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
          <!-- <a class="nav-link ml-2 RefreshColor"
          (click)="TerminalsList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
            data-feather="download"></i> </a> -->
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8 mt-03r">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
     >
      {{_HelperService.FilterSnap.StatusName}}
      <span  (click)="RemoveFilterComponent('Status')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
      >
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime" >
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
     >
      {{TItem.data[0].DisplayName}}
      <span  (click)="RemoveFilterComponent('Other',i)" class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of TerminalsList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th class="text-center" *ngIf="ColumnConfig[0].Value">
          </th>
          <th>
            Terminal Id 
          </th>
          <th class="" *ngIf="ColumnConfig[1].Value">
            Sr. No.
          </th>
          <th class="" *ngIf="ColumnConfig[2].Value">
            Type
          </th>

          <th class="" *ngIf="ColumnConfig[4].Value">
            Bank
          </th>
          <th class="" *ngIf="ColumnConfig[5].Value">
            Store
          </th>

          <th *ngIf="ColumnConfig[6].Value">
            Last Activity
          </th>

          <!-- <th class="d-flex">
            <span class="btn cursor-pointer text-primary p-0" style="position: absolute; z-index: 3;right: -10px;"
              data-toggle="tooltip" title="Edit Your Column" (click)="OpenEditColModal()">
            </span>
          </th> -->

          <th class="text-center">  Activity Status </th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="TerminalsList_RowSelected(TItem)"
          *ngFor="let TItem of TerminalsList_Config.Data  | paginate: { id: 'TerminalsList_Paginator',itemsPerPage: TerminalsList_Config.PageRecordLimit, currentPage: TerminalsList_Config.ActivePage,  totalItems: TerminalsList_Config.TotalRecords }">
          <td class="text-center" *ngIf="ColumnConfig[0].Value">
            <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.ProviderIconUrl}}"
              class="img wd-40 ht-40 rounded-circle bd bd-2 pd-1" [style.border-color]="TItem.StatusC">
          </td>
          <td>
            <div class="tx-14 tx-semibold ">{{TItem.TerminalId  || "--"}}</div>
            <small class="tx-12 text-muted"> {{TItem.ProviderDisplayName  || "--"}} </small>
          </td>
          <td class="" *ngIf="ColumnConfig[1].Value">
            {{TItem.SerialNumber || "--"}}
          </td>
          <td class="" *ngIf="ColumnConfig[2].Value">
            <div class="tx-14 ">{{TItem.TypeName  || "--"}}
            </div>


          </td>



          <td class="" *ngIf="ColumnConfig[5].Value">


            {{TItem.AcquirerDisplayName|| "--"}}
          </td>
          <td class="" *ngIf="ColumnConfig[5].Value">
            {{TItem.StoreDisplayName || "--"}}
            <div class="tx-12 text-muted">
              {{TItem.StoreAddress | truncateText:40 || "--"}}
            </div>
          </td>


          <td class="text-muted" *ngIf="ColumnConfig[6].Value">
            {{(TItem.LastActivityDate | date :["dd-MM-yyyy hh:mm"]) || "--"  }}
          </td>
          <td class="text-center"> 
            <div class="badge badge-danger" *ngIf="TItem.ActivityStatusCode == 'dead'"> DEAD </div>
            <div class="badge badge-success" *ngIf="TItem.ActivityStatusCode == 'active'"> Active </div>
            <div class="badge badge-warning" *ngIf="TItem.ActivityStatusCode == 'idle'"> IDLE </div>
            <div class="badge badge-secondary" *ngIf="TItem.ActivityStatusCode ==  'unused'"> UNUSED </div>
            
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TerminalsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TerminalsList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TerminalsList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="TerminalsList_Config.PageRecordLimit"
        (ngModelChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="TerminalsList_Paginator" class="pagination pagination-space"
        (pageChange)="TerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div>