<div class="Info">
  <ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary"
        [routerLinkActive]="['active']">
        Account Setting</a></li>
  </ol>
  <div id="accordion">
    <div class="card shadow-none">
      <div class="card-header bd-b-0 pb-0">
        <div class="row mx-0">
          <p class="tx-16 tx-semibold">Business information</p>
          <div class="manageButton mg-t-0 pd-t-0 ml-auto">
            
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-sm-2 col-md-1 col-lg-1 ">
            <div class="media m-auto align-sm-items-center">
              <div class="avatar avatar-xl avatar-online" [hidden]="!isLoaded"><img
                  [style.border-color]="_MerchantDetails.StatusC" (error)="_HelperService.defaultImage($event)"
                  src="{{_MerchantDetails.IconUrl}}" class="rounded-10 bd bd-2" alt=""> </div>
              <div class="placeholder-media wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                <div class="line"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-3 col-lg-3">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Business Name</label>
            <div class="tx-14">{{_MerchantDetails.DisplayName || "--"}}</div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Owner Name</label>
            <div class="tx-14">{{_MerchantDetails.OwnerName || "--"}}</div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Merchant ID</label>
            <div class="tx-14">{{_MerchantDetails.AccountCode || "--"}}</div>
          </div>
        </div>
      </div>
      <div class="card-body bd-b-0">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Mobile Number</label>
            <div class="tx-14">{{_MerchantDetails.ContactNumber || "--"}}</div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Email Address</label>
            <div class="tx-14">{{_MerchantDetails.EmailAddress || "--"}}</div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Website Link</label>
            <div class="tx-14">{{_MerchantDetails.WebsiteUrl || "--"}}</div>
          </div>
        </div>
        <hr />
        <p class="tx-16 tx-semibold">Contact Person Info</p>
        <div class="row pb-4">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">First Name</label>
            <div class="tx-14">{{MerchantContactPerson.FirstName || "--"}}</div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Last name</label>
            <div class="tx-14">{{MerchantContactPerson.LastName || "--"}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Mobile Number</label>
            <div class="tx-14">{{MerchantContactPerson.MobileNumber || "--"}}</div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Email Address</label>
            <div class="tx-14">{{_MerchantDetails.EmailAddress || "--"}}</div>
          </div>
        </div>
        <hr />
        <p class="tx-16 tx-semibold">Other Info</p>
        <div class="row pb-4">
          <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Business Categories</label>
                <div class="pb-5">
                  <div class="d-inline justify-content-between"
                    *ngFor="let catagories of _MerchantDetails['Categories']">
                    <button type="button" disabled
                      class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left">{{catagories.Name}}</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Referral code</label>
                <div class="tx-14 pb-4">{{_MerchantDetails.ReferralCode || "--"}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="tx-color-03 tx-12 tx-semibold text-uppercase ">About Business</label>
                <div class="tx-14">{{_MerchantDetails.Description || "--"}}</div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Address</label>
                <div class="tx-14">{{_MerchantDetails.Address || "--"}}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 mn-ht-200">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Location Map</label>
            <agm-map class=" ht-100p" [zoom]="12" [latitude]="MerchantAddress.Latitude"
              [longitude]="MerchantAddress.Longitude" [styles]="_HelperService.darkStyle" [streetViewControl]="false">
              <agm-marker [latitude]="MerchantAddress.Latitude" [longitude]="MerchantAddress.Longitude">
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog custom-modal-size" [ngClass]="{'modal-dialog-scrollable': loyalty && deals}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-700 tx-14 line-16" id="modalTitle">
          <a (click)="NavigateHome()">
            <i data-feather="arrow-left" class="cursor-pointer" style="height: 18px;"></i>
          </a>
          Select Account Type
          <!-- <div class="col-sm-2">
            <span type="button" class="close" data-dismiss="modal" aria-label="Close">
              <img src="../../../../assets/img/backIcon.png" />
            </span>
          </div>
          <div class="col-sm-10">
            <div class="mt-1 tx-14"> Select Account Type </div>
          </div> -->

        </h5>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center"><span class="heading fw-700 tx-14 line-16 text-center"> Select one or multiple business solution(s)</span></div>
        <div class="modal-part-two">
          <div class="container mb-4 mt-4">
            <div class="row text-center justify-content-center align-items-center">
              <div class="col-md-5 pt-3 accountCards">
                <div class="card card-body " id="loyaltyCard" (click)="selectSolution($event,'tuLoyalty')">
                  <input type="checkbox" class="checkBox" [checked]="loyalty == true"
                    (keyup)="selectSolution($event,'tuLoyalty')" />
                  <h5 class="card-title mt-2 mb-2">
                    <img src="../../../../assets/img/loyalty.png" id="myImg" height="50"/>
                  </h5>
                  <label class="card-labels fw-500 tx-12 line-14 text-center">ThankUCash Loyalty</label>
                  
                </div>
                <span class="cardToolTip tx-10 line-16">
                  <p class="ml-3 mt-3"> Give your customers a reason to stay loyal and become your brand ambassandors while growing your business using our reward system.</p>
                </span>
              </div>
              <div class="col-md-1 pt-3"></div>
              <div class="col-md-5 pt-3 dealCards">
                <div class="card card-body" id="dealsCard" (click)="selectSolution($event,'tuDeals')">
                  <input type="checkbox" class="checkBox" [checked]="deals == true"
                    (keyup)="selectSolution($event,'tuDeals')" />
                  <h5 class="card-title mt-2 mb-3">
                    <img src="../../../../assets/img/deals.png" id="my-img" height="40"/>
                  </h5>
                  <label class="card-labels fw-500 tx-12 line-14 text-center">ThankUCash Deals</label>
                </div>
                <span class="dealToolTip tx-10 line-16">
                  <p class="ml-3 mt-3"> Display your unique service or product to a wide variety of new customers and build loyalty to your brand.</p>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="loyalty">
          <span class="detailTitle tx-14 line-16" class="mb-3">Please select a reward model</span>
          <div class="mt-3">
            <div><input type="radio" id="tuLoyaltyRadio1" name="tuLoyaltyRadio" class="radio ml-4"
                (click)="rewardSelect($event)" /> <b class="detailPoints tx-14 ml-3">Open
                Loyalty Model</b> </div>
            <div>
              <p class="detailPointsList tx-14 line-22" style="padding-left: 11%;">Open reward loyalty lets your customers spend their
                rewards at any
                ThankUCash merchant location</p>
            </div>
            <div *ngIf="rewards" class="mb-4">
                <span class="detailPointsList tx-14 line-22 mb-3" style="padding-left: 11%;">Set loyalty percentage</span> &nbsp;
                <span class="click-to-top">
                  <img src="../../../../assets/img/selectPercentage.png" height="13px" class="textImg" />
                  <span class="toolTip tx-10">
                    <p class="ml-2 mt-2"> This is the percentage your customer gets as a reward on purchase</p>
                  </span>
                </span>
              <div class="input-group input-group-sm w-75" style="padding-left: 11%;">
                <input type="number" min="0" max="256" [(ngModel)]="loyaltyPercentage" (keyup)="percentage(loyaltyPercentage)" name="openRewardPercentage" id="openRewardPercentage"
                  class="form-control radioColor" />
              </div>
              <label class="text-danger form-label formlabels fw-500 tx-10 line-16 mb-0" for="docFile"
              *ngIf="percentError" style="padding-left: 11%;">
              Percentage value must be between 0-100</label>
            </div>
          </div>
          <div class="">
            <div><input type="radio" id="tuLoyaltyRadio2" name="tuLoyaltyRadio" class="radio ml-4"
                (click)="rewardSelect($event)" /> <b class="detailPoints tx-14 ml-3 ">Closed Loyalty Model</b></div>
            <div>
              <p class="detailPointsList tx-14 line-22" style="padding-left: 11%;">Closed reward loyalty lets your customers spend
                their rewards only at your merchant location</p>
            </div>
            <div *ngIf="rewards ==false" class="mb-4">
                <span class="detailPointsList tx-14 line-22 mb-3" style="padding-left: 11%;">Set loyalty percentage</span> &nbsp;
                <span class="click-to-top">
                  <img src="../../../../assets/img/selectPercentage.png" height="13px" class="textImg" />
                  <span class="toolTip tx-10">
                    <p class="ml-2 mt-2"> This is the percentage your customer gets as a reward on purchase</p>
                  </span>
                </span>
              <div class="input-group input-group-sm w-75" style="padding-left: 11%;">
                <input type="number" min="0" max="256" [(ngModel)]="loyaltyPercentage" (keyup)="percentage(loyaltyPercentage)" name="closeRewardPercentage" id="closeRewardPercentage"
                  class="form-control" />
              </div>
              <label class="text-danger form-label formlabels fw-500 tx-10 line-16 mb-0" for="docFile"
               *ngIf="percentError" style="padding-left: 11%;">
               Percentage value must be between 0-100</label>
            </div>
          </div>
        </div>
        <div *ngIf="deals">
          <span class="detailTitle" class="mb-3">Please select a preferred category</span>
          <div class="mt-3">
            <div><input type="radio" id="tuDealsRadio1" (change)="dealsChange($event)" class="radio ml-4" name="tuDealsRadio" /> <b
                class="detailPoints tx-14 ml-3">Products</b>
            </div>
            <div>
              <p class="detailPointsList tx-14 line-22" style="padding-left: 11%;">Sell physical products to your customers on the
                ThankUCash Deals platform</p>
            </div>
          </div>
          <div class="">
            <div><input type="radio" id="tuDealsRadio2" (change)="dealsChange($event)" name="tuDealsRadio" class="radio ml-4" /> <b
                class="detailPoints tx-14 ml-3 ">Services</b></div>
            <div>
              <p class="detailPointsList tx-14 line-22" style="padding-left: 11%;">Provide services to your customers on the
                ThankUCash Deals platform</p>
            </div>
          </div>
          <div class="">
            <div><input type="radio" id="tuDealsRadio3" (change)="dealsChange($event)" name="tuDealsRadio" class="radio ml-4" /> <b
                class="detailPoints tx-14 ml-3 ">Both</b>
            </div>
            <div>
              <p class="detailPointsList tx-14 line-22" style="padding-left: 11%;">Provide both products and services to your
                customers on the ThankUCash Deals platform</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
        <button class="btn  pricingBtn mr-2" style="background-color: #7987A1;" (click)="viewPricing()">
          <span class="fw-400 tx-12 line-14">View Our Pricing </span>
        </button> &nbsp;
        <button class="btn pricingBtn darkBlueBtn mr-3" *ngIf="loyalty == true || deals == true"
          type="button" (click)="onClick()" [disabled]="(deals == true && dealsRadio== false ) || (loyalty == true && rewards == undefined) || (loyalty && !percentVal) || (loyalty && percentError)">
          <span class="fw-400 tx-12 line-14">Done </span>
        </button>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="modal fade" id="onBoardingModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-700 tx-14 line-16" id="exampleModalLongTitle">Congratulations</h5>
        <!-- <button type="button" class="close" data-dismiss="onBoardingModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <div class="modal-part-one">
          <div class="modal-labels">
            <p class="fw-700 tx-14 line-16">
              Your verification was successful!
            </p>
            <p class="fw-400 tx-14 line-16">
              Hi
              <span class="label-two-color">
                Trebet Superstores,
              </span>
              complete your account set up with these steps
            </p>
          </div>

        </div>

        <div class="modal-part-two mb-5">

          <div class="container mb-4 mt-4">
            <div class="row text-center g-1">
              <div class="col-md-6 p-1">
                <div class="card cardHover">
                  <div class="card-body">
                    <h5 class="card-title mt-2 mb-4">
                      <img src="../../../../assets/img/file.png" id="myImg" height="60"/>
                    </h5>
                    <label class="card-labels fw-500 tx-11 line-14 text-center"><i data-feather="check" style="color: #10B759;" height="16px"></i>Business
                      Details Uploaded</label>
                  </div>
                </div>
              </div>
              <div class="col-md-6 p-1">
                <div class="card cardHover">
                  <div class="card-body ml-1 mr-1">
                    <h5 class="card-title mt-2 mb-4">
                      <img src="../../../../assets/img/user.png" id="my-img" height="60"/>
                    </h5>
                    <label class="card-labels fw-500 tx-12 line-14 text-center mb-2"><i data-feather="check"
                        style="color: #10B759;" height="16px"></i>Account Type
                      Selected</label>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button class="btn dashboardBtn darkBlueBtn" (click)="goToDashboard()">
          <span class="fw-400 tx-12 line-14" >Go to Dashboard </span>
        </button>
      </div>
    </div>
  </div>
</div>








<!-- Our pricing Modal -->

<div class="modal fade bd-example-modal" id="doneModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-700 tx-14 line-16" id="accountLabel">
            <a (click)="backFromPricing()">
              <i data-feather="arrow-left" class="cursor-pointer" style="height: 18px;"></i>
            </a>
            Select Account Type
            <!-- <div class="col-md-2">
              <span type="button" class="close" (click)="backFromPricing()">
                <img src="../../../../assets/img/backIcon.png" />
              </span>
            </div>
            <div class="col-md-10">
                Select Account Type
          </div> -->
        </h5>
      </div>
      <div class="modal-body">
        <h4 class="text-center mainhead mt-4 fw-700 tx-14 line-16">Our Pricing</h4>
        
        <div class="container mb-4 mt-4">
          <div class="row text-center d-flex justify-content-around p-2 mb-4">
            <div class="col-md-4 p-1">
              <div class="cardtwo card">
                <div class="card-body">
                  <h5 class="card-title mt-2 mb-2">
                    <img src="../../../../assets/img/lock1.png"  height="60"/>
                  </h5>
                  <label for="" class="cardheading fw-600 tx-14 line-16 text-center">Open Loyalty Model</label>
                  <p class="cardpara fw-400 tx-11 line-16 text-center">
                    For the open loyalty model, we charge a transaction fee of 1.5% Capped at N2000
                  </p>
                </div>
              </div>
            </div>
            
            <div class="col-md-4 p-1">
              <div class="cardtwo card">
                <div class="card-body">
                  <h5 class="card-title mt-2 mb-2">
                    <img src="../../../../assets/img/lock2.png"  height="60"/>
                  </h5>
                  <label for="" class="cardheading fw-600 tx-14 line-16 text-center">Closed Loyalty Model</label>
                  <p class="cardpara fw-400 tx-11 line-16 text-center">
                    For the closed loyalty model, we charge a SaaS monthly fee of N10,000
                  </p>
                </div>
              </div>
            </div>
            

          </div>
          <div class="row text-center d-flex justify-content-center mt-4">
            <div class="col-md-4 p-1">
              <div class="cardtwo card">
                <div class="card-body">
                  <h5 class="card-title mt-2 mb-2">
                    <img src="../../../../assets/img/dealRound.png" height="60"/>
                  </h5>
                  <label for="" class="cardheading fw-600 tx-14 line-16 text-center">Deals</label>
                  <p class="cardpara fw-400 tx-11 line-16 text-center">
                    For deals, we charge a fee 0f 5-10% depending on your selected category
                  </p>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn pricingBtn darkBlueBtn tx-14" (click)="backFromPricing()">Back</button>
      </div>

    </div>
  </div>
</div>
