<div class="card row no-gutters" style="background-color: #F5F5FA !important;">
    <div class="card-header col-lg-12 col-sm-12 col-md-12 col-xs-12 bg-white pd-y-25">
        <div class="pd-l-80"
            *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com' ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'">
            <img src="../../../assets/img/interswitch.png" class="w-xmd">
        </div>
        <div class="pd-l-80"
            *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com' &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'wemarewards.thankucash.com' &&  _HelperService.AppConfig.Host != 'localhost:4200'">
            <img src="../../../assets/img/logoinverse.png" class="w-xmd">
        </div>
        <div class="pd-l-80"
            *ngIf="_HelperService.AppConfig.Host == 'localhost:4200' ||  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'">
            <img src="../../../assets/img/wemalogo.png" class="w-xmd">
        </div>
    </div>
    <div class="col-lg-12">
        <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
            <li role="presentation" class="active custom"><a
                    routerLink="{{_HelperService.AppConfig.Pages.System.MerchantSetup}}" aria-controls="discover"
                    role="tab" data-toggle="tab"><i style="background-color: blue !important; color: white;"
                        class="fa fa-check" aria-hidden="true"></i>
                    <p>Business Details</p>
                </a></li>
            <li role="presentation" class="active custom"><a aria-controls="strategy" role="tab" data-toggle="tab"><i
                        class="fa fa-check" aria-hidden="true"></i>
                    <p>Business Location</p>
                </a></li>
            <li role="presentation"><a aria-controls="reporting" role="tab" data-toggle="tab"><i class="fa fa-check"
                        aria-hidden="true"></i>
                    <p>Done</p>
                </a></li>
        </ul>
    </div>


    <div class=" " style="display: block; 
position: relative;
overflow: hidden;">
        <div class="mx-auto w-xl w-auto-xs" style="width: 60%;">
            <div class="card row" style="border-radius: 4px !important;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 b-a r-2x pb-3">
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="m-4">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <div class="form-group">
                                            <label>Locate Address<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" name="GAddress" maxlength="256" class="form-control"
                                                    ngx-google-places-autocomplete #places="ngx-places"
                                                    [ngModel]="data.MapAddress"
                                                    (onAddressChange)="HCXLocManager_AddressChange($event)">
                                            </div>
                                        </div>
                                        <div class="agm">
                                            <agm-map style="height:320px;" [zoom]="12" [latitude]="data.Latitude"
                                                [longitude]="data.Longitude" [streetViewControl]="false">
                                                <agm-marker [latitude]="data.Latitude" [longitude]="data.Longitude">
                                                </agm-marker>
                                            </agm-map>
                                        </div>
                                        <div class="form-group mt-3">
                                            <label>Detailed Address<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <textarea name="Address" maxlength="256" placeholder="Address"
                                                    class="form-control" [(ngModel)]="data.Address" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <label>Country</label>
                                            <div class="controls">
                                                <span class="input-group-text">{{data.CountryName}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group" *ngIf="ShowState">
                                            <label>State<span class="text-danger">*</span>
                                            </label>
                                            <select2 class="full-width" name="loc_manager_state" [value]="data.StateId"
                                                [data]="HCXLocManager_S2States_Data"
                                                (valueChanged)="HCXLoc_Manager_StateSelected($event)">
                                            </select2>
                                        </div>
                                        <div class="form-group" *ngIf="ShowCity">
                                            <label>City<span class="text-danger">*</span>
                                            </label>
                                            <select2 name="hcxloc_manager_city" class="full-width" [value]="data.CityId"
                                                [options]="HCXLoc_Manager_City_Option"
                                                (valueChanged)="HCXLoc_Manager_City_Change($event)">
                                            </select2>
                                        </div>
                                        <div class="form-group">
                                            <label>Referral Code
                                            </label>
                                            <div class="controls">
                                                <input type="text" placeholder="Referral Code" name="ReferralCode"
                                                    minlength="1" maxlength="32" class="form-control"
                                                    [(ngModel)]="data.ReferralCode">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary full-width"
                                                *ngIf="!_HelperService.IsFormProcessing"
                                                (click)=HCXLoc_Manager_SetAddress()>
                                                <span>
                                                    Done
                                                </span>
                                            </button>
                                            <button type="submit" class="btn btn-primary full-width" disabled readonly
                                                *ngIf="_HelperService.IsFormProcessing">
                                                <span>
                                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                    {{ 'Common.PleaseWait' | translate }}...
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> </div>
                                </div>
                            </div>
                            <!-- <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)"
                                role="form">
                                <div class="m-4">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <div class="businessform">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 businessform">
                                                    <div class="form-group map-searchbox">
                                                        <input type="text" name="GAddress" maxlength="256"
                                                            class="form-control" ngx-google-places-autocomplete
                                                            #places="ngx-places"
                                                            (onAddressChange)="Form_AddUser_AddressChange($event)">
                                                    </div>
                                                    <div class="mg-b-20">
                                                        <label class="text-sm text-muted">Enter address of your
                                                            business</label>
                                                        <agm-map style="height:220px;" [zoom]="12"
                                                            [latitude]="Form_AddUser_Latitude"
                                                            [longitude]="Form_AddUser_Longitude"
                                                            (mapClick)="Form_AddUser_PlaceMarkerClick($event)">
                                                            <agm-marker [latitude]="Form_AddUser_Latitude"
                                                                [longitude]="Form_AddUser_Longitude">
                                                            </agm-marker>
                                                        </agm-map>
                                                    </div>
                                                    <div class="form-group"
                                                        [ngClass]="{'has-error':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}">
                                                        <label class="text-muted text-xs">Street / Shop No /
                                                            Landmark</label>
                                                        <input type="text" required name="Address" maxlength="256"
                                                            class="form-control"
                                                            [formControl]="Form_AddUser.controls['Address']"
                                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}">
                                                        <div>
                                                            <label class="text-danger text-xs _600" for="Address"
                                                                *ngIf="Form_AddUser.controls['Address'].hasError('required') && Form_AddUser.controls['Address'].touched">Enter
                                                                Street / Shop no / Landmark</label>
                                                            <label class="text-danger text-xs _600" for="Address"
                                                                *ngIf="Form_AddUser.controls['Address'].hasError('minlength') || Form_AddUser.controls['Address'].hasError('maxlength')">Enter
                                                                valid Street / Shop no / Landmark</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group mt-3">
                                                                <label>Country<span class="text-danger">*</span></label>
                                                                <div class="controls">
                                                                    <input type="text" placeholder="Country"
                                                                        name="Country" maxlength="25" readonly
                                                                        class="form-control  "
                                                                        [formControl]="Form_AddUser.controls['CountryName']"
                                                                        [(ngModel)]='_HelperService.UserCountrycode'
                                                                        [ngClass]="{'is-invalid':!Form_AddUser.controls['CountryName'].valid && Form_AddUser.controls['CountryName'].touched}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12" style="margin-top: 16px;">
                                                            <div class="form-group">
                                                                <label>State<span class="text-danger">*</span>
                                                                </label>
                                                                <select2 class="full-width" *ngIf="ShowstateSelector"
                                                                    [options]="_HelperService.Select2Options_state"
                                                                    [value]="SelectedStateCategories"
                                                                    [data]="S2StateCategories"
                                                                    (valueChanged)="StateSelected($event)">
                                                                </select2>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group" *ngIf="selectedstate">
                                                                <label>City<span class="text-danger">*</span>
                                                                </label>
                                                                <select2 class="full-width" *ngIf="ShowcitySelector"
                                                                    [options]="_HelperService.Select2Options_city"
                                                                    [value]="SelectedCityCategories"
                                                                    [data]="S2CityCategories"
                                                                    (valueChanged)="CitySelected($event)">
                                                                </select2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Referral Code
                                                        </label>
                                                        <div class="controls">
                                                            <input type="text" placeholder="Referral Code"
                                                                name="ReferralCode" minlength="1" maxlength="32"
                                                                class="form-control"
                                                                [formControl]="Form_AddUser.controls['ReferralCode']"
                                                                [ngClass]="{'is-invalid':!Form_AddUser.controls['ReferralCode'].valid && Form_AddUser.controls['ReferralCode'].touched}">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <button type="submit" class="btn btn-primary full-width"
                                                            click=showsubscription()>
                                                            <span *ngIf="!Form_AddUser_Processing">
                                                                Next
                                                            </span>
                                                            <span *ngIf="Form_AddUser_Processing">
                                                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                                {{ 'Common.PleaseWait' | translate }}...
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> </div>
                                    </div>
                                </div>
                            </form> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>