<!-- acquirer--merchants--list -->
<div class="card ">
  <!-- <div [className]="_HelperService._Assets.Box.header">
    <div class="tx-14 tx-bold"> {{SubAccountsList_Config.Title}} </div>
  </div> -->
  <div class="box-header px-3 pd-t-15 pd-b-0  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="SubAccountsList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="SubAccountsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="SubAccountsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" [disabled]='(_HelperService.FilterSnap.id == -1)'
        (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
      [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange'
        (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="SubAccountsList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="SubAccountsList_Config.Sort.SortOrder == 'desc'"
                (click)="SubAccountsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="SubAccountsList_Config.Sort.SortOrder == 'asc'"
                (click)="SubAccountsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of SubAccountsList_Config.Sort.SortOptions"
              (click)="SubAccountsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="SubAccountsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="SubAccountsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="SubAccountsList_Config.StatusOptions"
                  (valueChanged)="SubAccountsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>
            <div>
            </div>
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne"
        (click)="SubAccountsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
          <a class="nav-link ml-2 RefreshColor RefreshColorOne"
          (click)="SubAccountsList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
            data-feather="download"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8 mt-03r">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetFilterDate(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetFilterDate(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary"
      *ngFor="let TItem of SubAccountsList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <!-- <th class="text-center" *ngIf="ColumnConfig[0].Value">
          </th> -->
          <th class="text-center">
          </th>
          <th>
            Name
          </th>
          <th class="">
            Username
          </th>
          <th class="">
            Role
          </th>
          <th class="">
            Contact
          </th>
          <th class="">
            Last activity
          </th>
          <th class="">
            <b>Added on</b>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer"
          *ngFor="let TItem of SubAccountsList_Config.Data  | paginate: { id: 'SubAccountsList_Paginator',itemsPerPage: SubAccountsList_Config.PageRecordLimit, currentPage: SubAccountsList_Config.ActivePage,  totalItems: SubAccountsList_Config.TotalRecords }; let i = index">
          <td class="text-center">
            <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.IconUrl}}"
              class="img wd-40 ht-40 rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
          </td>

          <td>
            <div class="tx-14 tx-semibold ">{{TItem.Name  || "--"}}</div>
            <small class="tx-12 text-muted">
              {{TItem.GenderName  || "--"}}
            </small>
          </td>
          <!-- <td class="text-center">
            {{TItem.Username || "--"}}
          </td> -->
          <td class="">
            {{TItem.UserName || "--"}}
          </td>
          <td class="">
            {{TItem.RoleName || "--"}}
          </td>
          <td class="">
            <div class="tx-14 tx-verve">{{TItem.ContactNumber  || "--"}}
            </div>
            <small class="text-muted tx-12">
              {{TItem.EmailAddress  || "--"}}
            </small>
          </td>
          <td class="">
            <div class="tx-14">{{TItem.LastActivityDateD || "--"}}
            </div>
            <small class="text-muted tx-12">
              {{TItem.LastActivityDateT  || "--"}}
            </small>
          </td>
          <td class="">
            <div>{{TItem.CreateDateD || "--"}}</div> 
            <div>{{TItem.CreateDateT || "--"}}</div>
          </td>
          <td class="">
            <div>
              <div class="dropdown dropleft">
                <!-- (click)="SubAccountsList_RowSelected(TItem)" -->
                <a href="" class="nav-link" id="SubAccountsList_rdropdown_{{i}}" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"> <i class="fas fa-ellipsis-v"></i> </a>
                <div class="dropdown-menu tx-13">
                  <form class="wd-250  pd-15">
                    <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">More Actions
                    </h6>

                    <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="SubAccountsList_RowSelected( TItem);CloseRowModal(i)">
                      <span class="pd-r-10"><i class=" fas fa-edit"></i></span>Update
                    </a>
                    <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="BlockSubAccount(TItem);CloseRowModal(i)">
                      <span class="pd-r-10"><i
                          class=" fas fa-user"></i></span>{{TItem.StatusCode=='default.active'?'Block Account':'Active Account'}}
                    </a>
                    
                    <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }}
                      {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="ResetPassword(TItem)">
                      <i class="fas fa-key mg-r-10"></i>Reset Password
                    </a>
                    <!-- <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }}
                      {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="SubAccountsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                      <i class="fas fa-key"></i>Reset Password
                    </a>
                    <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                      (click)="SubAccountsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                      <i class="fas fa-trash"></i>Delete
                    </a> -->

                  </form>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{SubAccountsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{SubAccountsList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{SubAccountsList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="SubAccountsList_Config.PageRecordLimit"
        (ngModelChange)="SubAccountsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="SubAccountsList_Paginator" class="pagination pagination-space"
        (pageChange)="SubAccountsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="Form_UpdateSubAccount_Content" class="modal fade" tabindex="-1" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_UpdateSubAccount" (ngSubmit)="Form_UpdateSubAccount_Process(Form_UpdateSubAccount.value)"
        role="form">
        <div class="modal-header">
          <h5 class="modal-title">Update SubAccount</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.FirstName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>

                </div>
                <div class="controls">
                  <input type="text" name="FirstName" placeholder="First Name" required maxlength="128"
                    class="form-control" [(ngModel)]="_SubAccountDetails.FirstName"
                    [formControl]="Form_UpdateSubAccount.controls['FirstName']" [ngClass]="{
                    'is-invalid':
                      !Form_UpdateSubAccount.controls['FirstName'].valid &&
                      Form_UpdateSubAccount.controls['FirstName'].touched
                  }" />
                </div>
                <label class="text-danger" for="FirstName" *ngIf="
                  Form_UpdateSubAccount.controls['FirstName'].hasError('required') &&
                  Form_UpdateSubAccount.controls['FirstName'].touched
                ">{{
                  "System.Users.FirstName_ER_Required" | translate
                }}</label>
                <label class="text-danger" for="FirstName" *ngIf="
                  Form_UpdateSubAccount.controls['FirstName'].hasError(
                    'minlength'
                  ) ||
                  Form_UpdateSubAccount.controls['FirstName'].hasError('maxlength')
                ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <div>
                    <label>{{ "System.Users.LastName" | translate }}<span class="text-danger">*</span>
                    </label>
                  </div>

                </div>
                <div class="controls">
                  <input type="text" name="LastName" placeholder="Last Name" required maxlength="128"
                    [(ngModel)]="_SubAccountDetails.LastName" class="form-control"
                    [formControl]="Form_UpdateSubAccount.controls['LastName']" [ngClass]="{
                    'is-invalid':
                      !Form_UpdateSubAccount.controls['LastName'].valid &&
                      Form_UpdateSubAccount.controls['LastName'].touched
                  }" />
                </div>
                <label class="text-danger" for="LastName" *ngIf="
                  Form_UpdateSubAccount.controls['LastName'].hasError('required') &&
                  Form_UpdateSubAccount.controls['LastName'].touched
                ">{{
                  "System.Users.LastName_ER_Required" | translate
                }}</label>
                <label class="text-danger" for="LastName" *ngIf="
                  Form_UpdateSubAccount.controls['LastName'].hasError(
                    'minlength'
                  ) ||
                  Form_UpdateSubAccount.controls['LastName'].hasError('maxlength')
                ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.EmailAddress" | translate
                    }}<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" placeholder="Email Address" name="EmailAddress" maxlength="128" class="form-control"
                [(ngModel)]="_SubAccountDetails.EmailAddress"
                [formControl]="Form_UpdateSubAccount.controls['EmailAddress']" [ngClass]="{
                        'is-invalid':
                          !Form_UpdateSubAccount.controls['EmailAddress'].valid &&
                         Form_UpdateSubAccount.controls['EmailAddress'].touched
                      }" />
            </div>
            <label class="text-danger" for="EmailAddress" *ngIf="
                     Form_UpdateSubAccount.controls['EmailAddress'].hasError('required') &&
                     Form_UpdateSubAccount.controls['EmailAddress'].touched
                    ">{{
                      "System.Users.EmailAddress_ER_Required" | translate
                    }}</label>
            <label class="text-danger" for="EmailAddress" *ngIf="
                     Form_UpdateSubAccount.controls['EmailAddress'].touched &&
                      !Form_UpdateSubAccount.controls['EmailAddress'].valid && 
                      !Form_UpdateSubAccount.controls['EmailAddress'].hasError('required')
                    ">Enter valid email Address</label>
          </div>
          <div class="form-group">
            <label>{{ "System.Users.ContactNumber" | translate
                  }}<span class="text-danger">*</span>
            </label>
            <div class="controls input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{this._HelperService.CountryCode}}</span>
            </div>
              <input type="text" placeholder="Contact Number" name="ContactNumber" maxlength="128" class="form-control"
                (keypress)="_HelperService.PreventText($event)" [(ngModel)]="_SubAccountDetails.ContactNumber"
                [formControl]="Form_UpdateSubAccount.controls['ContactNumber']" [ngClass]="{
                      'is-invalid':
                        !Form_UpdateSubAccount.controls['ContactNumber'].valid &&
                       Form_UpdateSubAccount.controls['ContactNumber'].touched
                    }" />
            </div>
            <label class="text-danger" for="ContactNumber" *ngIf="
                   Form_UpdateSubAccount.controls['ContactNumber'].hasError('required') &&
                   Form_UpdateSubAccount.controls['ContactNumber'].touched
                  ">{{
                    "System.Users.ContactNumber_ER_Required" | translate
                  }}</label>
            <label class="text-danger" for="ContactNumber" *ngIf="
                   Form_UpdateSubAccount.controls['ContactNumber'].hasError(
                      'minlength'
                    ) ||
                   Form_UpdateSubAccount.controls['ContactNumber'].hasError('maxlength')
                  ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
          </div>
          <div class="form-group">
            <div> <label>{{'System.Users.Gender' | translate }}<span class="text-danger">*</span>
              </label>
            </div>
            <div class="radio float-left mr-3">
              <label class="ui-check"><input type="radio" name="gender" [value]="_HelperService.AppConfig.Gender.Male"
                  [formControl]="Form_UpdateSubAccount.controls['GenderCode']"
                  [(ngModel)]="_SubAccountDetails.GenderCode">
                <i class="dark-white"></i>
                {{ 'System.Users.Male' | translate }}</label>
            </div>
            <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="gender"
                  [value]="_HelperService.AppConfig.Gender.Female" [(ngModel)]="_SubAccountDetails.GenderCode"
                  [formControl]="Form_UpdateSubAccount.controls['GenderCode']">
                <i class="dark-white"></i>
                {{ 'System.Users.Female' | translate }}</label></div>
          </div>
          <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
            <label>{{ 'System.Users.Role' | translate }}<span class="text-danger">*</span>
            </label>
            <select2 name="S2GetRoles" class="full-width" [data]="_Roles" [value]="_SubAccountDetails.RoleId"
                [options]="GetRoles_Option" (valueChanged)="GetRoles_ListChange($event)">
            </select2>

        </div>

    
      <!-- <div class="form-group pd-b-0" *ngIf="ToggleStoreSelect">
        <label for=""> Select Store <span class="text-danger"> * </span> </label>
        <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
          (valueChanged)="TUTr_Filter_Stores_Change($event)">
        </select2>
      </div>  -->

      <div class="form-group">
        <div>
            <label>Profile Picture
            </label>
        </div>
        <div class="col-md-12">
            <input-file inputId="input-file" placeholder="" (click)="setprofileId('subaccountupdate')">
            </input-file>
        </div>
      </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_UpdateSubAccount_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2"
            (click)="Form_UpdateSubAccount.value.OperationType = 'new'"
            [disabled]="!Form_UpdateSubAccount.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Save" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade BlockPos" id="BlockPos" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{Title}} Sub-Account?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngIf="_SubAccountDetails.StatusCode != 'default.blocked'" type="button">Do you really want to Block
          <span>{{_SubAccountDetails.Name}} ? </span></p>
        <p *ngIf="_SubAccountDetails.StatusCode == 'default.blocked'" type="button"> Do you really want to Active
          <span>{{_SubAccountDetails.Name}}? </span> </p>
      </div>
      <div class="modal-footer">
 
        <button *ngIf="_SubAccountDetails.StatusCode == 'default.blocked'" type="button" (click)="UnBlock()"
          class="btn btn-primary">Active</button>
          <button *ngIf="_SubAccountDetails.StatusCode != 'default.blocked'" type="button" (click)="Block()"
          class="btn btn-danger">Block</button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>

      </div>
    </div>
  </div>
</div>

<div id="Form_ResetPassword_Content" class="modal fade" data-backdrop="static" data-keyboard="false"  aria-hidden="true">
  <div class="modal-dialog custom-modal-size modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_ResetPassword" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Reset Password for {{titleName}}</h5>
        </div>
        <div class="modal-body p-lg">
          <div class="ml-3 mt-3">
            <div>
              <input type="radio" name="selection" style="transform: scale(1.5);"
                      [value]="true"
                      [formControl]="Form_ResetPassword.controls['AutomaticallyGenerated']">
            </div>
            <div class="ml-4 mt-n4">
              <div class="ml-2 h5 fw-400 mt-nc">Automatically generate a password</div> 
              <div  class="ml-2 text-secondary mt-n1">You'll be able to view the password in the mail you'll receive</div> 
            </div>
          </div>
          <div class="mt-4 ml-3">
            <div>
              <input type="radio" name="selection" style="transform: scale(1.5);"
                      [value]="false"
                      [formControl]="Form_ResetPassword.controls['AutomaticallyGenerated']">
            </div>
            <div class="ml-4 mt-n4">
              <div class="ml-2 h5 fw-400 mt-nc">Create Password</div> 
              <div *ngIf="!Form_ResetPassword.controls['AutomaticallyGenerated'].value">
                <div  class="ml-2 text-secondary">Password</div> 
                 <div class="row">
                    <div class="col-md-12 pd-r-15 mt-1">
                        <input *ngIf="ShowPassword" type="password" name="password" maxlength="50" class="form-control w-300 ml-2"
                            [formControl]="Form_ResetPassword.controls['Password']"
                            (input)="pwdValueChange($event.target.value)"
                            [ngClass]="{'is-invalid':!Form_ResetPassword.controls['Password'].valid && Form_ResetPassword.controls['Password'].touched}">

                        <input *ngIf="!ShowPassword" type="text" name="password" maxlength="50" class="form-control w-300 ml-2"
                            [formControl]="Form_ResetPassword.controls['Password']"
                            (input)="pwdValueChange($event.target.value)"
                            [ngClass]="{'is-invalid':!Form_ResetPassword.controls['Password'].valid && Form_ResetPassword.controls['Password'].touched}">
                    </div>
                    <div class="px-0 input-group-append">
                        <a *ngIf="ShowPassword" class="btn ml-n17  d-flex align-items-center cursor-pointer Showbutton bd-0">
                            <i class="fa fa-eye-slash fa-1x" aria-hidden="true"
                                (click)="ToggleShowHidePassword()"></i></a>

                        <a *ngIf="!ShowPassword" class="btn ml-n17  d-flex align-items-center cursor-pointer Showbutton bd-0">
                            <i class="fa fa-eye fa-1x" aria-hidden="true" (click)="ToggleShowHidePassword()"></i></a>
                    </div>
                </div>
                <div>
                  <div class="text-danger tx-12  _600 ml-2 mt-2" for="Password" *ngIf="Form_ResetPassword.controls['Password'].hasError('required') && Form_ResetPassword.controls['Password'].touched
                      && (ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                      Enter password </div>
                  <div class="tx-12  _600 tx-12  _600 ml-2 mt-2"
                      *ngIf="!(ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                      <span [ngClass]="{'text-success':IsminLength , 'text-danger': !IsminLength}">Password must
                          contain at least 8 characters</span><br />
                      <span [ngClass]="{'text-success':ispwdContainsNum , 'text-danger': !ispwdContainsNum}">Password
                          must contain at least one number (0-9)</span><br />
                      <span [ngClass]="{'text-success':ispwdContainsUC , 'text-danger': !ispwdContainsUC}">Password
                          must contain at least one letter (A-Z)</span><br />
                      <span [ngClass]="{'text-success':ispwdContainsLC , 'text-danger': !ispwdContainsLC}">Password
                          must contain at least one letter (a-z)</span><br />
                      <span [ngClass]="{'text-success':isPwdContainsSC , 'text-danger': !isPwdContainsSC}">Password
                          must contain one special charater</span>
                  </div>
              </div>
              <div class="custom-control custom-checkbox mt-3 ml-2">
                <input type="checkbox" class="custom-control-input" id="cbpromo" formControlName="askUser"
                [formControl]="Form_ResetPassword.controls['askUser']" disabled>
                <label class="custom-control-label tx-12 tx-color-03" for="cbpromo"> 
                  Ask user to change their password when they sign in
                </label>
            </div> 
              </div> 
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_ResetPassword_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="Form_ResetPassword_Process()"
          [disabled]="!Form_ResetPassword.controls['AutomaticallyGenerated'].value && (!ispwdContainsNum || !ispwdContainsUC || !ispwdContainsLC || !IsminLength || !isPwdContainsSC ||
          Form_ResetPassword.controls['Password'].value == null)">
           Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>