<div class="card row no-gutters bd-b-0" style="background-color: #F5F5FA !important;">


    <div class="card-header col-lg-12 col-sm-12 col-md-12 col-xs-12 bg-white pd-y-25">
        <div class="pd-l-80"
            *ngIf="_HelperService.AppConfig.Host == 'merchantrewards.interswitch.com' ||  _HelperService.AppConfig.Host == 'interswitch.thankucash.com'">
            <img src="../../../assets/img/interswitch.png" class="w-xmd">
        </div>
        <div class="pd-l-80"
            *ngIf="_HelperService.AppConfig.Host != 'merchantrewards.interswitch.com' &&  _HelperService.AppConfig.Host != 'interswitch.thankucash.com' &&  _HelperService.AppConfig.Host != 'wemarewards.thankucash.com' &&  _HelperService.AppConfig.Host != 'localhost:4200'">
            <img src="../../../assets/img/logoinverse.png" class="w-xmd">
        </div>
        <div class="pd-l-80"
            *ngIf="_HelperService.AppConfig.Host == 'localhost:4200' ||  _HelperService.AppConfig.Host == 'wemarewards.thankucash.com'">
            <img src="../../../assets/img/wemalogo.png" class="w-xmd">
        </div>
    </div>
    <div class="col-lg-12">
        <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
            <li role="presentation" class="active custom"><a aria-controls="discover" role="tab" data-toggle="tab"><i
                        class="fa fa-check" aria-hidden="true"></i>
                    <p>Business Details</p>
                </a></li>
            <li role="presentation"><a routerLink="{{_HelperService.AppConfig.Pages.System.BLocation}}"
                    aria-controls="strategy" role="tab" data-toggle="tab"><i class="fa fa-check" aria-hidden="true"></i>
                    <p>Business Location</p>
                </a></li>
            <li role="presentation"><a aria-controls="reporting" role="tab" data-toggle="tab"><i class="fa fa-check"
                        aria-hidden="true"></i>
                    <p>Done</p>
                </a></li>
        </ul>
    </div>

    <div class=" " style="height: 75vh !important;">
        <div class="mx-auto w-xl w-auto-xs  pb-5 ht-100p" style="width: 60%; height: 100% !important;">
            <div class="card row" style="border-radius: 4px !important;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 b-a r-2x">
                    <div class="row pd-40">

                        <div class="col-12">
                            <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)"
                                role="form">
                                <div class="m-4">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>

                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <div class="form-group"
                                                [ngClass]="{'has-error':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                                                <label class="text-muted text-sm">Business Official Name <span
                                                        class="text-danger">*</span> </label>
                                                <input type="text" required name="Name" maxlength="256"
                                                    class="form-control" [formControl]="Form_AddUser.controls['Name']"
                                                    [ngClass]="{'is-invalid':!Form_AddUser.controls['Name'].valid && Form_AddUser.controls['Name'].touched}">
                                                <div>
                                                    <label class="text-danger text-xs _600" for="Name"
                                                        *ngIf="Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">Enter
                                                        your business name</label>
                                                    <label class="text-danger text-xs _600" for="DisplayName"
                                                        *ngIf="Form_AddUser.controls['Name'].hasError('minlength') || Form_AddUser.controls['Name'].hasError('maxlength')">Enter
                                                        your valid business name</label>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="text-muted text-sm">Business Categories<span
                                                        class="text-danger">*</span>
                                                </label>
                                                <select2 class="full-width" *ngIf="ShowCategorySelector"
                                                    [options]="_HelperService.Select2Options_Multiple"
                                                    [value]="SelectedBusinessCategories" [data]="S2BusinessCategories"
                                                    (valueChanged)="CategoriesSelected($event)">
                                                </select2>
                                            </div>

                                            <div class="form-group">
                                                <label>Business Contact Number<span class="text-danger">*</span>
                                                </label>
                                                <div class="controls">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <select class="form-control select_width"
                                                                (change)="changeISD($event)">
                                                                <!-- <option value=""  hidden class="text-tuc-text-grey">Isd</option> -->
                                                                <option *ngFor="let code of ISD"> + {{code}}</option>
                                                            </select>
                                                        </div>
                                                        <input type="text" placeholder="Contact Number"
                                                            name="MobileNumber" minlength="8" maxlength="14"
                                                            class="form-control contact-textbox-height"
                                                            (keypress)="_HelperService.PreventText($event)"
                                                            (keyup)="KeyUP()"
                                                            [attr.disabled]="inputmobilenumber ? '' : null"
                                                            [formControl]="Form_AddUser.controls['MobileNumber']"
                                                            [(ngModel)]="OtpMobileNumber"
                                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                                                        <div *ngIf="resendbutton" class="input-group-prepend">
                                                            <button [disabled]="!tesvalue" type="button"
                                                                (click)="VerifyCode()"
                                                                class="btn btn-primary   text-white cursor-pointer">SEND
                                                                OTP</button> <br>
                                                        </div>
                                                        <div *ngIf="!resendbutton" class="input-group-prepend">
                                                            <button [disabled]="!resendvalue" type="button"
                                                                (click)="ResendOtp()"
                                                                class="btn btn-primary text-white  cursor-pointer">Resend
                                                                OTP</button>
                                                        </div>

                                                    </div>
                                                    <a *ngIf="ChangeNumberV"
                                                        class="text-primary float-left  mg-y-10 cursor-pointer"
                                                        (click)="ChangeNumber()"> Change Number </a>
                                                    <div class="float-right mg-t-10 text-secondary" *ngIf="timerdiv"> <i
                                                            class="far fa-clock mg-r-5"></i> <span class=""
                                                            id="countdown"> </span> </div>

                                                </div>

                                                <label class="text-danger" for="MobileNumber"
                                                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">Enter
                                                    Business contact number</label>
                                                <label class="text-danger" for="MobileNumber"
                                                    *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')">
                                                    Business contact number must be between 10 to 14 numbers
                                                </label>

                                            </div>



                                            <div *ngIf="!otpreceived"
                                                class="form-group text-left mx-auto  w-100 pd-t-25 ">
                                                <label class="text-muted text-sm">OTP Number</label>

                                                <ng-otp-input name="otp" class="OTPpp"
                                                    (onInputChange)="onOtpChange($event)" [config]="config">
                                                </ng-otp-input>
                                                <!-- <input type="text" value="" class="form-control " name="Otp"
                                                [(ngModel)]="Otp"> -->
                                            </div>


                                            <div class="mb-3 py-2">
                                                <!--  (click)="Addbusinessdetails()" -->
                                                <button type="submit" class="btn btn-primary full-width"
                                                    [disabled]="!Form_AddUser.valid || Form_AddUser_Processing || this.otpValue == null || this.otpValue == undefined ||  !OtpLength || !CategoriesB">
                                                    <span *ngIf="!Form_AddUser_Processing">
                                                        Next
                                                    </span>
                                                    <span *ngIf="Form_AddUser_Processing">
                                                        <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                                        {{ 'Common.PleaseWait' | translate }}...
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>


                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>