<ol class="breadcrumb df-breadcrumbs ">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li>
            <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="cursor-pointer" (click)="_Router.navigateByUrl('/m/settings/stores')">Account
                Setting</a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" 
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.Dashboard}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
            [routerLinkActive]="['active']"> Upload Terminal 
            </a></li>
  
</ol>



<div class="card ">
<div class="card-header">
    Upload Terminal

    <a href="../../../../assets/uploads/ImportTerminals.xlsx" target="_blank"
                class="btn btn-primary float-right mr-2">
                Download Template
            </a>
</div>
    <div class="card-body ht-500 d-flex align-items-center">
        <div class="container d-flex justify-content-center">

            <div class="d-flex flex-column align-items-center justify-content-center">
                <span class="tx-50 tx-success"><i class="far fa-file-excel"></i></span>
    
    
                <!-- <input  class="cursor-pointer btn  dragDrop"   style="padding:35px !important;" type="file"  class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">         -->
    
    
                <input type="file" id="myFile" size="50" (change)="addfile($event)" multiple="false"
                    class="cursor-pointer btn  dragDrop"
                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    style="padding:35px !important;" />
    
                <!-- <button (click)="onUpload()" class=" btn btn-brand-02  wd-200 mt-3"> Upload File </button> -->
    
                <!-- <ng2-file-input id="myFile"  class="text-center mt-1" [multiple]="false" 
                    (onAdded)="onFileChange($event)"
                    extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                    [removable]="false"></ng2-file-input>   -->
            </div>
        </div>
    </div>
    
   

    <div class="card-footer ">
        <button (click)="onUpload()" class=" btn btn-brand-02 float-right "> Upload File </button>

    </div>
</div>



<!-- <div class="modal fade" id="SampleSheet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Upload Merchant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">


           

          </div>

      </div>
  </div>
</div> -->

<div id="_PreviewTerminal" class="modal fade " tabindex="-1" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered dropdown ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> All Done </h5>
            </div>
            <div class="modal-body  p-lg">
                <div class="row">
                    <div class="col-md-2">
                        <span class="text-success"> <i style="height: 60px; width: 60px;" data-feather="thumbs-up"></i>
                        </span>
                    </div>
                    <div class="col-md-10">
                        <div class="tx-14"> Done! Bulk POS uploaded successfully. </div>
                        <div class="tx-14"> You haven't assigned stores yet, assign stores </div>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="terminal_Close()">
                    {{ "Common.Close" | translate }}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="terminalList()">
                    {{ "Common.AssignStore" | translate }}
                </button>
              
            </div>
        </div>
    </div>
</div>