<!-- acquirer--stores--details -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
            routerLink="{{ _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Merchant}}"
            [routerLinkActive]="['active']"> Dashboard</a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a
            routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.Store.Dashboard}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
            [routerLinkActive]="['active']">Account
            Setting</a></li>
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a [routerLinkActive]="['active']">SubAccount Details
        </a></li>
</ol>
<div id="accordion">
    <div class="card shadow-none gredientBorder">
        <div class="card-header bd-b-0" id="headingOne">

            <div class="row">

                <div class="col-sm-12 col-md-12 col-lg-1 d-flex">
                    <div class="media m-auto align-sm-items-center">
                        <div class="avatar avatar-xl    avatar-online"><img
                                [style.border-color]="_SubAccountDetails.StatusI"
                                (error)="_HelperService.defaultImage($event)" src="{{_SubAccountDetails.IconUrl }}"
                                class="rounded-circle " alt=""> </div>
                    </div>
                </div>

                <div class="col-sm-12 bd-b bd-2 col-md-12 col-lg-5 d-md-flex d-lg-flex Hm-AlignCenter Hm-media768">
                    <div class="media  Hm-textCenterMd">
                        <div class="media-body">
                            <h6 class="tx-20 tx-lg-24 tx-spacing--1 tx-medium text-capitalize  mg-b-2">
                                {{ _SubAccountDetails.FirstName || "--"}} {{ _SubAccountDetails.LastName || "--"}}

                                <span class="{{_SubAccountDetails.StatusB}} mg-l-5">
                                    {{_SubAccountDetails.StatusName || "--"}} </span>
                            </h6>
                            <div class="d-md-flex d-lg-flex Hm-mg-y Hm-AlignCenter align-items-baseline  mg-b-5">
                                <h2 class="tx-14 tx-lg-14 tx-dark tx-normal lh-2 mg-b-0">
                                    <span class="mg-r-5"> SubAccount </span>
                                    <span
                                        class="cursor-pointer link-02">@{{_SubAccountDetails.StoreDisplayName || "--"}}</span>
                                </h2>
                            </div>
                        </div><!-- media-body -->
                    </div><!-- media -->
                </div>
                <div class="col-lg-6   bd-b bd-2 Hm-media768 " id="StoresHide">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row flex-nowrap">

                                <div class="col-sm-6 col-md-6 col-lg-6">

                                    <div class=" text-center stores">
                                        <div class="text-center">
                                            <h3 class="tx-normal tx-24  tx-rubik  mg-b-5 mg-r-5 lh-1">
                                                {{_SubAccountDetails.SubAccountId || "--"}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0 "> SubAccount ID</p>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class=" text-center Terminals">
                                        <div class="text-center">
                                            <h3 class="tx-normal tx-24 tx-rubik  mg-b-5 mg-r-5 lh-1 ">
                                                {{_SubAccountDetails.EmployeeId || "--"}}</h3>
                                        </div>
                                        <p class="tx-12 tx-color-03 mg-b-0"> Employee ID</p>

                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                            <div class="row">
                                <div class="manageButton mg-t-0 pd-t-0 ">
                                    <button type="button" (click)="ShowOffCanvas()"
                                        *ngIf="_SubAccountDetails.StatusName != 'Blocked'"
                                        class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Edit
                                        SubAccount</button>

                                    <button type="button" (click)="ShowOffCanvas()"
                                        *ngIf="_SubAccountDetails.StatusName == 'Blocked'"
                                        class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Edit
                                        SubAccount</button>
                                </div>

                                <!-- <div class="collapseButton">
                                    <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                        (click)="changeSlide() ; HideStoreDetail()" class="btn  btn-link"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                        aria-controls="collapseOne">
                                        <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                                [class.clicked]="slideOpen"></i>
                                        </div>
                                    </button>
                                </div> -->

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body pt-0 pb-0">
                <div class="row">

                    <div class="col-lg-1 d-flex justify-content-center">
                        <span *ngIf="_SubAccountDetails.GenderName == 'Female'" class="text-primary"> <i
                                class="fas fa-venus tx-20 mg-r-2"></i>{{_SubAccountDetails.GenderName || "--"}}</span>
                        <span *ngIf="_SubAccountDetails.GenderName == 'Male'" class="text-primary"> <i
                                class="fas fa-mars tx-20 mg-r-2"></i>{{_SubAccountDetails.GenderName || "--"}}</span>

                    </div>
                    <div class="col-lg-11">
                        <div class="row">


                            <div class="col-sm-12 col-md-4 col-lg-4 bd-r">
                                <ul class="list-unstyled profile-info-list">
                                    <li class="tx-color-03"><i data-feather="phone"></i> <span class="tx-color-03">
                                            <span class="text-primary">
                                                {{_SubAccountDetails.ContactNumber || "--"}} </span></span></li>
                                    <li class="tx-color-03"><i data-feather="mail"></i> <a class="tx-color-03"> <span
                                                class="text-primary">
                                                {{_SubAccountDetails.EmailAddress || "--"}} </span></a></li>

                                </ul>

                            </div>

                            <div class="col-sm-12 col-md-4 col-lg-4 Hm-media768 bd-r">

                                <ul class="list-unstyled profile-info-list">

                                    <li class="tx-color-03"><i data-feather="user-plus"></i> <a> <span
                                                class="text-secondary mr-2"> Added On </span>
                                            <span class="tx-verve"> {{_SubAccountDetails.CreateDate || "--"}} </span>
                                        </a>
                                    </li>
                                    <li class="tx-color-03"><i data-feather="user-plus"></i> <a class="tx-color-03">
                                            <span class="text-secondary mr-2"> Added by </span> <span class="tx-verve">
                                                {{_SubAccountDetails.CreatedByDisplayName || "--"}}
                                            </span> </a></li>

                                </ul>

                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 Hm-media768">

                                <ul class="list-unstyled profile-info-list">
                                    <li class="tx-color-03"> <span class="text-secondary"><span class="mr-2">Last
                                                Updated On</span>
                                            <span class="tx-verve">
                                                {{_SubAccountDetails.ModifyDate || "--"}}</span></span></li>
                                    <li class="tx-color-03"> <a class="text-secondary"> <span class="mr-2"> Updated By
                                            </span>
                                            <span class="tx-verve">
                                                {{_SubAccountDetails.ModifyByDisplayName || "--"}}</span></a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row Hm-media768 d-block d-sm-none">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row flex-nowrap">

                            <div class="col-sm-6 col-md-6 col-lg-6">

                                <div class=" text-center stores">
                                    <div class="text-center">
                                        <h3 class="tx-bold tx-40 tx-rubik  tx-verve mg-b-5 mg-r-5 lh-1">
                                            {{_SubAccountDetails.RewardPercentage}}</h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0 "> Rewards</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class=" text-center Terminals">
                                    <div class="text-center">
                                        <h3 class="tx-bold tx-40 tx-rubik  tx-teal mg-b-5 mg-r-5 lh-1 ">
                                            {{_SubAccountDetails.Terminals}}</h3>
                                    </div>
                                    <p class="tx-12 tx-color-03 mg-b-0"> Pos Terminal</p>

                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-lg-6 d-flex Hm-media768 justify-content-end">
                        <div class="row">
                            <div class="manageButton mg-t-0 pd-t-0  d-none d-block d-xl-none" >
                                <button type="button" (click)="ShowOffCanvas()"
                                    class="btn btn-xs btn-transparent tx-color-03 bd bd-secondary rounded-pill">Manage
                                    Account</button>
                            </div>

                            <div class="collapseButton">
                                <button [class.button-open]="!slideOpen" [class.button-close]="slideOpen"
                                    (click)="changeSlide() ; ShowStoreDetail()" class="btn  btn-link"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                    aria-controls="collapseOne">
                                    <div class="tx-15 tx-lg-18 lh-0 tx-color-03"><i class="fas fa-chevron-down"
                                            [class.clicked]="slideOpen"></i>
                                    </div>
                                </button>
                            </div> 

                        </div>

                    </div>
                </div> -->


            </div>
        </div>
    </div>


</div>
<div class="card bd-b-0 pd-x-20 pd-b-20 pd-t-10 mt-3 RouteCard" style="border-bottom: 0px !important;">
    <ul class="nav nav-line d-flex justify-content-between" id="myTab5" role="tablist">
        <div class="d-flex flex-wrap">

             <li class="nav-item cursor-pointer" [routerLinkActive]="['active']">
                <a class="nav-link" id="home-tab5" data-toggle="tab" [routerLinkActive]="['active']"
                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.SubAccountDetails.SalesHistory}}/{{this._HelperService.AppConfig.ActiveReferenceKey}}/{{ this._HelperService.AppConfig.ActiveReferenceId}}"
                    role="tab" aria-controls="home" aria-selected="true">Transaction</a>
            </li>
        
        </div>
 
        <!-- <div class="row  d-flex no-gutters pd-r-10">
            <div class=" col-sm-12 col-md-6 d-flex mg-md-t-0 mg-t-10" *ngIf="_HelperService.ShowDateRange">
                <div class=" order-1">
                    <input type="text" style="height: 30px;" class="form-control tx-13 form-daterangepicker"
                        name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DatePickerOptions"
                        (selected)="_HelperService.SetDateRange($event)" />
                </div>
            </div>


            <div class="col-md-6 col-sm-12 btn-group mg-md-t-0 mg-t-10" style="height: 30px;" data-toggle="buttons"
                *ngIf="_HelperService.ShowDateRange">
                <label class="btn btn-xs pb-0 mb-0 tx-13   d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('A')">
                    <input type="radio" name="options" style="display: none;" checked>
                    <span class="tx-13 mg-b-5"> Month </span>
                </label>
                <label class="btn btn-xs  pb-0 mb-0 tx-13 d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('B')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5">Week</span>
                </label>
                <label class="btn pb-0 mb-0 btn-xs tx-13  active  d-flex align-items-center  {{_HelperService.CheckMode == 'dark' ? 'btn-dark' : 'btn-white' }}"
                    (click)="_HelperService.ToogleRange('C')">
                    <input class="tx-13" type="radio" name="options" style="display: none;">
                    <span class="tx-13 mg-b-5"> Day </span>
                </label>
            </div>

        </div> -->

    </ul>
</div>

<router-outlet></router-outlet>
<div class="off-canvas off-canvas-overlay off-canvas-right" #offCanvas style="width: 480px !important;">
    <div class="off-canvas-content">

        <div id="Form_EditUser_Content" class="off-canvas-body">
            <form [formGroup]="Form_EditUser" (ngSubmit)="Form_EditUser_Process(Form_EditUser.value)" role="form">
                <div class="card bd-b-0">
                    <div class="card-header d-flex  justify-content-between bd-0">
                        <h3 class="tx-roboto tx-bold tx-lg-24 tx-sm-8 pd-l-0"> Edit SubAccount </h3>
                        <div class="d-flex align-items-center tx-28">
                            <a class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
                        </div>
                        <!-- <ul class="nav nav-line" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Business" role="tab"
                                    aria-controls="home" aria-selected="true">Business Info</a>
                            </li>
                       
                        </ul> -->
                    </div>
                    <div class="card-body  p-lg pd-l-15">
                        <div class=" bd-t-20 " id="myTabContent">
                            <div class="fade show active" id="Business" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <label>{{ "System.Users.FirstName" | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                </div>

                                            </div>
                                            <div class="controls">
                                                <input type="text" name="FirstName" placeholder="First Name" required
                                                    maxlength="128" class="form-control"
                                                    [formControl]="Form_EditUser.controls['FirstName']"
                                                    [(ngModel)]="_SubAccountDetails.FirstName" [ngClass]="{
                                  'is-invalid':
                                    !Form_EditUser.controls['FirstName'].valid &&
                                    Form_EditUser.controls['FirstName'].touched
                                }" />
                                            </div>
                                            <label class="texForm_EditUserFirstName" *ngIf="
                                Form_EditUser.controls['FirstName'].hasError('required') &&
                                Form_EditUser.controls['FirstName'].touched
                              ">{{
                                "System.Users.FirstName_ER_Required" | translate
                              }}</label>
                                            <label class="text-danger" for="FirstName" *ngIf="
                                Form_EditUser.controls['FirstName'].hasError(
                                  'minlength'
                                ) ||
                                Form_EditUser.controls['FirstName'].hasError('maxlength')
                              ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <label>{{ "System.Users.LastName" | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                </div>

                                            </div>
                                            <div class="controls">
                                                <input type="text" name="LastName" placeholder="Last Name" required
                                                    maxlength="128" class="form-control"
                                                    [formControl]="Form_EditUser.controls['LastName']"
                                                    [(ngModel)]="_SubAccountDetails.LastName" [ngClass]="{
                                  'is-invalid':
                                    !Form_EditUser.controls['LastName'].valid &&
                                    Form_EditUser.controls['LastName'].touched
                                }" />
                                            </div>
                                            <label class="text-danger" for="LastName" *ngIf="
                                Form_EditUser.controls['LastName'].hasError('required') &&
                                Form_EditUser.controls['LastName'].touched
                              ">{{
                                "System.Users.LastName_ER_Required" | translate
                              }}</label>
                                            <label class="text-danger" for="LastName" *ngIf="
                                Form_EditUser.controls['LastName'].hasError(
                                  'minlength'
                                ) ||
                                Form_EditUser.controls['LastName'].hasError('maxlength')
                              ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ "System.Users.EmailAddress" | translate
                                          }}<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" placeholder="Email Address" name="EmailAddress"
                                                    maxlength="128" class="form-control"
                                                    [formControl]="Form_EditUser.controls['EmailAddress']"
                                                    [(ngModel)]="_SubAccountDetails.EmailAddress" [ngClass]="{
                                              'is-invalid':
                                                !Form_EditUser.controls['EmailAddress'].valid &&
                                               Form_EditUser.controls['EmailAddress'].touched
                                            }" />
                                            </div>
                                            <label class="text-danger" for="EmailAddress" *ngIf="
                                           Form_EditUser.controls['EmailAddress'].hasError('required') &&
                                           Form_EditUser.controls['EmailAddress'].touched
                                          ">{{
                                            "System.Users.EmailAddress_ER_Required" | translate
                                          }}</label>
                                            <label class="text-danger" for="EmailAddress" *ngIf="
                                           Form_EditUser.controls['EmailAddress'].touched &&
                                            !Form_EditUser.controls['EmailAddress'].valid && 
                                            !Form_EditUser.controls['EmailAddress'].hasError('required')
                                          ">Enter valid email Address</label>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ "System.Users.ContactNumber" | translate
                                        }}<span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <input type="text" placeholder="Contact Number" name="ContactNumber"
                                                    maxlength="128" class="form-control"
                                                    [(ngModel)]="_SubAccountDetails.ContactNumber"
                                                    (keypress)="_HelperService.PreventText($event)"
                                                    [formControl]="Form_EditUser.controls['ContactNumber']" [ngClass]="{
                                            'is-invalid':
                                              !Form_EditUser.controls['ContactNumber'].valid &&
                                             Form_EditUser.controls['ContactNumber'].touched
                                          }" />
                                            </div>
                                            <label class="text-danger" for="ContactNumber" *ngIf="
                                         Form_EditUser.controls['ContactNumber'].hasError('required') &&
                                         Form_EditUser.controls['ContactNumber'].touched
                                        ">{{
                                          "System.Users.ContactNumber_ER_Required" | translate
                                        }}</label>
                                            <label class="text-danger" for="ContactNumber" *ngIf="
                                         Form_EditUser.controls['ContactNumber'].hasError(
                                            'minlength'
                                          ) ||
                                         Form_EditUser.controls['ContactNumber'].hasError('maxlength')
                                        ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <label>{{ "System.Users.EmployeeCode" | translate }}<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                </div>

                                            </div>
                                            <div class="controls">
                                                <input type="text" name="EmployeeCode" placeholder="Employee Code"
                                                    required maxlength="25" class="form-control"
                                                    [formControl]="Form_EditUser.controls['EmployeeCode']"
                                                    [(ngModel)]="_SubAccountDetails.EmployeeId" [ngClass]="{
                                  'is-invalid':
                                    !Form_EditUser.controls['EmployeeCode'].valid &&
                                    Form_EditUser.controls['EmployeeCode'].touched
                                }" />
                                            </div>
                                            <label class="text-danger" for="EmployeeCode" *ngIf="
                                Form_EditUser.controls['EmployeeCode'].hasError('required') &&
                                Form_EditUser.controls['EmployeeCode'].touched
                              ">{{
                                "System.Users.EmployeeCode_ER_Required" | translate
                              }}</label>
                                            <label class="text-danger" for="EmployeeCode" *ngIf="
                                Form_EditUser.controls['EmployeeCode'].hasError(
                                  'minlength'
                                ) ||
                                Form_EditUser.controls['EmployeeCode'].hasError('maxlength')
                              ">{{ "System.Users.EmployeeCode_ER_Length" | translate }}</label>
                                        </div>
                                        <div class="form-group mr-2 mb-2"
                                            *ngIf="!_HelperService.ToggleField && !ToggleStoreSelect">
                                            <label for=" "> {{'System.Users.Store' | translate }}<span
                                                    class="text-danger">*</span> </label>
                                            <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                                                (valueChanged)="TUTr_Filter_Stores_Change($event)">
                                            </select2>
                                        </div>
                                        <div class="form-group">
                                            <div> <label>{{'System.Users.Gender' | translate }}<span
                                                        class="text-danger">*</span>
                                                </label>
                                            </div>
                                            <div class="radio float-left mr-3">
                                                <label class="ui-check"><input type="radio" name="gender"
                                                        [value]="_HelperService.AppConfig.Gender.Male"
                                                        [(ngModel)]="_SubAccountDetails.GenderCode"
                                                        [formControl]="Form_EditUser.controls['GenderCode']">
                                                    <i class="dark-white"></i>
                                                    {{ 'System.Users.Male' | translate }}</label>
                                            </div>
                                            <div class="radio  mr-3"><label class="ui-check"><input type="radio"
                                                        name="gender" [value]="_HelperService.AppConfig.Gender.Female"
                                                        [(ngModel)]="_SubAccountDetails.GenderCode"
                                                        [formControl]="Form_EditUser.controls['GenderCode']">
                                                    <i class="dark-white"></i>
                                                    {{ 'System.Users.Female' | translate }}</label></div>
                                        </div>

                                        <div class="form-group">
                                            <div>
                                                <label>Image Picker</label>
                                            </div>
                                            <input-file #inputfile inputId="input-file" placeholder="">
                                            </input-file>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between pd-l-35">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            (click)="Form_EditUser_Block()">
                            {{ "Common.Block" | translate }}
                        </button>
                        <div>
                            <button type="button" class="btn btn-secondary mr-2" (click)="unclick()"> Close </button>
                            <button type="submit" class="btn btn-primary"
                                (click)="Form_EditUser.value.OperationType = 'new'"
                                [disabled]="!Form_EditUser.valid || _HelperService.IsFormProcessing">
                                <span [hidden]="_HelperService.IsFormProcessing">
                                    {{ "Common.Save" | translate }}
                                </span>
                                <span [hidden]="!_HelperService.IsFormProcessing">
                                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                    {{ "Common.PleaseWait" | translate }}...
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                                format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCroppedBase64)="_HelperService.Icon_B64Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                            translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>