<div class=" h-v d-flex flex  auth-container" id="auth-container">
  <div class="m-4 cursor-pointer back-arrow" (click)="goBack()">
    <img src="../../../../assets/images/onboarding/Arrow 1.png" width="30">
  </div>
  <div class="auth-item">
    <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
      <div class="auth-item-title">
        <img src="../../../../assets/images/onboarding/tucformerchant.png" width="120">
      </div>
      <div class="text-center text-center mt-3 mb-5">
        <img src="../../../../assets/images/onboarding/mail.png" width="200">
      </div>

      <div class="form-group">
        <label class="d-block">Phone Number</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> <img class="dropdown-item-auth-selected"
                        [src]="SelectedCountry.IconUrl"></button>
                <div class="dropdown-menu tx-13">
                    <a class="dropdown-item dropdown-item-auth " (click)="CountryClick(item)"
                        *ngFor="let item of Countries">
                        <img [src]="item.IconUrl">
                        <span>{{item.Name}}</span>
                    </a>
                </div>
            </div>
            <input type="text" class="form-control" aria-label="We will send a verification code to this number"
                placeholder="We will send a verification code to this number"
                [formControl]="Form_AddUser.controls['MobileNumber']"
                (keypress)="this._HelperService.PreventText($event)"
                onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
                [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
        </div>
        <div>
            <div class="text-danger tx-12  _600" for="MobileNumber"
                *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">
                Enter mobile number </div>
            <div class="text-danger tx-12 _600" for="MobileNumber" *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')
                ||Form_AddUser.controls['MobileNumber'].hasError('pattern')">
                Mobile number
                must be 11 digits</div>
        </div>
    </div>
      <button type="submit" class="btn btn-custom cursor-pointer btn-block mt-4"
        [disabled]="Form_AddUser.invalid">Save</button>
    </form>
  </div>
  <div class="auth-container-footer">
    <div id="conent" class="auth-container-footer-item">
      <p class="in-left" style="letter-spacing: 1px;"><span style="color:#ffc141">Grow</span> your <span
          style="color:#ffc141">business</span> with <br />ease and confidence<br /> from anywhere</p>
    </div>
  </div>
</div>