<div class="card bd-t-0 px-3 pb-3 pt-0">
  <div class="d-flex justify-content-end pd-b-20">
    <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
      <li class="list-inline-item d-flex align-items-center">
        <span class="d-block wd-15 ht-15 bg-primary rounded mg-r-5 "></span>
        <span class="tx-sans   tx-uppercase tx-medium tx-color-03 tx-13">
          {{this._HelperService.DateRangeStart | date :["dd LLL yyyy"]}} - {{this._HelperService.DateRangeEnd | date :["dd LLL yyyy"]}}</span>
      </li>
    </ul>
  </div>
  <div class="row row-xs mg-b-10">
    <div class="col-sm-6 col-lg-3 ">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-rubik  mg-b-8 mg-r-5 lh-1">
            {{_AccountSalesOverview.Transactions| number: "1.0-1" || "--"}}</h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-success">1.2% <i
                  class="icon ion-md-arrow-up"></i></span></p> -->

        </div>
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">TOTAL VISITS</h6>

        <p class="tx-12 tx-color-03 mg-b-0 text-capitalize"> Total visits to your merchant by this customer </p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-sm-t-0">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class="tx-rubik mg-b-8 mg-r-5 lh-1">
            <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountSalesOverview.InvoiceAmount || "0" | number: "1.2-2" }}
          </h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                  class="icon ion-md-arrow-down"></i></span></p> -->

        </div>
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">TOTAL SPENT</h6>
        <p class="tx-12 tx-color-03 mg-b-0 text-capitalize"> Total spent by this customer at your merchant
        </p>
      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-rubik  mg-b-8 mg-r-5 lh-1">
            <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountCustomerOverview.RewardAmount  || "0" | number: "1.2-2"}}
          </h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                  class="icon ion-md-arrow-down"></i></span></p> -->

        </div>
        <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8"> REWARDS EARNED </h6>

        <p class="tx-12 tx-color-03 mg-b-0"> Total Rewards earned at your merchant and Redeemed <span
            class="tx-dark tx-bold"> <span class="" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
            {{_AccountCustomerOverview.RedeemAmount  || "0" | number: "1.2-2"}}
          </span> </p>


      </div>
    </div><!-- col -->
    <div class="col-sm-6 col-lg-3 mg-t-10  mg-lg-t-0">
      <div class="card card-body shadow-none ht-100p">
        <div class="d-flex d-lg-block d-xl-flex align-items-end">
          <h3 class=" tx-rubik  mg-b-8 mg-r-5 lh-1">
            <span class=" text-sm mg-r-2"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountCustomerOverview.AvgSpentVisit || "0" | number: "1.2-2"}}
          </h3>
          <!-- <p class="tx-11 tx-color-03 mg-b-0 mg-l-20 mg-b-10"><span class="tx-medium tx-danger">0.7% <i
                  class="icon ion-md-arrow-down"></i></span></p> -->

        </div>
        <h6 class=" tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">AVG. SPENT PER VISIT</h6>

        <p class="tx-12 tx-color-03 mg-b-0 text-capitalize"> Average spent per visit by this customer</p>
      </div>
    </div><!-- col -->
  </div>

  <div class="row row-xs">
    <div class="col-sm-12 col-lg-12">
      <div class="card">
        <div
          class="card-header pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
          <div>
            <h6 class="mg-b-5">Total Sales metrics</h6>
            <p class="tx-11 text-secondary mg-b-0">Total Sales by this Customer
            </p>
          </div>
          <!-- <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0 mg-10">
            <li class="list-inline-item d-flex align-items-center text-center">
              <div class="text-success cursor-pointer" (click)="Toogle_Dataset_Visibility('Returning Sales')">
                <span class="{{ChartData[0].hidden?'text-secondary':''}}">
                  <i data-feather="git-commit"></i>
                </span>
                <br>
                <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">VISITS BY RETURNING</div>
              </div>

            </li>
            <li class="list-inline-item d-flex align-items-center text-center">
              <div class="text-primary cursor-pointer" (click)="Toogle_Dataset_Visibility('Total Sale')">
                <span class="{{ChartData[1].hidden?'text-secondary':''}}">
                  <i data-feather="git-commit"></i>
                </span>
                <div class="tx-sans tx-uppercase tx-10 tx-medium text-secondary">Total Sales</div>
              </div>


          </ul> -->
          <!-- btn-group -->
        </div><!-- card-header -->
        <div class="card-body" *ngIf="ChartArrayLength.length != 0">
          <!-- <canvas class="" baseChart #DataPlot="base-chart" [datasets]="barChartData" [options]="BarChartOptions"
            [colors]="barChartColors" [plugins]="BarChartOptions.Plugins"
            [chartType]="_HelperService.ChartConfig.BarChart.Type">
          </canvas> -->
          <canvas *ngIf="showLoalityChart" baseChart #DataPlot="base-chart" [datasets]="ChartData"
            [labels]="MonthlybarChartLabels" [options]="_HelperService.ChartConfig.BarChart.Options"
            [colors]="lineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
            [chartType]="_HelperService.ChartConfig.BarChart.Type">
          </canvas>
        </div>
        <div class="card-body" *ngIf="ChartArrayLength.length == 0">
          <div style="height:200px" class="text-center m-auto  text-muted">
            <div>
              <div>
                <div
                  class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                  <!-- <i class="fas fa-file tx-50"></i> -->
                  <img src="../../../../../assets/images/walk.svg" alt="">
                </div>
                <div class="pt-3">
                  <span class="text-dark tx-bold tx-14 "> No Transactions in this time frame.</span><br>
                  <span class="tx-muted  ">No transactions took place during the time frame you selected</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>