/* bussiness custom css for font size and font family start */
#exampleModalLongTitle {
    color: #3B4863;
}

.busstitle {
    color: #3B4863;
}

.formlabels {
    color: rgba(27, 46, 75, 0.9);
}

.imgdoc {
    color: rgba(27, 46, 75, 0.9);
}

.iconlabel {
    color: #3B4863;
}

/*means of identification  */
#meansofidentificationLabel {
    color: #3B4863;
}

.docs::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #5A6780;
}

#doctype {
    border: 1px solid #C0CCDA;
    border-radius: 2px;
}

.click-to-top .toolTip {
    display: none;
    max-width: 58%;
    max-height: 48%;
    border-radius: 0.3rem;
}

.click-to-top img {
    position: relative;
}

.toolTip {
    background: #303F9F;
    color: #FFFFFF;
    left: 30%;

}

.click-to-top:hover .toolTip {
    display: block;
    position: absolute;
    z-index: 1710;
}

.darkBlueBtn {
    background-color: #303F9F;
    color: #FFFFFF;
}


.darkBlueBtn:hover {
    background-color: #1D265F;
}

.modal-content {
    margin: auto !important;
    height: fit-content !important;
}

.modal-dialog-scrollable{
    overflow-x: hidden !important;
}

.Info {
    padding-left: 300px;
    padding-top: 70px;
}