<!--bussiness modal start-->
<div class="Info">
  <ol class="breadcrumb df-breadcrumbs mg-b-10">
    <li class="breadcrumb-item" [routerLinkActive]="['active']"><a class="text-primary" [routerLinkActive]="['active']">
        Account Setting</a></li>
  </ol>
  <div id="accordion">
    <div class="card shadow-none">
      <div class="card-header bd-b-0 pb-0">
        <div class="row mx-0">
          <p class="tx-16 tx-semibold">Business information</p>
          <div class="manageButton mg-t-0 pd-t-0 ml-auto">

          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-sm-2 col-md-1 col-lg-1 ">
            <div class="media m-auto align-sm-items-center">
              <div class="avatar avatar-xl avatar-online" [hidden]="!isLoaded"><img
                  [style.border-color]="_MerchantDetails.StatusC" (error)="_HelperService.defaultImage($event)"
                  src="{{_MerchantDetails.IconUrl}}" class="rounded-10 bd bd-2" alt=""> </div>
              <div class="placeholder-media wd-100p wd-sm-55p wd-md-45p" [hidden]="isLoaded">
                <div class="line"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-3 col-lg-3">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Business Name</label>
            <div class="tx-14">{{_MerchantDetails.DisplayName || "--"}}</div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Owner Name</label>
            <div class="tx-14">{{_MerchantDetails.OwnerName || "--"}}</div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Merchant ID</label>
            <div class="tx-14">{{_MerchantDetails.AccountCode || "--"}}</div>
          </div>
        </div>
      </div>
      <div class="card-body bd-b-0">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Mobile Number</label>
            <div class="tx-14">{{_MerchantDetails.ContactNumber || "--"}}</div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Email Address</label>
            <div class="tx-14">{{_MerchantDetails.EmailAddress || "--"}}</div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Website Link</label>
            <div class="tx-14">{{_MerchantDetails.WebsiteUrl || "--"}}</div>
          </div>
        </div>
        <hr />
        <p class="tx-16 tx-semibold">Contact Person Info</p>
        <div class="row pb-4">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">First Name</label>
            <div class="tx-14">{{MerchantContactPerson.FirstName || "--"}}</div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Last name</label>
            <div class="tx-14">{{MerchantContactPerson.LastName || "--"}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Mobile Number</label>
            <div class="tx-14">{{MerchantContactPerson.MobileNumber || "--"}}</div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Email Address</label>
            <div class="tx-14">{{_MerchantDetails.EmailAddress || "--"}}</div>
          </div>
        </div>
        <hr />
        <p class="tx-16 tx-semibold">Other Info</p>
        <div class="row pb-4">
          <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Business Categories</label>
                <div class="pb-5">
                  <div class="d-inline justify-content-between"
                    *ngFor="let catagories of _MerchantDetails['Categories']">
                    <button type="button" disabled
                      class="btn btn-xs b-a r-2x bd bd-gray-500 tx-dark rounded-50  mr-2 mb-2 px-2 py-1 text-warn text-sm float-left">{{catagories.Name}}</button>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Referral code</label>
                <div class="tx-14 pb-4">{{_MerchantDetails.ReferralCode || "--"}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="tx-color-03 tx-12 tx-semibold text-uppercase ">About Business</label>
                <div class="tx-14">{{_MerchantDetails.Description || "--"}}</div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Address</label>
                <div class="tx-14">{{MerchantAddress.Address || "--"}}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 mn-ht-200">
            <label class="tx-color-03 tx-12 tx-semibold text-uppercase">Location Map</label>
            <agm-map class=" ht-100p" [zoom]="12" [latitude]="MerchantAddress.Latitude"
              [longitude]="MerchantAddress.Longitude" [styles]="_HelperService.darkStyle" [streetViewControl]="false">
              <agm-marker [latitude]="MerchantAddress.Latitude" [longitude]="MerchantAddress.Longitude">
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal" data-backdrop="static" data-keyboard="false" role="dialog"
  aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog custom-modal-size modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fx-700 tx-14 line-16" id="exampleModalLongTitle">
          <a (click)="NavigateHome()">
            <i data-feather="arrow-left" class="cursor-pointer" style="height: 18px;"></i>
          </a>
          Upload Business Details
        </h5>

      </div>
      <div class="modal-body p-4">
        <h4 class="busstitle fw-700 tx-14 line-16">
          <label for="busstitle"> Business Information
            <span>*</span>
          </label>
        </h4>

        <form [formGroup]="documentForm">
          <div class="row">
            <div class="col-md-6">
              <!-- bussiness name -->
              <div class="form-group">
                <div class="controls">
                  <label for="" class="form-label formlabels fw-500 tx-14 line-16">Business Name</label>
                  <input type="text" name="businessName" id="businessName" class="form-control"
                    [formControl]="documentForm.controls['businessName']" />
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="businessName"
                    *ngIf="documentForm.controls['businessName'].hasError('required') && documentForm.controls['businessName'].touched">
                    Enter business name
                  </label>
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="businessName"
                    *ngIf="documentForm.controls['businessName'].hasError('minlength') || documentForm.controls['businessName'].hasError('maxlength')">
                    Business name must be between 4 - 30 characters</label>
                  <!-- <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="businessName"
                    *ngIf="documentForm.controls['businessName'].hasError('pattern')">
                    Please enter valid name only characters are allowed</label> -->
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <!-- bussiness email -->
              <div class="form-group">
                <div class="controls">
                  <label for="" class="form-label formlabels fw-500 tx-14 line-16">Business Email</label>
                  <input type="email" name="bussinessEmail" id="" class="form-control"
                    [formControl]="documentForm.controls['bussinessEmail']" />
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="bussinessEmail"
                    *ngIf="documentForm.controls['bussinessEmail'].hasError('required') && documentForm.controls['bussinessEmail'].touched">
                    Enter Business email address
                  </label>
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="bussinessEmail"
                    *ngIf="documentForm.controls['bussinessEmail'].hasError('minlength') || documentForm.controls['bussinessEmail'].hasError('pattern')">
                    Please enter valid email address</label>
                </div>
              </div>
            </div>


          </div>

          <div class="row">
            <div class="col-md-6">
              <!-- account no -->
              <div class="form-group">
                <div class="controls">
                  <label for="" class="form-label formlabels fw-500 tx-14 line-16">
                    Bank Account Number
                  </label> &nbsp;
                  <span class="click-to-top">
                    <img src="../../../../assets/img/selectPercentage.png" height="13px" class="textImg" />
                    <span class="toolTip tx-10">
                      <p class="ml-2 mt-2">This is the account your money wiil be paid into</p>
                    </span>
                  </span>
                  <input type="text"  name="accountNumber" id="" class="form-control"
                    [formControl]="documentForm.controls['accountNumber']"  (keypress)="this._HelperService.PreventText($event)"
                    onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" />
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="accountNumber"
                    *ngIf="documentForm.controls['accountNumber'].hasError('required') && documentForm.controls['accountNumber'].touched">
                    Enter Bank Account Number
                  </label>
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="accountNumber"
                    *ngIf="documentForm.controls['accountNumber'].hasError('minlength') || documentForm.controls['accountNumber'].hasError('maxlength')">
                   Account number should be 10-11 digit</label>
                   
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <!-- select bank -->
              <div class="form-group">
                <div class="controls">
                  <label for="" class="form-label formlabels fw-500 tx-14 line-16">Select Your Bank</label>
                  <!-- <select2 name="S2Banks" class="full-width" [data]="_S2Banks_Data"
                    (valueChanged)="GetBank_Selected($event)"></select2> -->
                  <select2 class="full-width" [options]="TUTr_Filter_Bank_Option"
                    (valueChanged)="TUTr_Filter_Banks_Change($event)">
                  </select2>
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="bank"
                    *ngIf="documentForm.controls['bank'].touched && documentForm.controls['bank']==null">
                    Select Your Bank
                  </label>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <!-- account name -->
              <div class="form-group">
                <div class="controls">
                  <label for="" class="form-label formlabels fw-500 tx-14 line-16">
                    Account Name
                  </label>
                  <input type="text" name="accountName" id="" class="form-control"
                    [formControl]="documentForm.controls['accountName']" />
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="accountName"
                    *ngIf="documentForm.controls['accountName'].hasError('required') && documentForm.controls['accountName'].touched">
                    Enter Account Name
                  </label>
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="accountName"
                  *ngIf="documentForm.controls['accountName'].hasError('minlength') || documentForm.controls['accountName'].hasError('maxlength')">
                  Account name must be between 2-128 characters</label>
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="businessName"
                    *ngIf="documentForm.controls['accountName'].hasError('pattern') &&
                    !(documentForm.controls['accountName'].hasError('minlength') || documentForm.controls['accountName'].hasError('maxlength'))">
                    Please enter valid name only characters are allowed</label>
                </div>
              </div>
            </div>

            <div class="col-md-6">
               <div class="form-group" *ngIf="!ShowCategory">
                <label for="" class="form-label formlabels fw-500 tx-14 line-16">Business Category</label>
                <div class="controls">
                  <span class="input-group-text" >Select Category</span>
                </div>
              </div>
              <div class="form-group" *ngIf="ShowCategory">
                <div class="controls">
                  <label for="" class="form-label formlabels fw-500 tx-14 line-16">Business Category</label>
                  <select2 name="S2BusinessCategory" class="full-width" [value]="categoryValue" [data]="_S2Categories_Data"
                    (valueChanged)="GetBusinessCategories_Selected($event)" [options]="BCategory_Option"></select2>
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="selectCategory"
                    *ngIf="documentForm.controls['selectCategory'].hasError('required') && documentForm.controls['selectCategory'].touched">
                    Select Business Category
                  </label>
                </div>
              </div>
            </div>
          </div>

          <h4 class="busstitle fw-700 tx-14 line-16 mt-3">
            <label for="busstitle"> Contact Person Information
              <span>*</span>
            </label>
          </h4>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" type="checkbox"
                [checked]="!_ContactInfo" (change)="_ToogleContactInfo()"
                name="browser[]" value="1" data-parsley-mincheck="2"
                data-parsley-class-handler="#cbWrapper"
                data-parsley-errors-container="#cbErrorContainer" required=""
                data-parsley-multiple="browser" id="b2">
            <label class="custom-control-label  text-muted tx-14" for="b2">Contact
                Information same as
                Business Contact Information</label> <br>
        </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="controls">
                  <label for="" class="form-label formlabels fw-500 tx-14 line-16">First Name</label>
                  <input type="text" name="cpFirstName" id="cpFirstName" class="form-control"
                    [formControl]="documentForm.controls['cpFirstName']" />
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="cpFirstName"
                    *ngIf="documentForm.controls['cpFirstName'].hasError('required') && documentForm.controls['cpFirstName'].touched">
                    Enter First name
                  </label>
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="cpFirstName"
                    *ngIf="documentForm.controls['cpFirstName'].hasError('minlength') || documentForm.controls['cpFirstName'].hasError('maxlength')">
                    First name must be between 2-128 characters</label>
                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="cpFirstName"
                    *ngIf="documentForm.controls['cpFirstName'].hasError('pattern')">
                    Please enter valid name only characters are allowed</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="controls">
                  <label for="" class="form-label formlabels fw-500 tx-14 line-16">Last Name</label>
                  <input type="text" name="cpLastName" id="cpLastName" class="form-control"
                    [formControl]="documentForm.controls['cpLastName']" />
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="cpLastName"
                    *ngIf="documentForm.controls['cpLastName'].hasError('required') && documentForm.controls['cpLastName'].touched">
                    Enter Last name
                  </label>
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="cpLastName"
                    *ngIf="documentForm.controls['cpLastName'].hasError('minlength') || documentForm.controls['cpLastName'].hasError('maxlength')">
                    Last name must be between 2-128 characters</label>
                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="cpLastName"
                    *ngIf="documentForm.controls['cpLastName'].hasError('pattern')">
                    Please enter valid name only characters are allowed</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label> Mobile Number<span class="text-danger"></span>
                </label>
                <div class="controls input-group" style="height: 37px;">
                    <div class="input-group-prepend">
                        <span
                            class="input-group-text">{{_HelperService.CountryCode}}</span>
                    </div>
                    <input type="text" class="form-control" [readonly]="!_ContactInfo"
                        [formControl]="documentForm.controls['cpMobileNumber']"
                        (keypress)="this._HelperService.PreventText($event)"
                        onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
                        [ngClass]="{'is-invalid':!documentForm.controls['cpMobileNumber'].valid && documentForm.controls['cpMobileNumber'].touched}">
                </div>
                <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="cpMobileNumber"
                    *ngIf="documentForm.controls['cpMobileNumber'].hasError('required') && documentForm.controls['cpMobileNumber'].touched">
                    Enter mobile number
                </label>
                <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="cpMobileNumber"
                *ngIf="documentForm.controls['cpMobileNumber'].hasError('minlength') || documentForm.controls['cpMobileNumber'].hasError('maxlength')
                ||documentForm.controls['cpMobileNumber'].hasError('pattern')">
                Mobile number must be 11 digits
                </label>
            </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="controls">
                  <label for="" class="form-label formlabels fw-500 tx-14 line-16">Email Address</label>
                  <input type="email" name="cpEmailAddress" id="" class="form-control" [readonly] ="!_ContactInfo"
                    [formControl]="documentForm.controls['cpEmailAddress']" />
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="cpEmailAddress"
                    *ngIf="documentForm.controls['cpEmailAddress'].hasError('required') && documentForm.controls['cpEmailAddress'].touched">
                    Enter email address
                  </label>
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="cpEmailAddress"
                    *ngIf="documentForm.controls['cpEmailAddress'].hasError('minlength') || documentForm.controls['cpEmailAddress'].hasError('pattern')">
                    Please enter valid email address</label>
                </div>
              </div>
            </div>
          </div>

          <div class="agm">
            <div class="hcx-locator">
              <input type="text" name="GAddress" maxlength="256" class="form-control hcx-locator-input"
                ngx-google-places-autocomplete [ngModel]="data.MapAddress" placeholder="Enter location and pin your location on map"
                (onAddressChange)="HCXLocManager_AddressChange($event)" [ngModelOptions]="{standalone: true}">
              <div id="mapMoveHere"></div>
            </div>
            <agm-map style="height:260px;" [zoom]="12" [latitude]="data.Latitude" [longitude]="data.Longitude"
              [streetViewControl]="false">
              <agm-marker [latitude]="data.Latitude" [longitude]="data.Longitude" [markerDraggable]="data.draggable"
                (dragEnd)="markerDragEnd($event)">
              </agm-marker>
            </agm-map>
          </div>

          <div class="addressdetails mt-4 mb-2">
            <div class="row">

              <div class="col-md-6">
                <!-- street address -->
                <div class="form-group">
                  <label class="form-label formlabels fw-500 tx-14 line-16">
                    Detailed Address
                  </label>
                  <div class="controls input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i data-feather="map-pin" height="15px"></i>
                      </span>
                    </div>
                    <!-- <input type="text" name="streetAddress" maxlength="256" class="form-control"
                      ngx-google-places-autocomplete #places="ngx-places"
                      (onAddressChange)="HCXLocManager_AddressChange($event)" [ngModel]="data.MapAddress"
                      [ngModelOptions]="{standalone: true}"> -->

                    <input type="text" name="streetAddress" maxlength="256" class="form-control"
                      [formControl]="documentForm.controls['streetAddress']" />
                  </div>
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="streetAddress"
                    *ngIf="documentForm.controls['streetAddress'].hasError('required') && documentForm.controls['streetAddress'].touched">
                    Enter Street Address
                  </label>
                  <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="streetAddress"
                    *ngIf="documentForm.controls['streetAddress'].hasError('minlength') || documentForm.controls['streetAddress'].hasError('maxlength')">
                    Enter Valid Street Address </label>
                </div>
              </div>

              <div class="col-md-6">
                <!-- select state -->
                <div class="form-group" *ngIf="!ShowState">
                  <label for="" class="form-label formlabels fw-500 tx-14 line-16">State</label>
                  <div class="controls">
                    <span class="input-group-text" >Select State</span>
                  </div>
                </div>
                <div class="form-group" *ngIf="ShowState">
                  <!-- <div class="controls"> -->
                  <label for="" class="form-label formlabels fw-500 tx-14 line-16">State</label>
                  <select2 class="full-width" [value]="data.StateId" [data]="HCXLocManager_S2States_Data"
                    (valueChanged)="HCXLoc_Manager_StateSelected($event)" [options]="HCXLocManager_S2States_Option">
                  </select2>
                </div>
              </div>
            </div>

            <!-- <div class="row" [hidden]="!displayMap"> -->
            <!-- <div class="agm pb-3" [hidden]="!displayMap">
              <agm-map style="height:250px;" [zoom]="12" [latitude]="data.Latitude" [longitude]="data.Longitude"
                [streetViewControl]="false">
                <agm-marker [latitude]="data.Latitude" [longitude]="data.Longitude" [markerDraggable]="data.draggable"
                  (dragEnd)="markerDragEnd($event)">
                </agm-marker>
              </agm-map>
            </div> -->
            <!-- </div> -->
            <div class="row">

              <div class="col-md-6">
                <!-- select city -->
                <div class="form-group" *ngIf="ShowCity">
                  <!-- <div class="controls"> -->
                  <label for="" class="form-label formlabels fw-500 tx-14 line-16">City</label>
                  <select2 class="full-width" [value]="data.CityId" [options]="HCXLoc_Manager_City_Option"
                    (valueChanged)="HCXLoc_Manager_City_Change($event)">
                  </select2>
                </div>
              </div>

              <div class="col-md-6">
                <!-- app/building/floor number -->
                <div class="form-group">
                  <div class="controls">
                    <label for="" class="form-label formlabels fw-500 tx-14 line-16">
                      Apt / Building / Floor Number
                    </label>
                    <input type="text" name="detailAddress" id="" class="form-control"
                      [formControl]="documentForm.controls['detailAddress']" />
                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="detailAddress"
                      *ngIf="documentForm.controls['detailAddress'].hasError('required') && documentForm.controls['detailAddress'].touched">
                      Enter Apt / Building / Floor Number
                    </label>
                    <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="detailAddress"
                      *ngIf="documentForm.controls['detailAddress'].hasError('minlength') || documentForm.controls['detailAddress'].hasError('maxlength')">
                      Enter Valid Apt / Building / Floor Number </label>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="imagearea mt-4 mb-4">
            <h4 class="busstitle fw-700 tx-14 line-16">
              <label for="busstitle"> Means of Identification </label>
            </h4>
            <h5 class="imgdoc fw-500 tx-14 line-16">Please upload any valid means of identification </h5>
            <div class="row mt-4 mb-4 cursor-pointer">
              <div class="col text-center mx-3" style="border: #C0CCDA  dashed;" (click)="docModalOpen()">
                <div class="icon mt-3" (click)="docModalOpen()">
                  <i data-feather="file-plus" class="fileicon" style="color:  #C0CCDA;" (click)="docModalOpen()"></i>
                </div>
                <div class="iconlabel mt-2 fw-400 tx-10 line-12 text-center">
                  <p *ngIf="!docName">Upload any valid means of identification</p>
                  <p *ngIf="docName">{{docName}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer mt-4">
            <button type="button" class="btn btn-secondary  tx-14" data-dismiss="modal"
              (click)="NavigateHome()">Cancel</button>
            <button type="button" class="btn btn-primary  tx-14 darkBlueBtn"
              (click)="HCXLoc_Manager_Validator()" >
              <span *ngIf="!_HelperService.IsFormProcessing">
                Done
            </span>
              <span *ngIf="_HelperService.IsFormProcessing">
                <i class="fa fa-spinner fa-pulse fa-fw"></i>
                Please wait....
            </span></button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<!--bussiness modal end-->


<!-- means of identification start -->
<div class="modal fade" id="meansofidentification" data-backdrop="static" data-keyboard="false" role="dialog"
  aria-labelledby="meansofidentificationLabel" aria-hidden="true">
  <div class="modal-dialog custom-modal-size" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase fw-600 tx-14 line-16" id="meansofidentificationLabel">
          upload valid means of identification
        </h5>
      </div>
      <div class="modal-body mt-4 mb-4 pb-0">
        <form action="">
          <div class="form-group row">
            <label for="doctype" class="col-4 col-form-label formlabels fw-500 tx-14 line-16 text-right">Document Type
              <span class="text-danger">*</span></label>
            <div class="col-8">
              <select2 name="S2DocType" class="full-width" [data]="_S2DocumentType_Data" [value]="DocValue"
                (valueChanged)="GetDocType_Selected($event)" [options]="_S2DocumentType_Option"></select2>
              <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="docType"
                *ngIf="documentationForm.controls['docType'].hasError('required') && documentationForm.controls['docType'].touched">
                Please Select Document Type
              </label>
            </div>

          </div>
          <div class="form-group row"
            [ngClass]="{'text-danger':!documentationForm.controls['docFile'].valid && documentationForm.controls['docFile'].touched}">
            <label for="document" class="col-4 col-form-label formlabels fw-500 tx-14 line-16 text-right">Document <span
                class="text-danger">*</span></label>
            <div class="col-8">
              <label for="document" class=" btn-block btn-outlined" class="form-control" ><span class="border px-2 choose-filebtn">Upload Document</span> <span class="ml-2">{{modifiedName}}</span></label>

              <input class="form-control docs mt-n5" type="file" id="document" placeholder="Upload Document"
                (change)="onFileChanged($event)" accept="image/jpg, image/jpeg, application/pdf"
                [formControl]="documentationForm.controls['docFile']" style="opacity: 0;" (click)="clearName()" />
              <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="docFile"
                *ngIf="sizeRestriction">
                Document size must be less than 1MB</label>
              <label class="text-danger form-label formlabels fw-500 tx-10 line-16" for="docFile"
                *ngIf="documentationForm.controls['docFile'].hasError('required') && documentationForm.controls['docFile'].touched">
                Please upload document in pdf/jpeg/jpg format</label>
            </div>

          </div>
        </form>


        <div class="text-center py-2">
          <button type="button" class="btn btn-secondary mx-2  tx-14" data-dismiss="modal"
            (click)="cancelDoc()">Cancel</button>
          <button type="button" class="btn btn-primary mx-2  tx-14 darkBlueBtn" [disabled]="sizeRestriction || !documentationForm.valid " (click)="uploadDoc()">Done</button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- means of identification end -->