<!-- acquirer--merchants--list -->
<ol class="breadcrumb df-breadcrumbs mg-b-10">
  <li class="breadcrumb-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a 
      routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelMerchant.AccountSetting}}" [routerLinkActive]="['active']">
      Account Setting</a></li>

  <li class="breadcrumb-item active" [routerLinkActive]="['active']"><a class="text-primary" [routerLinkActive]="['active']">
      Cashouts</a></li>
</ol>
<div class="card ">
  <div class="card-header d-flex justify-content-between">
   <h5 class="mb-1 pt-2"> CashOuts  </h5>   

    <div class="btn btn-primary btn-sm" (click)="Form_AddUser_Show()"> Request CashOut </div>
  </div>
  <!-- <div class="card-header">
    <div class=" no-gutters">
      <div class="d-sm-flex justify-content-between">
        <div class=" media">
          <div type="button"
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded"
            (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.all)">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body bd-pink">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
              ALL</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Total| number: "1.0-0"}}</h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.active)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Live</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Active| number: "1.0-0"}}</h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.idle)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-MasterCard tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Idle</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Idle| number: "1.0-0"}}</h4>
          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.dead)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-danger tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Dead</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Dead| number: "1.0-0"}}</h4>

          </div>
        </div>
        <div type="button" class=" media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40"
          (click)="ToogleType(_HelperService.AppConfig.TerminalTypes.unused)">
          <div
            class="wd-40 wd-md-50 ht-40 ht-md-50 bg-secondary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
            <i data-feather="smartphone"></i>
          </div>
          <div class="media-body">
            <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">
              Unused</h6>
            <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
              {{OverviewData.Unused| number: "1.0-0"}}</h4>

          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="box-header px-3 pd-t-15 pd-b-0  d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="CashoutList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="CashoutList_ToggleOptionSearch( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="CashoutList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        [disabled]='(_HelperService.FilterSnap.id == -1)' (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>

    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="CashoutList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="CashoutList_Config.Sort.SortOrder == 'desc'"
                (click)="CashoutList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="CashoutList_Config.Sort.SortOrder == 'asc'"
                (click)="CashoutList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of CashoutList_Config.Sort.SortOptions"
              (click)="CashoutList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="CashoutList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="CashoutList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <!-- <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="CashoutList_Config.StatusOptions"
                  (valueChanged)="CashoutList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2> -->
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="CashoutList_Config.StatusOptions"
                  (valueChanged)="CashoutList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>
            <div>
              <!-- <div class="form-group mr-2 mb-2">
                <label>Bank</label>

                <select2 [options]="CashoutList_Filter_Bank_Option" class="wd-100p"
                  (valueChanged)="CashoutList_Filter_Banks_Change($event)">
                </select2>
              </div>

              <div class="form-group mr-2 mb-2">
                <label>Store</label>

                <select2 [options]="CashoutList_Filter_Store_Option" class="wd-100p"
                  (valueChanged)="CashoutList_Filter_Stores_Change($event)">
                </select2>
              </div>
              <div class="form-group mr-2 mb-2">
                <label>Provider</label>

                <select2 [options]="CashoutList_Filter_Provider_Option" class="wd-100p"
                  (valueChanged)="CashoutList_Filter_Providers_Change($event)">
                </select2>
              </div> -->
            </div>
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne"
        (click)="CashoutList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
      <!-- <a class="nav-link ml-2 RefreshColor"
        (click)="CashoutList_ToggleOption( $event,_HelperService.AppConfig.ListToggleOption.Csv)"> <i
          data-feather="download"></i> </a> -->
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-8">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)">
      {{_HelperService.FilterSnap.StatusName}}
      <span (click)="RemoveFilterComponent('Status')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='StartDate' && _HelperService.FilterSnap.Sort.SortOrder=='')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span (click)="RemoveFilterComponent('Sort')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span (click)="RemoveFilterComponent('Time')"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index">
      {{TItem.data[0].DisplayName}}
      <span (click)="RemoveFilterComponent('Other',i)"
        class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary" *ngFor="let TItem of CashoutList_Config.Filters">{{TItem.Title}}</span>

  </div>

  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>

          <th>
            Bank Account Name
          </th>
          <th class="" *ngIf="ColumnConfig[1].Value">
            Bank Name
          </th>
          <th class="" *ngIf="ColumnConfig[2].Value">
            Account Number
          </th>

          <th class="" *ngIf="ColumnConfig[4].Value">
            Amount
          </th>
          <th class="" *ngIf="ColumnConfig[5].Value">
            Charge
          </th>
          <th class="text-center"> Status </th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="CashoutList_RowSelected(TItem)"
          *ngFor="let TItem of CashoutList_Config.Data  | paginate: { id: 'CashoutList_Paginator',itemsPerPage: CashoutList_Config.PageRecordLimit, currentPage: CashoutList_Config.ActivePage,  totalItems: CashoutList_Config.TotalRecords }">
          <!-- <td class="text-center" *ngIf="ColumnConfig[0].Value">
            <img class="br" (error)="_HelperService.defaultImage($event)" src="{{TItem.AcquirerIconUrl}}"
              class="img wd-40 ht-40 rounded-circle bd bd-2 pd-1" [style.border-color]="TItem.StatusC">
          </td> -->
          <td>
            <div class="tx-14">{{TItem.BankAccountName || "--"}}</div>
          </td>
          <td>
            <div class="tx-14">{{TItem.BankName || "--"}}</div>
          </td>



          <td class="">
            {{TItem.BankAccountNumber || "--"}}
          </td>
          <td class="">
            <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.Amount || "--"}}

          </td>

          <td class="">
            <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.Charge || "--"}}

          </td>
          <td class="text-center">
            <div class="" [ngClass]="TItem.StatusBadge"> {{TItem.StatusName || "--"}} </div>


          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{CashoutList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{CashoutList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{CashoutList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-50 " [(ngModel)]="CashoutList_Config.PageRecordLimit"
        (ngModelChange)="CashoutList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="CashoutList_Paginator" class="pagination pagination-space"
        (pageChange)="CashoutList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div class="modal" id="EditCol" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" *ngFor="let Col of TempColumnConfig">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]=Col.Value>
            <label class="form-check-label" for="">
              {{Col.Name}}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="SaveEditCol()">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="Form_AddUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true"
  style="overflow-y: scroll !important;">
  <div class="modal-dialog modal-dialog-centered dropdown ">
    <div class="modal-content">
      <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Request CashOut</h5>
        </div>
        <div class="modal-body  p-lg">

          <div class="form-group">
            <div class="d-flex justify-content-between">
              <div>
                <label>Amount<span class="text-danger">*</span>
                </label>
              </div>
              <!-- <div>
                <span><i class="fa fa-question-circle" aria-hidden="true"
                    (click)="ShowHelpImage('terminal')"></i></span>
              </div> -->
            </div>
            <div class="controls">
              <input type="number" name="Amount" placeholder="Amount" required maxlength="20" class="form-control"
              (blur)='CaculateTotalAmount($event)'  [formControl]="Form_AddUser.controls['Amount']" [ngClass]="{
            'is-invalid':
              !Form_AddUser.controls['Amount'].valid &&
              Form_AddUser.controls['Amount'].touched
          }" />
            </div>
            <label class="text-danger" for="Amount" *ngIf="
          Form_AddUser.controls['Amount'].hasError('required') &&
          Form_AddUser.controls['Amount'].touched
        ">Enter Cashout Amount </label>
            <label class="text-danger" for="Amount" *ngIf="
          Form_AddUser.controls['Amount'].hasError(
            'min'
          ) ||
          Form_AddUser.controls['Amount'].hasError('maxlength')
        "> Please Enter Valid Amount</label>
          </div>
          <div class="form-group pd-b-0" *ngIf="!_HelperService.ToggleField">
            <label for=""> Select Bank - Account Holder  <span class="text-danger"> * </span> </label>

            <select2 class="full-width" [options]="TUTr_Filter_Bank_Option"
              (valueChanged)="TUTr_Filter_Banks_Change($event)">
            </select2>
          </div>

          <div class="form-group">
            <label class="tx-medium" for=""> Cashout Criterion</label>
            <div class="row">
              <div class="col-md-5 float-left text-secondary">Transfer Balance</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_CashOutConfiguration.TransferBalance
                || "--"}} </div>
            </div>

            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary">Minimum Transfer Amount</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_CashOutConfiguration.MinimumTransferAmount
                || "--"}} </div>
            </div>

            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary">Maximum Transfer Amount</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_CashOutConfiguration.MaximumTransferAmount
                || "--"}} </div>
            </div>

            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary">Charge</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_CashOutConfiguration.Charge || "--"}}
              </div>
            </div>
            <div class="row mg-t-10">
              <div class="col-md-5 float-left text-secondary">Total</div>
              <div class="col-md-1">:</div>
              <div class="col-md-6 text-right"> <span class=" text-sm mg-r-2"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{TotalAmount || "--"}}
              </div>
            </div>


          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddUser.value.OperationType = 'new'"
            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
             Proceed Request
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="off-canvas off-canvas-overlay off-canvas-right" #offCanvas style="width: 480px !important;">
  <div class="off-canvas-content">

    <div id="Form_EditUser_Content" class="off-canvas-body">
      <div class="card bd-b-0">
        <div class="card-header d-flex  justify-content-between">
          <h5 class="pb-0 mb-0"> Cashout Detail </h5>
          <div> <span class="{{CurrentData.StatusB}} mg-l-5">
              {{CurrentData.StatusName || "--"}} </span></div>


        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 float-left text-secondary">Bank Account Name</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.BankAccountName || "--"}}</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Account Number</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.BankAccountNumber || "--"}}</div>
          </div>
          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Bank Name</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.BankName || "--"}}</div>
          </div>

          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Amount</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right"><span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{CurrentData.Amount || "--"}}</div>
          </div>

          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Charge</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right"><span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{CurrentData.Charge || "--"}}</div>
          </div>

          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Total Amount</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right"><span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{CurrentData.TotalAmount || "--"}}</div>
          </div>

          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Reference Number</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.ReferenceNumber || "--"}}</div>
          </div>

          <div class="row mg-t-10">
            <div class="col-md-4 float-left text-secondary">Added On</div>
            <div class="col-md-1">:</div>
            <div class="col-md-7 text-right">{{CurrentData.StartDate || "--"}}</div>
          </div>




        </div>
        <div class="card-footer full-width" style="position: fixed; bottom:0%; margin-top: -2.5em ;">

          <div class="">
            <button type="button" class="btn btn-secondary mr-2 float-right" (click)="unclick()"> Close </button>
            <!-- <button type="button" class="btn btn-danger mr-2 float-left" (click)="Delete_Confirm()"> Delete </button> -->

          </div>
        </div>
      </div>

    </div>
  </div>
</div>